.footer-register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--highlight);
    background: #181818;
    color: var(--highlight);
    outline: none;;
}

.active-button {
    border-radius: 4px;
    border: 1px solid var(--highlight);
    background: #181818;
    color: var(--highlight);
}

button:disabled {
    background: var(--header);
    color: rgba(255, 255, 255, 0.70);
    border: none;
    cursor: not-allowed;
}
