.desafios, .palpites{
    margin-bottom: 15px;
}

.div-desafios-selecionados .item-selecionado-inner{
    margin: 0px 30px;
}

.div-desafios-selecionados h3{
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 16px;
}

.div-desafios-selecionados h3::before{
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: red;
    top: 23px;
    left: 108px;
    position: relative;
}

.desafio-nome{
    font-weight: bolder;
}

.item-selecionado{
    padding: 15px 0;
    border-bottom: 1px dashed #aec3d8;
    text-align: left;
    position: relative;
}

.item-selecionado:first-of-type{
    border-top: none;
    padding-top: 0;
}

.item-selecionado label{
    margin-right: 5px;
}

.item-selecionado .horario{
    font-weight: bold;
}

.item-selecionado .cotacao .valor{
    font-weight: bold;
}

.remover-item{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 15px;
    cursor: pointer;
}
