#personal-data-address {
    padding: 20px;
    border-top: 1px solid #222;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 20px;
}

option {
    color: rgba(var(--foreground-inputs-odds-rgb), 0.5);
    background-color: var(--background);
}

select.inverted-out,
input.inverted-out {
    border: 0.1px solid rgba(var(--foreground-inputs-odds-rgb), 0.5);
    color: rgba(var(--foreground-inputs-odds-rgb), 0.5);
}


.input-md label {
    color: rgba(var(--foreground-inputs-odds-rgb), 0.5);
}

input.inverted-out:focus {
    color: var(--foreground-inputs-odds);
    border: 1px solid var(--highlight);
}

input.inverted-out:focus label{
    color: var(--foreground-inputs-odds);
}

.form-control.is-invalid:focus {
    -webkit-box-shadow: none;
}

.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
}

.input-md input {
    height: 48px !important;
}

.field {
    border-width: 1px;
    border-style: solid;
    border-color: var(--foreground-inputs-odds);
    background: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.4;
    min-height: 48px;

    display: flex;
    flex-direction: column;
}

.field label {
    margin: 0px;
}

.input-md input {
    opacity: .4;
}

.input-select {
    border-width: 1px;
    border-style: solid;
    background: rgba(var(--inputs-odds-rgb), .4);
    border: 0.1px solid rgba(var(--foreground-inputs-odds-rgb), 0.3);
    color: rgba(var(--foreground-inputs-odds-rgb), 0.3);
    padding: 0px 15px;
    border-radius: 5px;
    height: 48px;
    display: flex;
    flex-direction: column;
}

.input-select:focus-within {
    border-color: var(--highlight);
}

.input-select select {
    background-color: transparent;
    border: 0;
    color: var(--foreground-inputs-odds);
    padding: 0 0 10px;
    outline: none;
}

.input-select label {
    margin-bottom: 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
}
