<div id="default-content">
    <div class="content-body">
        <div class="content">
            <div class="row">
                <div class="col col-md-12">
                    <h2>{{'senhas.redefinirSenha' | translate}}</h2>
                </div>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <app-spinner *ngIf="submitting"></app-spinner>
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="form-group required">
                            <label class="label">Email</label>
                            <input class="form-control" type="text" placeholder="exemplo@email.com"
                                   formControlName="email">
                            <app-error-msg [control]="form.get('email')"></app-error-msg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-custom" [disabled]="submitting">
                                Solicitar código de redefinição
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
