<div id="default-content">
    <div class="internal-container">
        <div class="content-header">
            <h2>Alterar Senha</h2>
        </div>
        <div class="content-body">
            <div class="content">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                    <div class="row">
                        <div class="col-2">
                            Senha Atual
                        </div>
                        <div class="col-4 align-items-center">
                            <div class="form-group">
                                <input type="password" class="inverted form-control" formControlName="senha_atual"
                                       [ngClass]="applyCssInputError('senha_atual')">
                                <app-error-msg [control]="form.get('senha_atual')" label="Senha Atual"></app-error-msg>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            Nova Senha
                        </div>
                        <div class="col-4 align-items-center">
                            <div class="form-group">
                                <input type="password" class="inverted form-control" formControlName="senha_nova"
                                       [ngClass]="applyCssInputError('senha_nova')">
                                <app-error-msg [control]="form.get('senha_nova')" label="Senha"></app-error-msg>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            Confirmar nova senha
                        </div>
                        <div class="col-4 align-items-center">
                            <div class="form-group">
                                <input type="password" class="inverted form-control" formControlName="senha_confirmacao"
                                       [ngClass]="applyCssInputError('senha_confirmacao')">
                                <app-error-msg [control]="form.get('senha_confirmacao')"
                                               label="Confirmar senha"></app-error-msg>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group m-b-0">
                                <button type="submit" class="btn btn-custom m-t-10">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
