<div id="default-content">
    <div class="content-header">
        <h2>Meu Perfil</h2>
    </div>
    <div class="content-body">
        <div class="content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>Senha Atual</label>
                                <input type="password" class="form-control" formControlName="senha_atual">
                                <app-error-msg [control]="form.get('senha_atual')" label="Senha Atual"></app-error-msg>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>Nova Senha</label>
                                <input type="password" class="form-control" formControlName="senha_nova">
                                <app-error-msg [control]="form.get('senha_nova')" label="Senha"></app-error-msg>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>Confirmar nova senha</label>
                                <input type="password" class="form-control" formControlName="senha_confirmacao">
                                <app-error-msg [control]="form.get('senha_confirmacao')" label="Confirmar senha"></app-error-msg>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group m-b-0">
                            <button type="submit" class="btn btn-custom m-t-10">
                                <i class="fas fa-save"></i> Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
