<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Consultar Cartão</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input style="text-transform:uppercase;" type="text" autocomplete="off" mask="AAA-AAA-AAA"
                [dropSpecialCharacters]="false" class="form-control" formControlName="chave"
                placeholder="Chave do cartão" [ngClass]="applyCssInputError('chave')">
            <app-error-msg [control]="form.get('chave')"></app-error-msg>
        </div>
        <div class="form-group">
            <input type="password" autocomplete="off" class="form-control" formControlName="pin" placeholder="PIN"
                [ngClass]="applyCssInputError('pin')">
            <app-error-msg [control]="form.get('pin')"></app-error-msg>
        </div>
        <button type="submit" class="btn btn-custom">Consultar</button>
    </form>
</div>
