<div id="default-content">
    <a class="btnClose hide-desktop" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </a>

    <div class="internal-container-out">
        <div class="content-header">
            <h2>Apostas</h2>
        </div>

        <div class="tabs hide-mobile">
            <a [ngClass]="tabSelected == 'esporte' ? 'active' : ''" (click)="changeTab('esporte')">Esporte</a>
            <a *ngIf="acumuladaoHabilitado" [ngClass]="tabSelected == 'acumuladao' ? 'active' : ''" (click)="changeTab('acumuladao')">Acumuladão</a>
            <a *ngIf="desafioHabilitado" [ngClass]="tabSelected == 'desafio' ? 'active' : ''" (click)="changeTab('desafio')">Desafio</a>
            <!-- <a *ngIf="cassinoHabilitado" [ngClass]="tabSelected == 'cassino' ? 'active' : ''" (click)="changeTab('cassino')">Cassino</a> -->
        </div>

        <div class="content-body">
            <form (submit)="handleFiltrar()">
                <div class="filtros">
                    <select class="form-control inverted-out hide-desktop" [(ngModel)]="tabSelected" [ngModelOptions]="{standalone: true}">
                        <option value="esporte">Futebol</option>
                        <option value="acumuladao" *ngIf="acumuladaoHabilitado">Acumuladão</option>
                        <option value="desafio" *ngIf="desafioHabilitado">Desafio</option>
                    </select>

                    <input class="inverted-out form-control" [(ngModel)]="apostador" type="text" placeholder="Apostador" [ngModelOptions]="{standalone: true}">

                    <input
                        name="datepicker"
                        class="dp-hidden"
                        ngbDatepicker
                        #datepicker="ngbDatepicker"
                        [autoClose]="'outside'"
                        (dateSelect)="onDateSelection($event, datepicker)"
                        [displayMonths]="2"
                        [dayTemplate]="t"
                        outsideDays="hidden"
                        [startDate]="fromDate!"
                        tabindex="-1"
                        value=""
                    >
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                    <div class="input-group datepicker-group">
                        <i class="fa fa-calendar"></i>
                        <input
                            type="text"
                            class="form-control inverted-out"
                            [(ngModel)]="selectedDate"
                            (click)="datepicker.toggle()"
                            [ngModelOptions]="{standalone: true}"
                        >
                    </div>

                    <select class="inverted-out form-control" [(ngModel)]="status" name="" id="" [ngModelOptions]="{standalone: true}">
                        <option value="">Todos</option>
                        <option value="ganhou">Ganhou</option>
                        <option value="perdeu">Perdeu</option>
                        <option value="pendente">Pendente</option>
                    </select>
                    <button class="btn btn-custom" type="submit">Filtrar</button>
                </div>
            </form>

            <div class="info-resultado">
                <div class="item">
                        <label>Qtd. apostas:</label> {{ apostas.length  }}
                </div>
                <div class="item">
                        <label>Total apostado:</label> {{ totais.valor | currency }}
                </div>
                <div class="item">
                        <label>Total prêmios:</label> {{ totais.premio | currency }}
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30"></th>
                            <th width="100">Código</th>
                            <th width="200">Horário</th>
                            <th>Apostador</th>
                            <th>Valor</th>
                            <th>Comissão</th>
                            <th>Prêmio</th>
                            <th width="10">Pagamento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr *ngIf="loading">
                        <td colspan="8" class="no-border" align="center"><i class="fa fa-spinner fa-spin"></i> Carregando</td>
                    </tr>
                    <tbody *ngIf="!loading">
                        <tr *ngFor="let aposta of apostas" class="{{ classNameAposta(aposta.resultado) }}">
                            <td></td>
                            <td>{{ aposta.codigo }}</td>
                            <td>{{ aposta.horario }}</td>
                            <td>{{ aposta.apostador | uppercase }}</td>
                            <td>{{ aposta.valor | currency}}</td>
                            <td>{{ aposta.comissao | currency }}</td>
                            <td>{{ aposta.premio | currency }}</td>
                            <td>{{ aposta.pago ? 'Pago' : '' }}</td>
                            <td>
                                <div class="acoes-aposta">
                                    <a (click)="handleCancel(aposta)" title="Cancelar">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                    <a title="Pagar" *ngIf="!aposta.pago && aposta.resultado == 'ganhou'" (click)="pagarAposta(aposta)">
                                        <i class="fa fa-money-bill-1"></i>
                                    </a>

                                    <a title="Exibir" (click)="openModal(aposta)">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
