<div id="default-content">
    <div class="internal-container-out">
        <div class="content-header">
            <h2>Apostas</h2>
        </div>

        <div class="content-body">
            <div class="filtros">
                <input class="inverted-out form-control" type="text" placeholder="Apostador">

                <input
                    name="datepicker"
                    class="dp-hidden"
                    ngbDatepicker
                    #datepicker="ngbDatepicker"
                    [autoClose]="'outside'"
                    (dateSelect)="onDateSelection($event, datepicker)"
                    [displayMonths]="2"
                    [dayTemplate]="t"
                    outsideDays="hidden"
                    [startDate]="fromDate!"
                    tabindex="-1"
                    value="uga"
                >
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                    </span>
                </ng-template>
                <div class="input-group datepicker-group">
                    <i class="fa fa-calendar"></i>
                    <input
                        type="text"
                        class="form-control inverted-out"
                        [(ngModel)]="selectedDate"
                        (click)="datepicker.toggle()"
                    >
                </div>

                <select class="inverted-out form-control" name="" id="">
                    <option value="">Todos</option>
                </select>
                <button class="btn btn-custom">Filtrar</button>
            </div>

            <div class="info-resultado">
                <div class="item">
                        <label>Qtd. apostas:</label> 4
                </div>
                <div class="item">
                        <label>Total apostado:</label> R$ 8,00
                </div>
                <div class="item">
                        <label>Total prêmios:</label> R$ 7,50
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30"></th>
                            <th>Código</th>
                            <th>Horário</th>
                            <th>Apostador</th>
                            <th class="right">Valor</th>
                            <th class="right">Comissão</th>
                            <th>Prêmio</th>
                            <th>Pagamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aposta of apostas" class="{{ aposta.status }}">
                            <td></td>
                            <td>{{ aposta.codigo }}</td>
                            <td>{{ aposta.horario }}</td>
                            <td>{{ aposta.apostador }}</td>
                            <td class="right">{{ aposta.valor }}</td>
                            <td class="right">{{ aposta.comissao }}</td>
                            <td>{{ aposta.premio }}</td>
                            <td>{{ aposta.pagamento }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
