.filtros {
    display: flex;
    align-items: center;

    margin-bottom: 40px;
}

.filtros input, .filtros select {
    margin-right: 20px;
}

.filtros > input, .filtros .datepicker-group {
    max-width: 300px;
}

.filtros select {
    max-width: 150px;
}

.info-resultado {
    margin: 20px 0 32px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}


.table {
   color: #fff;
}

.table thead th {
    background-color: #0A0A0A;
    border-top: 0;
    border-bottom: 1px solid #0A0A0A;
    padding: 15px 10px;
}

.table thead th:first-child {
    border-left: 10px solid #0A0A0A;
}

.table .right {
    text-align: right;
}

.table tbody td {
    border-top: 0;
    border-bottom: 1px solid #0A0A0A;
}

.table td.no-border{
    border-left: 0 !important;
}

.table tbody td:first-child {
    border-left: 10px solid #808080;
}

.table tbody tr.green td:first-child {
    border-left: 10px solid #309E3A;
}

.table tbody tr.red td:first-child {
    border-left: 10px solid #ED4C5C;
}

.tabs {
    border-bottom: 2px solid #0A0A0A;
    margin-bottom: 30px;
}

.tabs a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;

    cursor: pointer;
    margin-bottom: -2px;
}

.tabs a:hover {
    color: #35CC95;
}

.tabs a.active {
    border-bottom: 2px solid #35CC95;
}
