<div class="loteria-content">
    <div class="content-body">
        <div class="content">
            <div class="col content-loteria" (scroll)="layoutService.onPageScroll($event.target)">
                <div class="wrap-sticky">
                    <div class="mt-4">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-sm-11 col-lg-4">
                                    <label>{{'loteria.quantidadeDeDezenasDaAposta' | translate}}</label>
                                    <div class="inputs-random">
                                        <select class="form-control inverted-out" name="qtdNumeros" [(ngModel)]="qtdNumeros">
                                            <option [value]="null" disabled>{{'loteria.selecioneAQuantidade' | translate}}</option>
                                            <option [value]="numero" [disabled]="disabledNumber(numero)"
                                                    *ngFor="let numero of qtdNumerosLista">{{numero}}</option>
                                        </select>
                                        <a class="btn btn-custom btn-surpresinha" (click)="gerarSupresinha()">
                                            <span *ngIf="!mobileScreen">{{'loteria.surpresinha' | translate}}</span><i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="balls-container">
                        <p>
                            {{'loteria.escolhaSuasDezenas' | translate}}
                        </p>
                        <div class="balls-group">
                            <div class="ball" *ngFor="let number of numbers" (click)="checkNumber(number)"
                                 [ngClass]="{'active': isChecked(number)}">
                                {{number | number:'2.0'}}
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="form-palpite">
                        <div class="col-xs-12">
                            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <div class="col-md-12 col-xs-12 hide-mobile">
                                        <p>
                                            {{'loteria.dezenasSelecionadas' | translate}}: <b>{{numeros.length}}/{{qtdNumeros}}</b>
                                        </p>
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4">
                                        <label>{{'loteria.sorteio' | translate}}</label>
                                        <select class="form-control inverted-out" formControlName="sorteio"
                                                [compareWith]="compararSorteio"
                                                [ngClass]="applyCssInputError('sorteio')">
                                            <option [value]="null">{{'geral.selecione' | translate}}</option>
                                            <option *ngFor="let sorteio of sorteios" [ngValue]="sorteio">
                                                {{sorteio.nome}}
                                            </option>
                                        </select>
                                        <app-error-msg [control]="form.get('sorteio')" label="{{'loteria.sorteio' | translate}}">
                                        </app-error-msg>
                                    </div>
                                    <div class="form-group ml-3">
                                        <label>{{'loteria.valorDoPalpite' | translate}}</label>
                                        <div class="input-icon">
                                            <i>R$</i>
                                            <input type="number" class="form-control inverted-out" placeholder="{{'geral.valor' | translate}}"
                                                   min="{{opcoes.valor_min_aposta_loterias}}" formControlName="valor"
                                                   [ngClass]="applyCssInputError('valor')">
                                        </div>
                                        <app-error-msg [control]="form.get('valor')" label="{{'geral.valor' | translate}}"></app-error-msg>
                                    </div>
                                    <div class="form-group col-xs-12 col-lg-4 ml-3">
                                        <button type="submit" class="btn btn-custom btn-line add-palpite">
                                            {{'loteria.incluirPalpite' | translate}}
                                        </button>
                                    </div>
                                    <div *ngIf="isLoggedIn && !isCliente" class="form-group col-xs-12 col-lg-4 ">
                                        <a class="btn btn-custom btn-line replicar-aposta" [routerLink]="['/copiar-aposta']"
                                           *ngIf="!isCliente">
                                            <i class="fa fa-solid fa-copy mb-2"></i>
                                            {{'geral.replicarAposta' | translate}}
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </div>
            <section class="pre-bilhete" [ngClass]="{'pre-bilhete-mobile': displayPreTicker}">
                <div class="bilhete-container">
                    <div class="titulo-bilhete">
                        <a (click)="closeCupom()" class="botao-esquerdo" *ngIf="mobileScreen">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <div class="titulo">{{'bilhete.titulo' | translate}}</div>
                        <div class="botao-direito" *ngIf="mobileScreen"></div>
                    </div>
                    <div class="acoes-bilhete">
                        {{'bilhete.jogosSelecionados' | translate}}
                        <a [ngClass]="{'disabled': aposta.itens.length == 0}" (click)="removerItens()">
                            <i class="fa-solid fa-trash"></i> {{'bilhete.removerTodos' | translate}}
                        </a>
                    </div>
                    <div class="pre-bilhete-loteria">
                        <div class="div-jogos-selecionados"
                             *ngIf="aposta.itens.length > 0; else semPalpitesAdicionados">
                            <div class="jogo-selecionado" *ngFor="let item of aposta.itens; let i=index">
                                <div class="remover-item" (click)="removerItem(i)">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="jogo-selecionado-inner">
                                    <div class="horario">{{item.sorteio.nome}}</div>
                                    <div class="detalhes">
                                        <div>
                                            {{'loteria.valorDoPalpite' | translate}}:
                                            <span>{{item.valor | currency}}</span>
                                        </div>
                                        <div *ngIf="item.premio5">
                                            {{'loteria.retorno' | translate}} 5:
                                            <span>{{(item.premio5) | currency}}</span>
                                        </div>
                                        <div *ngIf="item.premio4">
                                            {{'loteria.retorno' | translate}} 4:
                                            <span>{{(item.premio4) | currency}}</span>
                                        </div>
                                        <div *ngIf="item.premio3">
                                            {{'loteria.retorno' | translate}} 3:
                                            <span>{{(item.premio3) | currency}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="circle-group">
                                    <div class="circle" *ngFor="let numero of item.numeros">
                                        <div class="content">
                                            {{numero | number:'2.0'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #semPalpitesAdicionados>
                            <div class="div-jogos-selecionados">
                                <div id="nenhum-jogo">
                                    <p>
                                        <span><i class="fa-solid fa-circle-info"></i>{{'loteria.retorno' | translate}}</span>
                                    </p>
                                    {{'loteria.selecioneAlgunsNumeros' | translate}}
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <div class="footer-bilhete">
                        <form #apostaForm="ngForm">
                            <div class="div-inputs">
                                <div class="form-group" *ngIf="!isCliente && modoCambista">
                                    <div class="input-md">
                                        <input type="text" id="nomeApostador" class="form-control inverted-out" required [(ngModel)]="aposta.apostador"
                                           name="apostador" [ngClass]="{'is-invalid': controlInvalid(apostador)}"
                                           #apostador="ngModel" placeholder=" ">
                                        <label for="nomeApostador">{{'bilhete.nomeDoApostador' | translate}}</label>
                                    </div>
                                    <app-error-msg [control]="apostador" label="{{'geral.apostador' | translate}} "></app-error-msg>
                                </div>
                                <div class="informations">
                                    {{'bilhete.valorDaAposta' | translate}}:
                                    <span class="valor">{{aposta.valor | currency}}</span>
                                </div>
                            </div>
                            <div class="form-group submit-buttons">
                                <button type="button" [disabled]="!apostaForm.form.valid || disabled"
                                        class="btn btn-custom col-12" (click)="create()">
                                    {{'modais.finalizar' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
