<section class="content-sports" appPerfectScroll>
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

    <div class="evento" [hidden]="!evento || showLoadingIndicator">
        <div class="indentificacao">
            <button type="button" (click)="back()" class="btn btn-sm btn-warning btn-back">
                <i class="fa fa-arrow-left"></i> Voltar
            </button>
            <div class="text-center">
                <div class="nome">
                    <small>{{evento?.campeonato?.nome}}</small>
                    <div>{{evento?.nome}}</div>
                </div>
                <div class="horario">
                    <div>{{evento?.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</div>
                </div>
            </div>
        </div>
        <div class="tipo-apostas">
            <div class="tipo-aposta" *ngFor="let chave of objectKeys(odds)">
                <h4>{{odds[chave].nome}}</h4>
                <div class="odds">
                    <div class="odd" *ngFor="let cotacao of odds[chave].cotacoes" (click)="addCotacao(evento, cotacao)">
                        <div class="inner-odd {{itensSelecionados[cotacao._id] ? 'selecionado' : ''}}">
                            <span class="nome">
                                {{cotacao.chave | tipoAposta}}
                            </span>
                            <span class="valor">
                                {{cotacao.valor | calcularCotacao: cotacao.chave: evento._id: evento.favorito}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
