
<div class="countdown">
    <div>Encerra em:</div>
    <div class="countdown__item">
        <div class="countdown__item__number" id="days">{{days}}</div>
        <div class="countdown__item__text">dias</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__item__number">:</div>
        <div class="countdown__item__text"></div>
    </div>
    <div class="countdown__item">
        <div class="countdown__item__number" id="hours">{{pad(hours,2)}}</div>
        <div class="countdown__item__text">hrs</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__item__number">:</div>
        <div class="countdown__item__text"></div>
    </div>
    <div class="countdown__item">
        <div class="countdown__item__number" id="minutes">{{pad(minutes,2)}}</div>
        <div class="countdown__item__text">min</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__item__number">:</div>
        <div class="countdown__item__text"></div>
    </div>
    <div class="countdown__item">
        <div class="countdown__item__number" id="seconds">{{pad(seconds,2)}}</div>
        <div class="countdown__item__text">seg</div>
    </div>
</div>
