.countdown{
    width: 160px;
    padding: 11px 16px 11px 26px;
    background: #818C97;
    right: 198px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #ffffff;

    position: absolute;
    right: 0px;
    top: 16px;

}
.countdown__item{
    text-align: center;
    float: left;
}

.countdown__item__text{
    font-size: 12px;
    font-weight: 400;
    color: #fff;

}

@media screen and (max-width: 540px) {
    .countdown {
        display: none;
    }
}
