<app-spinner *ngIf="showLoading"></app-spinner>

<div *ngIf="!showLoading" class="margin-top-15">
    <div *ngIf="!apostas.length" class="alert alert-warning text-center" role="alert">
        Nenhuma aposta realizada no período.
    </div>

    <table *ngIf="apostas.length > 0" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-right">Número</th>
                <th>Horário</th>
                <th>Apostador</th>
                <th class="text-right">Valor</th>
                <th class="text-right">Comissão</th>
                <th class="text-right">Prêmio</th>
                <th>Pagamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let aposta of apostas; trackBy:trackById">
                <tr (click)="openModal(aposta)"
                    class="{{ aposta.resultado == 'ganhou' ? 'bg-success' : '' }} {{ aposta.resultado == 'perdeu' ? 'bg-danger' : ''}}">
                    <td class="text-right">
                        <i *ngIf="aposta.cartao_aposta" class="fa fa-credit-card"></i>
                        #{{aposta.id}}
                    </td>
                    <td>{{aposta.horario | moment:'DD/MM/YYYY HH:mm'}}</td>
                    <td>{{aposta.apostador}}</td>
                    <td class="text-right">{{aposta.valor | currency: 'BRL':'symbol':'1.2'}}</td>
                    <td class="text-right">{{aposta.comissao | currency: 'BRL':'symbol':'1.2'}}</td>
                    <td class="text-right">{{aposta.premio | currency: 'BRL':'symbol':'1.2'}}</td>
                    <td>{{aposta.pago ? 'PAGO' : ''}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" title="VISUALIZAR" (click)="openModal(aposta)">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
