.ganhador{
    background: #CFFCCF;
}
.perdedor{
    background: #FFDDDF;
}

.cupom-ativo{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    background: #333;
    margin: 0;
}
