.ganhador{
    background: #CFFCCF;
}
.perdedor{
    background: #FFDDDF;
}

.tr-footer th{
    border: none;
}

.table tr td{
    cursor: pointer;
    /* padding: 1px 3px;
    vertical-align: middle; */
}
