.table tr td{
    cursor: pointer;
    color: var(--foreground-header);
}

thead {
    background-color: var(--header);
    color: var(--foreground-header);
}

thead tr th {
    border-top: 2px solid var(--highlight);
    border-bottom: none;
}

tbody tr td {
    border: none;
}

thead .resultado{
    padding: 0;
}

tbody .resultado{
    padding: 4px;
}

.tr-2 td{
    border-top: none!important;
    padding-top: 0;
}

.td-ganhou{
    background: green;
}

.td-perdeu{
    background: red;
}

.td-pendente{
    background: gray;
}
