<div class="modal-header">
    <img src="/assets/images/logo-weebet.svg" alt="">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <h3>Resultados</h3>

    <div class="filters">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="input-group datepicker-group">
                <i class="fa fa-calendar"></i>
                <input type="date" class="form-control inverted-out" formControlName="data">
            </div>
            <select class="form-control inverted-out" formControlName="sport_id">
                <option value="1">Futebol</option>
                <option *ngIf="basqueteHabilitado" value="18">Basquete</option>
                <option *ngIf="tenisHabilitado" value="13">Tênis</option>
                <option *ngIf="combateHabilitado" value="9">Combate</option>
                <option *ngIf="voleiHabilitado" value="91">Vôlei</option>
                <option *ngIf="futebolAmericanoHabilitado" value="12">Futebol Americano</option>
                <option *ngIf="futsalHabilitado" value="83">Futsal</option>
                <option *ngIf="hoqueiGeloHabilitado" value="17">Hóquei no Gelo</option>
                <option *ngIf="esportsHabilitado" value="151">E-Sports</option>
            </select>
            <button class="btn btn-custom" type="submit">Filtrar</button>
        </form>
    </div>

    <div class="content">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <ng-container *ngFor="let campeonato of campeonatos">
                        <tr class="campeonato">
                            <th colspan="4">{{campeonato.nome}}</th>
                        </tr>
                        <tr *ngFor="let jogo of campeonato.jogos">
                            <td>{{jogo.horario | moment:'DD/MM/YYYY HH:mm'}}</td>
                            <td style="text-align: right;">{{jogo.time_a_nome}}</td>
                            <td style="text-align: center;">
                                <span
                                    *ngIf="jogo.resultado; else semResultado">
                                    <b>{{jogo.resultado.casa}} - {{jogo.resultado.fora}}</b>
                                    <ng-container *ngIf="sport == 1">
                                        ({{jogo.resultado.casa_1t}} - {{jogo.resultado.fora_1t}})
                                    </ng-container>
                                </span>
                                <ng-template #semResultado>
                                    <b>Sem Resultado</b>
                                </ng-template>
                            </td>
                            <td style="text-align: left;">{{jogo.time_b_nome}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

