<div class="modal-header" *ngIf="!mobileScreen">
    <h4>{{'geral.resultados' | translate}}</h4>
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="mobile-modal-header margin-10" *ngIf="mobileScreen">
    <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div class="titulo">{{'geral.resultados' | translate}}</div>
    <div class="botao-direito"></div>
</div>
<div class="modal-body">
    <div class="filters">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="input-group datepicker-group">
                <input type="date" class="form-control inverted-out custom-date-input" id="calendar" formControlName="data">
            </div>
            <select class="form-control inverted-out" formControlName="sport_id">
                <option value="1">{{'submenu.futebol' | translate}}</option>
                <option *ngIf="basqueteHabilitado" value="18">{{'submenu.basquete' | translate}}</option>
                <option *ngIf="tenisHabilitado" value="13">{{'submenu.tenis' | translate}}</option>
                <option *ngIf="combateHabilitado" value="9">{{'submenu.combate' | translate}}</option>
                <option *ngIf="voleiHabilitado" value="91">{{'submenu.volei' | translate}}</option>
                <option *ngIf="futebolAmericanoHabilitado" value="12">{{'submenu.futebolAmericano' | translate}}</option>
                <option *ngIf="futsalHabilitado" value="83">{{'submenu.futsal' | translate}}</option>
                <option *ngIf="hoqueiGeloHabilitado" value="17">{{'submenu.hoquei' | translate}}</option>
                <option *ngIf="esportsHabilitado" value="151">{{'submenu.esports' | translate}}</option>
            </select>
            <button class="btn btn-custom" type="submit">{{'geral.filtrar' | translate}}</button>
        </form>
    </div>

    <div class="content">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <ng-container *ngFor="let campeonato of campeonatos">
                        <tr class="campeonato">
                            <th colspan="4">{{campeonato.nome}}</th>
                        </tr>
                        <tr *ngFor="let jogo of campeonato.jogos">
                            <td>{{jogo.horario | moment:'DD/MM/YYYY HH:mm'}}</td>
                            <td style="text-align: right;">{{jogo.time_a_nome}}</td>
                            <td style="text-align: center;">
                                <span
                                    *ngIf="jogo.resultado; else semResultado">
                                    <b>{{jogo.resultado.casa}} - {{jogo.resultado.fora}}</b>
                                    <ng-container *ngIf="sport == 1">
                                        ({{jogo.resultado.casa_1t}} - {{jogo.resultado.fora_1t}})
                                    </ng-container>
                                </span>
                                <ng-template #semResultado>
                                    <b>{{'geral.semResultado' | translate}}</b>
                                </ng-template>
                            </td>
                            <td style="text-align: left;">{{jogo.time_b_nome}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

