<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="esportes">
        <div class="jogos">
            <div *ngFor="let item of preApostaItens; let i=index" class="item-selecionado">
                <div class="item-selecionado-inner">
                    <div class="horario">
                        {{item.jogo_horario | moment: 'DD.MM.YYYY HH:mm'}}
                    </div>
                    <div class="jogo-nome">
                        {{item.time_a_nome}} x {{item.time_b_nome}}
                    </div>
                    <div class="campeonato-nome">
                        {{item.campeonato_nome}}
                    </div>
                    <div class="cotacao">
                        {{item.categoria_nome}}:
                        <span *ngIf="item.odd_nome; else chave">
                            {{item.odd_nome}}
                        </span>
                        <ng-template #chave>
                            <span *ngIf="item.sport == footballId; else nomeOddCustom">
                                {{item.aposta_tipo.chave | tipoAposta}}
                            </span>
                            <ng-template #nomeOddCustom>
                                {{item.aposta_tipo.chave | tipoApostaCustom: item.time_a_nome : item.time_b_nome}}
                            </ng-template>
                        </ng-template>
                        <span class="valor" *ngIf="item.cotacao_antiga == item.cotacao_atual; else cotacoesMudaram">
                            ({{item.cotacao_atual | number: '1.0-2'}})
                        </span>
                        <ng-template #cotacoesMudaram>
                            <span class="valor">
                                ({{item.cotacao_atual | number: '1.0-2'}})
                            </span>
                            <del style="color: red;">
                                ({{item.cotacao_antiga | number: '1.0-2'}})
                            </del>
                        </ng-template>
                    </div>
                    <div class="item-mensagem" *ngIf="item.mensagem">
                        {{item.mensagem}}
                    </div>
                </div>
                <div class="remover-item" (click)="removerItem(i)">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
        <div class="informacoes">
            <p>
                {{'geral.horario' | translate}}: {{preAposta.horario | moment: 'DD/MM/YYYY HH:mm'}}
            </p>
            <p>
                {{'geral.totalDeJogos' | translate}}: {{preAposta.itens.length}}
            </p>
            <p>
                {{'geral.estimativaDeGanho' | translate}}: {{estimativaGanho | currency}}
            </p>
            <div class="row">
                <div class="col-md-2">
                    {{'geral.apostador' | translate}}
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="inverted-out form-control" formControlName="apostador"
                               [ngClass]="applyCssInputError('apostador')">
                        <app-error-msg [control]="form.get('apostador')" label="{{'geral.apostador' | translate}} ">
                        </app-error-msg>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    {{'bilhete.valorDaAposta' | translate}}
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="inverted-out form-control" formControlName="valor"
                               [ngClass]="applyCssInputError('valor')">
                        <app-error-msg [control]="form.get('valor')" label="Valor"></app-error-msg>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group form-check-custom form-check-style-1 alteracoes-odds">
                        <input type="checkbox" class="" id="aceito-alteracoes-odds"
                               formControlName="aceitar_alteracoes_odds">
                        <label for="aceito-alteracoes-odds">
                            {{'bilhete.aceitarAlteracoesDeOdds' | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" *ngIf="cotacoesVinheramDifentes">
        <b>{{'geral.atencao' | translate}} <i class="fa fa-warning"></i></b>
        <br>
        <br>
        {{'bilhete.algumasCotacoesMudaramPreAposta' | translate}}
    </div>

    <div class="alert alert-warning" *ngIf="cotacoesMudaram">
        <b>{{'geral.atencao' | translate}} <i class="fa fa-warning"></i></b>
        <br>
        <br>
        <b>{{'bilhete.preApostaNaoConcluida' | translate}}!</b> {{'bilhete.algumasCotacoesMudaramPreAposta2' | translate}}
    </div>

    <button [disabled]="disabled" *ngIf="!process; else btnProcessando" class="btn btn-custom">
        {{'geral.validar' | translate}}
    </button>
    <ng-template #btnProcessando>
        <button disabled class="btn btn-custom">
            {{'geral.processando' | translate}}... <span *ngIf="apostaAoVivo">({{delay}}) </span>
            <i class="fa fa-spinner fa-spin"></i>
        </button>
    </ng-template>
</form>
