.jogos, .palpites{
    margin-bottom: 15px;
}

.jogos {
    margin-bottom: 35px;
}

.div-jogos-selecionados .item-selecionado-inner{
    margin: 0px 30px;
}

.div-jogos-selecionados h3{
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 16px;
}

.div-jogos-selecionados h3::before{
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: red;
    top: 23px;
    left: 108px;
    position: relative;
}

.item-selecionado{
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px dashed var(--game);
    text-align: left;
    position: relative;
}

.item-selecionado .item-selecionado-inner > div {
    margin-bottom: 5px;
}

.item-selecionado .item-selecionado-inner > div:last-child {
    margin-bottom: 0;
}

.item-selecionado:first-of-type{
    border-top: none;
    padding-top: 0;
}

.item-selecionado label{
    margin-right: 5px;
}

.item-selecionado .horario{
    font-weight: bold;
}

.item-selecionado .cotacao .valor{
    font-weight: bold;
}

.remover-item{
    position: absolute;
    top: 0;
    right: 15px;
    color: var(--highlight);
    font-size: 22px;
    cursor: pointer;
    line-height: 22px;
}

.item-mensagem{
    font-weight: bolder;
    color: red;
    border: 1px solid red;
    padding: 5px;
}

.alteracoes-odds label {
    color: var(--foreground);
}


@media only screen and (max-width: 1024px) {
    .btn-custom {
        width: 100%;
    }
}
