.jogo-container {
    height: calc(100vh - 132px);

    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.wrap-sticky {
    padding: 5px;
}

.top-bar {
    position: sticky;
    top: 0;

    width: calc(100%);
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 15px;

    background: var(--game);
    color: var(--foreground-game);
}

.top-bar-back {
    margin-right: 15px;
    padding: 10px 0;
    padding-right: 15px;
}

.v-divider {
    background: var(--foreground-game) !important;
    margin-right: 8px;
    width: 1px;
    height: 100%;
    opacity: 25%;
}

.top-bar-info {
    display: flex;
    flex-direction: column;
}

.top-bar-info .top-camp {
    font-size: 11px; /* ajuste fonte */
    opacity: .6;
}

.top-bar .fa{
    color: var(--foreground-game);
    font-size: 1.6rem;
    cursor: pointer;
}

.content-sports {
    overflow: unset;
    padding: 0 5px;
}

.indentificacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    height: 20vh;
    max-height: 300px;
    background-image: url("https://wb-assets.com/img/quadra-basquete-background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.indentificacao .info {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.indentificacao .campeonato-nome {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    font-size: 14px;
    color: #FFFFFF;
    height: 33%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.indentificacao .nome {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    background-color: inherit;
    color: #FFFFFF;
}


.indentificacao .horario {
    padding: 5px 10px;
    background-color: #181818;
    border-radius: 25px;
    color: var(--highlight);
}

.content-sports {
    padding: 5px;
}

.nome .time-a,
.nome .time-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.times-separador {
    font-size: 35px;
    margin: 10px 20px;
}

.tipo-aposta {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.header-tipo-aposta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 30px;
    background-color: var(--game);
    color: var(--foreground-game);
    margin-bottom: 2px;
}

.div-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight);
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #181818;
}

.indentificacao .div-back {
    position: absolute;
    right: 20px;
    top: 10px;
}

.indentificacao .nome, h4 {
    font-size: 1.2rem;
}

.div-vazio {
    padding: 10px;
    text-align: center;
}

.odds {
    height: auto;
    padding: 10px 0 0 10px;
}

.odds .odd {
    width: 100%;
    max-width: none;
    margin-left: 0;
}

.odds > div {
    flex: 1;
}

.inner-odd {
    padding: 8px;
    margin: 0 10px 10px 0;
}

.odds-coluna {
    padding: 0;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.odds-jogador-coluna {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.odd-jogador {
    width: 50% !important;
}

.width-25 {
    width: 25%;
}

.width-33 {
    width: 33.33%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.loading-template .header {
    display: flex;
    align-items: center;
    gap: 20px;
    background: var(--game);
    padding: 15px;
}

.loading-template .header .titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading-template .banner {
    height: 185px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.loading-template .tab-nav {
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--game);
    height: 40px;
    margin-bottom: 5px;
}

.loading-template .ld-odds .item-odd {
    margin-bottom: 5px;
}

.loading-template .ld-odds .item-odd .item-header {
    background: var(--game);
    padding: 15px;
    margin-bottom: 2px;
}

.loading-template .ld-odds .item-opcoes {
    display: flex;
    background: var(--game);
    padding: 10px;
    gap: 5px;
}

.loading-template .cols {
    display: flex;
    gap: 5px;
}

.loading-template .cols .ld-odds {
    width: 50%;
}

.ajusta-nome-campeonato{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 320px), screen and (max-height: 740px) {
    .indentificacao {
        height: 29vh;
    }
}
@media only screen and (max-width: 1024px) {
    .loading-template .cols .ld-odds {
        width: 100%;
    }

    .loading-template .banner {
        height: 200px;
    }

    .indentificacao .div-back {
        top: 0;
    }

    .campeonato-nome{
        height: 45px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .indentificacao .campeonato-nome {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 400px;
        font-size: 14px;
        color: #FFFFFF;
        padding-left: 5px;
    }

    .nome .time-a,
    .nome .time-b {
        width: 40%;
    }

    .nome img {
        width: 40px;
        margin-bottom: 5px;
    }

    .times-separador {
        font-size: 20px;
    }

    .odds .odd {
        width: 100%;
    }

    .large_screen {
        display: none;
    }

    .small_screen {
        display: block;
    }

    .indentificacao .info {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }

    .wrap-sticky {
        padding: 0;
    }

    .content-sports.inside-event {
        padding-top: 0;
    }

    .iframe-responsive {
        max-width: 100%;
        padding-top: 64%;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
    }

    .iframe-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100%);
        height: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    .large_screen {
        display: block;
    }

    .small_screen {
        display: none;
    }

    .nome img {
        width: 40px;
        margin-bottom: 5px;
    }

    /* .content-sports {
        padding-bottom: 200px;
    } */
}
