<div class="loading-template" *ngIf="showLoadingIndicator">
    <div class="header">
        <div class="ssc-square" style="height: 30px; width: 30px;"></div>
        <div class="titles">
            <div class="ssc-square" style="width: 200px; height: 13px;"></div>
            <div class="ssc-square" style="width: 170px; height: 13px;"></div>
        </div>
    </div>

    <div style="padding: 5px">
        <div class="ssc-square banner"></div>

        <div class="cols">
            <div class="ld-odds">
                <div class="item-odd">
                    <div class="item-header">
                        <div class="ssc-square" style="width: 150px; height: 13px;"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                </div>
                <div class="item-odd">
                    <div class="item-header">
                        <div class="ssc-square" style="width: 150px; height: 13px;"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                </div>
                <div class="item-odd">
                    <div class="item-header">
                        <div class="ssc-square" style="width: 150px; height: 13px;"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                </div>
            </div>
            <div class="ld-odds" *ngIf="!isMobile">
                <div class="item-odd">
                    <div class="item-header">
                        <div class="ssc-square" style="width: 150px; height: 13px;"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                </div>
                <div class="item-odd">
                    <div class="item-header">
                        <div class="ssc-square" style="width: 150px; height: 13px;"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                </div>
                <div class="item-odd">
                    <div class="item-header">
                        <div class="ssc-square" style="width: 150px; height: 13px;"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                    <div class="item-opcoes">
                        <div class="ssc-square" style="height: 33px"></div>
                        <div class="ssc-square" style="height: 33px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jogo-container">
    <div class="top-bar">
        <div class="top-bar-back" (click)="back()">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="v-divider"></div>
        <div class="top-bar-info">
            <span class="top-times">{{jogo?.time_a_nome}} x {{jogo?.time_b_nome}}</span>
            <span class="top-camp">{{jogo?.campeonato?.nome}}</span>
        </div>
    </div>

    <section class="wrap-sticky" [hidden]="!jogo || showLoadingIndicator">
        <div class="indentificacao">
            <div class="horario">
                <div>{{jogo?.horario | moment: '' : true}} / {{jogo?.horario | moment: 'HH:mm'}}</div>
            </div>
            <div class="info">
                <div class="campeonato-nome">
                    <div class="ajusta-nome-campeonato">{{jogo?.campeonato?.nome}}</div>
                </div>
                <div class="nome">
                    <div class="time-a">
                        <div *ngIf="!showLoadingIndicator">
                            <span *ngIf="jogo?.time_a_img; else defaulImageA"><img
                                    src="https://cdn.wee.bet/img/{{teamShieldsFolder}}/m/{{jogo?.time_a_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageA class="escudo">
                                <img src="https://cdn.wee.bet/img/{{teamShieldsFolder}}/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                        </div>
                        <div class="time-nome">
                            {{jogo?.time_a_nome}}
                        </div>
                    </div>
                    <div class="times-separador">
                        x
                    </div>
                    <div class="time-b">
                        <div *ngIf="!showLoadingIndicator">
                            <span *ngIf="jogo?.time_b_img; else defaulImageB"><img
                                    src="https://cdn.wee.bet/img/{{teamShieldsFolder}}/m/{{jogo?.time_b_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageB class="escudo">
                                <img src="https://cdn.wee.bet/img/{{teamShieldsFolder}}/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                        </div>
                        <div class="time-nome">
                            {{jogo?.time_b_nome}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-sports inside-event">
        <div class="jogo" [hidden]="!jogo || showLoadingIndicator">
            <div class="tipo-apostas">
                <div class="tipo-aposta {{chave}}" *ngFor="let chave of objectKeys(mercados)">
                    <div class="header-tipo-aposta">
                        {{mercados[chave].nome}}
                    </div>
                    <div class="odds">
                        <div class="odds-coluna" [ngClass]="cssTamanhoColuna(mercados[chave])"
                            *ngFor="let odds of mercados[chave].odds">
                            <div class="odd" *ngFor="let odd of odds">
                                <ng-container *ngIf="cotacaoPermitida(odd.valorFinal);else cotacaoBloqueada">
                                    <div class="inner-odd odd-enabled"
                                        [ngClass]="{'selecionado': itemSelecionado(jogo, odd)}"
                                        (click)="addCotacao(jogo, odd)">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            {{odd.valorFinal}}
                                        </span>
                                    </div>
                                </ng-container>
                                <ng-template #cotacaoBloqueada>
                                    <div class="inner-odd odd-disabled">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
