<div class="jogo-container">
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

    <div class="top-bar">
        <div class="top-bar-back" (click)="back()">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="v-divider"></div>
        <div class="top-bar-info">
            <span class="top-times">{{jogo?.time_a_nome}} x {{jogo?.time_b_nome}}</span>
            <span class="top-camp">{{jogo?.campeonato?.nome}}</span>
        </div>
    </div>

    <section [hidden]="!jogo || showLoadingIndicator">
        <div class="indentificacao">
            <div class="info">
                <div class="campeonato-nome">{{jogo?.campeonato?.nome}}</div>
                <div class="nome">
                    <div class="time-a">
                        <div *ngIf="!showLoadingIndicator">
                            <span *ngIf="jogo?.time_a_img; else defaulImageA"><img
                                    src="https://cdn.wee.bet/img/times/m/{{jogo?.time_a_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageA class="escudo">
                                <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                        </div>
                        <div class="time-nome">
                            {{jogo?.time_a_nome}}
                        </div>
                    </div>
                    <div class="times-separador">
                        x
                    </div>
                    <div class="time-b">
                        <div *ngIf="!showLoadingIndicator">
                            <span *ngIf="jogo?.time_b_img; else defaulImageB"><img
                                    src="https://cdn.wee.bet/img/times/m/{{jogo?.time_b_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageB class="escudo">
                                <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                        </div>
                        <div class="time-nome">
                            {{jogo?.time_b_nome}}
                        </div>
                    </div>
                </div>
                <div class="horario">
                    <div>{{jogo?.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-sports inside-event">
        <div class="jogo" [hidden]="!jogo || showLoadingIndicator">
            <div class="tipo-apostas">
                <div class="tipo-aposta {{chave}}" *ngFor="let chave of objectKeys(mercados)">
                    <div class="header-tipo-aposta">
                        {{mercados[chave].nome}}
                    </div>
                    <div class="odds">
                        <div class="odds-coluna" [ngClass]="cssTamanhoColuna(mercados[chave])"
                            *ngFor="let odds of mercados[chave].odds">
                            <div class="odd" *ngFor="let odd of odds">
                                <ng-container *ngIf="cotacaoPermitida(odd.valorFinal);else cotacaoBloqueada">
                                    <div class="inner-odd odd-enabled"
                                        [ngClass]="{'selecionado': itemSelecionado(jogo, odd)}"
                                        (click)="addCotacao(jogo, odd)">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            {{odd.valorFinal}}
                                        </span>
                                    </div>
                                </ng-container>
                                <ng-template #cotacaoBloqueada>
                                    <div class="inner-odd odd-disabled">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
