.content {
    display: flex;
    height: calc(100vh - 92px);
}

#acumuladao-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#acumuladao-form .indentificacao {
    width: 100%;
    font-size: 12px;
    position: relative;
}

#acumuladao-form .indentificacao .nome {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    background-color: transparent;
    color: var(--foreground);
}

#acumuladao-form .indentificacao .nome span {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.premios {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.premios .premio {
    padding-right: 20px;
}

.acumuladao-valor-aposta{
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}

#acumuladao-form .div-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight);
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
}

#acumuladao-form .indentificacao .div-back {
    position: absolute;
    right: 0;
    top: 10px;
}

#acumuladao-form .eventos {
    align-self: center;
    background-color: var(--game);
    color: var(--foreground-game);
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--foreground-game);
    font-size: 12px;
}

#acumuladao-form .evento {
    display: flex;
    border-top: 1px solid var(--foreground-game);
}

#acumuladao-form .evento:first-of-type {
    border-top: none;
}

#acumuladao-form .evento .dados {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--foreground-game);
    padding: 15px;
    white-space: nowrap;
    justify-content: center;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-size: 11px; /* ajuste fonte */
}

.informacoes .bold {
    font-weight: 600;
}

#acumuladao-form .nome-placar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#acumuladao-form .time-b-nome {
    width: 42.5%;
    text-align: left;
    /*text-transform: uppercase;*/
}

#acumuladao-form .time-a-nome {
    width: 42.5%;
    text-align: right;
    /*text-transform: uppercase;*/
}

#acumuladao-form .placar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 140px;
}

#acumuladao-form .time-a-placar input, #acumuladao-form .time-b-placar input {
    width: 50px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
}

#acumuladao-form .time-a-placar  {
    margin-right: 5px;
}

#acumuladao-form .time-b-placar {
    margin-left: 5px;
}

#acumuladao-form .time-a-placar > div, #acumuladao-form .time-b-placar > div {
    border: 1px solid var(--foreground-game);
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.bilhete-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titulo {
    padding: 10px 0;
    color: var(--foreground-sidebars);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

#nenhum-jogo {
    background-color: var(--game);
    color: var(--foreground-game);
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    font-weight: 400;
    font-size: 11px; /* ajuste fonte */
    line-height: 12px;
}

#nenhum-jogo span {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.pre-bilhete-acumuladao {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
}

.div-inputs {
    padding: 20px 15px 8px 15px;
}

.informations {
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 10px;
}

.pre-bilhete .valor,
.pre-bilhete .possivel-ganho,
.pre-bilhete .cotacao {
    color: var(--foreground-sidebars);
    font-weight: bolder;
}

.pre-bilhete .evento {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
}

.evento-inner .horario {
    font-weight: 550;
    font-size: 11px;
    text-align: left;
}

.evento-inner .jogo-nome {
    text-align: left;
    font-size: 11px; /* ajuste fonte */
}

/*.pre-bilhete .evento .evento-inner .jogo-nome {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    flex-direction: column;*/
/*    padding: 10px;*/
/*}*/

/*.div-desafios-selecionados {*/
/*    padding: 0 15px;*/
/*    margin: 0;*/
/*    overflow: scroll;*/
/*    overflow-x: hidden;*/
/*}*/

/*.desafio-selecionado {*/
/*    padding: 15px 0;*/
/*    border-top: 1px dashed var(--highlight);*/
/*    text-align: left;*/
/*    position: relative;*/
/*}*/

/*.desafio-selecionado:first-of-type {*/
/*    border-top: none;*/
/*    padding-top: 0;*/
/*}*/

/*.desafio-selecionado > div:not(.remover-item) {*/
/*    color: var(--foreground-sidebars);*/
/*}*/

/*.desafio-selecionado .horario,*/
/*.desafio-selecionado .odd-bilhete .valor {*/
/*    color: var(--foreground-highlight);*/
/*}*/

/*.desafio-selecionado .odd-bilhete {*/
/*    font-weight: bold;*/
/*    font-size: 1.1rem;*/
/*    padding: 2px 0;*/
/*}*/

/*.jogo-nome, .mercado, .horario {*/
/*    font-size: 0.9rem;*/
/*}*/

/*.div-desafios-selecionados .remover-item {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    color: var(--highlight);*/
/*    font-size: 18px;*/
/*    cursor: pointer;*/
/*}*/

.success-msg {
    font-size: 1.3rem;
}

.success-msg .codigo {
    font-size: 2rem;
    font-weight: bold;
}

/* Cartão aposta */
#aposta-deslogado .active {
    background: var(--odds);
    color: var(--foreground-odds);
}

#aposta-deslogado .evento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 5px 0 15px;
    border-bottom: 1px dashed var(--highlight);
}

#aposta-deslogado .evento:last-child {
    border-bottom: 0;
}

#aposta-deslogado .placar,
#aposta-deslogado .horario {
    font-weight: bolder;
}

#aposta-deslogado .time-nome {
    font-size: 1.2rem;
    /*text-transform: uppercase;*/
}

.cartao-form .form-row select,
.cartao-form .form-row input {
    font-size: 1rem;
}

.tabs {
    display: flex;
    border: 0;
    background: var(--game);
    color: var(--foreground-game);
    border-radius: 4px;
    padding: 2px;
}

.tabs .tab {
    height: 38px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
    background: var(--game);
    color: var(--foreground-game);
    cursor: pointer;
    text-decoration: none;

}

#aposta-deslogado .tabs .active,
.tabs .active {
    border: 0;
    background: var(--highlight);
    color: var(--foreground-highlight);
    border-radius: 4px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#aposta-deslogado {
    padding: 20px;
}

.loading-template {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.loading-template .ssc-square {
    height: 9px;
}

.loading-template .title {
    height: 12px;
    margin-bottom: 10px;
}

.loading-template .options {
    margin: 30px 0 15px;
    display: flex;
    gap: 35px;
}

.loading-template .eventos {
    align-self: center;
    background-color: var(--game);
    color: var(--foreground-game);
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--foreground-game);
    font-size: 12px;
}

.loading-template .evento {
    display: flex;
    border-top: 1px solid var(--foreground-game);
}

.loading-template .evento:first-of-type {
    border-top: none;
}

.loading-template .evento .dados {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--foreground-game);
    padding: 15px;
    white-space: nowrap;
    justify-content: center;
}

.loading-template .nome-placar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-template .time-b-nome ,
.loading-template .time-a-nome {
    width: 80px;
}

.loading-template .placar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 140px;
    gap: 10px;
}


#acumuladao-form .time-b-placar {
    margin-left: 5px;
}

.loading-template .time-a-placar > div, .loading-template .time-b-placar > div {
    border: 1px solid var(--foreground-game);
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}
/* Media */
@media only screen and (max-width: 1024px) {
    .titulo {
        padding: 10px;
        color: var(--foreground);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }

    #acumuladao-form .eventos{
        padding-bottom: 75px;
    }

    #acumuladao-form .indentificacao .div-back {
        top: 0;
    }

    .pre-bilhete h4::before {
        left: 166px;
    }

    .acumuladao h3:before {
        left: 216px;
    }

    section.pre-bilhete.pre-bilhete-mobile {
        height: 100% !important;
        position: fixed !important;
    }

    section.pre-bilhete {
        height: 0 !important;
        overflow: hidden;
    }

    .nome span {
        margin-top: 20px;
    }

    .premios {
        flex-direction: column-reverse;
        padding: 0;
    }

    .premios .encerramento {
        margin-bottom: .5rem;
    }

    #acumuladao-form .eventos {
        margin-top: 40px;
    }

    #acumuladao-form .indentificacao {
        background-color: transparent;
    }

    #acumuladao-form .eventos {
        background-color: transparent;
        border: 0;
    }

    #acumuladao-form .eventos .evento {
        flex-direction: column;
        margin-bottom: 15px;
        border: 0;
    }

    #acumuladao-form .eventos .evento .dados {
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        border: 0;
        padding: 0;
        margin-bottom: 5px;
    }

    #acumuladao-form .eventos .evento .nome-placar {
        background-color: var(--game);
        color: var(--foreground-game);
        border: 1px solid var(--highlight);
        border-radius: 4px;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 768px) {
    #acumuladao-form {
        overflow: scroll;
        padding-bottom: 35px;
    }
}
