
<div class="content">
    <div class="loading-template" *ngIf="showLoadingIndicator">
        <div class="ssc-square title" style="width: 230px;"></div>
        <div class="ssc-square" style="width: 170px"></div>
        <div class="options">
            <div class="ssc-square" style="width: 150px;"></div>
            <div class="ssc-square" style="width: 150px;"></div>
            <div class="ssc-square" style="width: 150px;"></div>
            <div class="ssc-square" style="width: 150px;"></div>
        </div>
        <div class="eventos">
            <div class="evento">
                <div class="dados">
                    <div class="ssc-square" style="width: 50px; margin-bottom: 10px;"></div>
                    <div class="ssc-square" style="width: 50px"></div>
                </div>
                <div class="nome-placar">
                    <div class="ssc-square time-a-nome"></div>
                    <div class="placar">
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                    </div>
                    <div class="ssc-square time-b-nome"></div>
                </div>
            </div>
            <div class="evento">
                <div class="dados">
                    <div class="ssc-square" style="width: 50px; margin-bottom: 10px;"></div>
                    <div class="ssc-square" style="width: 50px"></div>
                </div>
                <div class="nome-placar">
                    <div class="ssc-square time-a-nome"></div>
                    <div class="placar">
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                    </div>
                    <div class="ssc-square time-b-nome"></div>
                </div>
            </div>
            <div class="evento">
                <div class="dados">
                    <div class="ssc-square" style="width: 50px; margin-bottom: 10px;"></div>
                    <div class="ssc-square" style="width: 50px"></div>
                </div>
                <div class="nome-placar">
                    <div class="ssc-square time-a-nome"></div>
                    <div class="placar">
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                    </div>
                    <div class="ssc-square time-b-nome"></div>
                </div>
            </div>
            <div class="evento">
                <div class="dados">
                    <div class="ssc-square" style="width: 50px; margin-bottom: 10px;"></div>
                    <div class="ssc-square" style="width: 50px"></div>
                </div>
                <div class="nome-placar">
                    <div class="ssc-square time-a-nome"></div>
                    <div class="placar">
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                        <div class="ssc-square" style="width: 50px; height: 40px;"></div>
                    </div>
                    <div class="ssc-square time-b-nome"></div>
                </div>
            </div>
        </div>
    </div>

    <section id="acumuladao-form" *ngIf="!showLoadingIndicator">
        <div class="indentificacao">
            <div class="div-back" (click)="back()">
                <i class="fa fa-times"></i>
            </div>
            <div class="nome">
                {{acumuladao.nome}}
                <span class="hide-mobile">
                    {{encerrado ? 'Encerrado' : 'Encerra'}} em {{acumuladao.data_encerramento | moment:'DD/MM/YYYY [às] HH:mm'}}
                </span>
            </div>
        </div>
        <div class="premios">
            <div class="premio" *ngFor="let premio of acumuladao.premios">
                <div>
                    {{'geral.premio' | translate}} {{premio.quantidade_acertos}} partidas: {{premio.valor | currency}}
                </div>
                <ng-container *ngIf="premio.resultado">
                    <div>
                        Nº de Ganhadores: {{premio.quantidade_ganhadores}}
                    </div>
                </ng-container>
            </div>
            <div class="encerramento hide-desktop">
                {{encerrado ? 'Encerrado' : 'Encerra'}} em {{acumuladao.data_encerramento | moment:'DD/MM/YYYY [às] HH:mm'}}
            </div>
        </div>
        <div class="eventos">
            <div class="evento" *ngFor="let jogo of acumuladao.jogos; let i=index;">
                <div class="dados">
                    <div>{{jogo.horario | moment:'': true}}</div>
                    <div>{{jogo.horario | moment:'HH:mm'}}</div>
                </div>
                <div class="nome-placar">
                    <div class="time-a-nome">
                        {{jogo.time_a_nome}}
                    </div>
                    <div class="placar">
                        <ng-container *ngIf="encerrado; else inputPlacar">
                            <div class="time-a-placar">
                                <div>
                                    {{jogo.time_a_resultado >= 0 ? jogo.time_a_resultado : '-'}}
                                </div>
                            </div>
                            <div class="time-b-placar">
                                <div>
                                    {{jogo.time_b_resultado >= 0 ? jogo.time_b_resultado : '-'}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #inputPlacar>
                            <div class="time-a-placar">
                                <input type="number" min="0" [(ngModel)]="jogo.time_a_resultado" value="">
                            </div>
                            <div class="time-b-placar">
                                <input type="number" min="0" [(ngModel)]="jogo.time_b_resultado" value="">
                            </div>
                        </ng-template>
                    </div>
                    <div class="time-b-nome">
                        {{jogo.time_b_nome}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <ng-template #apostaDeslogadoModal let-modal>
        <div class="modal-body" id="aposta-deslogado">
            <div *ngIf="opcoes.cartao_aposta" class="tabs">
                <button class="btn tab" (click)="trocarTipoApostaDeslogado('preaposta')"
                        [ngClass]="{'active':tipoApostaDeslogado == 'preaposta'}">
                    Pré-Aposta
                </button>
                <button class="btn tab" (click)="trocarTipoApostaDeslogado('cartao')"
                        [ngClass]="{'active':tipoApostaDeslogado == 'cartao'}">
                    Cartão de Aposta
                </button>
            </div>
            <div *ngIf="acumuladao.jogos.length > 0">
                <div *ngFor="let jogo of acumuladao.jogos; let i=index" class="evento">
                    <div class="">
                        <div class="horario">
                            {{jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                        </div>
                        <div class="">
                            <div class="time-nome">
                                {{jogo.time_a_nome}} x {{jogo.time_b_nome}}
                            </div>
                            <div class="placar">
                                Placar:
                                {{jogo.time_a_resultado}} x
                                {{jogo.time_b_resultado}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartao-form" *ngIf="tipoApostaDeslogado == 'cartao'">
                <form style="font-size: 1rem;" [formGroup]="cartaoApostaForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Chave</label>
                            <input type="text" class="form-control inverted-out" formControlName="chave" autocomplete="off"
                                   style="text-transform:uppercase;" mask="AAA-AAA-AAA" [dropSpecialCharacters]="false">
                        </div>
                        <div class="form-group col-md-6">
                            <label>PIN</label>
                            <input type="password" class="form-control inverted-out" formControlName="pin" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-check col-md-6">
                        <input type="checkbox" class="form-check-input" id="manter-cartao"
                               formControlName="manter_cartao">
                        <label class="form-check-label" for="manter-cartao">Manter Cartão</label>
                    </div>
                </form>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-custom2" (click)="modalRef.dismiss()">{{'modais.fechar' | translate}}</button>
                <button type="button" class="btn btn-custom" (click)="finalizarApostaDeslogado()">
                    {{'modais.finalizar' | translate}}
                </button>
            </div>
        </div>
    </ng-template>

    <ng-container *ngIf="!encerrado;">
        <section class="pre-bilhete" [ngClass]="{'pre-bilhete-mobile': displayPreTicker}">
            <div class="bilhete-container">
                <div class="titulo-bilhete">
                    <a (click)="closeCupom()" class="botao-esquerdo" *ngIf="mobileScreen">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <div class="titulo">{{'bilhete.titulo' | translate}}</div>
                    <div class="botao-direito" *ngIf="mobileScreen"></div>
                </div>
                <div class="pre-bilhete-acumuladao">
                    <div class="acumuladao">
                        <div class="informacoes">
                            <div class="data-encerramento bold">
                                {{acumuladao.data_encerramento | moment: 'DD/MM/YYYY HH:mm'}}
                            </div>
                            <div class="nome bold mb-1">
                                {{acumuladao.nome}}
                            </div>
                            <div class="premio" *ngFor="let premio of acumuladao.premios">
                                {{'geral.premio' | translate}} {{premio.quantidade_acertos}} partidas:
                                {{premio.valor | currency}}
                            </div>
                            
                       </div>
                        <div *ngFor="let jogo of acumuladao.jogos; let i=index" class="evento">
                            <div class="evento-inner">
                                <div class="horario">
                                    {{jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                                </div>
                                <div class="jogo-nome">
                                    <div>{{jogo.time_a_nome}} - ({{jogo.time_a_resultado}})</div>
                                    <div>{{jogo.time_b_nome}} - ({{jogo.time_b_resultado}})</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bilhete">
                    <div class="acumuladao-valor-aposta">
                        Valor da aposta: {{acumuladao.valor | currency}}
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="div-inputs" *ngIf="!isCliente && modoCambista">
                            <div class="form-group">
                                <div class="input-md">
                                    <input type="text" id="nomeApostador" formControlName="apostador"
                                       [ngClass]="applyCssInputError('apostador')"
                                       class="form-control inverted-out" placeholder=" ">
                                    <label for="nomeApostador">Nome do apostador...</label>
                                </div>
                                <app-error-msg [control]="form.get('apostador')" label="{{'geral.apostador' | translate}} "></app-error-msg>
                            </div>
                            <div class="informations">
                                {{'bilhete.valorDaAposta' | translate}}:
                                <span class="valor">{{acumuladao.valor | currency}}</span>
                            </div>
                        </div>
                        <div class="form-group submit-buttons">
                            <button type="submit" *ngIf="!disabled; else btnProcessando"
                                    class="btn btn-custom btn-block">
                                Apostar
                            </button>
                            <ng-template #btnProcessando>
                                <button disabled class="btn btn-custom btn-block">
                                    {{'geral.processando' | translate}}... <i class="fa fa-spinner fa-spin"></i>
                                </button>
                            </ng-template>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </ng-container>
</div>
