<div class="content">
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

    <section id="acumuladao-form" *ngIf="!showLoadingIndicator">
        <div class="indentificacao">
            <div class="div-back" (click)="back()">
                <i class="fa fa-times"></i>
            </div>
            <div class="nome">
                {{acumuladao.nome}}
            </div>
            <div class="premio" *ngFor="let premio of acumuladao.premios">
                <div>
                    Prêmio {{premio.quantidade_acertos}} partidas: {{premio.valor | currency}}
                </div>
                <ng-container *ngIf="premio.resultado">
                    <div>
                        Nº de Ganhadores: {{premio.quantidade_ganhadores}}
                    </div>
                </ng-container>
            </div>
            <div class="encerramento">
                Encerra em {{acumuladao.data_encerramento | moment:'DD/MM/YYYY [às] HH:mm'}}
            </div>
        </div>
        <div class="eventos">
            <div class="evento" *ngFor="let jogo of acumuladao.jogos; let i=index;">
                <div class="dados">
                    <div>PARTIDA {{i+1}}</div>
                    <div>{{jogo.horario | moment:'DD/MM/YYYY HH:mm'}}</div>
                </div>
                <div class="nome-placar">
                    <div class="time-a-nome">
                        {{jogo.time_a_nome}}
                    </div>
                    <div class="placar">
                        <ng-container *ngIf="encerrado; else inputPlacar">
                            <div class="time-a-placar">
                                <div>
                                    {{jogo.time_a_resultado >= 0 ? jogo.time_a_resultado : '-'}}
                                </div>
                            </div>
                            <div class="time-b-placar">
                                <div>
                                    {{jogo.time_b_resultado >= 0 ? jogo.time_b_resultado : '-'}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #inputPlacar>
                            <div class="time-a-placar">
                                <input type="number" min="0" [(ngModel)]="jogo.time_a_resultado" value="">
                            </div>
                            <div class="time-b-placar">
                                <input type="number" min="0" [(ngModel)]="jogo.time_b_resultado" value="">
                            </div>
                        </ng-template>
                    </div>
                    <div class="time-b-nome">
                        {{jogo.time_b_nome}}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <ng-template #apostaDeslogadoModal let-modal>
        <div class="modal-body" id="aposta-deslogado">
            <div *ngIf="opcoes.cartao_aposta" style="background: #e2e2e2; border-bottom: 1px solid;" class="tabs">
                <button class="btn" (click)="trocarTipoApostaDeslogado('preaposta')"
                    [ngClass]="{'active':tipoApostaDeslogado == 'preaposta'}">
                    Pré-Aposta
                </button>
                <button class="btn" (click)="trocarTipoApostaDeslogado('cartao')"
                    [ngClass]="{'active':tipoApostaDeslogado == 'cartao'}">
                    Cartão de Aposta
                </button>
            </div>
            <div *ngIf="acumuladao.jogos.length > 0">
                <div *ngFor="let jogo of acumuladao.jogos; let i=index" class="evento">
                    <div class="">
                        <div class="horario">
                            {{jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                        </div>
                        <div class="">
                            <div class="time-nome">
                                {{jogo.time_a_nome}} x {{jogo.time_b_nome}}
                            </div>
                            <div class="placar">
                                Placar:
                                {{jogo.time_a_resultado}} x
                                {{jogo.time_b_resultado}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartao-form" *ngIf="tipoApostaDeslogado == 'cartao'">
                <form style="font-size: 1rem;" [formGroup]="cartaoApostaForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Chave</label>
                            <input type="text" class="form-control" formControlName="chave" autocomplete="off"
                                style="text-transform:uppercase;" mask="AAA-AAA-AAA" [dropSpecialCharacters]="false">
                        </div>
                        <div class="form-group col-md-6">
                            <label>PIN</label>
                            <input type="password" class="form-control" formControlName="pin" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-check col-md-6">
                        <input type="checkbox" class="form-check-input" id="manter-cartao"
                            formControlName="manter_cartao">
                        <label class="form-check-label" for="manter-cartao">Manter Cartão</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" style="background: #e2e2e2;" class="btn" (click)="modalRef.dismiss()">Fechar</button>
            <button type="button" class="btn btn-custom" (click)="finalizarApostaDeslogado()">
                Finalizar {{btnText}}
            </button>
        </div>
    </ng-template>

    <ng-container *ngIf="!encerrado;">
        <section class="pre-bilhete" [ngClass]="{'pre-bilhete-mobile': displayPreTicker}">
            <div class="pre-bilhete-acumuladao">
                <h4>BILHETE</h4>
                <a (click)="closeCupom()" class="fechar-pre-bilhete">
                    <i class="fa fa-times fa-lg"></i>
                </a>
                <div class="value-informations">
                    <p>
                        Valor da aposta:
                        <span class="valor">{{acumuladao.valor | currency}}</span>
                    </p>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="div-inputs">
                        <div class="form-group">
                            <input type="text" formControlName="apostador" [ngClass]="applyCssInputError('apostador')"
                                class="form-control" placeholder="Nome do apostador...">
                            <app-error-msg [control]="form.get('apostador')" label="Apostador"></app-error-msg>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" *ngIf="!disabled; else btnProcessando" class="btn btn-custom btn-block">
                            Apostar
                        </button>
                        <ng-template #btnProcessando>
                            <button disabled class="btn btn-custom btn-block">
                                Processando... <i class="fa fa-spinner fa-spin"></i>
                            </button>
                        </ng-template>
                    </div>
                </form>
                <div class="acumuladao">
                    <h3>
                        Resumo
                    </h3>
                    <div class="informacoes">
                        <div class="data-encerramento">
                            {{acumuladao.data_encerramento | moment: 'DD/MM/YYYY HH:mm'}}
                        </div>
                        <div class="nome">
                            {{acumuladao.nome}}
                        </div>
                        <div class="premio" *ngFor="let premio of acumuladao.premios">
                            Prêmio {{premio.quantidade_acertos}} partidas:
                            {{premio.valor | currency}}
                        </div>
                    </div>
                    <div *ngFor="let jogo of acumuladao.jogos; let i=index" class="evento">
                        <div class="evento-inner">
                            <div class="horario">
                                {{jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                            </div>
                            <div class="jogo-nome">
                                <div>
                                    {{jogo.time_a_resultado}} - {{jogo.time_a_nome}}
                                </div>
                                <div>
                                    {{jogo.time_b_resultado}} - {{jogo.time_b_nome}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="fixed-bar-bilhete" (click)="openCupom()" [ngStyle]="{'display': displayPreTicker? 'none' : ''}">
            <div>
                <label>Valor</label>
                <span>{{acumuladao.valor | currency}}</span>
            </div>
            <div>
                <label>Jogo(s)</label>
                <span>{{acumuladao.jogos.length}}</span>
            </div>
            <div class="open-bilhete">
                <a>
                    <i class="fa fa-lg fa-chevron-circle-up"></i>
                </a>
            </div>
        </div>
    </ng-container>
</div>
