<app-spinner *ngIf="showLoading"></app-spinner>

<div *ngIf="!showLoading" class="margin-top-15">
    <div *ngIf="!apostas.length" class="alert alert-warning text-center" role="alert">
        Nenhuma aposta realizada no período.
    </div>
    <div *ngIf="apostas.length > 0">
        <div>
            <p><b>Qtd. Apostas:</b> {{apostas.length}}</p>
            <p><b>Tot. Apostado:</b> {{totais.valor| currency}}</p>
            <p><b>Tot. {{'geral.premios' | translate}}  :</b> {{totais.premio| currency}}</p>
        </div>
        <ng-container *ngIf="smallScreen; else desktopTable">
            <table class="table">
                <thead>
                    <tr>
                        <th class="resultado"></th>
                        <th>Cód.</th>
                        <th>{{'geral.valor' | translate}}</th>
                        <th>{{'geral.premio' | translate}} </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let aposta of apostas; trackBy:trackById">
                        <tr (click)="openModal(aposta)" class="tr-1">
                            <td rowspan="2" class="resultado" [ngClass]="cssResultado(aposta.resultado)"></td>
                            <td>
                                <i *ngIf="aposta.cartao_aposta" class="fa fa-credit-card"></i>
                                {{aposta.codigo}}
                            </td>
                            <td>{{aposta.valor | currency}}</td>
                            <td>
                                <span
                                    *ngIf="aposta.resultado == 'ganhou'">{{aposta.premio | currency}}</span>
                                <span *ngIf="aposta.resultado == 'perdeu'">{{0 | currency}}</span>
                                <span *ngIf="!aposta.resultado">Aguardando</span>
                            </td>
                        </tr>
                        <tr (click)="openModal(aposta)" class="tr-2">
                            <td class="" colspan="4">
                                {{aposta.apostador | uppercase}} apostou em
                                {{aposta.horario | moment:'DD/MM/YYYY [às] HH:mm'}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>
        <ng-template #desktopTable>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="resultado"></th>
                        <th>{{'geral.codigo' | translate}}</th>
                        <th>Jogo</th>
                        <th>{{'geral.horario' | translate}}</th>
                        <th>{{'geral.valor' | translate}}</th>
                        <th>{{'geral.premio' | translate}} </th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let aposta of apostas; trackBy:trackById">
                        <tr>
                            <td class="resultado" [ngClass]="cssResultado(aposta.resultado)"></td>
                            <td>
                                <i *ngIf="aposta.cartao_aposta" class="fa fa-credit-card"></i>
                                {{aposta.codigo}}
                            </td>
                            <td>
                                {{aposta.game}}
                            </td>
                            <td>{{aposta.horario | moment:'DD/MM/YYYY HH:mm'}}</td>
                            <td>
                                {{aposta.valor | currency}} <small *ngIf="aposta.is_bonus">{{'geral.bonus' | translate | lowercase}}</small>
                            </td>
                            <td>
                                <span *ngIf="aposta.resultado == 'ganhou'">{{aposta.premio | currency}}</span>
                                <span *ngIf="aposta.resultado == 'perdeu'">{{0 | currency}}</span>
                                <span *ngIf="!aposta.resultado">Aguardando</span>
                            <td>
                                <span *ngIf="aposta.resultado">{{aposta.resultado}}</span>
                                <span *ngIf="!aposta.resultado">Aguardando</span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-template>
    </div>
</div>
