.loteria-popular-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
}

.expand-btn {
    position: absolute;
    right: 8px;
    cursor: pointer;
    font-size: 26px;
    color: var(--foreground-highlight);
}

.desktop-fullscreen {
    position: fixed;
    top: 0;
}

.desktop-fullscreen .loteria-frame {
    height: 100vh;
    margin: 0;
}

.loteria-frame {
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 140px);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
