<section id="futebol-section">
    <nav class="campeonatos-regios">
        <ul>
            <li>Data</li>
            <li><a>Jogos de Hoje</a></li>
            <li><a>Jogos de Amanhã</a></li>

            <li>Principais</li>
            <li><a>BRASIL SÉRIE A</a></li>
            <li><a>COPA DO BRASIL</a></li>
            <li><a>LIBERTADORES</a></li>

            <li>Outros Campeonatos</li>
            <li><a>PERNAMBUCANO</a></li>
            <li><a>LIGA ARGENTINA</a></li>
        </ul>
    </nav>
    <section id="jogos-section">

    </section>

</section>
