#futebol-section{
    display: flex;
    flex-direction: row;
}
.campeonatos-regios ul{
    padding-left: 0px;
}

.campeonatos-regios ul li{
    list-style: none;
    background-color: #3492ff;
}

.campeonatos-regios ul li a{
    display: inline-block;
    padding: 5px 10px;
}


#jogos-section{
    height: 400px;
    min-width: 300px;
    background-color: red;
}
