<section id="futebol-section">

    <section class="side-1-sports">

        <nav class="campeonatos-regios-nav">
            <ul>
                <li class="group">Data</li>
                <li><a>Jogos de Hoje</a></li>
                <li><a>Jogos de Amanhã</a></li>

                <li class="group">Principais</li>
                <li><a><img src="../../assets/flag.png"/> BRASIL SÉRIE A</a></li>
                <li><a><img src="../../assets/flag.png"/> COPA DO BRASIL</a></li>
                <li><a><img src="../../assets/flag.png"/> LIBERTADORES</a></li>

                <li class="group">Outros Campeonatos</li>
                <li><a><img src="../../assets/flag.png"/> PERNAMBUCANO</a></li>
                <li><a><img src="../../assets/flag.png"/> LIGA ARGENTINA</a></li>
                <li><a><img src="../../assets/flag.png"/> PERNAMBUCANO</a></li>
                <li><a><img src="../../assets/flag.png"/> LIGA ARGENTINA</a></li>
                <li><a><img src="../../assets/flag.png"/> PERNAMBUCANO</a></li>
                <li><a><img src="../../assets/flag.png"/> LIGA ARGENTINA</a></li>
                <li><a><img src="../../assets/flag.png"/> PERNAMBUCANO</a></li>
                <li><a><img src="../../assets/flag.png"/> LIGA ARGENTINA</a></li>
                <li><a><img src="../../assets/flag.png"/> PERNAMBUCANO</a></li>
                <li><a><img src="../../assets/flag.png"/> LIGA ARGENTINA</a></li>
                <li><a><img src="../../assets/flag.png"/> PERNAMBUCANO</a></li>
                <li><a><img src="../../assets/flag.png"/> LIGA ARGENTINA</a></li>
            </ul>
        </nav>

    </section>

    <section class="content-sports">

        <div class="campeonato">
            <div class="campeonato-header">
                <h1>Brasileiração Série A</h1>
            </div>
            <div class="jogos">
                <div class="jogo">
                    <div class="jogo-header">
                        <div class="indentificacao">
                            <span class="horario">14:50</span>
                            <h3>SPORT RECIFE</h3>
                            <img src="../../assets/timea.png"/>
                            <span>x</span>
                            <img src="../../assets/timeb.png"/>
                            <h3>SÃO PAULO</h3>
                        </div>
                        <div class="odds-principais">
                            <div>
                                CASA: <span>2.45</span>
                            </div>
                            <div>
                                CASA: <span>2.45</span>
                            </div>
                            <div>
                                CASA: <span>2.45</span>
                            </div>
                            <div class="mais-opcoes">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="jogo-content">
                        <div class="tipos-odds">
                            <h2 class="tipo-odd">HANDICAP</h2>
                            <div class="odds">
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                            </div>
                            <h2 class="tipo-odd">HANDICAP</h2>
                            <div class="odds">
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jogo">
                    <div class="jogo-header">
                        <div class="indentificacao">
                            <span class="horario">14:50</span>
                            <h3>SPORT RECIFE</h3>
                            <img src="../../assets/timea.png"/>
                            <span>x</span>
                            <img src="../../assets/timeb.png"/>
                            <h3>SÃO PAULO</h3>
                        </div>
                        <div class="odds-principais">
                            <div>
                                CASA: <span>2.45</span>
                            </div>
                            <div>
                                CASA: <span>2.45</span>
                            </div>
                            <div>
                                CASA: <span>2.45</span>
                            </div>
                            <div class="mais-opcoes">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="jogo-content">
                        <div class="tipos-odds">
                            <h2 class="tipo-odd">HANDICAP</h2>
                            <div class="odds">
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                            </div>
                            <h2 class="tipo-odd">HANDICAP</h2>
                            <div class="odds">
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                                <div>CASA: <span>2.45</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="side-2-sports">
        <div class="pre-bilhete-esportes">

        </div>
    </section>

</section>
