.classe-esportes {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--game);
    border: none;
}
.modal-title-mobile {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 16px;
    display: none;
}

@media only screen and (max-width: 532px) {
    .modal-header .info-horario {
        display: none;
    }
    .modal-title {
        display: none;
    }
    .modal-title-mobile {
        margin-left: 7px;
        display: block;
    }
    .modal-body {
        /* max-height: 100vh; */
        height: 80vh;
        overflow: scroll;
    }
}
