.classe-esportes {
    font-family: 'Open Sans', sans-serif;
    border: none;
    border: none;
    color: var(--foreground-header);
    background: var(--header);
}
.classe-esportes i{
    color: var(--foreground-header) !important;
}
.modal-title-mobile {
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 14px;
    display: none;
}

.cupom-header {
    color: var(--foreground);
    background: var(--game);
    font-size: 14px !important;
}

.cupom-header .modal-body .cupom-header {
    font-size: 14px;
}

@media only screen and (max-width: 532px) {
    .modal-header .info-horario,
    .modal-header .computado,
    .modal-header .modal-esportes-title {
        display: none;
    }
    .modal-title-mobile {
        margin-left: 7px;
        display: block;
    }
}
