<app-bilhete-compartilhamento #bilheteCompartilhamento [aposta]="aposta"></app-bilhete-compartilhamento>
<div class="modal-body cupom-ativo">
    <div class="">
        <p>{{aposta.sorteio_nome | uppercase}}</p>
        <div style="display: flex; flex-direction: row;">
            <p style="width: 20%;">Números:</p>
            <div style="width: 80%;">
                <ng-container *ngFor="let item of aposta.itens; let i = index">
                    <span>{{item.numero}}{{i == aposta.itens.length - 1 ? '' : ', '}}</span>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let item of aposta.itens">
        <div class="cupom-container">
            <div id="cupom">
                <div class="conteudo">
                    <div class="item">
                        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            {{item.numero}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="cupom-footer">
    <p style="margin: 0">
        <span>{{'geral.status' | translate}}: </span>
        <span style="float: right;">{{aposta.ativo ? 'Ativo' : 'Cancelado'}}</span>
    </p>
    <p class="total-jogos">
        Quantidade de Números:<span style="float: right;">{{aposta.itens.length}}</span>
    </p>
    <p style="margin: 0" class="aposta">
        Valor apostado: <span style="float: right;"> <span *ngIf="aposta.is_bonus">({{'geral.bonus' | translate |
                lowercase}})</span>
            {{aposta.valor | currency}}</span>
    </p>
    <p style="margin: 0" class="resultado">
        <span>Resultado: </span>
        <span style="float: right;" *ngIf="aposta.resultado">{{aposta.resultado | titlecase}}</span>
        <span style="float: right;" *ngIf="!aposta.resultado">{{ 'geral.aguardando' | translate }}</span>
    </p>
    <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
        {{'geral.premio' | translate}}: <span style="float: right;">{{aposta.premio | currency}}</span>
    </p>
    <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">
        Cambista paga: <span style="float: right;">{{cambistaPaga | currency}}</span>
    </p>
</div>
<div class="modal-footer">
</div>