.modal-header,
.modal-body,
.rodape {
   font-family: 'Open Sans', sans-serif;
}

.modal-title {
    font-size: 14px;
    font-weight: 600;
}

.modal-header {
    background-color: var(--game);
    border: none;
}

#cupom{
    /* width: 19.27em; */
    padding: 0 1em;
    background: #363636;
    /* color: #1e282c; */
    /* margin: 2em auto; */
    margin: auto 7px;
    font-size: 12px;
    border-radius: 5px;
    /* margin-bottom: 4px; */
}

.cupom-header {
    /* padding: 0 2em; */
    background: #1C1C1C;
    color: white;
    font-size: 12px;
    margin-bottom: 13px;
    max-height: 91px;
    column-count: 3;
}

.cupom-ativo{
    background: #1C1C1C;
    margin-bottom: 0;
}

img{
    max-height: 90px;
    max-width: 150px;
}

.ganhou{
    color: #008000;
    text-transform: uppercase;
}

.perdeu{
    color: #e61919;
    text-transform: uppercase;
}

.cancelado{
    text-decoration: line-through
}

.jogo-resultado{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed black;
}

.numero{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px;
}

.informacoes p{
    margin: 1px;
    font-size: 12px;
    width: 100%;
}

.item .campeonato{
    /* text-align: center; */
    margin: 1px;
    /* font-weight: bold; */
    font-size: 12px;
}

.item .horario{
    margin: 1px;
    font-size: 10px;
    text-transform: uppercase;
}

.item .jogo{
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}

.item .nome{
    margin: 1px;
}

.item .cotacao{
    margin: 1px;
    font-size: 12px;
}

.valores .total-jogos, .valores .aposta, .valores .ganho, .valores .cambista-paga, .valores .resultado {
    text-align: left;
    margin: 3px 1px 1px 1px;
    font-weight: bold;
    font-size: 12px;
    /* width: 100%; */
}
.valores span {
    font-weight: normal;
}
.rodape{
    margin: 5px 1px 1px 1px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    
}
.encerrado {
    text-decoration-line: line-through;
}

.dados-simulacao {
    color: red;
}
.btn-outline-custom:hover {
    text-align: center;
    color: var(--foreground-highlight);
    background-color: var(--highlight); 
    border-color: var(--foreground-highlight);
}
.btn-outline-custom {
    border-color: var(--highlight);
    color: var(--highlight);
}
.info-horario {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.7;
}
.info-cupom {
    font-size: 12px;
    color: #A9A9A9;
}

.info-priority-cupom {
    font-size: 14px;
    font-weight: 650;
}

.table {
    color: var(--foreground);
    margin-top: 10px;
    margin-bottom: -11px;
    border-collapse: collapse;
    width: 100%;
 }
 
 .table thead th {
    background-color: var(--game);
    color: var(--foreground-game);
    border-top: 0;
    border-bottom: 1px solid var(--game);
    padding: 8px;
 }

.table tbody td {
    background: #363636;
    border-top: 0;
    border-bottom: 1px solid var(--game);
}
.table thead th:first-child {
    padding-left: 11px;
    border-radius: 3px 0 0 0;
}
.table thead th:last-child {
    border-radius: 0 3px 0 0;
}
tbody tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
tbody tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table thead {
    background-color: #f8f9fa;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.modal-footer {
    background: #1C1C1C;
    border-top: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
}
.modal-footer .btn {
    width: 100%;
    border-radius: 5;
    margin: 6px auto;
 }

 @media only screen and (max-width: 500px) {
    .table thead {
        display: none;
    }
    .cupom-header {
        max-height: none; /* Remove a restrição de altura */
        column-count: 1; /* Define uma coluna única */
    }


 }
 
