<app-bilhete-compartilhamento #bilheteCompartilhamento [aposta]="aposta"></app-bilhete-compartilhamento>
<span style="display: flex; flex-direction: column; justify-content: space-between; height: 100%; overflow: auto;">
<div class="modal-header">
    <div>
        <h5 id="modal-basic-title">Aposta</h5>
    </div>
    <div class="action-buttons">
        <a *ngIf="isCliente && aposta.tipo === 'esportes'" href="{{urlBilheteAoVivo}}" target="_blank" title="ACOMPANHAR BILHETE AO-VIVO" >
            <i class="fa fa-external-link"></i>
        </a>
        <button type="button" *ngIf="impressaoPermitida()" (click)="print()" title="IMPRIMIR">
            <i class="fa fa-print"></i>
        </button>
        <button type="button" *ngIf="pagamentoPermitido()" (click)="setPagamento()" title="PAGAMENTO DA APOSTA">
            <i class="fa fa-money"></i>
        </button>
        <button type="button" (click)="compartilhamentoPermitido() ? shared() : shareBetLink(aposta)" class="shared-ticket" title="COMPARTILHAR">
            <i class="fa fa-share-alt"></i>
        </button>
        <button type="button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="cupom-header">
    <div style="display: flex; flex-direction: column; justify-items: center; text-align: center;">
        <p>{{aposta.tipo | titlecase}}</p>
        <p style="font-size: 1.5rem; font-weight: 800;">{{aposta.codigo}}
            <i style="cursor: pointer; margin-left: 0.25rem; margin-bottom: 15px;" (click)="copyToClipboard(aposta.codigo)"
                class="far fa-copy"></i>
        </p>
        <ng-container *ngIf="isShared || !aposta.is_cliente">
            <div *ngIf="aposta.is_cliente; else exibicaoPadrao">
                <p>
                    <b>Apostador: </b><span>{{aposta.apostador}}</span>
                </p>
            </div>
            <ng-template #exibicaoPadrao>
                <p>
                    <b>Cambista:</b> {{aposta.passador.nome}}
                </p>
                <p>
                    <b>Apostador: </b><span>{{aposta.apostador}}</span>
                </p>
            </ng-template>
        </ng-container>
        <p *ngIf="aposta?.data_liquidacao">
            <b>{{'geral.liquidadoEm' | translate}}</b>
            <span> {{aposta.data_liquidacao | moment: 'DD/MM/YYYY [às] HH:mm'}}</span>
        </p>
        <p>Em {{aposta.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</p>
    </div>
</div>
<div class="modal-body cupom-ativo">
    <div class="table-container">
        <table class="table">
            <tbody>
                <ng-container *ngFor="let item of aposta.itens">
                    <tr class="cupom">
                        <td class="item border-left" style="min-width: 3rem; width: 7rem; position: relative">
                            <div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="info-cupom" style="margin-bottom: 0">
                                    {{item.jogo_horario | moment: 'DD/MM'}}
                                </p>
                                <p class="info-cupom" style="margin-bottom: 0">
                                    {{item.jogo_horario | moment: 'HH:mm'}}
                                </p>    
                            </div>
                        </td>
                        <td class="item">
                            <div style="max-width: 97%;">
                                <p class="campeonato info-cupom {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    <i [ngClass]="sportIcon(item.sport)"></i> {{item.campeonato_nome | uppercase}}
                                </p>
                                <p style="margin-left: 12px" class="nome {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                                <p style="margin-left: 12px" class="cotacao {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    <span class="info-cupom">
                                        {{item.categoria_nome}}:
                                    </span>
                                    <span class="">
                                        {{item.odd_nome}}
                                        ({{item.cotacao}})
                                    </span>
                                    <span class="" *ngIf="item.ao_vivo"> | AO VIVO</span>
                                </p>
                            </div>
                        </td>
                        <td class="item border-right">
                            <div style="display: flex; justify-content: center;">
                                <p class="jogo-resultado" style="float:right" *ngIf="item.encerrado && !item.removido; else resultado">
                                    ENCERRADO <br />
                                    <span [ngClass]="resultadoClass(item)">
                                        <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                            ( {{item.resultado}} )
                                        </ng-container>
                                    </span>
                                </p>
                                <ng-template #resultado>
                                    <p class="jogo-resultado" style="float:right">
                                        <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                        <span *ngIf="!item.removido && !item.encerrado" [ngClass]="resultadoClass(item)">
                                            {{item.resultado}}
                                        </span>
                                    </p>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="!isShared" class="cupom">
                    <td colspan="2" class="item" style="margin-left: 10px; border-radius: 10px 0 0 10px;">
                        <p class="resultado">
                            Resultado:
                        </p>
                        <p>
                            {{'geral.status' | translate}}:
                        </p>
                        <p class="aposta">
                            Valor apostado:
                        </p>
                        <p class="ganho">
                            Possível retorno:
                        </p>
                        <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
                            {{'geral.premio' | translate}}:
                        </p>
                        <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">
                            Cambista paga:
                        </p>
                    </td>
                    <td style="text-align: right; margin-right: 10px; border-radius: 0 10px 10px 0;" class="item">
                        <p class="resultado">
                            <span *ngIf="!(aposta.tipo == 'esportes' && aposta.rollover_status == 'cancelado')">
                                <span *ngIf="aposta.resultado">{{aposta.resultado | titlecase}}</span>
                                <span *ngIf="!aposta.resultado">{{'geral.aguardando' | translate}}</span>
                            </span>
                            <span *ngIf="aposta.tipo == 'esportes' && aposta.rollover_status == 'cancelado'">{{'geral.bonusCancelado' |
                                translate}}</span>
                        </p>
                        <p>
                            <span>{{aposta.ativo ? 'Ativo' : 'Cancelado'}}</span>
                        </p>
                        <p class="aposta">
                            <span><span *ngIf="aposta.is_bonus"> ({{'geral.bonus' | translate | lowercase}})</span>{{aposta.valor | currency}}</span>
                        </p>
                        <p class="ganho">
                            <span style="white-space: nowrap;">
                                <span class="{{!novaPossibilidadeGanho || falhaSimulacao ? '' : 'cancelado'}}">{{aposta.possibilidade_ganho | currency}}</span>
                                <span class="dados-simulacao" *ngIf="!falhaSimulacao">{{novaPossibilidadeGanho | currency}}</span>
                            </span>
                        </p>
                        <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
                            <span>{{aposta.premio | currency}}</span>
                        </p>
                        <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">
                            <span>{{cambistaPaga|currency}}</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-container *ngFor="let item of aposta.itens">
        <div class="cupom-container">
            <div id="cupom">
                <div class="conteudo">
                    <div class="item">
                        <p class="campeonato info-cupom {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                            <i [ngClass]="sportIcon(item.sport)"></i> {{item.campeonato_nome | uppercase}}
                        </p>
                        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; max-height: 2em; margin-left: 12px">
                            <div>
                                <p class="nome {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}"
                                    style="font-weight: bolder;">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                            </div>
                            <div>
                                <p class="jogo-resultado" *ngIf="item.encerrado && !item.removido; else resultado">
                                    ENCERRADO
                                    <span [ngClass]="resultadoClass(item)">
                                        <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                            ( {{item.resultado}} )
                                        </ng-container>
                                    </span>
                                </p>
                                <ng-template #resultado>
                                    <p class="jogo-resultado">
                                        <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                        <span *ngIf="!item.removido && !item.encerrado" [ngClass]="resultadoClass(item)">
                                            {{item.resultado}}
                                        </span>
                                    </p>
                                </ng-template>
                            </div>
                        </div>
                        <p style="margin-left: 12px" class="horario info-cupom">
                            {{item.jogo_horario | moment: 'DD/MM/YYYY HH:mm'}}
                        </p>
                        <p style="margin-left: 12px" class="cotacao {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                            <span class="info-cupom odd-container">
                                <div>{{item.categoria_nome}}:</div>
                                <div>
                                    {{item.odd_nome}}
                                    <span style="float:right">{{item.cotacao}}<span class="" *ngIf="item.ao_vivo"> | AO VIVO</span></span>
                                </div>
                            </span>
                        </p>            
                    </div>
                </div>
            </div>
            </div>
    </ng-container>
    <div class="footer-container">
        <div *ngIf="!isShared" class="cupom" style="padding: 10px; display: flex; justify-content: space-between;">
            <div class="item" style="flex: 1;">
                <p class="resultado">Resultado:</p>
                <p class="status">Status:</p>
                <p class="aposta">Valor apostado:</p>
                <p class="ganho">Possível retorno:</p>
                <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">{{'geral.premio' |
                    translate}}:</p>
                <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">Cambista paga:</p>
            </div>
            <div class="item" style="flex: 1; justify-content: right; text-align: right;">
                <p class="resultado" style="justify-content: right;">
                    <span *ngIf="aposta.resultado">{{aposta.resultado | titlecase}}</span>
                    <span *ngIf="!aposta.resultado">Aguardando</span>
                </p>
                <p class="status">{{aposta.ativo ? 'Ativo' : 'Cancelado'}}</p>
                <p class="aposta" style="justify-content: right;">
                    <span><span *ngIf="aposta.is_bonus"> ({{'geral.bonus' | translate | lowercase}})</span>{{aposta.valor |
                        currency}}</span>
                </p>
                <p class="ganho" style="justify-content: right;">
                    <span style="white-space: nowrap;">
                        <span class="{{!novaPossibilidadeGanho || falhaSimulacao ? '' : 'cancelado'}}">
                            {{aposta.possibilidade_ganho | currency}}
                        </span>
                        <span class="dados-simulacao" *ngIf="!falhaSimulacao">{{novaPossibilidadeGanho | currency}}</span>
                    </span>
                </p>
                <p class="ganho" style="justify-content: right;" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
                    <span>{{aposta.premio | currency}}</span>
                </p>
                <p *ngIf="aposta.passador.percentualPremio > 0" style="justify-content: right;" class="cambista-paga">
                    <span>{{cambistaPaga | currency}}</span>
                </p>
            </div>
        </div>
    
    </div>
</div>
<div class="modal-footer">
    <div class="rodape dados-simulacao" *ngIf="novaPossibilidadeGanho && !falhaSimulacao">
        <p *ngIf="novaPossibilidadeGanho && !falhaSimulacao">Atenção: Confira como ficarão os novos valores, ao confirmar essa operação não poderá ser desfeita</p>
    </div>
    <div class="rodape">
        <p *ngIf="falhaSimulacao">
            <span class="dados-simulacao">{{ 'compartilhar_aposta.apostaNaoPodeSerEncerrada' | translate }}</span>
        </p>
    </div>
    <div class="button-container">
        <ng-container *ngIf="!isShared">
            <div id="buttons-container">
                <button *ngIf="podeReutilizar(aposta)" class="btn-outline-custom sec btn"
                    style="margin-right: 10px;" (click)="repetirAposta(aposta)"
                    [disabled]="simulando || repeating">
                    {{ (repeating ? 'compartilhar_aposta.repetindoAposta' : 'compartilhar_aposta.repetirAposta') | translate
                    }}
                </button>
                <button id="encerrar-aposta" *ngIf="podeEncerrar(aposta)" class="btn btn-custom btn-block" (click)="encerrarAposta(aposta)"
                    [disabled]="simulando || repeating">
                    {{ simulando ? ('compartilhar_aposta.calculando' | translate) : ('compartilhar_aposta.encerrarAposta' |
                    translate) + (valorEncerramento | currency) }}
                </button>
                <button style="margin-right: 10px;" class="btn sec btn-outline-custom" *ngIf="itemSelecionado && !simulando && !falhaSimulacao"
                    (click)="descartar()">
                    {{ 'geral.cancelar' | translate }}
                </button>
                <button class="btn btn-custom" *ngIf="itemSelecionado && !falhaSimulacao && !process && !simulando"
                    (click)="confirmarEncerramento()">
                    {{ 'geral.confirmar' | translate }}
                </button>
                <button disabled class="btn btn-custom sec btn-block" *ngIf="!falhaSimulacao && encerrando;">
                    {{ 'compartilhar_aposta.encerrando' | translate }}
                    <i class="fa fa-spinner fa-spin"></i>
                </button>
                <button disabled class="btn btn-custom btn-block" *ngIf="!falhaSimulacao && process;">
                    {{ 'geral.processando' | translate }}... <span *ngIf="apostaAoVivo">({{delay}}) </span>
                    <i class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </ng-container>
    </div>
        <ng-container *ngIf="isShared">
            <button class="btn secondary-btn btn-block" (click)="repetirAposta(aposta)" *ngIf="podeReutilizar(aposta); else cantRepeat"
                [disabled]="simulando || repeating">
                {{ (repeating ? 'compartilhar_aposta.reutilizandoAposta' : 'compartilhar_aposta.reutilizarAposta') | translate }}
            </button>
            <ng-template #cantRepeat>
                <p style="text-align: center;">{{ 'compartilhar_aposta.apostaNaoPodeSerRepetida' | translate }}</p>
            </ng-template>
        </ng-container>
</div>
</span>
