<app-bilhete-compartilhamento #bilheteCompartilhamento [aposta]="aposta"></app-bilhete-compartilhamento>
<div class="modal-header">
    <div>
        <h5 class="modal-title-mobile" id="modal-basic-title">Aposta</h5>
        <h5 class="modal-title" id="modal-basic-title">Código da aposta: {{aposta.codigo}}</h5>
        <h6 class="info-horario"><b>Horário:</b> {{aposta.horario | moment: 'DD/MM/YYYY HH:mm'}}</h6>
    </div>
    <div class="action-buttons">
        <a *ngIf="isCliente && aposta.tipo === 'esportes'" href="{{urlBilheteAoVivo}}" target="_blank" title="ACOMPANHAR BILHETE AO-VIVO" >
            <i class="fa fa-external-link"></i>
        </a>
        <button type="button" *ngIf="impressaoPermitida()" (click)="print()" title="IMPRIMIR">
            <i class="fa fa-print"></i>
        </button>
        <button type="button" *ngIf="pagamentoPermitido()" (click)="setPagamento()" title="PAGAMENTO DA APOSTA">
            <i class="fa fa-money"></i>
        </button>
        <button type="button" *ngIf="compartilhamentoPermitido()" (click)="shared()" class="shared-ticket" title="COMPARTILHAR">
            <i class="fa fa-share-alt"></i>
        </button>
        <button type="button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body cupom-ativo">
    <div class="cupom-header">
            <p class="codigo-aposta">
                <b>Código da aposta:</b><span> {{aposta.codigo}}</span>
            </p>
            <div *ngIf="aposta.is_cliente; else exibicaoPadrao">
                <p>
                    <b>Cliente:</b><span>{{aposta.apostador}}</span>
                </p>
            </div>
            <ng-template #exibicaoPadrao>
                <p>
                    <b>Cambista:</b><span>{{aposta.passador.nome}}</span>
                </p>
                <p>
                    <b>Apostador:</b><span>{{aposta.apostador}}</span>
                </p>
            </ng-template>
            <p>
                <b>{{'geral.status' | translate}}: </b>
                <span>{{aposta.ativo ? 'Ativo' : 'Cancelado'}}</span>
            </p>
            <p class="aposta-horario">
                <b>Horário:</b><span>{{aposta.horario | moment: 'DD/MM HH:mm'}}</span>
            </p>
            <p class="total-jogos">
                Quantidade de jogos:<span style="margin-left: 3px;">{{aposta.itens.length}}</span>
            </p>
            <p class="aposta">
                Cotação:
                <span>
                    {{aposta.possibilidade_ganho / aposta.valor | number:'1.0-3'}}
                </span>
            </p>
            <p class="aposta">
                Valor apostado:<span><span *ngIf="aposta.is_bonus"> ({{'geral.bonus' | translate | lowercase}}) </span>{{aposta.valor | currency}}</span>
            </p>
            <p class="ganho">
                Possível retorno:
                <span style="white-space: nowrap;">
                    <span class="{{!novaPossibilidadeGanho || falhaSimulacao ? '' : 'cancelado'}}">{{aposta.possibilidade_ganho | currency}}</span>
                    <span class="dados-simulacao" *ngIf="!falhaSimulacao">{{novaPossibilidadeGanho | currency}}</span>
                </span>
            </p>
            <p class="resultado">
                <span *ngIf="!(aposta.tipo == 'esportes' && aposta.rollover_status == 'cancelado')">
                    <b>Resultados:</b>
                    <span *ngIf="aposta.resultado">{{aposta.resultado | titlecase}}</span>
                    <span *ngIf="!aposta.resultado">Aguardando</span>
                </span>
                <span *ngIf="aposta.tipo == 'esportes' && aposta.rollover_status == 'cancelado'">Bônus Cancelado</span>
            </p>
            <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
                {{'geral.premio' | translate}}:<span>{{aposta.premio | currency}}</span>
            </p>
            <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">
                Cambista paga:<span>{{cambistaPaga|currency}}</span>
            </p>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-left: 14px;">Data/Horário</th>
                    <th>Evento/Mercado</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of aposta.itens">
                    <tr class="cupom">
                        <td class="item"><p class="info-cupom" style="padding-left: 10px;">{{item.jogo_horario | moment: 'DD/MM HH:mm'}}</p></td>
                        <td class="item">
                            <div style="max-width: 97%;">
                                <p class="campeonato info-cupom">
                                    {{item.campeonato_nome}}
                                </p>
                                <p class="nome info-priority-cupom {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                                <p class="cotacao {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    <span class="info-cupom">
                                        {{item.categoria_nome}}:
                                    </span>
                                    <span class="info-priority-cupom">
                                        {{item.odd_nome}}
                                        ({{item.cotacao}})
                                    </span>
                                    <span class="info-priority-cupom" *ngIf="item.ao_vivo"> | AO VIVO</span>
                                </p>
                            </div>
                        </td>
                        <td class="item">
                            <p class="jogo-resultado" *ngIf="item.encerrado && !item.removido; else resultado">
                                Encerrado <br />
                                <span [ngClass]="resultadoClass(item)">
                                    <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                        ( {{item.resultado}} )
                                    </ng-container>
                                </span>
                            </p>
                            <ng-template #resultado>
                                <p class="jogo-resultado">
                                    <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                    <span *ngIf="!item.removido && !item.encerrado" [ngClass]="resultadoClass(item)">
                                        {{item.resultado}}
                                    </span>
                                </p>
                            </ng-template>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <ng-container *ngFor="let item of aposta.itens">
        <div class="cupom-container">
            <div id="cupom">
                <div class="conteudo">
                    <div class="item">
                        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <div>
                                <p class="horario info-cupom">
                                    {{item.jogo_horario | moment: 'DD/MM HH:mm'}}
                                </p>
                                <p class="campeonato info-cupom">
                                    {{item.campeonato_nome}}
                                </p>
                                <p class="nome info-priority-cupom {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                                <p class="cotacao {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    <span class="info-cupom">
                                        {{item.categoria_nome}}:
                                    </span>
                                    <span class="info-priority-cupom">
                                        {{item.odd_nome}}
                                        ({{item.cotacao}})
                                    </span>
                                    <span *ngIf="item.ao_vivo"> | AO VIVO</span>
                                </p>
                                <p class="jogo-resultado" *ngIf="item.encerrado && !item.removido; else resultado">
                                    Encerrado
                                    <span [ngClass]="resultadoClass(item)">
                                        <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                            ( {{item.resultado}} )
                                        </ng-container>
                                    </span>
                                </p>
                                <ng-template #resultado>
                                    <p class="jogo-resultado">
                                        <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                        <span *ngIf="!item.removido && !item.encerrado" [ngClass]="resultadoClass(item)">
                                            {{item.resultado}}
                                        </span>
                                    </p>
                                </ng-template>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>    
    </ng-container>
</div>
<div class="modal-footer">
    <div class="rodape dados-simulacao" *ngIf="novaPossibilidadeGanho && !falhaSimulacao">
        <p *ngIf="novaPossibilidadeGanho && !falhaSimulacao">Atenção: Confira como ficarão os novos valores, ao confirmar essa operação não poderá ser desfeita</p>
    </div>
    <div class="rodape">
        <p *ngIf="falhaSimulacao">
            <span class="dados-simulacao">Essa aposta não pode ser encerrada.</span>
        </p>
    </div>
    <div class="button-container">
        <button class="btn btn-custom btn-block" (click)="encerrarAposta(aposta)" [disabled]="simulando" *ngIf="podeEncerrar(aposta)">
            {{ simulando ? 'Calculando...' : 'Encerrar Aposta' }}
        </button>
        <button class="btn btn-outline-custom" *ngIf="itemSelecionado && !simulando && !falhaSimulacao" (click)="descartar()">
            Cancelar
        </button>
        <button class="btn btn-custom" *ngIf="itemSelecionado && !falhaSimulacao && !process && !simulando"
                (click)="confirmarEncerramento()">
            Confirmar
        </button>
        <button disabled class="btn btn-custom btn-block" *ngIf="!falhaSimulacao && encerrando;">
            Encerrando...
            <i class="fa fa-spinner fa-spin"></i>
        </button>
        <button disabled class="btn btn-custom btn-block" *ngIf="!falhaSimulacao && process;">
            {{'geral.processando' | translate}}... <span *ngIf="apostaAoVivo">({{delay}}) </span>
            <i class="fa fa-spinner fa-spin"></i>
        </button>
    </div>
</div>
