.modal-header,
.modal-body,
.modal-footer {
   font-family: 'Open Sans', sans-serif;
}
.modal-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}
#encerrar-aposta {
    font-size: 11px;
}
.modal-body {
    max-height: 450px;
    overflow: auto;
}
.modal-header {
    border: none;
    background: var(--header);
    color: var(--foreground-header);
}

.modal-header i{
    color: var(--foreground-header) !important;
}

.secondary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 40px;
    text-decoration: none;
    border: 1px solid var(--highlight);
    font-size: 12px;
    border-radius: 5px;
    color: var(--foreground-header);
    white-space: nowrap;
}

.secondary-btn:hover {
    background-color: var(--highlight);
    color: var(--header);
    transition: 300ms;
}

#cupom{
    padding: 0 1em;
    background: #363636;
    font-size: 12px;
    border-radius: 10px;
    padding: 7px 1em 7px 1em;
    border-bottom: 2px dotted var(--bottom-bar);
}
.cupom-header {
    background-color: var(--header);
    color: var(--foreground-header);
    font-size: 12px;
    padding: 10px;
}
.cupom-ativo{
    background: var(--background);
    margin-bottom: 0;
    color: var(--foreground-game);
}
tr.cupom {
    border-bottom: 2px dotted var(--bottom-bar);
}
.border-left {
    border-radius: 10px 0 0 10px;
}
.border-right {
    border-radius: 0 10px 10px 0;
}
img{
    max-height: 90px;
    max-width: 150px;
}
.ganhou{
    color: #0C9F19;
    text-transform: uppercase;
}
.perdeu{
    color: #E9283B;
    text-transform: uppercase;
}
.cancelado {
    margin-right: 20px;
    text-decoration: line-through
}
.jogo-resultado{
    font-size: 12px;
    font-weight: bold;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed black;
}
.numero{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px;
}
.cupom-header p {
    font-size: 12px;
    width: 100%;
    margin-bottom: 4px;
    font-weight: 600;
}
.cupom-header span {
    font-weight: normal;
}
.item .campeonato{
    margin: 1px;
    font-size: 14px;
}
.footer-container {
    display: none;
}
.item .horario{
    margin: 1px;
    font-size: 10px;
    text-transform: uppercase;
}
.item .jogo{
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}
.item .nome{
    margin: 1px;
}
.item .cotacao{
    margin: 1px;
    font-size: 12px;
    font-weight: bolder;
}
.item p {
    margin-left: 20px;
    margin-right: 20px;
}
.cupom-header span {
    margin-left: 3px;
}
.codigo-aposta, .aposta-horario {
    display: none;
}
.valores span {
    font-weight: normal;
}
.rodape{
    margin: 5px 1px 1px 1px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;

}
.encerrado {
    text-decoration-line: line-through;
}
.dados-simulacao {
    text-align: center;
    color: #E9283B;
}
.btn-outline-custom:hover {
    text-align: center;
    color: var(--foreground-highlight);
    background-color: var(--highlight);
    border-color: var(--foreground-highlight);
}
#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.btn-outline-custom {
    border-color: var(--highlight);
    color: var(--highlight);
}
.info-horario {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}
.info-cupom {
    font-size: 12px;
    color: var(--foreground-game);
}
.sec {
    margin-right: 5px;
    margin-bottom: 0px;
}

.info-priority-cupom {
    color: var(--highlight);
    font-size: 14px;
    font-weight: 650;
}
.table {
    color: var(--foreground-game);
    margin-top: 10px;
    margin-bottom: -11px;
    border-collapse: collapse;
    width: 100%;
 }
 .table thead th {
    background-color: var(--game);
    color: var(--foreground-game);
    border-top: 0;
    border-bottom: 3px solid var(--background);
    padding: 8px;
 }
.table tbody td {
    background: var(--game);
    border-top: 0;
    border-bottom: 1px solid var(--background);
}
.table thead {
    background-color: var(--game);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.modal-footer {
    justify-content: center;
    background: var(--background);
    border-top: none;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    justify-content: center;
}
.modal-footer button {
    width: 100%;
}
 .cupom-container {
    display: flex;
    align-items: flex-start;
    margin: 3px;
    margin-bottom: 0px;
}
.cupom-container{
    display: none;
}
.footer-container > div.cupom {
    border-bottom: 2px dotted var(--bottom-bar);
}
 @media only screen and (max-width: 532px) {
    #buttons-container {
        display: flex;
        flex-direction: column;
    }
    .cupom-header {
        max-height: none;
        column-count: 1;
    }
    .modal-body {
        max-height: 65dvh;
        height: 65dvh;
    }
    .total-jogos, .aposta, .ganho, .cambista-paga, .resultado {
        display: flex;
        justify-content: space-between;
    }
    .codigo-aposta, .aposta-horario {
        display: flex;
    }
    .modal-title {
        display: none;
    }
    .action-buttons button, .action-buttons a {
        padding: 12px;
    }
    .informacoes .codigo-aposta span {
        margin-left: 2px;
    }
    .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
 }
 @media only screen and (max-width: 1024px) {
    .jogo-resultado {
        margin: 0 !important;
        padding: 0 !important;
    }
    .odd-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    
    .item .cotacao {
        display: flex;
        justify-content: space-between;    
    }
    .sec {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    #buttons-container {
        display: flex;
        flex-direction: column;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .modal-body {
        min-height: 55dvh;
        height: 60dvh;
    }
    .table-container,
    .modal-header .info-horario {
        display: none;
    }
    .footer-container {
        background-color: var(--game);
        display: block;
        margin: 3px;
        margin-top: 0px;
        font-size: 12px;
    }
    #cupom {
        background-color: var(--game);
    }
    .cupom-container{
        margin-top: 0px;
        display: block;
    }
    .horario {
        font-size: 12px !important;
    }
    .campeonato .info-cupom {
        font-size: 12px;
    }
    .footer-container > .cupom > .item > p {
        margin: 0;
    }
 }

