#cupom{
    /* width: 19.27em; */
    padding: 0 1em;
    background: var(--background);
    color: var(--foreground);
    /* margin: 2em auto; */
    font-size: 12px;
}

.cupom-header {
    padding: 0 2em;
    background: var(--background);
    /* margin: 2em auto; */
    font-size: 12px;
}

.cupom-ativo{
    background: var(--background);
}

img{
    max-height: 90px;
    max-width: 150px;
}

.ganhou{
    color:green
}

.perdeu{
    color:red
}

.cancelado{
    text-decoration: line-through
}

.jogo-resultado{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed black;
}

.numero{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px;
}

.informacoes p{
    margin: 1px;
    font-size: 12px;
}

.item .campeonato{
    text-align: center;
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}

.item .horario{
    margin: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

.item .jogo{
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}

.item .nome{
    margin: 1px;
}

.item .cotacao{
    margin: 1px;
    font-size: 12px;
}

.valores .total-jogos, .valores .aposta, .valores .ganho, .valores .cambista-paga{
    text-align: left;
    margin: 3px 1px 1px 1px;
    font-weight: bold;
    font-size: 12px;
}

.rodape{
    margin: 5px 1px 1px 1px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.encerrado {
    text-decoration-line: line-through;
}

.dados-simulacao {
    color: red;
}
