<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'geral.consultarBilhete' | translate}}</h4>
    <a aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body" [ngClass]="{'cupom-ativo': exibirBilhete}">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" style="text-transform:uppercase;" placeholder="{{'geral.codigoAposta' | translate}}"
                class="form-control inverted-out" formControlName="codigo"
                autocomplete="off" [ngClass]="applyCssInputError('codigo')">
            <app-error-msg [control]="form.get('codigo')"></app-error-msg>
            <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
        </div>
    </form>

    <app-exibir-bilhete-esportivo [aposta]="aposta" *ngIf="exibirBilhete && aposta.tipo == 'esportes'">
    </app-exibir-bilhete-esportivo>
    <app-exibir-bilhete-loteria [aposta]="aposta" *ngIf="exibirBilhete && aposta.tipo == 'loteria'">
    </app-exibir-bilhete-loteria>
    <app-bilhete-acumuladao [aposta]="aposta" *ngIf="exibirBilhete && aposta.tipo == 'acumuladao'">
    </app-bilhete-acumuladao>
    <app-exibir-bilhete-desafio [aposta]="aposta" *ngIf="exibirBilhete && aposta.tipo == 'desafio'">
    </app-exibir-bilhete-desafio>

    <div class="buttons" *ngIf="exibirBilhete">
        <button type="button" class="btn btn-custom2" *ngIf="compartilhamentoPermitido()" (click)="shareTicket()">{{'geral.compartilhar' | translate}}</button>
        <button type="button" class="btn btn-custom" *ngIf="impressaoPermitida()" (click)="printTicket()">{{'geral.imprimir' | translate}}</button>
    </div>
</div>

