<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalhes do Cartão</h4>
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <div class="cartao-aposta">
        <div class="box-chave">
            <label for="">Chave cartão</label>
            <span>{{'cartoes.cartao' | translate}} {{cartao.chave}}</span>
        </div>
        <div>
            <div>
                <div class="mb-4">
                    <b>Apostador: </b>
                    <span>{{cartao.apostador}}</span>
                </div>
                <div class="mb-4">
                    <b>Recargas: </b>
                    <span>{{cartao.total_creditos | currency}}</span>
                </div>
                <div class="mb-4">
                    <b>Prêmios: </b>
                    <span>{{cartao.premios | currency}}</span>
                </div>
                <div class="mb-4">
                    <b>Criação: </b>
                    <span>{{cartao.data_registro | moment: 'DD/MM/YYYYY HH:mm'}}</span>
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <b>Cambista: </b>
                    <span>{{cartao.passador?.nome}}</span>
                </div>
                <div class="mb-4">
                    <b>Saques: </b>
                    <span>{{cartao.total_saques | currency}}</span>
                </div>
                <div class="mb-4">
                    <b>Saldo atual: </b>
                    <span>{{cartao.saldo | currency}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="" *ngIf="cartao.apostas.length">
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Código</th>
                    <th>Mod.</th>
                    <th>Horário</th>
                    <th>Valor</th>
                    <th>Possível Retorno</th>
                    <th>Resultado</th>
                </thead>
                <tbody>
                    <tr *ngFor="let aposta of cartao.apostas" (click)="abrirBilhete(aposta.id)">
                        <td class="codigo">{{aposta.codigo}}</td>
                        <td>{{aposta.tipo}}</td>
                        <td>{{aposta.horario | moment:'DD/MM/YYYY HH:mm'}}</td>
                        <td>{{aposta.valor| currency}}</td>
                        <td>
                            <ng-container *ngIf="aposta.resultado; else possibilidadeGanho">
                                {{aposta.premio| currency}}
                            </ng-container>
                            <ng-template #possibilidadeGanho>
                                {{aposta.possibilidade_ganho| currency}}
                            </ng-template>
                        </td>
                        <td>{{aposta.resultado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="btn btn-custom2" (click)="activeModal.close('Close click')">
            Fechar
        </button>
        <button type="button" class="btn btn-custom" (click)="print()">
            Imprimir
        </button>
    </div>
</div>
