#cupom {
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
}

#cupom .ganhou{
    color:green
}

#cupom .perdeu{
    color:red
}

#cupom .cancelado{
    text-decoration: line-through
}

#cupom .jogo-resultado{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.acumuladao-nome{
    font-weight: bolder;
    border-radius: 5px;
}

.numero{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px;
}

.informacoes p{
    margin: 1px;
    font-size: 12px;
}

.item {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--game);
    border-bottom: 2px dotted var(--bottom-bar);
}

.item .horario{
    margin: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

.item .jogo{
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}

.nome{
    margin: 1px;
}

.item .palpite{
    margin: 1px;
    font-size: 12px;
}

.acumuladao {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: var(--game);
    border-bottom: 2px dotted var(--bottom-bar);
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acumuladao > div{
    text-align: left;
    margin: 3px 1px 1px 1px;
    font-size: 12px;
}

.rodape{
    margin: 10px 1px 1px 1px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}
