<div id="cupom" #cupom>
    <div class="conteudo">
        <ng-container *ngFor="let item of aposta.itens; let i=index;">
            <div class="item">
                <div *ngIf="i == 0" class="nome">
                    <b>{{aposta.acumuladao.nome}}</b>
                </div>
                <p style="font-weight: bold;">
                    PARTIDA {{i+1}}
                </p>
                <p class="horario">
                    {{item.jogo.horario | moment: 'DD/MM/YYYY HH:mm'}}
                </p>
                <p class="nome" [ngClass]="resultadoClass(item)">
                    {{item.jogo.time_a_nome}}
                    {{item.jogo.time_a_resultado}} x {{item.jogo.time_b_resultado}}
                    {{item.jogo.time_b_nome}}
                </p>
                <p class="palpite" [ngClass]="resultadoClass(item)">
                    Palpite: {{item.time_a_resultado}} x {{item.time_b_resultado}}
                </p>
                <p class="jogo-resultado">
                    {{item.resultado}}
                </p>
            </div>
        </ng-container>
        <div class="acumuladao">
            <ng-container *ngIf="aposta.resultado; else resultadoPendente">
                <div>
                    <p>Total Acertos:</p> {{aposta.quantidade_acertos}}
                </div>
                <div>
                    <p> Prêmio Recebido:</p> {{aposta.premio | currency}}
                </div>
            </ng-container>
            <ng-template #resultadoPendente>
                <div class="premio" *ngFor="let premio of aposta.acumuladao.premios">
                    <p>Possível Prêmio {{premio.quantidade_acertos}} acerto(s):</p>
                    {{premio.valor | currency}}
                </div>
            </ng-template>
        </div>
        <p class="rodape">
            Caso o ACUMULADÃO tenha mais de um ganhador, o prêmio será dividido em partes iguais entre todos os
            vencedores.
        </p>
    </div>
</div>