#default-content {
    padding: 25px 38px;
}

.btn-line{
    margin-top: 24px;
}

.tr-2 td{
    border-top: none!important;
    padding-top: 0;
}

.btn-cancelar {
    background-color: transparent;
    border: 0;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
