<div id="default-content">
    <div class="content-header">
        <h2>Depósitos e Saques</h2>
        <div class="filters">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">
                        <div class="form-row">
                            <div class="col-6 col-md-2">
                                <label>Período</label>
                                <select class="form-control" formControlName="periodo">
                                    <option value="semana_atual">{{'dias.semanaAtual' | translate}}</option>
                                    <option value="semana_anterior">Semana Anterior</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <label>{{'geral.tipo' | translate}}</label>
                                <select class="form-control" formControlName="tipo">
                                    <option value="">Todos</option>
                                    <option value="depositos">Depósitos</option>
                                    <option value="saques">Saques</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-1">
                                <button class="btn btn-custom btn-line" type="submit">{{'geral.filtrar' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12 col-md-12 mt-3">
                    <a class="btn btn-outline-info mr-2" [routerLink]="['/clientes/deposito']">
                        <i class="fa fa-dollar"></i>
                        Solicitar Depósito
                    </a>
                    <a class="btn btn-outline-info" [routerLink]="['/clientes/saque']">
                        <i class="fa fa-dollar"></i>
                        Solicitar Saque
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content content-movimentacoes">
            <app-spinner *ngIf="showLoading"></app-spinner>

            <div *ngIf="!showLoading" class="margin-top-15">
                <div *ngIf="!depositosESaques.length" class="alert alert-warning text-center" role="alert">
                    Nenhuma solicitação realizada no período.
                </div>
                <div *ngIf="depositosESaques.length > 0">
                    <div>
                        <p><b>Qtd. Solicitações no Período de {{dataInicial}} - {{dataFinal}}:</b> {{totalSolicitacoes}}
                        </p>
                    </div>
                    <ng-container>
                        <table class="table" style="text-align: left">
                            <thead>
                            <tr>
                                <th>{{'geral.detalhes' | translate}}</th>
                                <th>Status</th>
                                <th>{{'geral.valor' | translate}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let depositoSaque of depositosESaques">
                                <tr>
                                    <td>
                                        <i style="color:green; margin-right: 5px;" class="fa fa-sort-down"
                                           *ngIf="depositoSaque.tipo === 'deposito'; else tipoSaque"></i>
                                        <span *ngIf="depositoSaque.tipo === 'deposito'">Depósito</span>
                                        <ng-template #tipoSaque>
                                            <i style="color:red; margin-right: 5px;" class="fa fa-sort-up"></i>
                                            <span>Saque</span>
                                        </ng-template>
                                    </td>
                                    <td>{{depositoSaque.status | depositoStatusPixPipe}}</td>
                                    <td>{{depositoSaque.valor | currency}}</td>
                                    <td rowspan="2">
                                        <button class="btn-cancelar"
                                                *ngIf="exibirCancelarSolicitacaoSaque(depositoSaque)" (click)="cancelarSolicitacaoSaque(depositoSaque.id)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="tr-2">
                                    <td colspan="3">
                                        Registrado em {{depositoSaque.data}} <span
                                        *ngIf="depositoSaque.data_pagamento"> - Pago em {{depositoSaque.data_pagamento}}</span>
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
