<div id="personal-data-email">
    <div class="grid">
        <div class="field" [ngClass]="{ 'editing': isEditingEmail }">
            <div class="input">
                <label>{{ 'geral.email' | translate }}</label>
                <input #emailInput [(ngModel)]="email" [readOnly]="!isEditingEmail" />
            </div>
            <a class="btn-change-email" (click)="handleActiveEditingEmail()">{{ isEditingEmail ? ('geral.cancelar' | translate) : ('geral.change_email' | translate) }}</a>
        </div>
    </div>
    <div class="actions">
        <button
            type="button"
            class="btn btn-custom"
            *ngIf="verificationRequired"
            (click)="handleVerification()"
        >
            {{ 'face_match.checkNow' | translate }}
        </button>
        <button
            *ngIf="isEditingEmail"
            type="button"
            class="btn btn-custom2"
            (click)="handleUpdateEmail()"
        >
            {{ 'botoes.save_change' | translate}}
        </button>
    </div>
</div>
