<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'cartoes.consultarCartao' | translate}}</h4>
    <a class="" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input style="text-transform:uppercase;" type="text" autocomplete="off" mask="AAA-AAA-AAA"
                [dropSpecialCharacters]="false" class="form-control inverted-out" formControlName="chave"
                placeholder="Chave do cartão" [ngClass]="applyCssInputError('chave')">
            <app-error-msg [control]="form.get('chave')"></app-error-msg>
        </div>
        <div class="form-group">
            <input type="password" autocomplete="off" class="form-control inverted-out " formControlName="pin" placeholder="PIN"
                [ngClass]="applyCssInputError('pin')">
            <app-error-msg [control]="form.get('pin')"></app-error-msg>
        </div>
        <button type="submit" class="btn btn-custom btn-block">{{'geral.pesquisar' | translate}}</button>
    </form>

    <div class="resultado-pesquisa" *ngIf="cartao">
        <label class="label-resultado">Resultado da pesquisa</label>
        <div class="cartao">
            <div class="data">{{ cartao.data_registro }}</div>
            <div class="apostador">{{'geral.apostador' | translate}} : {{ cartao.apostador }}</div>
            <div class="chave">Chave: {{ cartao.chave }}</div>

            <div class="valores">
                <div class="item">
                    <label>{{'geral.recarga' | translate}}</label>
                    <span>{{ cartao.total_creditos | currency }}</span>
                </div>
                <div class="item">
                    <label>{{'geral.bonus' | translate}}</label>
                    <span>{{ cartao.premios | currency }}</span>
                </div>
                <div class="item">
                    <label>{{'geral.saques' | translate}} </label>
                    <span>{{ cartao.total_saques | currency }}</span>
                </div>
                <div class="item">
                    <label>{{'geral.saldo' | translate}}</label>
                    <span>{{ cartao.saldo | currency }}</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cartao">
        <div class="apostas-header" (click)="changeCollapseApostas()">
            <i class="fa fa-solid {{apostasCollapsed ? 'fa-angle-down' : 'fa-angle-up'}}"></i> Histórico de Apostas
        </div>
        <div *ngIf="!apostasCollapsed" class="apostas">
            <div class="aposta" *ngFor="let aposta of cartao.apostas">
                {{aposta.codigo}} <br>
                {{'geral.horario' | translate}}: {{aposta.horario | moment: 'DD/MM/YYYY H:m'}} <br>
                {{'geral.modalidade'| translate}}: {{aposta.tipo | titlecase}} <br>
                {{'geral.valor'| translate}}: {{aposta.valor | currency}} <br>
                {{'geral.possivelRetorno'| translate}}: {{aposta.possibilidade_ganho | currency}} <br>
                {{'geral.resultado'| translate}}: {{aposta.resultado ? aposta.resultado : 'pendente' | titlecase}}
            </div>
        </div>
    </div>
</div>
