<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-he">
                <h3 class="modal-title">{{'geral.session_alert' | translate}}</h3>
                <a class="close-modal" aria-label="Close" (click)="close()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="modal-body-custom">
                <p>{{'geral.session_alert_message' | translate}}</p>
            </div>
            <div class="modal-footer-he">
                <button type="button" class="btn btn-custom btn-block btn-terminate" (click)="terminateSession()">{{'botoes.logout_continue_login' | translate}}</button>
                <button type="button" class="btn btn-secondary btn-cancel" (click)="close()">{{'botoes.remain_active_session' | translate}}</button>
            </div>
        </div>
    </div>
</div>
