<div class="list-modalidades">
    <ul>
        <li class="bg-esportes">
            <a routerLink="/esportes">Esporte</a>
        </li>
        <li class="bg-esportes-aovivo">
            <a routerLink="/esportes/live">
                Esporte
                <span>Ao Vivo</span>
            </a>
        </li>
        <li class="bg-cassino">
            <a routerLink="/cassino/c/wall/todos">
                Cassino
            </a>
        </li>
        <li class="bg-cassino-aovivo">
            <a routerLink="/cassino/cl/wall-live/todos">
                Cassino
                <span>Ao Vivo</span>
            </a>
        </li>
        <li class="bg-esportes-sports">
            <a routerLink="/esportes/esports">
                E-Sports
            </a>
        </li>
    </ul>
</div>
