<section id="validar-aposta-section">
    <h2>Validar Aposta</h2>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <form (ngSubmit)="consultarAposta()" #consultaForm="ngForm" class="consulta-form">
                <div class="form-group">
                    <input type="text" [(ngModel)]="codigo" name="codigo" class="form-control" placeholder="Código" required>
                </div>
                <button type="submit" [disabled]="!consultaForm.valid" class="btn btn-primary">Consultar</button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="exibirPreAposta">
        <div class="col-xs-12 col-md-4">
            <div class="pre-aposta">
                <h4>#{{preAposta.id}}</h4>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div *ngFor="let item of itens.value; let i=index" class="pre-aposta-item">
                        <p>
                            {{item.jogo.campeonato.nome}}
                        </p>
                        <p>
                            {{item.jogo.nome}}
                        </p>
                        <p>
                            {{item.jogo.horario | moment:'DD/MM/YYYY HH:mm'}}
                        </p>
                        <p>
                            <b>{{item.aposta_tipo.nome}}:</b> {{item.cotacao | number: '1.0-2'}}
                        </p>
                        <p>
                            <button type="button" (click)="removerItem(i)" class="btn btn-danger">
                                <i class="fa fa-close"></i>
                            </button>
                        </p>
                    </div>
                    <div>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label for="">Apostador</label>
                            <input type="text" class="form-control" formControlName="apostador" [ngClass]="applyCssInputError('apostador')">
                            <app-error-msg [control]="form.get('apostador')" label="Apostador"></app-error-msg>
                        </div>
                        <p>
                            Horário: {{preAposta.horario | moment: 'DD/MM/YYYY HH:mm'}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Total de jogos: {{itens.length}}
                        </p>
                        <div class="form-group col-xs-12 col-lg-4">
                            <label for="">Valor da Aposta</label>
                            <input type="text" class="form-control" formControlName="valor" [ngClass]="applyCssInputError('valor')">
                            <app-error-msg [control]="form.get('valor')" label="Valor"></app-error-msg>
                        </div>
                        <p>
                            Estimativa de ganho: {{form.value.premio | currency: 'BRL':'symbol':'1.2'}}
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Validar</button>
                </form>
            </div>
        </div>
    </div>
</section>
