.modal-500 .modal-dialog {
    width: 400px !important;
}

.modal-cadastro-cliente .modal-dialog {
    width: 400px !important;
}

.modal-content {
    width: 400px !important;
}

.background-modal {
    background-color: var(--background);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--background);
}

.my-custom-svg {
    fill: var(--foreground);
}

.container-header {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header-register {
    color: var(--foreground);
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.header-register-item {
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close-register i {
    font-size: 22px;
    color: var(--highlight);
}

.btn-close-register {
    box-sizing: content-box;
    background-color: var(--background);
    border: 0;
    border-radius: 4px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.modal-body-custom {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.modal-footer-he {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

.modal-dialog {
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.modal-header {
    border-bottom-color: var(--foreground);
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-close {
    margin-right: 10px;
    background: none;
}

.close-modal-ativacao{
    border-radius: 100%;
    display: flex;
    cursor: pointer;
}

.close-modal-ativacao i{
    margin: 10px;
    color: var(--highlight);
    font-size: 22px;
}

.close-register-cancel-header {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}


.modal-body {
    padding: 16px 60px;
}

.logo {
    max-width: 175px;
    max-height: 140px;
}

button {
    margin: 0 auto;
    width: 100%;
}

.space-buttons {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.text-line {
    height: 1px;
    margin: 30px 0;
    background-color: var(--foreground);
    text-align: center;
}

.text-line span {
    background-color: var(--background);
    position: relative;
    top: -0.65em;
    padding: 0 10px;
}

.text-muted {
    color: var(--foreground) !important;
    opacity: 65%;
}

.content-modal-ativacao{
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

.content-modal-ativacao img{
    width: 100px;
    height: auto;
    align-self: center;
    margin: 20px
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--background);
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.modal-title {
    color: #ffff;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.modal-body-custom {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.modal-footer-he {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
}

.btn-cancel {
    background-color: transparent;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    margin-top: 20px;
    width: 100%;
}

.register-cancel-modal {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.text-body-register-cancel {
    padding: 0px !important;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.text-register-cancel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-title-register {
    color: #fff;
    font-family: Open Sans, "sans-serif";
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.p-cancel-register {
    text-align: center;
    color: #ffffff80;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.div-button-personalized {
    display: flex;
    height: 44px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(var(--foreground-inputs-odds-rgb), .3);
    color: var(--foreground-inputs-odds);
    background: var(--inputs-odds);
    max-height: 44px;
    gap: 4px;
}

.label-personalized {
    max-height: 10px;
    padding-left: 14px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.style-phone-country-code {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-phone{
    width: 72%;
}

.modal-footer-onboarding{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 3%;
    width: 100%;
    justify-content: space-between;
}

.content-body section .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    cursor: pointer;
}

.span-afiliado{
    color:rgba(var(--foreground-inputs-odds-rgb), 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.contents-afiliado{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 8px;
}

.contents-afiliado i{
    color:rgba(var(--foreground-inputs-odds-rgb), 0.3);
}

.section-header {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content-body section .section-header h3 {
    margin: 0;
    font-size: 12px;
}

.div-country{
    width: 100%;
}

.div-option-register-or-login{
    display: flex;
    flex-direction: column;
}

.select-nationality {
    padding-right: 14px;
}
.country-personalized{
    width: 27%;
}

.style-select {
    border: none;
    appearance: menulist;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    outline: none;
    max-height: 26px;
    color: rgba(var(--foreground-inputs-odds-rgb), .3);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none !important;
    background-color: transparent;
}

.select-country-code{
    width: 30%;
}

.text-input {
    color: rgba(var(--foreground-inputs-odds-rgb), .3);
    padding-left: 6px;
}

.tooltip {
    z-index: 9999999999;
}

.div-button-personalized {
    display: flex;
    height: 42px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(var(--foreground-inputs-odds-rgb), .3);
    color: var(--foreground-inputs-odds);
    background: var(--inputs-odds);
    max-height: 44px;
    gap: 4px;
}

.label-country-code{
    color: rgba(var(--foreground-inputs-odds-rgb), 0.3);
}

.text-input {
    color: rgba(var(--foreground-inputs-odds-rgb), .3);
    padding-left: 5px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.modal-dialog {
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.modal-header {
    border-bottom-color: var(--foreground);
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-close {
    margin-right: 10px;
    background: none;
}

.btn-footer{
    color: var(--highlight);
}

.close-modal-activation {
    border-radius: 100%;
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    cursor: pointer;
    padding-top: 3px;
    padding-right: 5px;
}

.close-modal-activation i {
    margin: 10px;
    color: var(--highlight);
    font-size: 22px;
}

.modal-body {
    padding: 16px 60px;
}

.logo {
    max-width: 175px;
    max-height: 140px;
}

button {
    margin: 0 auto;
    width: 100%;
}

.space-buttons {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.text-line {
    height: 1px;
    margin: 30px 0;
    background-color: var(--foreground);
    text-align: center;
}

.text-line span {
    background-color: var(--background);
    position: relative;
    top: -0.65em;
    padding: 0 10px;
}

.showPassword {
    position: absolute;
    top: calc(50% - 16px);
    right: 0;
    color: rgba(var(--foreground-inputs-odds-rgb),0.3);
    cursor: pointer;
    padding: 10px;
}

a.link-termos-politica {
    cursor: pointer;
    text-decoration: underline;
    color: var(--highlight);
}

.text-muted {
    color: var(--foreground) !important;
    opacity: 65%;
}

.content-modal-ativacao {
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

.content-modal-ativacao img {
    width: 100px;
    height: auto;
    align-self: center;
    margin: 20px
}

.login {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.login a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--highlight);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--background);
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.modal-title {
    color: #ffff;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.bars {
    display: flex;
    align-items: center;
    gap: 3px;
    align-self: stretch;
}

.strong-bar-one,
.strong-bar-two,
.strong-bar-three {
    border: 1px solid gray;
    width: 33%;
    background-color: gray;
    border-radius: 29;
}

#container-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    padding: 8px;
    padding-bottom: 4px;
    list-style-type: none;
}

.requirements-password {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 0px 0px !important;
}

.requirements-password li span {
    font-size: 12px;
    padding: 5px;
}


.fulfilled {
    color: green;
    border-radius: 5px;
}

.weak .strong-bar-two,
.weak .strong-bar-three {
    border: 1px solid gray;
    background-color: gray;
    color: gray;
}

#weak {
    color: red;
}

#medium {
    color: yellow;
}

#strong {
    color: green;
}

.weak .strong-bar-one {
    border: 1px solid red;
    background-color: red;
    color: red;
}

.medium .strong-bar-three {
    border: 1px solid gray;
    background-color: gray;
    color: gray;
}

.medium .strong-bar-one,
.medium .strong-bar-two {
    border: 1px solid yellow;
    background-color: yellow;
    color: yellow;
}

.strong .strong-bar-one,
.strong .strong-bar-two,
.strong .strong-bar-three {
    border: 2px solid green;
    background-color: green;
    color: green;
}

.unfulfilled {
    opacity: 0.6;
}

.grecaptcha-badge {
    visibility: hidden;
}

.label-termo-uso {
    display: flex;
    align-items: center;
}

.captcha {
    padding-top: 8px;
}

.container-cpf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -17px;
}

.border-input-cpf{
    border: none;
}

.label-cpf{
    padding-left: 15px;
}

.input-cpf{
    width: 78%;
}

.input-change-cpf{
    background-color: black;
    color: #fff;
    font-size: 8px;
}

.button-change-cpf{
    width: 22%;
    display: flex;
    align-items: center;
}

.tooltip {
    --bs-tooltip-max-width: 346px !important;
    max-width: 346px !important;
    width: 346px !important;
}

::ng-deep .tooltip-password {
    --bs-tooltip-max-width: 346px !important;
}

.footer-register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 18px;
}

.container-footer{
    background-color: var(--background);
}


.contents-register{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: space-between !important;
}

.container-full{
    display: flex;
}

.banner{
    outline: none;
}

.banner-desktop{
    height: 100%;
}

.carousel-inner{
    max-height: 145px !important;
}

.body-form{
    margin-top: 10%;
}

img{
    width: 100%;
    max-height: 145px;
}

.field {
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-foreground);
    background: var(--input);
    color: var(--input-foreground);
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    opacity: 0.4;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.field.is-invalid {
    border-color: #dc3545;
}

.input-focused {
    border-color: var(--highlight);
}

.field.editing {
    opacity: 1;
}

.field .input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.field .input input {
    border: 0;
    padding: 0;
    margin:0;
    background: transparent;
    color: var(--input-foreground);
    width: 100%;
    height: 22px !important;
}

.field .input input:focus {
    outline: none;
    border: 1px;
    border-color: rgb(0, 255, 21);
    background-color: transparent;
}

.field label {
    margin: 0 !important;
    padding: 0 !important;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn-change-cpf {
    cursor: pointer;
    color: var(--foreground);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 5px 6px;
    border-radius: 2px;
    background: var(--background);
}

.row-cpf {
    margin-bottom: 16px;
}

.btn-cadastrar{
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

@media screen and (max-width: 320px) {
    .country-personalized{
        width: 33%;
    }

    .input-phone{
        width: 65%;
    }

    .requirements-password li span {
        font-size: 10px;
        padding: 4px;
    }

    .radio-custom {
        font-size: 10px;
        margin-right: 4px;
    }

    .input-md label {
        padding: 0px;
    }

    .label-gender {
        font-size: 11px;
    }
}

@media only screen and (min-width: 500px) {
    .container {
        min-height: 572px;
        padding: 0 24px;
    }

    .requirements-password li span {
        font-size: 12px;
        padding: 5px;
    }
}

@media screen and (min-width: 768px) {
    .contents-register{
        min-height: 0svh !important;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding: 40px 25px 15px;
        display: flex;
        flex-direction: column;
    }

    .modal-header {
        border-bottom-color: var(--foreground);
        padding: 20px 25px;
    }

    .modal-body .modal-body-content {
        flex: 1;
    }
}