<div class="modal-header">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss(false)">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <div class="actions" style="min-width: 143px;">
        <div id="face-match-container">
            <svg width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Group2">
                    <path id="Path" d="M29.0627 11.625H20.3438C15.5272 11.625 11.625 15.5272 11.625 20.3438V29.0627"
                        stroke="var(--highlight)" stroke-width="6.97507" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path id="Path_2" d="M11.625 63.938V72.6568C11.625 77.4735 15.5272 81.3757 20.3438 81.3757H29.0627"
                        stroke="var(--highlight)" stroke-width="6.97507" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path id="Path_3" d="M63.9385 81.3757H72.6573C77.474 81.3757 81.3762 77.4735 81.3762 72.6568V63.938"
                        stroke="var(--highlight)" stroke-width="6.97507" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path id="Path_4" d="M81.3762 29.0627V20.3438C81.3762 15.5272 77.474 11.625 72.6573 11.625H63.9385"
                        stroke="var(--highlight)" stroke-width="6.97507" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path id="Path_5" d="M23.25 34.6045H69.7505" stroke="var(--highlight)" stroke-width="6.97507"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Path_6"
                        d="M64.6116 65.8766L63.5111 63.1137C62.9531 61.7148 62.0889 60.4554 60.9845 59.4324V59.4324C59.1129 57.6964 56.6522 56.7354 54.1025 56.7354H38.8968C36.3432 56.7354 33.8864 57.7002 32.0147 59.4324V59.4324C30.9103 60.4554 30.0462 61.7148 29.4882 63.1137L28.3877 65.8766"
                        stroke="var(--highlight)" stroke-width="6.97507" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path id="Oval" fill-rule="evenodd" clip-rule="evenodd"
                        d="M46.5001 46.5002C52.9205 46.5002 58.1252 41.2955 58.1252 34.8751C58.1252 28.4547 52.9205 23.25 46.5001 23.25C40.0797 23.25 34.875 28.4547 34.875 34.8751C34.875 41.2955 40.0797 46.5002 46.5001 46.5002Z"
                        stroke="var(--highlight)" stroke-width="6.97507" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
            </svg>
            <p id="face-match-label">{{'face_match.face_match' | translate}}</p>
            <p class="face-match-description">{{'face_match.account_protected' | translate}}</p>
            <p class="face-match-description">{{'face_match.register_description' | translate}}</p>
        </div>
        <div style="width: 100%;" *ngIf="faceMatchType == 'legitimuz' && faceMatchEnabled">
            <div #legitimuz id="legitimuz-container">
                <div id="legitimuz">
                    <input id="legitimuz-hydrate-cpf" type="hidden" class="form-control inverted-out"
                        [value]="user.cpf" />
                    <button id="legitimuz-action-verify" class="btn btn-custom">
                        <i class="fa-solid fa-id-card"></i>
                        {{'botoes.continue' | translate}}
                    </button>
                </div>
                <div id="legitimuz-root"></div>
            </div>
        </div>
        <div style="width: 100%;" *ngIf="faceMatchType == 'docCheck' && faceMatchEnabled">
            <div #docCheck id="docCheck">
                <button id="exDocCheckAction" *ngIf="!disapprovedIdentity"
                    [attr.data-ex-doccheck-document]="dataUserCPF"
                    [attr.data-ex-doccheck-document-hmac-hash]="secretHash" class="btn btn-custom"
                    [attr.data-ex-doccheck-force-enrollment]="false">
                    <i class="fa-solid fa-id-card"></i>
                    {{'botoes.continue' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>