<div class="loading-listagem" *ngIf="showLoadingIndicator">
    <div class="ssc-square banner"></div>

    <div class="desafio-loading">
        <div class="titulo">
            <div class="ssc-square" style="height: 16px; width: 230px;"></div>
        </div>
        <div class="info">
            <div class="header">
                <div class="data">
                   <div class="ssc-square" style="height: 9px; width: 50px; margin-bottom: 5px;"></div>
                   <div class="ssc-square" style="height: 9px; width: 50px;"></div>
                </div>
                <div class="ssc-square" style="height: 12px; width: 300px;"></div>
            </div>
            <div class="opcoes">
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
            </div>
        </div>
    </div>
    <div class="desafio-loading">
        <div class="titulo">
            <div class="ssc-square" style="height: 16px; width: 230px;"></div>
        </div>
        <div class="info">
            <div class="header">
                <div class="data">
                   <div class="ssc-square" style="height: 9px; width: 50px; margin-bottom: 5px;"></div>
                   <div class="ssc-square" style="height: 9px; width: 50px;"></div>
                </div>
                <div class="ssc-square" style="height: 12px; width: 300px;"></div>
            </div>
            <div class="opcoes">
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
            </div>
        </div>
    </div>
    <div class="desafio-loading">
        <div class="titulo">
            <div class="ssc-square" style="height: 16px; width: 230px;"></div>
        </div>
        <div class="info">
            <div class="header">
                <div class="data">
                   <div class="ssc-square" style="height: 9px; width: 50px; margin-bottom: 5px;"></div>
                   <div class="ssc-square" style="height: 9px; width: 50px;"></div>
                </div>
                <div class="ssc-square" style="height: 12px; width: 300px;"></div>
            </div>
            <div class="opcoes">
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
                <div class="ssc-square" style="height: 44px; border-radius: 4px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="content-list">
    <app-banners pagina="desafio" [showLoadingIndicator]="showLoadingIndicator"></app-banners>
    <div class="wrap-sticky">
        <div class="sem-evento" *ngIf="categorias && !categorias.length">
            {{'geral.nenhumEventoDisponivel' | translate}}!
        </div>

        <div *ngIf="!showLoadingIndicator">
            <div class="categoria" *ngFor="let categoria of categorias; trackBy: trackById">
                <ng-container>
                    <div class="categoria-header">
                        <span class="categoria-nome">{{categoria.nome}}</span>
                    </div>
                    <div class="desafios">
                        <ng-container *ngFor="let desafio of categoria.desafios">
                            <div class="desafio" *ngIf="desafio.odds.length">
                                <div class="indentificacao">
                                    <div class="horario">
                                        {{desafio.data_hora_encerramento | moment: 'DD/MM'}}
                                        <br>
                                        {{desafio.data_hora_encerramento | moment: 'HH:mm'}}
                                    </div>
                                    <div class="nome">
                                        {{desafio.nome}}
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <a class="scroll-button disabled-scroll-button" id="scroll-left-{{desafio.id}}"
                                       *ngIf="enableScrollButtons[desafio.id]" (click)="moveLeft(desafio.id)">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                    <div #scrollOdds class="odds" id="{{desafio.id}}"
                                         [ngClass]="{'scroll-buttons-ativos': enableScrollButtons[desafio.id]}"
                                         (scroll)="onScroll(desafio.id)">
                                        <div class="odd" *ngFor="let odd of desafio.odds"
                                             (click)="addCotacao(desafio, odd)">
                                            <div
                                                class="inner-odd odd-enabled {{itensSelecionados[odd.id] ? 'selecionado' : ''}}">
                                            <span class="nome" [ngStyle]="{'padding-right': '10px'}">
                                                {{odd.nome}}
                                            </span>
                                                <span class="valor">
                                                {{odd.cotacao}}
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="scroll-button enabled-scroll-button" *ngIf="enableScrollButtons[desafio.id]" id="scroll-right-{{desafio.id}}"
                                       (click)="moveRight(desafio.id)">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="css-hack"></div>
    </div>
    <app-footer></app-footer>
</div>
