.categoria-header{
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: 4px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--league);
    color: var(--foreground-league);
}

.categoria-header > span{
    line-height: 29px;
}

.desafios{
    background-color: #fff;
    padding-bottom: 4px;
}

.desafio{
    padding: 0px 10px;
}

.indentificacao{
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.indentificacao .nome{
    flex-grow: 1;
    font-weight: bold;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .indentificacao .nome{
        display: block;
    }

    .odds .odd {
        width: 50%;
    }
}

@media only screen and (max-width: 668px) {
    .content-list {
        padding-bottom: 90px;
    }

    .odds .odd {
        width: 100%;
    }
}
