.content-list {
    padding: 5px;
}

.categoria-header {
    padding: 0 15px;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--game);
    color: var(--foreground-game);
    margin-bottom: 3px;
}

.categoria-header > span {
    line-height: 29px;
}

.desafios {
    padding-bottom: 4px;
}

.desafio {
    padding: 0 10px;
    background-color: var(--game);
    margin-top: 3px;
    color: var(--foreground-game);
}

.desafio:first-of-type {
    margin-top: 0;
}

.indentificacao {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.indentificacao .nome {
    justify-content: center;
    flex-grow: 1;
    font-size: 12px;
    padding-left: 20px;
}

.css-hack {
    display: none;
    padding: 0;
}

.odds {
    justify-content: start;
    padding: 7.5px 0;
    width: calc(100vw - 560px);
}

.odd {
    flex-grow: 1;
    max-width: 135px;
}

/* Large devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    /*.odds .odd {*/
    /*    width: 50%;*/
    /*}*/
}

@media only screen and (max-width: 1024px) {
    .css-hack {
        display: block;
        padding-bottom: 98px;
    }

    .wrap-sticky {
        padding-bottom: 98px;
    }

    .odds {
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .odds .odd {
        flex: 1;
        max-width: none;
        width: 100%;
        margin-left: 0;
    }

    .odds .odd .inner-odd {
        padding: 15px 20px;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 4px;
    }

    .desafio {
        padding: 0 10px 10px;
    }
}
