<div class="content-list">
    <div class="wrap-sticky">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

        <div class="categoria" *ngIf="categorias && !categorias.length">
            <div class="sem-evento">
                Nenhum evento encontrado!
            </div>
        </div>

        <div *ngIf="!showLoadingIndicator">
            <div class="categoria" *ngFor="let categoria of categorias; trackBy: trackById">
                <ng-container>
                    <div class="categoria-header">
                        <span class="categoria-nome">{{categoria.nome}}</span>
                    </div>
                    <div class="desafios">
                        <ng-container *ngFor="let desafio of categoria.desafios">
                            <div class="desafio" *ngIf="desafio.odds.length">
                                <div class="indentificacao">
                                    <div class="horario">
                                        {{desafio.data_hora_encerramento | moment: 'DD/MM/YYYY HH:mm'}}
                                    </div>
                                    <div class="nome">
                                        {{desafio.nome}}
                                    </div>
                                </div>
                                <div class="odds">
                                    <div class="odd" *ngFor="let odd of desafio.odds"
                                        (click)="addCotacao(desafio, odd)">
                                        <div class="inner-odd {{itensSelecionados[odd.id] ? 'selecionado' : ''}}">
                                            <span class="nome">
                                                {{odd.nome}}
                                            </span>
                                            <span class="valor">
                                                {{odd.cotacao}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="css-hack"></div>
    </div>
</div>
