<section class="content-sports inside-event">
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

    <div class="jogo" [hidden]="!jogo || showLoadingIndicator">
        <div class="indentificacao">
            <div class="div-back" (click)="back()">
                <i class="fa fa-times"></i>
            </div>
            <div class="text-center">
                <div class="nome">
                    <small>{{jogo?.campeonato?.nome}}</small>
                    <div>{{jogo?.nome}}</div>
                </div>
                <div class="horario">
                    <div>{{jogo?.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</div>
                </div>
            </div>
        </div>
        <div class="tipo-apostas">
            <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li ngbNavItem>
                    <a ngbNavLink>Tempo Completo</a>
                    <ng-template ngbNavContent>
                        <div class="tipo-aposta {{chave}}" *ngFor="let chave of objectKeys(odds)">
                            <h4>{{odds[chave].nome}}</h4>
                            <div class="odds">
                                <div class="odd" *ngFor="let odd of odds[chave].colunas" [style.width]="calcularTamanhoColuna(odds[chave].colunas.length )">
                                    <div *ngFor="let cotacao of odd" (click)="addCotacao(jogo, cotacao)">
                                        <div class="inner-odd" [ngClass]="{'selecionado': itemSelecionado(jogo, cotacao)}">
                                            <span class="nome" *ngIf="cotacao.nome; else chave">
                                            {{cotacao.chave | tipoAposta}}
                                        </span>
                                            <ng-template #chave>
                                                <span class="nome">
                                                {{cotacao.chave | tipoAposta}}
                                            </span>
                                            </ng-template>
                                            <span class="valor">
                                            {{cotacao.valor | calcularCotacao: cotacao.chave: jogo.event_id: jogo.favorito}}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Primeiro Tempo</a>
                    <ng-template ngbNavContent>
                        <div class="tipo-aposta {{chave}}" *ngFor="let chave of objectKeys(odds1T)">
                            <h4>{{odds1T[chave].nome}}</h4>
                            <div class="odds">
                                <div class="odd" *ngFor="let odd1T of odds1T[chave].colunas" [style.width]="calcularTamanhoColuna(odds1T[chave].colunas.length)">
                                    <div *ngFor="let cotacao of odd1T " (click)="addCotacao(jogo, cotacao)">
                                        <div class="inner-odd" [ngClass]="{'selecionado': itemSelecionado(jogo, cotacao)}">
                                            <span class="nome" *ngIf="cotacao.nome; else chave">
                                            {{cotacao.chave | tipoAposta}}
                                        </span>
                                            <ng-template #chave>
                                                <span class="nome">
                                                {{cotacao.chave | tipoAposta}}
                                            </span>
                                            </ng-template>
                                            <span class="valor">
                                            {{cotacao.valor | calcularCotacao: cotacao.chave: jogo.event_id: jogo.favorito}}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Segundo Tempo</a>
                    <ng-template ngbNavContent>
                        <div class="tipo-aposta {{chave}}" *ngFor="let chave of objectKeys(odds2T)">
                            <h4>{{odds2T[chave].nome}}</h4>
                            <div class="odds">
                                <div class="odd" *ngFor="let odd2T of odds2T[chave].colunas" [style.width]="calcularTamanhoColuna(odds2T[chave].colunas.length)">
                                    <div *ngFor="let cotacao of odd2T" (click)="addCotacao(jogo, cotacao)">
                                        <div class="inner-odd" [ngClass]="{'selecionado': itemSelecionado(jogo, cotacao)}">
                                            <span class="nome" *ngIf="cotacao.nome; else chave">
                                            {{cotacao.chave | tipoAposta}}
                                        </span>
                                            <ng-template #chave>
                                                <span class="nome">
                                                {{cotacao.chave | tipoAposta}}
                                            </span>
                                            </ng-template>
                                            <span class="valor">
                                            {{cotacao.valor | calcularCotacao: cotacao.chave: jogo.event_id: jogo.favorito}}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Jogadores</a>
                    <ng-template ngbNavContent>
                        <div class="div-vazio" *ngIf="!objectKeys(oddsJogadores).length">
                            Sem Cotações
                        </div>
                        <div class="tipo-aposta" *ngFor="let chave of objectKeys(oddsJogadores)">
                            <h4>{{oddsJogadores[chave].nome}}</h4>
                            <div class="odds">
                                <div class="odd" *ngFor="let cotacao of oddsJogadores[chave].cotacoes" (click)="addCotacao(jogo, cotacao)">
                                    <div class="inner-odd" [ngClass]="{'selecionado': itemSelecionado(jogo, cotacao)}">
                                        <span class="nome" *ngIf="cotacao.nome; else chave">
                                            {{cotacao.nome}}
                                        </span>
                                        <ng-template #chave>
                                            <span class="nome">
                                                {{cotacao.chave | tipoAposta}}
                                            </span>
                                        </ng-template>
                                        <span class="valor">
                                            {{cotacao.valor | calcularCotacao: cotacao.chave: jogo.event_id: jogo.favorito}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</section>