.jogo-container {
    height: calc(100vh - 132px);
    display: flex;
    flex-direction: column;

    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.jogo-container-interno {
    padding: 0 5px;
}

.top-bar {
    position: sticky;
    top: 0;
    width: calc(100%);
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 15px;

    background: var(--game);
    color: var(--foreground-game);
}

.top-bar-back {
    margin-right: 15px;
    padding: 10px 0;
    padding-right: 15px;
}

.top-bar-info {
    display: flex;
    flex-direction: column;
}

.top-bar-info .top-camp {
    font-size: 11px; /* ajuste fonte */
    opacity: .6;
}

.top-bar .fa{
    color: var(--foreground-game);
    font-size: 1.6rem;
    cursor: pointer;
}

.v-divider {
    background: var(--foreground-game);
    margin-right: 8px;
    width: 1px;
    height: 100%;
    opacity: 25%;
}

.content-sports {
    overflow: unset;
}

.indentificacao-jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    height: 77%;
    max-height: 300px;
    background-image: url("https://wb-assets.com/img/stadium-background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 5px 0;
    border-radius: 5px;
}

.indentificacao-jogo .info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.indentificacao-jogo .info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indentificacao-jogo .campeonato-nome {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px; /* ajuste fonte */
    font-weight: 400;
    max-width: 400px;
    color: #FFFFFF;
}

.indentificacao-jogo .nome {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.indentificacao-jogo .nome {
    margin-top: 5px;
}

.nome .time-a,
.nome .time-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: #FFFFFF;
}

.times-separador {
    font-size: 2.9rem;
    margin: 10px 20px;
}

.tipo-apostas-container {
    display: flex;
    justify-content: space-between;
}

.coluna-apostas-tipo {
    width: calc(50% - 2px);
}

.tipo-aposta {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.header-tipo-aposta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 30px;
    background-color: var(--game);
    color: var(--foreground-game);
    margin-bottom: 2px;
    cursor: pointer;
}

.header-tipo-aposta.collapsed i {
    transform: rotate(180deg);
}

.odds-tipo-aposta {
    background-color: var(--header);
}

.div-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight);
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #181818;
}

.indentificacao-jogo .div-back {
    position: absolute;
    right: 20px;
    top: 10px;
}

.indentificacao-jogo .horario-jogo {
    left: 20px;
    top: 12px;
    padding: 5px 10px;
    background-color: #181818;
    border-radius: 25px;
    color: var(--highlight);
}

.indentificacao-jogo .nome, h4 {
    font-size: 1.2rem;
}

.div-vazio {
    padding: 10px;
    text-align: center;
}

.odds-tipo-aposta .odds {
    height: auto;
    overflow: hidden;
    padding: 2px 13px;
}

.odds-tipo-aposta .odds {
    padding: 10px 0 0 10px;
}

.odd {
    max-width: 100%;
    margin: 0px;
}

.inner-odd {
    padding: 8px;
    margin: 0 10px 10px 0;
}

.odd:last-of-type {
    margin-bottom: 0;
}

.odds-coluna {
    padding: 0;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.odds-jogador-coluna {
    width: 100%;
}

.odd-jogador {
    width: 50% !important;
}

.width-25 {
    width: 25%;
}

.width-33 {
    width: 33.33%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.nav-tipos {
    height: 40px;
    background-color: var(--game);
    padding: 0 !important;
    border-radius: 2px;
}

.nav-tipos .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    color: var(--foreground-game);
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-tipos .nav-link.active, .nav-tipos .nav-link:hover {
    border-bottom: 3px solid var(--highlight);
}

.loading-template .header {
    display: flex;
    align-items: center;
    gap: 20px;
    background: var(--game);
    padding: 15px;
}

.loading-template .header .titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading-template .banner {
    height: 185px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.loading-template .tab-nav {
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--game);
    height: 40px;
    margin-bottom: 5px;
}

.loading-template .ld-odds .item-odd {
    margin-bottom: 5px;
}

.loading-template .ld-odds .item-odd .item-header {
    background: var(--game);
    padding: 15px;
    margin-bottom: 2px;
}

.loading-template .ld-odds .item-opcoes {
    display: flex;
    background: var(--game);
    padding: 10px;
    gap: 5px;
}

.loading-template .cols {
    display: flex;
    gap: 5px;
}

.loading-template .cols .ld-odds {
    width: 50%;
}

.ajusta-nome-campeonato{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1279px) {
    .coluna-apostas-tipo {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    /*.jogo-container {*/
    /*    padding: 0 5px 5px 5px;*/
    /*}*/

    /*.jogo-container-interno {*/
    /*    padding: 0;*/
    /*}*/

    .loading-template .cols .ld-odds {
        width: 100%;
    }

    .loading-template .banner {
        height: 260px;
    }

    .indentificacao-jogo .div-back {
        top: 5px;
    }

    .indentificacao-jogo .horario-jogo {
        top: 5px;
    }

    .indentificacao-jogo .campeonato-nome {
        width: 100%;
        position: initial;
        margin: 10px 0;
    }

    .nome .time-a,
    .nome .time-b {
        width: 40%;
    }

    .nome img {
        width: 100%;
        margin-bottom: 4px;
    }

    .times-separador {
        font-size: 2.5rem;
    }

    .odds .odd {
        width: 100%;
    }

    .large_screen {
        display: none;
    }

    .small_screen {
        display: block;
    }

    .iframe-responsive {
        max-width: 100%;
        padding-top: 64%;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
    }

    .iframe-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100%);
        height: 100%;
    }

    .indentificacao-jogo .nome, h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1025px) {
    .large_screen {
        display: block;
    }

    .small_screen {
        display: none;
    }

    .nome img {
        width: 6.5vh;
        margin-bottom: 8px;
    }
}
