.jogo-container {
    background-color: #181818;
    padding: 5px;
}

.inner-odd {
    margin-bottom: 2px;
}

.indentificacao-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 20vh;
    max-height: 300px;
    background-image: url("https://cdn.wee.bet/img/stadium-background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.indentificacao-jogo .info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indentificacao-jogo .info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indentificacao-jogo .campeonato-nome {
    position: absolute;
    top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    font-weight: 400;
    max-width: 400px;
}

.indentificacao-jogo .nome {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.indentificacao-jogo .nome {
    margin-top: 5px;
}

.nome .time-a,
.nome .time-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.times-separador {
    font-size: 60px;
    margin: 10px 20px;
}

.tipo-apostas {
    background-color: #181818;
}

.tipo-apostas-container {
    overflow: scroll;
    display: flex;
    justify-content: space-between;
}

.coluna-apostas-tipo {
    width: calc(50% - 2px);
}

.tipo-aposta {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.header-tipo-aposta {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 30px;
    background-color: var(--header);
    margin-bottom: 2px;
}

.odds-tipo-aposta {
    background-color: var(--header);
}

.div-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight);
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #181818;
}

.indentificacao-jogo .div-back {
    position: absolute;
    right: 20px;
    top: 10px;
}

.indentificacao-jogo .horario-jogo {
    position: absolute;
    left: 20px;
    top: 12px;
    padding: 5px 10px;
    background-color: #181818;
    border-radius: 25px;
    color: var(--highlight);
}

.indentificacao-jogo .nome, h4 {
    font-size: 1.2rem;
}

.div-vazio {
    padding: 10px;
    text-align: center;
}

.odds-tipo-aposta .odds {
    height: auto;
    overflow: hidden;
    padding: 2px 13px;
}

.odd {
    margin-left: 0;
    margin-bottom: 8px;
    max-width: 250px;
}

.odd:last-of-type {
    margin-bottom: 0;
}

.odds-coluna {
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.odds-jogador-coluna {
    width: 100%;
}

.odds-jogador {
    display: flex;
    height: 60px;
    padding: 5px;
    background-color: var(--header);
}

.odd-jogador {
    width: 50% !important;
}

.width-25 {
    width: 25%;
}

.width-33 {
    width: 33.33%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.nav-tipos {
    height: 40px;
    background-color: var(--header);
    padding: 0 !important;
    border-radius: 2px;
}

.nav-tipos .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    color: var(--highlight);
    text-decoration: none;
}

.nav-link.active, .nav-link:hover {
    border-bottom: 3px solid var(--highlight);
}

@media only screen and (max-width: 1279px) {
    .coluna-apostas-tipo {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .content-sports {
        padding-bottom: 57px;
    }

    .indentificacao-jogo .div-back {
        top: 0;
    }

    .indentificacao-jogo .campeonato-nome {
        max-width: 240px;
    }

    .nome .time-a,
    .nome .time-b {
        width: 100px;
    }

    .nome img {
        width: 30px;
    }

    .times-separador {
        font-size: 20px;
    }

    .odds .odd {
        width: 100%;
    }

    .large_screen {
        display: none;
    }

    .small_screen {
        display: block;
    }
}

@media only screen and (min-width: 1025px) {
    .large_screen {
        display: block;
    }

    .small_screen {
        display: none;
    }

    .nome img {
        width: 6.5vh;
        margin-bottom: 8px;
    }
}
