<div id="login" [ngStyle]="{'background-image': 'url('+BG+')'}">
    <div class="col-lg-12">
        <div class="login-box">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img class="logo-banca" alt="{{BANCA_NOME}}" src="{{LOGO}}" />
                    </div>
                    <div id="login-form">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="" id="loginform" novalidate>
                            <div class="field-group">
                                <div class="form-group" [ngClass]="applyCssErrorDiv('username')">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" placeholder="Usuário" formControlName="username">
                                        <span *ngIf="hasError('username', 'required')" class="help-block">Campo obrigatório</span>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="applyCssErrorDiv('password')">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" placeholder="Senha" formControlName="password">
                                        <span *ngIf="hasError('password', 'required')" class="help-block">Campo obrigatório</span>
                                        <span *ngIf="hasError('password', 'minlength')" class="help-block">Por favor, digite no minimo 2 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="login-actions">
                                <!--<div class="form-group col align-items-center">
                                    <a class="forgot-password" routerLink="/auth/forgot-password">
                                        Esqueceu a senha?
                                    </a>
                                </div>-->
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-block text-uppercase " type="submit" [disabled]="disabledButton">Entrar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center align-self-end" id="auth-footer">
        Powered by WeeBet
    </div>
</div>
