<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'geral.recarga' | translate}}</h4>
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>

<div class="modal-body">
    <div class="informacoes" #cupom>
        <div class="title">
            <img [ngStyle]="{'max-width': '220px'}" [src]="LOGO"  alt="">
            <h3>Comprovante de Recarga</h3>
        </div>

        <ul>
            <li><b> {{'cartoes.cartao' | translate}}:</b> {{recarga.cartao_aposta}}</li>
            <li><b>{{'geral.cambista' | translate}}:</b> {{recarga.passador}}</li>
            <li><b>Valor:</b> {{recarga.valor| currency}}</li>
            <li><b>Data/Hora:</b> {{recarga.data | moment:'DD/MM/YYYY HH:mm'}}</li>
            <li class="autenticacao">{{recarga.autenticacao}}</li>
        </ul>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-custom2 w-130" (click)="activeModal.close('Close click')">
            {{'modais.fechar' | translate}}
        </button>
        <button type="button" class="btn btn-custom w-130" (click)="printTicket()">
            {{'geral.imprimir' | translate}}
        </button>
        <button *ngIf="appMobile" type="button" class="btn btn-custom w-130" (click)="shareTicket()">
            {{'geral.compartilhar' | translate}}
        </button>
    </div>
</div>
