<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comprovante de Recarga</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="alert alert-success" role="alert">
        Sua recarga foi realizada com sucesso!
    </div>
    <div class="informacoes">
        <div>
            <b> Cartão:</b> {{recarga.cartao_aposta}}
        </div>
        <div>
            <b>Cambista:</b> {{recarga.passador}}
        </div>
        <div>
            <b>Valor:</b> {{recarga.valor| currency: 'BRL':'symbol':'1.2'}}
        </div>
        <div>
            <b>Data/Hora:</b> {{recarga.data | moment:'DD/MM/YYYY HH:mm'}}
        </div>
        <div>
            <b>Autenticação:</b> {{recarga.autenticacao}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
        Fechar
    </button>
    <button type="button" class="btn btn-custom" (click)="printTicket()">
        Imprimir
    </button>
    <button *ngIf="appMobile" type="button" class="btn btn-custom" (click)="shareTicket()">
        Compartilhar
    </button>
</div>
