<div id="default-content">
    <ng-container *ngIf="!showLoading">
        <div class="content-header hide-mobile">
            <h2>{{'bankAccounts.title' | translate}}</h2>
        </div>
        <div class="content-body">
            <div class="content">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2 col-lg-3 col-xl-2">
                                <label class="label">{{'bankAccounts.Bank' | translate}}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-4">
                                <div class="form-group">
                                    <select formControlName="bank" class="form-control inverted-out">
                                        <option value="0">{{'bankAccounts.OptionBank' | translate}}</option>
                                        <option *ngFor="let bank of banks" [value]="bank.id"
                                            [selected]="bank.id === bankSelected">{{bank.nome}}</option>
                                    </select>
                                    <app-error-msg [control]="form.get('bank')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-3 col-xl-2">
                                <label class="label">{{'bankAccounts.AgencyNumber' | translate}}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-4">
                                <div class="form-group">
                                    <input type="text" formControlName="agencyNumber" class="form-control inverted-out" maxlength="10" required pattern="^\S*$">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-3 col-xl-2">
                                <label class="label">{{'bankAccounts.AccountNumber' | translate}}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-4">
                                <div class="form-group">
                                    <input type="text" formControlName="accountNumber" class="form-control inverted-out" maxlength="15" required pattern="^\S*$">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-3 col-xl-2">
                                <label class="label">{{'bankAccounts.AccountType' | translate}}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-4">
                                <div class="form-group">
                                    <select formControlName="accountType" type="text" class="form-control inverted-out">
                                        <option value="0">{{'bankAccounts.optionAccountType' | translate}}</option>
                                        <option value="corrente">{{'bankAccounts.CurrentAccount' | translate}}</option>
                                        <option value="poupanca">{{'bankAccounts.SavingsAccount' | translate}}</option>
                                    </select>
                                    <app-error-msg [control]="form.get('accountType')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="form-group text-right">
                                    <button class="btn btn-custom2 w-150 mr-4 btn-cancell" type="button" (click)="resetForm()">
                                        {{'geral.cancelar' | translate}}
                                    </button>
                                    <button
                                        class="btn btn-custom w-150 btn-save"
                                        type="submit"
                                        [disabled]="form.invalid"
                                    >
                                        {{'geral.salvar' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </ng-container>
</div>
