<div class="content-sports content-sports-list">
    <div class="wrap-sticky">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

        <div class="sem-evento" *ngIf="campeonatos && !campeonatos.length">
            Nenhum evento disponível!
        </div>

        <div *ngIf="!showLoadingIndicator">
            <div class="campeonato" *ngFor="let campeonato of campeonatos; trackBy: trackById">
                <div class="campeonato-header">
                    <span class="campeonato-nome">{{campeonato.nome}}</span>
                </div>
                <div class="eventos">
                    <ng-container *ngFor="let evento of campeonato.jogos">
                        <div class="evento" *ngIf="evento.cotacoes.length && !eventoBloqueado(evento.event_id)"
                            (click)="selecionarJogo(evento._id)">
                            <div class="indentificacao">
                                <div class="horario">
                                    {{evento.horario | moment: 'DD/MM HH:mm'}}
                                </div>
                                <div class="nome">
                                    <div>{{evento.time_a_nome}}</div>
                                    <div>{{evento.time_b_nome}}</div>
                                </div>
                            </div>
                            <div class="odds">
                                <div class="odd" *ngFor="let cotacao of evento.cotacoes"
                                    (click)="addCotacao(evento, cotacao)">
                                    <div
                                        class="inner-odd {{itensSelecionados[evento._id + '_'+ cotacao.chave] ? 'selecionado' : ''}}">
                                        <span class="nome">
                                            {{cotacao.chave | tipoApostaEsports:evento.time_a_nome:evento.time_b_nome}}
                                        </span>
                                        <span class="valor">
                                            {{cotacao.valor | calcularCotacao: cotacao.chave: evento.event_id:evento.favorito}}
                                        </span>
                                    </div>
                                </div>
                                <ng-container *ngIf="cotacaoManualFaltando(evento.event_id, evento.cotacoes)">
                                    <div class="odd" *ngFor="let cotacao of cotacoesFaltando[evento.event_id]"
                                        (click)="addCotacao(evento, cotacao)">
                                        <div
                                            class="inner-odd {{itensSelecionados[evento._id + '_'+ cotacao.chave] ? 'selecionado' : ''}}">
                                            <span class="nome">
                                                {{cotacao.chave | tipoApostaEsports:evento.time_a_nome:evento.time_b_nome}}
                                            </span>
                                            <span class="valor">
                                                {{cotacao.valor | calcularCotacao: cotacao.chave: evento.event_id:evento.favorito}}
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
