<ng-container *ngIf="showLoadingIndicator; else elseGameCasinoList">
    <app-skeleton type="casino" />
</ng-container>
<ng-template #elseGameCasinoList>
    <div class="bloco">
        <app-wall-section
            sectionId="cassino"
            [title]="customCasinoName"
            [itemsQty]="games.length"
            [seeAllRouterLink]="linkAll"
            (onLeft)="scrollLeft('cassino')"
            (onRight)="scrollRight('cassino')"
        />
    
        <div class="games-container">
            <ng-container *ngIf="games.length; else elseWithoutGames">
                <div class="game-list game-list-inline" #scrollGames id="cassino-scroll" (scroll)="onScroll('cassino')">
                    <app-wall-game-card
                        *ngFor="let game of games"
                        [game]="game"
                        [blink]="linkAll"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        cardType="inline"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
            </ng-container>

            <ng-template #elseWithoutGames>
                <span class="empty-game-list">{{ 'geral.nenhumJogoDisponivel' | translate }}</span>
            </ng-template>
        </div>
    </div>
</ng-template>
