<div class="loading-listagem" *ngIf="showLoadingIndicator">
    <div class="slider">
        <div class="title">
            <div class="ssc-square left"></div>
            <div class="ssc-square right"></div>
        </div>
        <div class="itens">
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
        </div>
    </div>
</div>
<div class="bloco" *ngIf="games.length > 0">
    <div class="bloco-header">
        <div class="titulo">
            {{ title ? title : ('geral.cassino' | translate) }}
            <nav>
                <div class="scroll-button scroll-left disabled-scroll-button" id="cassino-left"
                    (click)="scrollLeft('cassino')">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="cassino-right"
                    (click)="scrollRight('cassino')">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </nav>
        </div>
        <div class="ver-todos" *ngIf="games.length > 5">
            <a [routerLink]="[linkAll]">
                {{'geral.verTodos' | translate}}  <i class="fa fa-solid fa-angle-right ml-2"></i>
            </a>
        </div>
    </div>
    <div class="games-container">
        <div class="more-games-fade more-games-fade-left" id="cassino-fade-left"></div>
        <div class="game-list game-list-inline" #scrollGames id="cassino-scroll" (scroll)="onScroll('cassino')">
            <div class="game-tile game-tile-inline" *ngFor="let game of games">
                <ng-container>
                    <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                </ng-container>
                <div class="info-game">
                    <p>{{game.gameName}}</p>
                    <label>{{game.fornecedorExibicao}}</label>
                </div>
                <div class="game-tile-buttons">
                    <ng-container *ngIf="!isDemo">
                            <a *ngIf="game.gameDemo"
                            [routerLink]="['/casino', game.fornecedor, game.gameID, 'DEMO']"
                            class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                            <ng-container *ngIf="isLoggedIn && isCliente">
                                <a *ngIf="isCliente" [routerLink]="['/casino', game.fornecedor, game.gameID]"
                                class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                            </ng-container>
                            <ng-container *ngIf="!isLoggedIn">
                                <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                            </ng-container>
                    </ng-container>
                    <ng-container *ngIf="isDemo">
                        <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                            <a *ngIf="game.gameDemo" [routerLink]="['/casino', game.fornecedor, game.gameID, 'DEMO']" class="btn btn-xs game-button-demo">
                                {{'geral.demo' | translate}}
                            </a>
                        </ng-container>
                        <ng-container *ngIf="game.fornecedor == 'spribe'">
                                <ng-container *ngIf="isLoggedIn">
                                    <a [routerLink]="['/casino', game.fornecedor, game.gameID, 'DEMO']" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                            </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="more-games-fade more-games-fade-right" id="cassino-fade-right" *ngIf="games.length > 2"></div>
    </div>
</div>
