.bloco {
    position: relative;
    padding: 0 10px 24px;
    margin: 0 auto;
    flex: 1;
    width: 100%;
}

.bloco .bloco-header {
    display: flex;
    font-size: 16px;
    align-items: center;
}

.bloco .titulo {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 18px;
    color: var(--foreground-header);
    flex-grow: 1;
    padding: 5px 0 10px;
}

.bloco .titulo nav {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 15px;
}

.games-container {
    overflow: hidden;
    position: relative;
    padding-left: 16px;
    margin-left: -16px;
}

.game-list {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.game-list::-webkit-scrollbar {
    display: none;
}

.game-list-inline {
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
}

.more-games-fade {
    position: absolute;
    width: 50px;
    height: calc(100% + 20px);
    top: -10px;
    z-index: 1;
    transition: opacity 0.5s;
}

.more-games-fade-right {
    background-image: linear-gradient(to left, rgba(var(--background-rgb), 1) 25%, rgba(var(--background-rgb), 0.01));
    right: -15px;
    opacity: 1;
}

.more-games-fade-left {
    background-image: linear-gradient(to right, rgba(var(--background-rgb), 1) 25%, rgba(var(--background-rgb), 0.01));
    left: -15px;
    opacity: 0;
}

.empty-game-list {
    color: var(--foreground-header);
    opacity: 0.5;
}

@keyframes surgirAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .bloco {
        padding: 0 0 24px 16px;
    }

    .bloco .titulo {
        padding: 0;
        font-size: 16px;
    }

    .game-list {
        flex-wrap: nowrap;
        overflow: scroll;
        scroll-behavior: smooth;
        margin-left: -16px;
        padding-left: 16px;
    }

    .internal .game-list {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .internal .game-tile {
        max-width: calc(50% - 5px);
        min-width: calc(50% - 5px);
        margin-right: 0;
        margin-top: 0;
    }

    .more-games-fade-right {
        background-image: linear-gradient(to left, rgba(var(--background-rgb), 1) 10%, rgba(var(--background-rgb), 0.01));
    }

    .more-games-fade-left {
        background-image: linear-gradient(to right, rgba(var(--background-rgb), 1) 10%, rgba(var(--background-rgb), 0.01));
    }

    .more-games-fade {
        height: calc(100% + 10px);
        top: 0;
    }
}
