<div class="mobile-modal-header margin-10" *ngIf="mobileScreen">
    <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div class="titulo">{{'geral.alterarSenha' | translate}}</div>
    <div class="botao-direito"></div>
</div>
<div class="modal-body">
    <ng-container>
        <div class="content-header hide-mobile">
            <h2>{{'geral.alterarSenha' | translate}}</h2>
        </div>
        <div class="content-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="fields">
                    <div class="form-group input-md">
                        <input [type]="mostrarSenhaAtual ? 'text' : 'password'" placeholder=" " formControlName="senha_atual" class="form-control inverted-out">
                        <label>{{'senhas.senhaAtual' | translate}}</label>
                        <i class="fa showPassword" [ngClass]="mostrarSenhaAtual ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarSenhaAtual = !mostrarSenhaAtual"></i>
                    </div>

                    <div class="form-group input-md">
                        <input [type]="mostrarSenhaNova ? 'text' : 'password'" placeholder=" " formControlName="senha_nova" class="form-control inverted-out">
                        <label>{{'senhas.novaSenha' | translate}}</label>
                        <i class="fa showPassword" [ngClass]="mostrarSenhaNova ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarSenhaNova = !mostrarSenhaNova"></i>
                    </div>

                    <div class="form-group input-md">
                        <input [type]="mostrarSenhaConfirmacao ? 'text' : 'password'" placeholder=" " formControlName="senha_confirmacao" class="form-control inverted-out">
                        <label>{{'senhas.confirmarNovaSenha' | translate}}</label>
                        <i class="fa showPassword" [ngClass]="mostrarSenhaConfirmacao ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarSenhaConfirmacao = !mostrarSenhaConfirmacao"></i>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn btn-custom btn-100w" type="submit">
                        {{'geral.atualizar' | translate}}
                    </button>
                </div>

            </form>
        </div>
    </ng-container>

</div>
