<div class="mobile-modal-header margin-10" *ngIf="isMobile">
    <a (click)="toClose()" class="botao-esquerdo">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div class="titulo">{{'geral.alterarSenha' | translate}}</div>
    <div class="botao-direito"></div>
</div>
<div class="modal-body">
    <ng-container>
        <div class="content-header hide-mobile">
            <h2>{{'geral.alterarSenha' | translate}}</h2>
        </div>
        <div class="content-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="fields">
                    <div class="form-group input-md">
                        <input
                            [type]="mostrarSenhaAtual ? 'text' : 'password'"
                            formControlName="senha_atual"
                            class="form-control inverted-out"
                        >
                        <label>{{'senhas.senhaAtual' | translate}}</label>
                        <i
                            class="fa showPassword"
                            [ngClass]="mostrarSenhaAtual ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="mostrarSenhaAtual = !mostrarSenhaAtual"
                        ></i>
                    </div>
                    <app-error-msg [control]="form.get('senha_atual')"></app-error-msg>

                    <div class="form-group input-md">
                        <input
                            [type]="mostrarSenhaNova ? 'text' : 'password'"
                            formControlName="senha_nova"
                            class="form-control inverted-out"
                        >
                        <label>{{'senhas.novaSenha' | translate}}</label>
                        <i
                            class="fa showPassword"
                            [ngClass]="mostrarSenhaNova ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="mostrarSenhaNova = !mostrarSenhaNova"
                        ></i>
                    </div>
                    <app-error-msg [control]="form.get('senha_nova')"></app-error-msg>

                    <div class="form-group input-md">
                        <input
                            [type]="mostrarSenhaConfirmacao ? 'text' : 'password'"
                            formControlName="senha_confirmacao"
                            class="form-control inverted-out"
                        >
                        <label>{{'senhas.confirmarNovaSenha' | translate}}</label>
                        <i
                            class="fa showPassword"
                            [ngClass]="mostrarSenhaConfirmacao ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="mostrarSenhaConfirmacao = !mostrarSenhaConfirmacao"
                        ></i>
                    </div>
                    <app-error-msg [control]="form.get('senha_confirmacao')"></app-error-msg>
                </div>

                <div class="buttons">
                    <button class="btn btn-custom btn-w-100" type="submit">
                        {{'geral.atualizar' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </ng-container>
</div>
