#acumuladao-listagem{
    height: calc(100vh - 92px);
    overflow: scroll;

    display: flex;
    flex-direction: column;
}

.wrap-acumuladao {
    padding: 15px;
    flex: 1;
}

.acumuladao{
    display: flex;
    min-height: 90px;
    max-height: 90px;
    justify-content: space-between;
    background-color: var(--game);
    color: var(--foreground-game);
    margin-top: 10px;
    padding: 12px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
    transition: 250ms;
}

.acumuladao:first-of-type {
    margin-top: 0;
}

.acumuladao:hover{
    border-color: var(--highlight);
}

.qtd-eventos {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.acumuladao .nome{
    color: var(--foreground-game);
    font-weight: bolder;
}

.data {
    font-weight: normal;
}

.acumuladao .premio{
    text-align: right;
    font-size: 12px;
}

.sem-evento{
    margin: -5px;
    padding:0;
}

.loading-listagem {
    padding: 30px 20px;
}

.loading-listagem .title {
    width: 200px;
    height: 28px;
    margin-bottom: 30px;
}

.loading-listagem .item-sample {
    background: var(--game);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
}

.loading-listagem .item-sample .item-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loading-listagem .item-sample .ssc-square {
    height: 9px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1024px) {
    #acumuladao-listagem{
        height: -webkit-fill-available;
        height: calc(100vh - 122px);
        -webkit-overflow-scrolling: touch;
        padding: 5px 0;
    }

    .acumuladao {
        flex-direction: column;
        max-height: none;
    }

    .acumuladao .infoAcumuladao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        font-size: 16px;
    }

    .acumuladao .infoAcumuladao .premio {
        font-size: 16px;
        white-space: nowrap;
    }

    .acumuladao .infoAcumuladao .partidas {
        font-size: 12px;
    }
}
