<section id="sports-wrapper">
    <section class="sports-menu">
        <nav class="leagues-regional-nav">
            <ul>
                <li class="group">Data</li>
                <li>
                    <a [routerLink]="['/futebol/jogos']">
                        Jogos de Hoje
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/futebol/jogos']" [queryParams]="{ data: amanha }">
                        Jogos de Amanhã
                    </a>
                </li>
                <li class="group">Campeonatos</li>
                <li *ngFor="let camp of campeonatos">
                    <a [routerLink]="['/futebol/jogos']" [queryParams]="{ campeonato: camp._id }">
                        <img src="assets/images/flag.png" /> {{camp.nome}}
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <section class="sports-content">
        <router-outlet></router-outlet>
    </section>

    <section class="sports-ticket">
        <div class="pre-bilhete-esportes">
            <h4>BILHETE</h4>

            <div *ngIf="bilhete.itens.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th>Jogo</th>
                            <th>Cotação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bilhete.itens">
                            <td>{{item.nomeJogo}}</td>
                            <td>
                                {{item.cotacao.chave}}: {{item.cotacao.valor}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
