li{
    cursor: pointer;
}

#sports-wrapper{
    display: flex;
    flex-direction: row;
}

.sports-menu{
    width: 180px;
}

.sports-content{
    flex-grow: 1;
    padding: 0px 15px;
}

.sports-ticket{
    border-left: 1px solid;
    width: 270px;
    text-align: center;
}

.leagues-regional-nav ul{
    padding-left: 0px;
}

.leagues-regional-nav ul li{
    list-style: none;
    background-color: var(--background-menu);
}

.leagues-regional-nav ul li.group{
    padding: 5px;
    color: #000;
}

.leagues-regional-nav ul li a{
    display: block;
    padding: 5px;
    color: var(--text-menu);
}

.leagues-regional-nav ul li a img{
    width: 20px;
}
