li{
    cursor: pointer;
}

#futebol-section{
    display: flex;
    flex-direction: row;
}

.side-1-sports{
    width: 180px;
}


.campeonatos-regios-nav ul{
    padding-left: 0px;
}

.campeonatos-regios-nav ul li{
    list-style: none;
    background-color: var(--background-menu);
}

.campeonatos-regios-nav ul li.group{
    padding: 5px;
    color: #000;
}

.campeonatos-regios-nav ul li a{
    display: block;
    padding: 5px;
    color: var(--text-menu);
}

.campeonatos-regios-nav ul li a img{
    width: 20px;
}
