.content-header {
    margin-bottom: 40px;
}

.filters form{
    display: flex;
}

.form-row{
    flex-wrap: nowrap !important;
}

.filtros-container {
    position: relative;
    width: 300px;
}

.filtros-container .input-group {
    max-width: none;
}

.buttons {
    width: 100px;
    position: relative;
    padding: 0;
}

.buttons button {
    width: 100%;
}

.table-apuracao {
    /*width: 100%;*/
    color: var(--game);
    border-radius: 4px;
    border-collapse: collapse;
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.2);
}

.border-bottom-apuracao {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

.border-left-apuracao {
    border-left: 0.5px solid rgba(255, 255, 255, 0.2);
}

.mouse-pointer {
    cursor: pointer;
}

.table-apuracao tr {
    height: 35px;
}

.table-apuracao td,
.table-apuracao th {
    padding: 10px;
}

.symbol-container {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    width: 16px;
    height: 16px;
    font-size: 12px;
    margin-right: 5px;
}

.fa-plus {
    color: var(--highlight);
}

.fa-minus {
    color: #ED4C5C;
}

.bg-green {
    background-color: rgba(53, 205, 150, 0.22);
}

.bg-red {
    background-color: rgba(237, 76, 92, 0.22);
}

.w-80 {
    width: 80%;
}

.p-sub {
    padding-left: 50px !important;
}

.p-sub-2 {
    padding-left: 80px !important;
}


ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabela-apuracao {
    max-width: 700px;
}

.tabela-apuracao .linha-apuracao {
    background-color: var(--game);
    color: var(--foreground-game);
    border-radius: 3px;
    margin-bottom: 1px;
    padding: 1px;
}

.linha-apuracao ul {
    background-color: var(--game);
    color: var(--foreground-game);
    padding: 15px 20px 15px 20px;
}

.linha-apuracao ul li {
    font-size: 14px;
}

.linha-apuracao ul li span {
    font-size: 12px;
}

.linha-apuracao ul li h3 {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.linha-apuracao ul li:last-child h3 {
    margin-bottom: 0;
}

.linha-apuracao ul li ul {
    padding: 0 0 0 40px;
}

.linha-apuracao ul li ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabela-apuracao .linha-apuracao h2 {
    font-size: 12px;
    font-weight: 600;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
}

.collapsable.linha-apuracao h2,
.collapsable.linha-apuracao h2 label,
li.collapsable h3 label,
li.collapsable h3 {
    cursor: pointer;
}

.tabela-apuracao .linha-apuracao h2 label {
    display: flex;
    align-items: center;
}

.tabela-apuracao .linha-apuracao h2 label i {
    margin-right: 10px;
}

li.collapsable h3 i {
    margin-right: 10px;
}

li.collapsable h3.collapsed i {
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.tabela-apuracao .linha-apuracao h2.collapsed label i {
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.datepicker-group i {
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 15px;
    font-size: 14px;
}

.datepicker-group {
    max-width: 300px;
    margin-right: 20px;
}

.datepicker-group input {
    padding-right: 35px;
    border-radius: 5px;
}

.dp-hidden {
    width: 0 !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.custom-day.faded {
    background-color: var(--highlight);
}

.fa-plus, .fa-minus {
    margin-right: 8px;
}

.saldo-positivo span {
    color: #2FC501;
}

.saldo-negativo span {
    color: #ed4c5c;
}

label {
    margin-bottom: 0;
}

.btnClose {
    font-size: 32px;
    line-height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--highlight);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    #default-content {
        padding: 10px;
        height: 100vh;
        overflow: auto;
        position: relative;
    }

    .counts {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

    .counts .count {
        margin: 0;
    }

    .col-graph {
        margin-bottom: 30px;
    }

    .apostas-realizadas {
        height: auto;
    }

    .card-dashboard h3 {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .filtros {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    .filtros select {
        max-width: none;
        margin: 0;
    }

    .dp-hidden {
        height: 0 !important;
        position: absolute;
    }

    .filtros-container {
        width: calc(100% - 100px);
    }

    .tabela-apuracao {
        max-width: none;
    }
}
