<section id="validar-aposta-section">
    <h2>Validar Aposta</h2>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <form (ngSubmit)="consultarAposta()" #form="ngForm" class="consulta-form">
                <div class="form-group">
                    <input type="text" [(ngModel)]="codigo" name="codigo" class="form-control" placeholder="Código" required>
                </div>
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Consultar</button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="aposta">
        <div class="col-xs-12 col-md-4">
            <div>
                <div *ngFor="let item of aposta.itens">
                    <p>{{item.jogo.campeonato.nome}}</p>
                    <p>
                        {{item.jogo.nome}} {{item.preco}} ( {{item.valor}} )
                    </p>
                </div>
                <div>
                    <p>Apostador: {{aposta.apostador}}</p>
                    <p>
                        Horário: {{aposta.horario | moment: 'DD/MM/YYYY HH:mm'}}
                    </p>
                </div>
                <div>
                    <p>
                        Total de jogos: {{aposta.itens.length}}
                    </p>
                    <p>
                        Valor da aposta: {{aposta.valor | currency: 'BRL':'symbol':'1.2'}}
                    </p>
                    <p>
                        Estimativa de ganho: {{aposta.valor | currency: 'BRL':'symbol':'1.2'}}
                    </p>
                </div>

                <button type="button" (click)="validarAposta()" class="btn btn-primary">Validar</button>
            </div>
        </div>
    </div>
</section>
