.account-verification-email-or-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: auto;

    &__footer {
        margin-top: 50px;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
    }

    &__body {
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
    }
   
    &__btn-close {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        
        background-color: var(--header);
        color: var(--highlight);
        height: 29px;
        width: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    &__title {
        color: var(--foreground);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
    }

    &__description {
        color: rgba(var(--foreground-rgb), .7);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
    }

    &__btn-confirm {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 4px;
        background: var(--highlight);
        color: var(--foreground-highlight);
    }
    &__btn-confirm:disabled {
        pointer-events: none; 
        text-decoration: none;
        opacity: 0.5;
    }

    &__group-code {
        width: 100%;
        border: 1px solid rgba(var(--foreground-rgb), .7);
        color: var(--foreground);

        display: flex;
        height: 72px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        padding-right: 16px;
        padding-left: 8px;
        border-radius: 4px;
    }

    &__label-code {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 61px;

        &--no-empty::before {
            display: none;
        }
      
        &::before {
          content: "___";
          position: absolute;
          top: 38%;
          left: 0;
          width: 100%;
          text-align: center;
          color: rgba(var(--foreground-rgb), 0.3);
          font-size: 20px;
          transform: translateY(-50%);
          pointer-events: none;
          transition: opacity 0.2s ease;
        }
     
    }

    &__code {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;

        text-align: left;
        border-radius: 0;
        border: none;
        background: transparent;

        color: var(--foreground);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &:focus {
            border: none;
        }
    
        &:not(:placeholder-shown) {
            text-align: center;
        }
    }

    &__paste {
        display: flex;
        width: 56px;
        height: 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        outline: none;
        border-radius: 4px;
        background: var(--header);
        color: var(--foreground-header);
        margin-left: auto;
    }

    &__icon {
        display: flex;
        width: 190px;
        height: 190px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: rgba(var(--header-rgb), .3);
        margin-top: 30px;
    }

    &__icon svg {
        width: 118px;
        height: 72px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    &__help-button {
        position: relative;
        margin-left: auto;
        margin-bottom: -58px;
        cursor: pointer;
    }
}

:host ::ng-deep .account-verification-email-or-phone__help-button:hover .icon-circle-question path {
    fill: var(--highlight);
}

.resend-code {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;

    &__label {
        color: var(--foreground);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;

        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__btn {
        color: var(--highlight);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px;

        &--disabled {
            color: rgba(var(--highlight-rgb), 0.30);
            pointer-events: none; 
            text-decoration: none;
        }
    }
}

.loading-verification {
    color: var(--foreground);
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    position: fixed;
    width: 100%;
    height: inherit;

    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(var(--background-rgb), .5);
    cursor: not-allowed;

    &__icon {
        animation: spin 3s linear infinite;
        display: inline-block;
    }
}

@media screen and (min-width: 667px) {
    .account-verification-email-or-phone {
        max-width: 400px;
        position: relative;

        &__title,
        &__description {
            text-align: center;
        }

        &__icon {
            width: 140px;
            height: 140px;
            margin-top: 20px;
        }

        &__badge {
            width: 37px;
            height: 37px;
            font-size: 26px;
            margin-left: -110px;
            margin-top: -60px;
        }

        &__group-code {
            gap: 16px;
            padding-left: 16px;
        }
    }

    :host::ng-deep .icon-envelope {
        width: 118px !important;
    }
    
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }