* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    justify-content: center;
    flex-direction: row;
    display: flex !important;
    margin: 0 0 0 0;
    min-height: 100vh;
    align-items: center;
    background-color: #FFFFFF;
}

.container {
    padding: 15px;
    width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px !important;
}

.container > div {
    margin-bottom: 4px !important;
}

#logo-frame {
    height: 80px;
}

#logo-frame > img {
    max-height: 80px;
    max-width: 350px;
    position: relative;
}

#header {
    text-align: center;
    background: var(--header);
    width: 100%;
    padding-top: 5px;
    margin-bottom: 15px !important;
    padding-bottom: 5px;
    color: var(--foreground-header);
    font-weight: normal;
}

#header > span {
    font-size: 12px !important;
}

#header > h2 {
    font-weight: normal;
    margin: 0 0 6px 0;
    font-size: 24px;
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

#ticket-id {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: normal;
    font-size: 30px;
}

#ticket-itens {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#ticket-itens > div {
    width: 100%;
}

.ticket-item {
    display: flex;
    justify-content: space-between;
    background: #ebeaea;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    text-align: center !important;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 12px !important;
}

.ticket-item > .event-time {
    font-size: 12px;
}

.ticket-item > div {
    width: 100%;
    color: #000;
    margin: 5px;
}

.ticket-item > .players {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ticket-item .players > .player {
    font-size: 15px !important;
    width: 40%;
}

.ticket-item .players > .separators {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: 12px;
}

.ticket-item .players .separators > div {
    margin: 3px 0;
}

.ticket-item .players > .player-a-data {
    display: flex;
    flex-direction: column;
}

.ticket-item .players > .player-b-data {
    display: flex;
    flex-direction: column;
}

.ticket-item .players .player > div {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#ticket-details {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.player-name {
    font-size: 14px !important;
}

.ganhou,
.acertou {
    color: #008000 !important;
}

.perdeu,
.errou {
    color: #fa3425 !important
}

#has-result {
    font-size: 18px;
    margin-bottom: 6px;
}

#has-result > * {
    font-size: 18px;
}

.player-name,
#scores {
    font-size: 15px !important;
}

#error {
    position: absolute;
    width: 80%;
    padding: 5px 25px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    top: 10px;
    border-radius: 20px;
}

#match {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#match > div {
    width: 40%;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

#first-half {
    display: flex;
    justify-content: space-between;
}

#first-half > div {
    width: 33%;
    font-size: 12px;
    text-align: center;
}

#second-half {
    display: flex;
    justify-content: space-between;
}

#second-half > div {
    width: 33%;
    font-size: 12px;
    text-align: center;
}

#corner-kicks {
    display: flex;
    justify-content: space-between;
}

#corner-kicks > div {
    width: 33%;
    font-size: 12px;
    text-align: center;
}

#match-result {
    width: 20%;
}

#palpite {
    font-size: 14px !important;
}

[hidden], .hidden_field {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--header);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

#follow-live {
    margin: 5px;
}

.time-live-score {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 20px;
}

.aovivo-label {
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 2px;
    width: 60px;
    margin-bottom: 4px;
    font-size: 14px;
}

.time {
    font-size: 14px;
    color: #000;
}

.blink {
    animation: blinker 1s linear infinite;
}

.alert {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    border-radius: 4px;
    color: #8a6d3b;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    position: relative;
}

.container > div.alert {
    margin-bottom: 15px !important;
}

.alert div {
    text-align: center;
    margin: 15px auto;
}

.alert a {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.alert a:hover {
    font-weight: bold;
    text-decoration: none;
}

.btn {
    background-color: var(--foreground-header);
    color: var(--header);
    font-size: 16px;
    text-decoration: none;
    border-radius: 6px;
    line-height: 20px;
    display: block;
    font-weight: normal;
    white-space: nowrap;
    padding: 8px 12px;
    width: 220px;
    margin: 5px auto 5px auto;
    cursor: pointer;
}

.btn:hover {
    animation: darken 0.2s;
    -webkit-animation-fill-mode: forwards;
}

.field_btn {
    background-color: rgba(0, 0, 0, 0.50);
    color: #fff;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    width: 264px;
    height: 37px;
    transition: .2s ease-in-out;
}

.field_active {
    background-color: #000;
}

div.field_body.hidden, div.field_body {
    margin: 0;
}

.iframe-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-responsive iframe {
    width: 100%;
    height: 340px;
    justify-content: center;
    align-items: center;
}

@keyframes darken {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(0.85);
    }
}

@keyframes blinker {
    50% {
        transform: scale(1.05);
    }
}

/* Safari */

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
