<div id="default-content">
    <div class="internal-container">
        <div class="content-header">
            <h2>Resultados Futebol</h2>
            <div class="filters">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <form (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div class="row">
                                <div class="col-xs-6 col-lg-3">
                                    <label>Data</label>
                                    <input type="date" class="form-control" formControlName="data">
                                </div>
                                <div class="col-xs-6 col-lg-3">
                                    <label>Esporte</label>
                                    <select class="form-control" formControlName="sport_id">
                                        <option value="1">Futebol</option>
                                        <option *ngIf="basqueteHabilitado" value="18">Basquete</option>
                                        <option *ngIf="tenisHabilitado" value="13">Tênis</option>
                                        <option *ngIf="combateHabilitado" value="9">Combate</option>
                                        <option *ngIf="voleiHabilitado" value="91">Vôlei</option>
                                        <option *ngIf="futebolAmericanoHabilitado" value="12">Futebol Americano</option>
                                        <option *ngIf="futsalHabilitado" value="83">Futsal</option>
                                        <option *ngIf="hoqueiGeloHabilitado" value="17">Hóquei no Gelo</option>
                                        <option *ngIf="esportsHabilitado" value="151">E-Sports</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-lg-3">
                                    <button class="btn btn-custom btn-line" type="submit">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="content">
                <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
                <table *ngIf="!showLoadingIndicator" class="table">
                    <tbody>
                    <ng-container *ngFor="let campeonato of campeonatos">
                        <tr class="campeonato">
                            <td colspan="4">{{campeonato.nome}}</td>
                        </tr>
                        <tr *ngFor="let jogo of campeonato.jogos">
                            <td>{{jogo.horario | moment:'DD/MM/YYYY HH:mm'}}</td>
                            <td style="text-align: right;">{{jogo.time_a_nome}}</td>
                            <td style="text-align: center;">
                                <span
                                    *ngIf="jogo.resultado; else semResultado">
                                    <b>{{jogo.resultado.casa}} - {{jogo.resultado.fora}}</b>
                                    <ng-container *ngIf="sport == 1">
                                         ({{jogo.resultado.casa_1t}} - {{jogo.resultado.fora_1t}})
                                    </ng-container>
                                </span>
                                <ng-template #semResultado>
                                    <b>Sem Resultado</b>
                                </ng-template>
                            </td>
                            <td style="text-align: left;">{{jogo.time_b_nome}}</td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
