<div id="resultados">
    <div class="content-header" style="margin-bottom: 30px">
        <h2>Resultados</h2>
        <div class="filters">
            <form action="">
                <div class="row">
                    <div class="col">
                        <label>Status</label>
                        <select class="form-control">
                            <option value="">Todos</option>
                            <option value="">Seninha</option>
                            <option value="">Quininha</option>
                        </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="button">Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content-body">
        <div class="content">
            <div class="result" *ngFor="let sorteio of sorteios">
                <h4>{{sorteio.tipo}} - {{sorteio.nome}}</h4>
                <p *ngIf="!sorteio.resultado">
                    Sem Resultado
                </p>
                <div class="circle-group">
                    <div class="circle" *ngFor="let numero of sorteio.resultado">
                        <div class="content">
                            {{numero | number:'2.0'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
