<app-bilhete-compartilhamento #bilheteCompartilhamento [aposta]="aposta"></app-bilhete-compartilhamento>
<div class="modal-body cupom-ativo">
    <div class="table-container">
        <table class="table">
            <tbody>
                <ng-container *ngFor="let item of aposta.itens">
                    <tr class="cupom">
                        <td class="item info-cupom" style="max-width: 5rem;">
                            <div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="info-cupom" style="margin-bottom: 0;"> {{item.jogo_horario | moment: 'DD/MM'}} </p>
                                <p class="info-cupom" style="margin-bottom: 0;"> {{item.jogo_horario | moment: 'HH:mm'}} </p>
                            </div>
                        </td>
                        <td class="item">
                            <div style="max-width: 97%;">
                                <p class="campeonato info-cupom">
                                    {{item.campeonato_nome}}
                                </p>
                                <p class="nome {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                                <p class="cotacao {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    <span class="info-cupom">
                                        {{item.categoria_nome}}:
                                    </span>
                                    <span class="">
                                        {{item.odd_nome}}
                                        ({{item.cotacao}})
                                    </span>
                                    <span *ngIf="item.ao_vivo" class=""> | AO VIVO</span>
                                </p>
                            </div>
                        </td>
                        <td class="item">
                            <p class="jogo-resultado" *ngIf="item.encerrado && !item.removido; else resultado">
                                Encerrado <br />
                                <span [ngClass]="resultadoClass(item)">
                                    <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                        ( {{item.resultado}} )
                                    </ng-container>
                                </span>
                            </p>
                            <ng-template #resultado>
                                <p class="jogo-resultado">
                                    <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                    <span *ngIf="!item.removido && !item.encerrado" [ngClass]="resultadoClass(item)">
                                        {{item.resultado}}
                                    </span>
                                </p>
                            </ng-template>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <ng-container *ngFor="let item of aposta.itens">
        <div class="cupom-container">
            <div id="cupom">
                <div class="conteudo">
                    <div class="item">
                        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <div>
                                <p class="horario info-cupom">
                                    {{item.jogo_horario | moment: 'DD/MM HH:mm'}}
                                </p>
                                <p class="campeonato info-cupom">
                                    {{item.campeonato_nome}}
                                </p>
                                <p class="nome  {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                                <p class="cotacao {{itemSelecionado && !item.resultado && !falhaSimulacao ? 'encerrado' : ''}}">
                                    <span class="info-cupom">
                                        {{item.categoria_nome}}:
                                    </span>
                                    <span class="">
                                        {{item.odd_nome}}
                                        ({{item.cotacao}})
                                    </span>
                                    <span *ngIf="item.ao_vivo"> | AO VIVO</span>
                                </p>
                                <p class="jogo-resultado" *ngIf="item.encerrado && !item.removido; else resultado">
                                    Encerrado
                                    <span [ngClass]="resultadoClass(item)">
                                        <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                            ( {{item.resultado}} )
                                        </ng-container>
                                    </span>
                                </p>
                                <ng-template #resultado>
                                    <p class="jogo-resultado">
                                        <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                        <span *ngIf="!item.removido && !item.encerrado" [ngClass]="resultadoClass(item)">
                                            {{item.resultado}}
                                        </span>
                                    </p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="cupom-header">
        <p class="resultado">
            Resultado:
            <span *ngIf="aposta.resultado">{{aposta.resultado | titlecase}}</span>
            <span *ngIf="!aposta.resultado">Aguardando</span>
        </p>
        <p class="aposta">
            Valor apostado: <span> <span *ngIf="aposta.is_bonus">({{'geral.bonus' | translate | lowercase}})</span> {{aposta.valor | currency}}</span>
        </p>
        <p class="ganho">
            Possível retorno: <span>{{aposta.possibilidade_ganho | currency}}</span>
        </p>
        <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
            {{'geral.premio' | translate}}: <span>{{aposta.premio | currency}}</span>
        </p>
        <p class="income-tax">
            {{'bet.incomeTaxOnPrize' | translate}}:<span>{{aposta.incomeTaxOnPrize | currency}}</span>
        </p>

        <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">
            Cambista paga: <span>{{cambistaPaga | currency}}</span>
        </p>
    </div>
</div>
<div class="modal-footer">
</div>
