h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.modal-dialog {
    max-width: 600px;
  }

.modal-header {
    border-bottom-color: var(--foreground);
    padding: 20px 60px;
}

.close-modal-ativacao{
    border-radius: 100%;
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    cursor: pointer;
}
.close-modal-ativacao i{
    margin: 10px;
    color: var(--highlight);
    font-size: 20px;
}

.modal-body {
    padding: 40px 60px;
}

.logo {
    max-width: 175px;
    max-height: 140px;
}

button {
    /*margin-top: 30px;*/
    margin: 30px auto 0 auto;
    width: 340px;
}

.space-buttons {
    display: block;
    text-align: center;
    margin: 15px 0;
}

asl-google-signin-button {
    display: flex;
    justify-content: center;
}

.limpar-social-form {
    cursor: pointer;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--highlight);
}

.showPassword {
    position: absolute;
    top: calc(50% - 16px);;
    right: 0;
    color: var(--foreground-inputs-odds);
    cursor: pointer;
    padding: 10px;
}

.esqueceu-senha {
    color: var(--highlight);
    font-size: 12px;
    display: block;
    margin: 20px 0 30px;
    text-decoration: none;
}

.registrar {
    font-size: 12px;
    margin-bottom: 30px;
}

.registrar a {
    color: var(--highlight);
}

#linkTermos {
    cursor: pointer;
}

.text-muted {
    color: var(--foreground) !important;
    opacity: 65%;
}

img{
    width:100%;
}

.content-modal-ativacao{
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

.content-modal-ativacao img{
    width: 100px;
    height: auto;
    align-self: center;
    margin: 20px
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding: 40px 25px 15px;

        display: flex;
        flex-direction: column;
    }

    .modal-header {
        border-bottom-color: var(--foreground);
        padding: 20px 25px;
    }

    .modal-body .modal-body-content {
        flex: 1;
    }
}

.grecaptcha-badge { visibility: hidden; }

.checkbox-aceitar-termos{
    margin-right: 5px
}

.label-termo-uso{
    display: flex;
}

#linkTermos{
    margin-left: 3px;
}

@media only screen and (max-width: 610px) {
    .label-termo-uso {
        display: block;
    }

    #linkTermos{
        margin-left: 0;
    }
}
