h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.modal-dialog {
    max-width: 600px;
  }

.modal-header {
    border-bottom-color: #3b3b3b;
    padding: 20px 35px;
    background: #0A0A0A;
}

.modal-body {
    padding: 40px 60px;
    background: #0A0A0A;
}

button {
    /*margin-top: 30px;*/
    margin: 30px auto 0 auto;
    width: 340px;
}

.showPassword {
    position: absolute;
    top: calc(50% - 16px);;
    right: 0;
    color: #424242;
    cursor: pointer;
    padding: 10px;
}

.esqueceu-senha {
    color: #35CC95;
    font-size: 12px;
    display: block;
    margin: 20px 0 30px;
    text-decoration: none;
}

.registrar {
    font-size: 12px;
    margin-bottom: 30px;
}

.registrar a {
    color: #35CC95;
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding: 40px 25px 15px;
        background: #0A0A0A;

        display: flex;
        flex-direction: column;
    }

    .modal-body .modal-body-content {
        flex: 1;
    }
}
