<div class="modal-header">
    <img [src]="LOGO" alt="" class="logo">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <h3>Informações pessoais</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <div class="input-md">
                        <input type="text" id="nome" class="form-control inverted-out" formControlName="nome"
                            [ngClass]="applyCssInputError('nome')" placeholder=" ">
                        <label for="nome">Nome</label>
                    </div>
                    <app-error-msg [control]="form.get('nome')" label="Nome" class="text-left"></app-error-msg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4" [ngClass]="applyCssDivError('sobrenome')">
                    <div class="input-md">
                        <input type="text" id="sobrenome" class="form-control inverted-out" [ngClass]="applyCssInputError('sobrenome')"
                        formControlName="sobrenome" placeholder=" ">
                        <label for="sobrenome">Sobrenome</label>
                    </div>
                    <app-error-msg [control]="form.get('sobrenome')" label="Sobrenome" class="text-left"></app-error-msg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <div class="input-md">
                        <input type="text" id="dataNascimento" class="form-control inverted-out" mask="d0/M0/0000" formControlName="nascimento"
                        [ngClass]="applyCssInputError('nascimento')" placeholder=" ">
                        <label for="dataNascimento">Data de Nascimento</label>
                    </div>

                    <app-error-msg [control]="form.get('nascimento')" label="Data de Nascimento" class="text-left"></app-error-msg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4" [ngClass]="applyCssDivError('genero')">
                    <select formControlName="genero" class="form-control inverted-out" [ngClass]="applyCssInputError('cpf')">
                        <option value="">Selecione</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                    <app-error-msg [control]="form.get('genero')" label="Sexo" class="text-left"></app-error-msg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <div class="input-md">
                        <input type="text" id="cpf" class="form-control inverted-out" mask="000.000.000-00" formControlName="cpf"
                        [ngClass]="applyCssInputError('cpf')" placeholder=" ">
                        <label for="cpf">CPF</label>
                    </div>

                    <app-error-msg [control]="form.get('cpf')" label="CPF" class="text-left"></app-error-msg>
                </div>
            </div>
        </div>
        <h3>Informações de contato</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <div class="input-md">
                        <input type="text" id="telefone" mask="(00) 00000-0000" class="form-control inverted-out" formControlName="telefone"
                        [ngClass]="applyCssInputError('telefone')" placeholder=" ">
                        <label for="telefone">Telefone</label>
                    </div>

                    <app-error-msg [control]="form.get('telefone')" label="Telefone" class="text-left"></app-error-msg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4" [ngClass]="applyCssDivError('email')">
                    <div class="input-md">
                        <input type="text" id="email" class="form-control inverted-out" [ngClass]="applyCssInputError('email')"
                        formControlName="email" placeholder=" ">
                        <label for="email">Email</label>
                    </div>

                    <app-error-msg [control]="form.get('email')" label="Email" class="text-left"></app-error-msg>
                </div>
            </div>
        </div>
        <h3>Criar login</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <div class="input-md">
                        <input type="text" id="usuario" class="form-control inverted-out" formControlName="usuario"
                        [ngClass]="applyCssInputError('usuario')" placeholder=" ">
                        <label for="usuario">Usuário</label>
                    </div>

                    <app-error-msg [control]="form.get('usuario')" label="Usuário" class="text-left"></app-error-msg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4" [ngClass]="applyCssDivError('senha')">
                    <div class="input-md">
                        <input [type]="mostrarSenha ? 'text' : 'password'" id="password" class="form-control inverted-out" [ngClass]="applyCssInputError('senha')"
                        formControlName="senha" placeholder=" ">
                        <label for="password">Senha</label>
                        <i class="fa showPassword" [ngClass]="mostrarSenha ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarSenha = !mostrarSenha"></i>
                    </div>

                    <app-error-msg [control]="form.get('senha')" label="Senha" class="text-left"></app-error-msg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <div class="input-md">
                        <input [type]="mostrarConfirmarSenha ? 'text' : 'password'" id="confirmarSenha" class="form-control inverted-out" formControlName="senha_confirmacao"
                        [ngClass]="applyCssInputError('senha_confirmacao')" placeholder=" ">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <i class="fa showPassword" [ngClass]="mostrarConfirmarSenha ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarConfirmarSenha = !mostrarConfirmarSenha"></i>
                    </div>

                    <app-error-msg [control]="form.get('senha_confirmacao')" label="Confirmar Senha" class="text-left"></app-error-msg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4" [ngClass]="applyCssDivError('afiliado')">
                    <div class="input-md">
                        <input type="text" id="afiliado" class="form-control inverted-out" [ngClass]="applyCssInputError('afiliado')"
                        formControlName="afiliado" placeholder=" ">
                        <label for="afiliado">Código de afiliação(Opcional)</label>
                    </div>

                    <app-error-msg [control]="form.get('afiliado')" label="Código de afiliação(Opcional)" class="text-left"></app-error-msg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for=""><input type="checkbox" formControlName="aceitar_termos"> Certifico que tenho mais de 18 anos de idade e  declaro que li e concordo com os termos de uso</label>
            </div>
        </div>
        <button type="submit" class="btn btn-custom btn-block btn-cadastrar">Cadastrar</button>
    </form>
</div>

