h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.modal-dialog {
    max-width: 600px;
  }

.modal-header {
    border-bottom-color: var(--foreground);
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-close {
    margin-right: 10px;
    background: none;
}

.close-modal-ativacao{
    border-radius: 100%;
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    cursor: pointer;
}
.close-modal-ativacao i{
    margin: 10px;
    color: var(--highlight);
    font-size: 20px;
}

.modal-body {
    padding: 20px 60px;
}

.logo {
    max-width: 175px;
    max-height: 140px;
}

button {
    margin: 0 auto;
    width: 100%;
}

.space-buttons {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.text-line {
    height: 1px;
    margin: 30px 0;
    background-color: var(--foreground);
    text-align: center;
}

.text-line span {
    background-color: var(--background);
    position: relative;
    top: -0.65em;
    padding: 0 10px;
}

asl-google-signin-button {
    display: flex;
    justify-content: center;
}

.limpar-social-form {
    cursor: pointer;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--highlight);
}

.showPassword {
    position: absolute;
    top: calc(50% - 16px);;
    right: 0;
    color: var(--foreground-inputs-odds);
    cursor: pointer;
    padding: 10px;
}

a.link-termos-politica {
    cursor: pointer;
    text-decoration: underline;
    color: var(--highlight);
}

.text-muted {
    color: var(--foreground) !important;
    opacity: 65%;
}

.content-modal-ativacao{
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

.content-modal-ativacao img{
    width: 100px;
    height: auto;
    align-self: center;
    margin: 20px
}

.login {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.login a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--highlight);
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding: 40px 25px 15px;

        display: flex;
        flex-direction: column;
    }

    .modal-header {
        border-bottom-color: var(--foreground);
        padding: 20px 25px;
    }

    .modal-body .modal-body-content {
        flex: 1;
    }
}

.grecaptcha-badge { visibility: hidden; }

.checkbox-aceitar-termos{
    margin-right: 5px
}

@media only screen and (max-width: 610px) {
}

.label-termo-uso {
    display: flex;
    align-items: center;
}

.label-termo-uso input[type="checkbox"] {
    width: 31px;
    height: 16px;
    margin-right: 10px;
}
