<div id="resultados">
    <div class="content-header">
        <h2>Quininha</h2>
    </div>
    <div class="content-body">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="card">
                        <p>
                            Escolha as suas dezenas:
                        </p>
                        <div class="square-group">
                            <div class="square" *ngFor="let number of numbers" (click)="checkNumber(number)" [ngClass]="{'active': isChecked(number)}">
                                {{number | number:'2.0'}}
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="col-xs-12">
                                <form class="form" [formGroup]="itemForm" (ngSubmit)="includeGuess()">
                                    <div class="form-row">
                                        <div class="form-group col-xs-12 col-lg-4">
                                            <label for="">Sorteio</label>
                                            <select class="form-control" formControlName="sorteio_id" (change)="setSorteioNome()" [ngClass]="applyCssErrorInput(itemForm, 'sorteio_id')">
                                                <option value="">Selecione</option>
                                                <option *ngFor="let sorteio of sorteios" [value]="sorteio.id">
                                                    {{sorteio.nome}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="hasError(itemForm, 'sorteio_id', 'required')"> Campo obrigatório </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-lg-4">
                                            <label for="">Valor do Palpite (R$)</label>
                                            <input type="number" class="form-control" min="1" formControlName="valor" [ngClass]="applyCssErrorInput(itemForm, 'valor')">
                                            <div class="invalid-feedback" *ngIf="hasError(itemForm, 'valor', 'required')"> Campo obrigatório </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-lg-4">
                                            <button type="submit" class="btn btn-primary btn-line">Incluir Palpite</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="alert alert-primary" role="alert">
                            Para gerar seu palpite aleatório basta clicar na quantidade de Dezenas abaixo.
                        </div>
                        <p>
                            Quantidade de dezenas e suas contações:
                        </p>
                        <div class="bet-types">
                            <div class="bet-type" *ngFor="let tipoAposta of tiposAposta" [ngClass]="{'active': checkBetType(tipoAposta)}">
                                <div class="circle" (click)="generateGuess(tipoAposta.qtdNumeros)">
                                    <div class="content">
                                        {{tipoAposta.qtdNumeros}}
                                    </div>
                                </div>
                                <span class="price">{{tipoAposta.cotacao5 | currency: 'BRL':'symbol':'1.2'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre-bilhete col-xs-12 col-md-4" [ngClass]="{'pre-bilhete-mobile': displayPreTicker}">
                    <div class="card">
                        <span>Pré-Bilhete</span>
                        <!-- <pre>
                                {{aposta | json}}
                            </pre> -->
                        <a (click)="closeCupom()" class="fechar-pre-bilhete">
                            <i class="fa fa-lg fa-close"></i>
                        </a>
                        <div class="aposta-item" *ngFor="let item of aposta.itens; let i=index">
                            <div class="item-header">
                                <a href="javascript:void(0)" (click)="removeGuess(i)" class="remover-palpite">
                                    <i class="fa fa-lg fa-close"></i>
                                </a>
                                <div>
                                    <span>{{item.sorteio_nome}}</span>
                                </div>
                                <div>
                                    <label>valor:</label>
                                    <span>{{item.valor | currency: 'BRL':'symbol':'1.2'}}</span>
                                </div>
                                <div>
                                    <label>Prêmio QUINA:</label>
                                    <span>{{(item.premio5) | currency: 'BRL':'symbol':'1.2'}}</span>
                                </div>
                                <div>
                                    <label>Prêmio QUADRA:</label>
                                    <span>{{(item.premio4) | currency: 'BRL':'symbol':'1.2'}}</span>
                                </div>
                                <div>
                                    <label>Prêmio TERNO:</label>
                                    <span>{{(item.premio3) | currency: 'BRL':'symbol':'1.2'}}</span>
                                </div>
                            </div>
                            <div class="circle-group">
                                <div class="circle" *ngFor="let numero of item.numeros">
                                    <div class="content">
                                        {{numero | number:'2.0'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form #apostaForm="ngForm">
                            <div class="form-row">
                                <div class="form-group col-xs-12 col-lg-6">
                                    <label for="">Apostador</label>
                                    <input type="text" class="form-control" required [(ngModel)]="aposta.apostador" name="apostador" [ngClass]="{'is-invalid': apostador.invalid && (apostador.dirty || apostador.touched)}"
                                        #apostador="ngModel">
                                    <div class="invalid-feedback" [hidden]="apostador.valid && (apostador.dirty || apostador.touched)">Campo obrigatório</div>
                                </div>
                                <div class="form-group col-xs-12 col-lg-6">
                                    <label for="">Telefone</label>
                                    <input type="text" class="form-control" required [(ngModel)]="aposta.telefone" name="telefone" [ngClass]="{'is-invalid': telefone.invalid && (telefone.dirty || telefone.touched)}"
                                        #telefone="ngModel">
                                    <div class="invalid-feedback" [hidden]="telefone.valid && (telefone.dirty || telefone.touched)">Campo obrigatório</div>
                                </div>
                            </div>
                            <div class="form-row botoes">
                                <div class="col">
                                    <button type="button" [disabled]="!apostaForm.form.valid" class="btn btn-primary" (click)="create('imprimir')">Finalizar e Imprimir</button>
                                </div>
                                <div class="col" *ngIf="appMobile">
                                    <button type="button" [disabled]="!apostaForm.form.valid" class="btn btn-primary" (click)="create('compartilhar')">Finalizar e Compartilhar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fixed-bar-bilhete" [ngStyle]="{'display': displayPreTicker? 'none' : ''}">
        <div>
            <label>Valor</label>
            <span>{{aposta.valor | currency: 'BRL':'symbol':'1.2'}}</span>
        </div>
        <div>
            <label>Palpite(s)</label>
            <span>{{aposta.itens.length}}</span>
        </div>
        <div>
            <label>P. de Prêmio</label>
            <span>{{(aposta.premio) | currency: 'BRL':'symbol':'1.2'}}</span>
        </div>
        <div class="open-bilhete">
            <a (click)="openCupom()">
                <i class="fa fa-lg fa-chevron-circle-up"></i>
            </a>
        </div>
    </div>
</div>
