.ver-jogos {
    margin: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: var(--highlight);
    color: var(--highlight);
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 42px;
}
