#default-content {
    padding: 25px 38px;
    display: flex;
    flex-direction: column;
}

.content-body {
    flex: 1;
    display: flex;
}

.content-body form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}


h2 {
    margin-bottom: 35px;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 40px;
}

label {
    font-size: 12px;
    line-height: 38px;
}

.row {
    margin-bottom: 30px;
}
