#default-content {
    padding: 25px 38px;
}

h2 {
    margin-bottom: 35px;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 40px;
}

label {
    font-size: 12px;
    line-height: 38px;
}

.row {
    margin-bottom: 30px;
}
