.btn-back{
    margin-bottom: 15px;
}

.indentificacao{
    padding: 15px 10px;
    position: relative;
}

.indentificacao .nome, h4{
    font-size: 1.2rem;
    font-weight: bolder;
}

.indentificacao .aovivo-tempo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.indentificacao .aovivo-label{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    margin-right: 15px;
}

.indentificacao .tempo{
    font-size: 1.2rem;
    font-weight: bolder;
}

.indentificacao .nome-placar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nome-placar .nome{
    font-weight: bolder;
}

.nome-placar .placar{
   background: red;
   color: #fff;
   padding: 5px 10px;
}

.nome-placar .placar-time-a{
    margin-right: 5px;
    margin-left: 15px;
}

.nome-placar .placar-time-b{
    margin-left: 5px;
    margin-right: 15px;
}

.tipo-apostas{
    background-color: #fff;
}

.tipo-aposta{
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    text-transform: uppercase;
}

.odds{
    display: flex;
    flex-flow: wrap;
}

.odds .odd{
    background-color: var(--odds);
    margin-right: 3px;
    flex: 1 1 0px;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 4px;
    min-width: 200px;
}

.odds .selecionado, .odds .odd:hover{
    background-color: var(--highlight);
}

.odds .selecionado span, .odds .odd:hover span{
    color: #000;
}

.odd .nome, .odd .valor{
    color: #fff;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .btn-back{
        position: absolute;
        left: 15px;
        top: 15px;
        margin: 0;
    }
}

@media only screen and (max-width: 668px) {
    .content-sports {
        padding-bottom: 90px;
    }
}
