<section class="content-sports inside-event" appPerfectScroll>
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
    <div class="jogo" *ngIf="!showLoadingIndicator">
        <div class="indentificacao">
            <div class="div-back" (click)="back()">
                <i class="fa fa-times"></i>
            </div>
            <div class="nome">
                <div class="time-a">
                    <div class="time-a-nome">{{jogo.time_a_nome}}</div>
                    <div class="placar time-a-placar">{{jogo.info?.time_a_resultado}}</div>
                </div>
                <div class="time-b">
                    <div class="placar time-b-placar">{{jogo.info?.time_b_resultado}}</div>
                    <div class="time-b-nome">{{jogo.time_b_nome}}</div>
                </div>
            </div>
            <div class="aovivo-tempo">
                <div class="aovivo-label">Ao Vivo</div>
                <div class="tempo">{{jogo.info?.minutos}}'</div>
            </div>
        </div>

        <div class="indentificacao-mobile">
            <div class="first-line">
                <div class="aovivo-tempo">
                    <div class="aovivo-label">Ao Vivo</div>
                    <div class="tempo">{{jogo.info?.minutos}}'</div>
                </div>
                <div class="div-back" (click)="back()">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="nome">
                <div class="time-a">
                    <div class="time-a-nome">{{jogo.time_a_nome}}</div>
                    <div class="placar time-a-placar">{{jogo.info?.time_a_resultado}}</div>
                </div>
                <div class="time-b">
                    <div class="placar time-b-placar">{{jogo.info?.time_b_resultado}}</div>
                    <div class="time-b-nome">{{jogo.time_b_nome}}</div>
                </div>
            </div>
        </div>

        <div class="campeonato-nome">
            <small>{{jogo.campeonato?.nome}}</small>
        </div>
        <div class="tipo-apostas">
            <div class="tipo-aposta" *ngFor="let chave of objectKeys(odds); trackBy">
                <h4>{{odds[chave].nome}}</h4>
                <div class="odds">
                    <div class="odd" *ngFor="let cotacao of odds[chave].cotacoes; trackBy: trackByKey"
                        (click)="addCotacao(jogo, cotacao)">
                        <div class="inner-odd" [ngClass]="{selecionado: oddSelecionada(jogo._id, cotacao.chave)}">
                            <span class="nome">
                                {{cotacao.chave | tipoAposta}}
                            </span>
                            <span class="valor">
                                {{cotacao.valor | calcularCotacao: cotacao.chave: jogo._id: null: true}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
