<div id="cupom">
    <div class="conteudo">
        <div style="text-align: center;">
            <img src="{{LOGO}}" alt="ZEBRINHA.BET">
        </div>
        <h1>#{{aposta.id}}</h1>
        <ng-container *ngFor="let item of aposta.itens">
            <p class="campeonato">
                {{item.campeonato.nome}}
            </p>
            <p class="jogo-horario">
                {{item.jogo.horario | moment: 'dddd, DD [de] MMMM [de] YYYY [ÀS] HH:mm'}}
            </p>
            <p class="jogo-nome">
                {{item.jogo.nome}}
            </p>
            <p class="jogo-cotacao">{{item.aposta_tipo.nome}} ( {{item.cotacao}} )
                <span *ngIf="item.ao_vivo"> | AO VIVO</span>
            </p>
        </ng-container>
        ----------------------------<br>
        <p class="informacoes-gerais">CAMBISTA: {{aposta.cambista.nome}}</p>
        <p class="informacoes-gerais">APOSTADOR: {{aposta.apostador}}</p>
        <p class="informacoes-gerais">HORÁRIO: {{aposta.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</p>
        ----------------------------<br>
        <p class="total-jogos">
            TOTAL DE JOGOS: {{aposta.itens.length}}
        </p>
        <p class="valor-aposta">
            VALOR DA APOSTA: {{aposta.valor | currency: 'BRL':'symbol':'1.2'}}
        </p>
        <p class="valor-premio">
            ESTIMATIVA DE GANHO: {{aposta.premio | currency: 'BRL':'symbol':'1.2'}}
        </p>
        <p *ngIf="opcoes.percentual_premio_cambista > 0" style="text-align: center; margin: 5px 1px 1px 1px; font-weight: bold; font-size: 14px;">
            CAMBISTA PAGA: {{cambistaPaga | currency: 'BRL':'symbol':'1.2'}}
        </p>
        <p class="mensagem-rodape">
            {{opcoes.informativoRodape}}
        </p>
    </div>
</div>
