#cupom{
    width: 19.27em;
    padding: 1em;
    background: #fff;
    margin: 2em auto;
}
#cupom img{
    max-height: 180px;
    max-width: 290px;
}
#cupom h1{
    text-align: center;
    font-weight: bold;
}
#cupom .campeonato{
    text-align: center;
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}
#cupom .jogo-horario, #cupom .jogo-nome, #cupom .jogo-cotacao{
    margin: 1px;
}
#cupom .jogo-horario{
    font-size: 12px;
    text-transform: uppercase;
}
#cupom .jogo-nome{
    font-weight: bold;
    font-size: 14px;
}
#cupom .jogo-cotacao{
    font-size: 12px;
}
#cupom .informacoes-gerais{
    margin: 1px;
    font-size: 12px;
}
#cupom .total-jogos, #cupom .valor-aposta{
    text-align: center;
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}
#cupom .valor-premio{
    text-align: center;
    margin: 5px 1px 1px 1px;
    font-weight: bold;
    font-size: 14px;
}
#cupom .mensagem-rodape{
    margin: 15px 1px 1px 1px;
    font-weight: bold;
    font-size: 14px;
    text-align: center
}
