<div id="default-content">
    <div class="content-header">
        <h2>Depósito</h2>
    </div>
    <div class="content-body">
        <div class="content">
            <div *ngIf="hasMpToken">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="mt-2">
                            <app-deposito-pix *ngIf="modalidade === 'pix'"></app-deposito-pix>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
