.games-search {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--actived {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        padding: 30px 15px;
        width: 100vw;
        height: 100vh;

        background-color: var(--header);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    &__content {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
        overflow: auto;
    }

    &__input {
        width: 100%;
    }

    &__close {
        display: none;
        font-size: 20px;
        font-weight: 600;
        line-height: 16px;
        color: var(--highlight);
        cursor: pointer;
    }

    &__close:hover {
        opacity: .9;
    }

    &--actived .games-search__close {
        display: block;
    }
}

.games-search--actived .games-search__content {
    padding-bottom: 24px;
}

:host ::ng-deep .games-search--actived .games-search__input .search-box__icon--clear {
    right: 55px;
}

.search-recents {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 12px;
        font-weight: 600;
        color: var(--foreground-header);
        
        line-height: 16px;
    }

    &__clear {
        font-size: 10px;
        font-weight: 400;
        color: var(--foreground-header);
        line-height: 13px;
        cursor: pointer;
    }

    &__body {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--foreground-inputs-odds);
        background-color: var(--inputs-odds);

        height: fit-content;
        border-radius: 3px;
        padding: 10px 17px;
        cursor: pointer;
    }

    &__clear:hover,
    &__item:hover {
        opacity: 0.9;
    }
}

.search-recents__body{
    flex-direction: row;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__header {
        font-size: 12px;
        font-weight: 600;
        color: var(--foreground-header);
        line-height: 16px;

        text-transform: capitalize;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__message {
        font-size: 12px;
        font-weight: 400;
        color: var(--foreground-header);
        line-height: 16px;
        opacity: 0.5;
    }

    &__providers,
    &__games {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    &__title {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.featured-games {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__header {
        font-size: 12px;
        font-weight: 400;
        color: var(--foreground-header);
        line-height: 16px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width: 667px) {
    .featured-games__body {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 15px;
    }

    .search-results__list {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 15px;
    }
}

@media only screen and (max-width: 1279px) {
    .games-search {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .games-search {
        margin-right: 16px;
        &--actived {
            position: relative;

            top: auto;
            left: auto;
            z-index: 10;
    
            padding: 0 0 20px 0;
            width: auto;
            height: 600px;
    
            background-color: var(--header);
            border-radius: 5px;
            border-top: 0;
            border-right: 1px solid var(--highlight);
            border-bottom: 1px solid var(--highlight);
            border-left: 1px solid  var(--highlight);
        }

        &--actived .games-search__header {
            border-top: 1px solid var(--highlight);
            border-right: 0;
            border-bottom: 1px solid var(--highlight);
            border-left: 0;
            border-radius: 5px 5px 0 0 ;

            background-color: var(--header);
        }

        &--actived .games-search__close {
            padding: 0 20px;
        }

        &__content {
            padding: 0 30px;
        }
    }

    :host ::ng-deep .games-search--actived .games-search__input .search-box__input,
    :host ::ng-deep .games-search--actived .games-search__input .search-box__input:hover,
    :host ::ng-deep .games-search--actived .games-search__input .search-box__input:focus {
        background-color: var(--header);
        color: var(--foreground-header);
        border: none;
    }

    :host ::ng-deep .games-search--actived .games-search__input .search-box__icon--search {
        color: var(--foreground-header);
    }

    :host ::ng-deep .games-search--actived .games-search__input .search-box__icon--clear {
        right: 20px;
    }

    :host ::ng-deep .games-search--actived .provider-card--filter {
        max-width: none;
    }

    .featured-games__body {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 15px;
    }

    .search-results__list {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 15px;
    }
}