#default-content {
    padding: 25px 38px;
}

#withdrawal {
    background-color: var(--sidebars);
    padding: 30px;
}

.withdrawal-details-title h3 {
    width: 96%;
}

.withdrawal-details-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

#withdrawal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#withdrawal-container h3 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 6px;
    color: var(--foreground-sidebars);
    border-bottom: 1px solid var(--foreground-sidebars);
}

#payment-method-column {
    flex: 2;
}

#payment-method-column h3,
#payment-method-column>div {
    width: 75%;
}

#withdrawal-details {
    flex: 3;
}

#details-wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.payment-method-options {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    color: var(--foreground-sidebars);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-method-options a {
    width: 96%;
    position: relative;
}

.options-container a .radio {
    height: 15px;
    width: 15px;
    border: 1px solid var(--foreground-sidebars);
    background-color: transparent;
    border-radius: 50%;
    position: relative;
}

.options-container a.active .radio {
    border: 1px solid var(--highlight);
}

.radio:after {
    content: "";
    position: absolute;
    display: none;

    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--highlight);
}

.options-container a.active .radio:after {
    display: block;
}

.payment-method-option {
    display: flex;
    align-items: center;
    padding: 18px 24px 18px 24px;
    margin-bottom: 15px;
    border: 1px solid var(--game);
    color: var(--foreground);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(var(--foreground-sidebars-rgb), 0.2);
}

.payment-method-option i.fa-caret-right {
    display: none;
    position: absolute;
    right: -7px;
    color: var(--highlight);
    font-size: 18px;
}

.payment-method-option.active i.fa-caret-right {
    display: block;
}

.payment-method {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 14px;
}

.payment-method-icon {
    width: 36px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.payment-method-name {
    font-size: 13px;
}

.active:not(.key-type-option) {
    background-color: rgba(var(--highlight-rgb), 0.1) !important;
    border-color: var(--highlight) !important;
}

.details-container {
    width: 96%;
    display: flex;
    color: var(--foreground-sidebars);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#details-wrapper .details-available-amount {
    border: 0.5px solid rgba(var(--foreground-sidebars-rgb), 0.2);
    padding: 12px 10px 9px;
    width: 25.5rem;
    border-radius: 5px;
}

#details-wrapper .details-available-amount span {
    font-weight: 600;
}

#details-wrapper .details-safe-withdrawal-alert {
    opacity: 70%;
    width: 74%;
    margin-top: 28px;
}

#details-wrapper .details-key-type {
    width: 100%;
    margin-top: 28px;
}

#details-wrapper .key-type-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 22px;
}

#details-wrapper .key-type-option {
    display: flex;
    flex-direction: row;
    color: var(--foreground-sidebars);
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}

#details-wrapper .key-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6px;
    margin-bottom: 4px;
}

#details-wrapper .key-type-input {
    margin-top: 22px;
    width: 25.5rem;
}

.details-amount {
    margin-top: 20px;
    width: 100%;
}

.details-amount input {
    text-align: left !important;
    width: 25.5rem;
    margin: 12px 0 8px
}

.details-amount label {
    margin-bottom: 0;
}

.details-amount .min-amount {
    color: rgba(var(--foreground-sidebars-rgb), 0.6);
}

.shortcut-amounts {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 25.5rem;
}

.shortcut-amounts button {
    width: 8rem;
    height: 40px;
    margin-top: 8px;
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto; 
}

.shortcut-amounts button p {
    margin-bottom: 0;
}

.shortcut-amounts button p:first-child {
    margin-right: 2px;
}

.shortcut-amounts button:active,
.shortcut-amounts button:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.inverted-out, input.inverted-out:disabled, input.inverted-out:read-only {
    border-color: rgba(var(--foreground-inputs-odds-rgb), 0.2);
}

.details-submit {
    width: 17rem;
    margin-top: 40px;
}

#details-wrapper .details-submit button {
    width: 100%;
}

.details-submit div {
    margin-bottom: 0;
}

#legitimuz-container {
    background-color: var(--sidebars);
    padding: 30px 20px;
}

#legitimuz {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#legitimuz-action-verify {
    flex: 1;
    width: 25%;
}

@media only screen and (max-width: 1024px) {
    #default-content {
        padding: 20px;
    }

    #withdrawal {
        background: var(--background);
        padding: 0;
    }

    .modal-body {
        padding-top: 50px;
    }

    #details-wrapper {
        margin-top: 0;
    }

    #details-wrapper .details-available-amount {
        width: 100%;
    }

    #details-wrapper .details-safe-withdrawal-alert {
        width: 100%;
    }

    #details-wrapper .key-type-select {
        margin-top: 22px;
    }

    #details-wrapper .key-type-input {
        width: 100%;
    }

    .details-payment-method {
        margin-top: 28px;
        width: 100%;
    }

    .details-payment-method select {
        margin-top: 24px;
    }

    .details-payment-method .form-group {
        margin-bottom: 0;
    }

    .details-amount input {
        width: 100%;
    }

    .shortcut-amounts {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .shortcut-amounts .btn{
        width: 30%;
    }

    #details-wrapper .details-submit {
        width: 100%;
    }

    #legitimuz-action-verify {
        width: 100%;
    }
}
