<div class="mobile-modal-header margin-10" *ngIf="isMobile">
    <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div class="titulo">{{'geral.saques' | translate}}</div>
    <div class="botao-direito"></div>
</div>
<div id="default-content">

    <app-spinner *ngIf="showLoading"></app-spinner>

    <ng-container *ngIf="!showLoading">
        <div class="content-header hide-mobile">
            <h2>{{'geral.saques' | translate}} </h2>
        </div>
        <div class="content-body">
            <div class="content">
                <div class="alert alert-secondary" role="alert">
                    <strong>{{'geral.atencao' | translate}}!</strong> <br>
                    {{'financeiro.valorMinimoSaque' | translate}}: <strong>{{valorMinSaque | currency}}</strong><br>
                    {{'financeiro.valorMaximoSaqueDiario' | translate}}: <strong>{{valorMaxSaqueDiario | currency}}</strong><br>
                    {{'financeiro.valorMaximoSaqueMensal' | translate}}: <strong> {{valorMaxSaqueMensal | currency}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div *ngIf="cadastroCompleto && !respostaSolicitacao">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <app-spinner *ngIf="submitting"></app-spinner>
                        <div class="row">
                            <div class="col col-sm-3 saque-pix">
                                <div class="form-group required">
                                    <div class="mt-3">
                                        <label class="label text-left">Chave Pix</label>
                                    </div>
                                    <div class="mt-3">
                                        <div class="form-group">
                                            <select formControlName="tipoChavePix" class="form-control inverted-out" (change)="onChavePixChange()">
                                                <option value="0" disabled>{{'geral.selecioneChavePix' | translate}}</option>
                                                <option value="cpf">CPF</option>
                                                <option value="email">E-mail</option>
                                                <option value="phone">Telefone</option>
                                            </select>
                                            <app-error-msg [control]="form.get('tipoChavePix')"></app-error-msg>
                                        </div>
                                    </div>
                                    <div class="mt-3" *ngIf="form.get('tipoChavePix').value !== '0'">
                                        <div class="form-group">
                                            <label for="clienteChavePix" id="labelChavePix" class="text-left">{{ labelChavePix }}</label>
                                            <input type="text" id="clienteChavePix" class="form-control inverted-out"
                                                    [ngClass]="applyCssInputError('clienteChavePix')"
                                                    formControlName="clienteChavePix"
                                                    [mask]="getMask()"
                                                    [readonly]="form.get('tipoChavePix').value == 'cpf'">
                                            <app-error-msg [control]="form.get('clienteChavePix')"></app-error-msg>
                                        </div>
                                    </div>
                                    <div [ngClass]="{'text-center': isMobile}">
                                        <span class="alerta-saldo mt-3">
                                            {{'saques.saldoDisponivelParaSaque' | translate}}: {{ saldo | currency }}</span>
                                        <label class="label"
                                               [ngClass]="{'label-input-valor': isMobile}">
                                            <span *ngIf="isMobile">{{'saques.informeOValor' | translate}}</span>
                                            <span *ngIf="!isMobile">{{'saques.informeValorDesejadoSaque' | translate}}</span>
                                        </label>
                                        <input currencyMask
                                               [ngClass]="{'form-control inverted-out text-left mt-3': !isMobile, 'input-valor': isMobile}"
                                               [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                               formControlName="valor">
                                        <app-error-msg [control]="form.get('valor')"></app-error-msg>
                                        <span
                                            class="hide-mobile mt-3 d-block">
                                            {{'saques.saldoDisponivelParaSaque' | translate}}: {{ saldo | currency }}</span>
                                    </div>
                                </div>
                                <div *ngIf="apiPagamentos == 'sauto_pay' && !metodoPagamentoDesabilitado"
                                     class="alert alert-info alert-dismissible fade show">
                                    <b>{{'geral.atencao' | translate}}! </b>{{'saques.infoSautoPay' | translate}}. <br>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-3 saque-pix">
                                <div class="form-group group-buttons">
                                    <button type="submit" class="btn btn-custom solicitar-saque" [ngClass]="{'btn-block': isMobile}"
                                            [disabled]="submitting"  [disabled]="disableButtom">
                                        {{'geral.sacar' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="alert alert-danger" *ngIf="!cadastroCompleto">
                    {{errorMessage}} <a class="btn-link pointer" (click)="completarCadatro()">{{'geral.cliqueAquiParaContinuar' | translate}}.</a>
                </div>
                <div class="alert alert-info" *ngIf="respostaSolicitacao">
                    {{respostaSolicitacao}}
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <label class="label">
                <span>{{'saques.solicitacoesRecentes' | translate}}</span>
            </label>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>{{'geral.detalhes' | translate}}</th>
                    <th>{{'geral.status' | translate}}</th>
                    <th>{{'geral.valor' | translate}}</th>
                    <!-- <th></th> -->
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let saque of saques">
                        <td><img src="/assets/images/debito.svg" alt="image"></td>
                        <td>{{'saques.saqueERegistrado' | translate}} {{ saque.data }}</td>
                        <td>
                          {{ saque.status }}
                          <a class="info" *ngIf="saque.observacao" placement="top" [ngbPopover]="saque.observacao">
                            <i class="fa fa-info"></i>
                          </a>
                        </td>
                        <td>{{ saque.valor | currency}}</td>
                        <!-- <td>
                            <a class="btn-cancelar" *ngIf="exibirCancelarSolicitacaoSaque(saque)" (click)="cancelarSolicitacaoSaque(saque.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>
