.modal-body {
    padding: 30px 35px 40px;
}


.form-group {
    margin-bottom: 25px;
}

.group-valor {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.input-valor {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.input-valor:focus {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #35cd96;
}

.input-valor.is-invalid {
    border-color: var(--wb-warning);
}
