<div id="resultados">
    <div class="content-header">
        <h2>Seninha</h2>
    </div>
    <div class="content-body">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="card">
                        <p>
                            Escolha as suas dezenas:
                        </p>
                        <div class="square-group">
                            <div class="square" *ngFor="let number of numbers" (click)="checkNumber(number)" [ngClass]="{'active': isChecked(number)}">
                                <div class="content">
                                    {{number | number:'2.0'}}
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Para gerar seu palpite aleatório basta clicar na quantidade de Dezenas abaixo.
                        </div>
                        <p>
                            Qtd. de Dezenas e suas contações:
                        </p>
                        <div class="bet-types">
                            <div class="bet-type" *ngFor="let tipoAposta of tiposAposta" [ngClass]="{'active': checkBetType(tipoAposta)}">
                                <div class="circle" (click)="generateGuess(tipoAposta.qtdNumeros)">
                                    <div class="content">
                                        {{tipoAposta.qtdNumeros}}
                                    </div>
                                </div>
                                <span class="price">{{tipoAposta.cotacao}}</span>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="col-xs-12">
                                <form #itemForm="ngForm" class="form" (ngSubmit)="includeGuess()">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="">Apostador</label>
                                            <input type="text" class="form-control" required [(ngModel)]="aposta.apostador" name="apostador" #apostador="ngModel">
                                            <!-- <span [hidden]="apostador.valid || apostador.pristine" class="help-block">Campo obrigatório</span> -->
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="">Telefone</label>
                                            <input type="text" [(ngModel)]="aposta.telefone" name="telefone" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="">Sorteio</label>
                                            <select class="form-control" [(ngModel)]="item.sorteio_id" name="sorteioId" required>
                                                <option [value]="null">Selecione</option>
                                                <option *ngFor="let sorteio of sorteios" [value]="sorteio.id">
                                                    {{sorteio.nome}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="">Valor do Palpite (R$)</label>
                                            <input type="number" [(ngModel)]="item.valor" name="valor" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Incluir Palpite</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="card">
                        Pré-Bilhete
                        <pre>
                            {{aposta | json}}
                        </pre>
                        <div>
                            <button type="button" (click)="save()" class="btn btn-primary">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
