<div class="account-verification-alert">
    <div class="account-verification-alert__header">
        <span class="account-verification-alert__icon--left">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
        </span>
    </div>
    <div class="account-verification-alert__body">
        <span class="account-verification-alert__title">{{ title }}</span>
        <span class="account-verification-alert__description" [innerHTML]="description"></span>
    </div>
    <div class="account-verification-alert__footer">
        <button class="account-verification-alert__btn-to-verify" (click)="acceptedTerms()">
            Aceitar os novos termos
        </button>
        <button *ngIf="!cancelTerms; else confirmLogout" class="account-verification-alert__btn-to-cancel" (click)="changeButton()">
            Recusar termos
        </button>
    </div>
    <ng-template #confirmLogout>
        <button class="account-verification-alert__btn-to-cancel" (click)="logout()">
            Desejo recusar os termos
        </button>
    </ng-template>
</div>
