<footer>
    <div class="instruction">
        <div class="content row">
            <div class="col-sm-4 col-12">
                <h3>Veja como é fácil comprar seu sorteio na Betsocial</h3>
                <p style="margin-bottom: 32px">É bem fácil e rápido, se liga nas dicas ao lado! 😉😉</p>
            </div>
            <div class="col-sm-8 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="step">
                            <div >
                                01
                            </div>
                        </div>
                        <div>
                            <div class="title">Escolha to Sorteio</div>
                            <div class="description">
                                <p>Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio e fotos em caso de dúvidas entre em contato com o administrador.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="step">
                            <div >
                                02
                            </div>
                        </div>
                        <div>
                            <div class="title">Selecione os números</div>
                            <div class="description">
                                <p>Escolha a quantidade de número que desejar. Lembre-se quanto mais números, mais chances de ganhar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="step">
                            <div >
                                03
                            </div>
                        </div>
                        <div>
                            <div class="title">Faça o pagamento</div>
                            <div class="description">
                                <p>Realize o depósito do valor em sua conta e realize o pagamento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="step">
                            <div >
                                04
                            </div>
                        </div>
                        <div>
                            <div class="title">Aguarde do sorteio</div>
                            <div class="description">
                                <p>Cruze os dedos e aguarde o resultado do sorteio. Você pode ser o próximo sorteado.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crop">
                <img src="assets/images/peolples/person_1.png" >
            </div>
        </div>



    </div>

    <div class="page-bottom d-flex justify-content-around">
        <div class="">
            <a>2024 © Todos os direitos reservados Betsocial</a>
        </div>
        <div class="">
            <a>Termos de uso</a>&nbsp;&nbsp;

            <a>Politica de Privacidade</a>
        </div>
    </div>

</footer>
