footer {
    margin-top: 15px;
    margin-bottom: 0;
    background-color: var(--header);
    min-height: 250px;
    padding: 25px 0 35px 0;
    font-size: 14px;
}

.title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

.image {
    max-width: 70px;
    max-height: 40px;
}

.container {
    text-align: center;
    color: var(--foreground-header);
}

.info {
    margin: 15px 0;
}

.logo {
    width: 100%;
    margin-bottom: 15px;
}

.logo img {
    max-height: 80px;
    max-width: 120px;
}

.links {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.links a {
    font-weight: 400;
    color: var(--highlight);
    text-decoration: none;
    white-space: nowrap;
}

footer {
    position: relative;
}

.toTop {
    position: absolute;
    top: 20px;
    right: 20px;

    color: var(--foreground-inputs-odds);
    text-decoration: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--inputs-odds);
    border-radius: 4px;

    height: 45px;
    width: 45px;
}

.toTop:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

@media only screen and (max-width: 1024px) {
    .container{
        font-size: 10px;
    }

    .title {
        font-size: 12px;
    }

    .links {
        flex-direction: column;
        font-size: 12px;
    }

    .info {
        margin: 25px 0;
    }
}
