<footer>
    <a class="toTop" (click)="container.scrollTop = 0" *ngIf="container">
        <i class="fa fa-angle-up"></i>
    </a>
    <div class="container">
        <div class="logo">
            <p>
                <a class="" [routerLink]="['/esportes/futebol/jogos']">
                    <img [src]="LOGO">
                </a>
            </p>
        </div>

        <div [innerHTML]="rodape | safeHTML">
        </div>

        <div class="info" *ngIf="hasApiPagamentos">
            <h4 class="title">{{'footer.metodosDePagamento' | translate}}</h4>
            <p>
                <img src="https://www.bcb.gov.br/content/estabilidadefinanceira/piximg/logo_pix.png" class="image">
            </p>
        </div>

<!--        <div class="info">-->
<!--            <h4 class="title">Patrocinador oficial</h4>-->
<!--            <p>-->
<!--                <img src="https://cdn.wee.bet/img/logo-sportivedata.png" class="image">-->
<!--            </p>-->
<!--        </div>-->

        <div class="links">
            <a [routerLink]="['/informacoes/quem-somos']" *ngIf="hasQuemSomos">
                {{'footer.quemSomos' | translate}}
            </a>
            <a target="_blank" download="app.apk" [href]="appUrl" *ngIf="hasApk && !trevoOne && !isAppMobile">
                {{'footer.downloadApp' | translate}}
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=trevo.one.la" *ngIf="!isAppMobile && trevoOne">
                {{'footer.downloadApp' | translate}}
            </a>
            <a [routerLink]="['/informacoes/regras']" *ngIf="hasRegras">
                {{'footer.regras' | translate}}
            </a>
            <a *ngIf="isLoggedIn && esporteHabilitado" class="pointer" (click)="abrirResultados()">
                {{'footer.resultados' | translate}}
            </a>
            <a [routerLink]="['/informacoes/politica-privacidade']" *ngIf="hasPoliticaPrivacidade">
                {{'footer.politicaDePrivacidade' | translate}}
            </a>
            <a [routerLink]="['/informacoes/politica-aml']" *ngIf="hasPoliticaAml">
                {{'footer.politicaAml' | translate}}
            </a>
            <a [routerLink]="['/informacoes/jogo-responsavel']" *ngIf="hasJogoResponsavel">
                {{'footer.jogoResponsavel' | translate}}
            </a>
            <a [routerLink]="['/informacoes/termos-condicoes']" *ngIf="hasTermosCondicoes">
                {{'footer.termosECondicoes' | translate}}
            </a>
        </div>

        <div class="links" *ngIf="cartaoApostaHabilitado">
            <ng-container *ngIf="isLoggedIn && !isCliente">
                <a (click)="abrirCriarCartao()">
                    Criar Cartão de Aposta
                </a>
                <a (click)="abrirRecargaCartao()">
                    Recarregar Cartão de Aposta
                </a>
            </ng-container>
            <a (click)="abrirConsultarCartao()">
                Consultar Cartão de Aposta
            </a>
            <a (click)="abrirSolicitarSaque()">
                Solicitar Saque Cartão de Aposta
            </a>
        </div>

        <div class="btn-group dropdown language-dropdown hide-desktop">
            <button class="btn dropdown-toggle" type="button" id="dropdownLanguage"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="flag-icon {{linguagemSelecionada === 'pt' ? 'flag-icon-br' : 'flag-icon-us'}} flag-icon-squared"></span>
                {{'geral.selecionarIdioma' | translate}}
            </button>
            <div class="dropdown-menu language-dropdown-menu" aria-labelledby="dropdownLanguage">
                <a class="m-2 p-0 dropdown-item" (click)="alterarLinguagem('pt')">
                    <span class="flag-icon flag-icon-br flag-icon-squared"></span>
                    {{'geral.portugues' | translate}}
                </a>
                <a class="m-2 p-0 dropdown-item" (click)="alterarLinguagem('en')">
                    <span class="flag-icon flag-icon-us flag-icon-squared"></span>
                    {{'geral.ingles' | translate}}
                </a>
            </div>
        </div>

        <div class="info">
            <small>{{'footer.todosOsDireitosReservados' | translate:{'BANCA_NOME': BANCA_NOME} }}</small>
        </div>
    </div>
</footer>