<footer *ngIf="!isAppMobile">
    <a class="toTop" (click)="container.scrollTop = 0" *ngIf="container">
        <i class="fa fa-angle-up"></i>
    </a>
    <div class="container">
        <div class="logo">
            <p>
                <a class="" [routerLink]="['/esportes/futebol/jogos']">
                    <img [src]="LOGO">
                </a>
            </p>
        </div>

        <div>
            <p>
                {{'footer.mensagem1' | translate:{'BANCA_NOME': BANCA_NOME} }}
            </p>

            <p>
                {{'footer.mensagem2' | translate:{'BANCA_NOME': BANCA_NOME} }}
            </p>

            <p>
                {{'footer.jogueComResponsabilidade' | translate}}
            </p>
        </div>

        <div class="info" *ngIf="hasMpToken">
            <h4 class="title">{{'footer.metodosDePagamento' | translate}}</h4>
            <p>
                <img src="https://www.bcb.gov.br/content/estabilidadefinanceira/piximg/logo_pix.png" class="image">
            </p>
        </div>

<!--        <div class="info">-->
<!--            <h4 class="title">Patrocinador oficial</h4>-->
<!--            <p>-->
<!--                <img src="https://cdn.wee.bet/img/logo-sportivedata.png" class="image">-->
<!--            </p>-->
<!--        </div>-->

        <div class="links">
            <a [routerLink]="['/informacoes/quem-somos']">
                {{'footer.quemSomos' | translate}}
            </a>
            <a target="_blank" download="app.apk" [href]="appUrl" *ngIf="!trevoOne && !isAppMobile">
                {{'footer.downloadApp' | translate}}
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=trevo.one.la" *ngIf="!isAppMobile && trevoOne">
                {{'footer.downloadApp' | translate}}
            </a>
            <a [routerLink]="['/informacoes/regras']">
                {{'footer.regras' | translate}}
            </a>
            <a class="pointer" (click)="abrirResultados()">
                {{'footer.resultados' | translate}}
            </a>
            <a [routerLink]="['/informacoes/politica-privacidade']">
                {{'footer.politicaDePrivacidade' | translate}}
            </a>
            <a [routerLink]="['/informacoes/jogo-responsavel']">
                {{'footer.jogoResponsavel' | translate}}
            </a>
            <a [routerLink]="['/informacoes/termos-condicoes']">
                {{'footer.termosECondicoes' | translate}}
            </a>
        </div>

        <div class="info">
            <small>{{'footer.todosOsDireitosReservados' | translate:{'BANCA_NOME': BANCA_NOME} }}</small>
        </div>
    </div>
</footer>
<footer *ngIf="isAppMobile" class="footer-app-mobile"></footer>
