footer {
    margin-bottom: 0;
    background-color: var(--header);
    min-height: 250px;
    padding: 25px 0 25px 0;
    font-size: 12px;
}

.footer-app-mobile{
    margin-top: 15px;
    margin-bottom: 0;
    background-color: var(--header);
    min-height: 0;
    max-height: 0;
    /*padding: 25px 0 35px 0;*/
    /*font-size: 14px;*/
}

.title {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 15px;
}

.title-cartao {
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.image {
    max-width: 70px;
    max-height: 40px;
}

.container {
    text-align: center;
    color: var(--foreground-header);
}

.info {
    margin: 15px 0;
}

.logo {
    width: 100%;
    margin-bottom: 15px;
}

.logo img {
    max-height: 100px;
    max-width: 150px;
}

.info-jogo {
    margin-top: 20px;
    margin-bottom: 0;
}

.info-jogo h4 {
    font-weight: normal;
    margin-bottom: 0;
}

.info-jogo .icons {
    margin-top: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.redes-sociais {
    margin-bottom: 20px;
    margin-top: 10px;
}

.redes-sociais .links-redes {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.redes-sociais .links-redes svg {
    height: 20px;
}

.links {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.links a {
    font-weight: 400;
    color: var(--highlight);
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

footer {
    position: relative;
}

.toTop {
    position: fixed;
    bottom: 12em;
    right: 20px;
    color: var(--foreground-inputs-odds);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.51);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.29) 100%);
    backdrop-filter: blur(10.350000381469727px);
}

.toTop i {
    margin-bottom: -5px;
}

.toTop:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.language-dropdown {
    font-size: 12px;
    margin: 8px auto;
    color: var(--foreground-sidebars);
    width: 50%;
}

.language-dropdown .btn {
    font-size: 12px;
    color: var(--foreground-sidebars);
}

.language-dropdown-menu {
    width: 100%;
    font-size: 12px;
}

.info.pagamento h4 {
    margin-bottom: 4px;
}

@media only screen and (max-width: 480px) {
    @supports (-webkit-touch-callout: none) {
        .info.copyright {
            margin-bottom: 35px !important;
        }
        footer {
            margin-bottom: 38px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        padding-bottom: 60px;
    }

    .info.copyright {
        margin-top: 5px !important;
    }

    .container{
        font-size: 11px; /* ajuste fonte */
    }

    .title {
        font-size: 12px;
    }

    .links {
        flex-direction: column;
        font-size: 12px;
        gap: 15px;
        margin-top: 10px;
    }

    .info {
        margin: 0;
    }

    .info-jogo .icons {
        gap: 25px;
        margin-top: 15px;
    }

    .info.pagamento h4 {
        margin-bottom: 4px;
    }
}
