.modal-500 .modal-dialog {
    width: 400px !important;
}

.modal-cadastro-cliente .modal-dialog {
    width: 400px !important;
}

.modal-content {
    width: 400px !important;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--background);
    min-height: 100vh;
    
}

.my-custom-svg {
    fill: var(--foreground);
}

.container-header {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header-register{
    color: var(--foreground);
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.header-register-item{
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close-register i {
    font-size: 22px;
    color: var(--highlight);
}

.btn-close-register{
    box-sizing: content-box;
    background-color: var(--background);
    border: 0;
    border-radius: 4px;
    opacity: 0.5;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

@media only screen and (min-width: 1025px) {
    .container{
        min-height: 572px;
        padding: 0 33px;
    }
}