<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-he">
                <h3 class="modal-title">Limite de Tempo de Uso Alcançado</h3>
                <a class="close-modal-ativacao" aria-label="Close" (click)="back()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="modal-body-custom">
                <p>O tempo de uso definido por você foi atingido. Recomendamos que retorne mais tarde. Você pode ajustar esse lembrete a qualquer momento.</p>
            </div>
            <div class="modal-footer-he">
                <button type="button" class="btn btn-custom btn-block btn-cadastrar" (click)="logout()">Sair agora</button>
                <button type="button" class="btn btn-secondary btn-cancel" (click)="back()">Continuar jogando</button>
            </div>
        </div>
    </div>
</div>