:root {
    --background: #ffffff;
    --foreground: #000;

    --header: #d6eeff;
    --foreground-header: #1A85AB;

    --sub-nav: #3598cd;
    --foreground-sub-nav: #FFFFFF;

    --sidebars: #3598cd;
    --foreground-sidebars: #FFFFFF;

    --game: #3598cd;
    --foreground-game: #000;

    --inputs-odds: #3598cd;
    --foreground-inputs-odds: #ffffff;

    --highlight: #1A85AB;
    --foreground-highlight: #ffffff;

    --sidebar-right: #cece1d;
    --foreground-sidebar-right: #ffffff;

    --sidebar-left: #d6eeff;
    --foreground-sidebar-left: #ffffff;

    --odds: #046eef;
    --foreground-odds: #b21d1d;
    --foreground-selected-odds: #000000;

    --league: #e1e2e4;
    --foreground-league: #455a64;

    --event-time: #0A0A09;
    --fg-event-time: #ffffff;

    --wb-warning: #f53f3f;

    --bottom-bar: #3598cd;
    --foreground-bottom-bar: #ffffff;

    --background-rgb: 24, 24, 24;
}
