.square-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.square{
    width: 50px;
    height: 50px;
    padding: 17px 0;
    text-align: center;
    background-color: whitesmoke;
    margin: 3px;
    cursor: pointer;
}

.square-group .active{
    background-color:#3492ff;
    color: #fff;
}

.square .content, .circle .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bet-types{
    display: flex;
    flex-wrap: wrap;
}

.bet-types .active .circle, .bet-types .active .price {
    background-color:#3492ff;
    font-weight: bolder;
    color: #fff;
}

.bet-type{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7px 7px 7px 0;
    flex-grow: 1;
}

.bet-type .price{
    background-color: whitesmoke;
    padding: 10px 15px;
}

.bet-type .circle{
    margin: 0 0 3px 0;
}

.circle{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-bottom: 15px;
    cursor: pointer;
}

.pre-bilhete{
    display: none;
    /* position: relative; */
}
.pre-bilhete .form-row{
    margin-top: 12px;
}

.pre-bilhete button{
    width: 100%;
}

.form-row select,
.form-row input{
    font-size: 1.5rem;
    height: 38px;
}

button{
    line-height: 27px;
}

.pre-bilhete .aposta-item{
    border: 1px solid #d7dfe3;
    background: #eef5f9;
    border-radius: 4px;
    padding: 10px 5px 10px 10px;
    margin-top: 15px;
}

.pre-bilhete .aposta-item .circle{
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.pre-bilhete .item-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-right: 22px;
}

.pre-bilhete .remover-palpite{
    font-size: 18px;
    color: red;
    position: absolute;
    right: 5px;
    top: -5px;
}

.pre-bilhete .item-header > div{
    flex-grow: 1;
    text-transform: capitalize;
}

.pre-bilhete .item-header > div label{
    margin-right: 3px;
}


.pre-bilhete .item-header > div span{
    font-weight: bold;
}

#fixed-bar-bilhete{
    padding: 5px;
    background: var(--background-primario);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    color: white;
}

#fixed-bar-bilhete.opened{
    top:113px;
}

#fixed-bar-bilhete > div{
    flex-grow: 1;
}

#fixed-bar-bilhete > div > *{
    display: block;
    text-align: center;
}
#fixed-bar-bilhete > div label{
    font-size: 0.9rem;
    margin-bottom: 0;
}
#fixed-bar-bilhete > div span{
    font-weight: bold;
}
#fixed-bar-bilhete > div.open-bilhete .fa{
    padding: 11px 5px;
}

.pre-bilhete-mobile{
    position: fixed;
    top: 113px;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background: var(--background-primario);
    display: block;
    overflow-y: auto;
}

.fechar-pre-bilhete{
    right: 10px;
    top: 9px;
    padding: 9px;
    position: absolute;
}

.pre-bilhete .botoes .col{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #fixed-bar-bilhete{
        display: none
    }

    .fechar-pre-bilhete{
        display: none;
    }

    .pre-bilhete{
        display: block;
    }
}

.loteria-content {
    padding: 0px 15px 0px 255px;
}

.loteria-content .card {
    border-radius: 0;
}

.loteria-content .pre-bilhete {
    padding: 20px 0 0 15px;
}

.loteria-content .pre-bilhete .form-row.inputs {
    background-color: #036ef1;
    padding: 20px 15px 8px 15px;
    border-radius: 0.25rem;
    margin-bottom: 15px;
    margin-top: 25px;
    margin-right: 0px;
    margin-left: 0px;
}

.loteria-content .pre-bilhete h4{
    color: #c9def5;
    text-align: center;
}

.loteria-content .pre-bilhete h4::before{
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: red;
    top: 23px;
    left: 108px;
    position: relative;
}

.loteria-content .content-header {
    background: #E1E2E4;
    color: #455a64;
    text-transform: uppercase;
    padding: 15px 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.loteria-content .content-body .content {
    display: flex;
}

.loteria-content .content-body .content .col-lg-9 {
    padding: 0px;
}

@media only screen and (max-width: 668px) {
    .loteria-content {
        padding: 0;
    }

    .loteria-content .pre-bilhete {
        padding: 40px 15px 0;
    }
}
