<section class="bilhete" *ngIf="itens.length > 0">
    <div class="header-bilhete" (click)="toggleBilhete()">
        <span>
            <i class="fa fa-ticket"></i> Bilhete ({{itens.length}})
        </span>
        <i class="fa fa-angle-{{ showBilhete ? 'up' : 'down' }}"></i>
    </div>

    <div class="body-bilhete" *ngIf="showBilhete">
        <div class="top-bilhete">
            <span>{{ 'bilhete.jogosSelecionados' | translate }}</span>
            <a (click)="removerItens()"><i class="fa fa-trash"></i> {{ 'bilhete.removerTodos' | translate }}</a>
        </div>

        <div class="lista-jogos-selecionados">
            <div *ngFor="let item of itens.value; let i=index" class="jogo-selecionado">
                <div class="jogo-selecionado-info">
                    <div class="fw-600">
                        {{item.jogo.horario | moment:'DD/MM/YYYY'}} <span *ngIf="item.jogo.ao_vivo"> - {{'bilhete.aoVivo' | translate}}</span>
                    </div>
                    <div class="fw-600">
                        {{item.jogo.nome}}
                    </div>
                    <div class="">
                        {{item.jogo.campeonato.nome}}
                    </div>
                    <div class="">
                        Resultado final: {{ item.cotacao.chave }}
                    </div>
                </div>
                <div class="remover-item" (click)="removerItem(i)">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>

        <form>
            <input class="form-control inverted-out" placeholder="Nome do Apostador" />
            <input class="form-control inverted-out" placeholder="R$ 0" />
            <button class="btn btn-custom" type="submit">Apostar</button>
        </form>
    </div>

</section>
