.bilhete {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 20px;

    z-index: 1001;
}

.header-bilhete {
    padding: 10px;
    background: var(--highlight);
    color: var(--foreground-highlight);
    border-radius: 5px 5px 0 0;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bilhete .body-bilhete .top-bilhete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.bilhete .body-bilhete .top-bilhete a {
    cursor: pointer;
}

.body-bilhete {
    background: var(--header);
    color: var(--foreground-header);
    height: 60vh;

    display: flex;
    flex-direction: column;
}

.body-bilhete .lista-jogos-selecionados {
    flex: 1;
    padding: 0 15px;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.body-bilhete .lista-jogos-selecionados .jogo-selecionado {
    position: relative;
}

.body-bilhete .lista-jogos-selecionados .jogo-selecionado:first-of-type {
    padding-top: 15px;
}

.body-bilhete .lista-jogos-selecionados .jogo-selecionado .remover-item {
    top: 15px;
    right: 0px;
    color: var(--highlight);
    position: absolute;
    cursor: pointer;
}

.body-bilhete .lista-jogos-selecionados .jogo-selecionado-info {
    font-size: 10px;
    color: var(--foreground-header);
}

.body-bilhete form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
}

.fw-600 {
    font-weight: 600;
}
