<div class="account-verification-onboarding">
    <div class="account-verification-onboarding__header">
        <app-account-verification-step-bar [steps]="verifiedSteps"/>
    </div>
    <div class="account-verification-onboarding__body">
        <app-account-verification-phone-step *ngIf="showPhoneStep" (toAdvance)="toAdvance()" />
        <app-account-verification-email-step *ngIf="showEmailStep" (toAdvance)="toAdvance()" />
        <app-account-verification-document-step *ngIf="showDocumentStep" (toAdvance)="toAdvance()" />
    </div>
    <div class="account-verification-onboarding__footer">
        <button
            class="account-verification-onboarding__logout-button"
            (click)="handleLogout()"
        >
            {{ 'geral.logout_account' | translate }}
        </button>
    </div>
</div>
