<div id="default-content">
    <div class="wrap-stick">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
        <div *ngIf="!showLoadingIndicator">
            <div class="content-header">
                <h2>{{tituloPagina}}
                    <button class="btn float-right" (click)="savePDF()"><i class="fa fa-solid fa-file-pdf"></i></button>
                    <button class="btn float-right"
                            printSectionId="print-section"
                            [printTitle]="tituloPagina"
                            ngxPrint><i class="fa fa-solid fa-print"></i></button>
                </h2>

            </div>
            <div class="content-body" #content id="print-section">
                <div class="content" [innerHTML]="pagina.conteudo | safeHTML">
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
