:host {
    flex: 1;
}

.modal-body {
    padding-top: 55px;
    height: calc(100% - 68px);
    display: flex;
    flex-direction: column;
}

.content-body {
    flex: 1;
}

.content-body form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-body form .fields {
    flex: 1;
}

h2 {
    font-size: 18px;
    margin-bottom: 25px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 30px;
}

.form-group:first-of-type {
    margin-top: 0;
    margin-bottom: 0;
}

.form-group{
    margin-top: 25px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnClose {
    font-size: 32px;
    line-height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    color:  var(--highlight);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding: 20px;
    }

    .buttons {
        gap: 20px;
    }

    .buttons button {
        flex: 1;
        margin: 0 !important;
    }
}
