<section id="live-section">
    <div *ngFor="let key of keys()">
        <div>
            <div>
                <b>{{jogos[key].time_a_nome}}</b> {{jogos[key].info.time_a_resultado}}-{{jogos[key].info.time_b_resultado}}
                <b>{{jogos[key].time_b_nome}}</b>
                <span>
                    <a class="btn btn-primary" routerLink="/live/jogo/{{jogos[key]._id}}">
                        Ver
                    </a>
                </span>
            </div>
            <div>
                {{jogos[key].info.minutos}}' {{jogos[key].info.tempo}}T
            </div>
            <br>
        </div>
    </div>
</section>
