<div class="modal-header">
    <img class="logo-modal" [src]="LOGO" alt="">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <h4 class="modal-title" id="modal-basic-title">Autenticação de dois fatores</h4>
    <ng-container *ngIf="submitting">
        <div style="height: 150px">
            <app-spinner class="spinner"></app-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!submitting">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-4 py-3" novalidate>
            <div class="form-group">
                <label class="label">Informe o código de verificação enviado para seu e-mail.</label>
                <code-input [isCodeHidden]="false" (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)"></code-input>
                <input type="hidden" [(ngModel)]="codigo" formControlName="codigo" >
                <app-error-msg [control]="form.get('codigo')" label="{{'geral.codigo' | translate}}"></app-error-msg>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Enviar</button>
        </form>
        <label *ngIf="!botaoReenviar" class="reenvio-count">Reenvio disponível em {{cronometro}} segundos</label>
        <a type="submit" class="reenvio" *ngIf="botaoReenviar" (click)="reenviarEmail()" style="cursor: pointer">
            <i class="fa fa-share"></i> Reenviar código de verificação
        </a>
    </ng-container>
</div>
