<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Autenticação de dois fatores</h4>
    <div class="action-buttons">
        <button type="button" class="" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <ng-container *ngIf="submitting">
        <div style="height: 149px">
            <app-spinner class="spinner"></app-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!submitting">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-4 py-3" novalidate>
            <input type="hidden" formControlName="casino" value="true">
            <div class="form-group">
                <label class="label">Digite o código enviado para seu email:</label>
                <input type="text" class="form-control form-control-lg" formControlName="codigo"
                    [ngClass]="applyCssInputError('codigo')">
                <app-error-msg [control]="form.get('codigo')" label="Código"></app-error-msg>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <div class="dropdown-divider"></div>
        <label *ngIf="!botaoReenviar" class="dropdown-item">Reenvio disponível em {{cronometro}} segundos</label>
        <a type="submit" class="dropdown-item" *ngIf="botaoReenviar" (click)="reenviarEmail()" style="cursor: pointer">
            <i class="fa fa-share"></i> Reenviar código
        </a>
    </ng-container>
</div>
