<header>
    <!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"> -->
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['/admin']">WeeBet</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <p>Dummy Heading</p>
                    <li>
                        <a href="#">Apuração</a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/resultados']" routerLinkActive="router-link-active" >Resultados</a>
                    </li>
                    <li>
                        <a href="#">Validar Aposta</a>
                    </li>
                </ul>
            </nav>
        </div>

        <main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
