<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<app-header></app-header>
<!-- ============================================================== -->
<!-- End Page Header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Main Wrapper -->
<!-- ============================================================== -->
<main id="main-wrapper" role="main">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <router-outlet></router-outlet>
    <!-- ============================================================== -->
    <!-- End Start Page Content -->
    <!-- ============================================================== -->
</main>
<!-- ============================================================== -->
<!-- End Main Wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page Footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
