<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<app-header></app-header>
<!-- ============================================================== -->
<!-- End Page Header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Main Wrapper -->
<!-- ============================================================== -->
<main id="main-wrapper" role="main">
    <div id="content">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- End Start Page Content -->
        <!-- ============================================================== -->
    </div>
</main>
<!-- ============================================================== -->
<!-- End Main Wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page Footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
