.collapsed {
    max-width: calc(100vw - 320px);
}

.uncollapsed {
    max-width: calc(100vw - 540px);
}


@media only screen and (max-width: 1024px) {
    .collapsed, .uncollapsed {
        width: 100%;
        max-width: 100%;
    }
}
