.collapsed {
    padding-left: 50px;
    max-width: calc(100vw - 270px);
}

.uncollapsed {
    max-width: calc(100vw - 540px);
}

@media only screen and (max-width: 1024px) {
    .collapsed, .uncollapsed {
        width: 100%;
        max-width: 100vw;
    }
}
