app-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 106;
    width: 100vw;
}

app-footer footer {
    margin-top: 0px;
}

main {
    padding-top: 92px;
    min-height: 100vh;
    position: relative;
}

@media only screen and (max-width: 1280px) {
    main {
        padding-top: 103px;
    }
}
