.internal-container {
    background-color: #181818;
}

.content-body {
    display: flex;
}

.btn-line {
    margin-top: 24px;
}

.tr-1 td {
    padding: 5px 0;
}

.tr-2 td {
    border-top: none !important;
    padding: 0 0 5px 15px;
}

.custom-td {
    min-width: 15%;
    white-space: nowrap;
    text-align: right;
}

.fin-card {
    background-color: var(--header);
    border-radius: 12px;
    padding: 8px;
    margin-right: 8px;
}

.fin-card .fin-card-header {
    display: flex;
    padding: 20px 30px;
}

.fin-card .fin-card-header .titulo-subtitulo {
    display: flex;
    flex-direction: column;
}

.fin-card .fin-card-header .titulo-subtitulo .subtitulo{
    color: #BDBDBD;
}

.fin-card .fin-card-body {
    /*background-color: #FFFFFF;*/
    height: 100%;
}

.ngx-charts text, ngx-charts-area-chart {
    fill: #FFFFFF !important;
}
