.filtros {
    display: flex;
    align-items: center;

    margin-bottom: 40px;
}

.filtros input, .filtros select {
    margin-right: 20px;
}

.filtros > input, .filtros .datepicker-group {
    max-width: 300px;
}

.filtros select {
    max-width: 150px;
}

.table {
    color: var(--foreground);
}

.table thead th {
    background-color: var(--game);
    color: var(--foreground-game);
    border-top: 0;
    border-bottom: 1px solid var(--game);
    padding: 15px 10px;
}

.table thead th:first-child {
    border-left: 10px solid var(--game);
}

.table .right {
    text-align: right;
}

.table tbody td {
    border-top: 0;
    border-bottom: 1px solid var(--game);
}

.table td.no-border{
    border-left: 0 !important;
}

.tr-1 td {
    padding: 5px 0;
}

.tr-2 td {
    border-top: none !important;
    padding: 0 0 5px 15px;
}

.custom-td {
    min-width: 15%;
    white-space: nowrap;
    text-align: right;
}

.btnClose {
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--highlight);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    #default-content {
        padding: 10px;
        height: 100vh;
        overflow: auto;
        position: relative;
    }

    .mobile-modal-header{
        margin: 1em 0;
    }

    .filtros {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    .filtros select {
        max-width: none;
        margin: 0;
    }
}


/*.fin-card {*/
/*    background-color: var(--header);*/
/*    border-radius: 12px;*/
/*    padding: 8px;*/
/*    margin-right: 8px;*/
/*}*/

/*.fin-card .fin-card-header {*/
/*    display: flex;*/
/*    padding: 20px 30px;*/
/*}*/

/*.fin-card .fin-card-header .titulo-subtitulo {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.fin-card .fin-card-header .titulo-subtitulo .subtitulo{*/
/*    color: #BDBDBD;*/
/*}*/

/*.fin-card .fin-card-body {*/
/*    !*background-color: #FFFFFF;*!*/
/*    height: 100%;*/
/*}*/

/*.ngx-charts text, ngx-charts-area-chart {*/
/*    fill: #FFFFFF !important;*/
/*}*/

