<div id="default-content">
    <div class="content-header">
        <h2>Financeiro</h2>
        <div class="filters">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">
                        <div class="form-row">
                            <div class="col-6 col-md-2">
                                <label>Período</label>
                                <select class="form-control" formControlName="periodo">
                                    <option value="semana_atual">Semana Atual</option>
                                    <option value="semana_anterior">Semana Anterior</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <label>Tipo</label>
                                <select class="form-control" formControlName="tipo">
                                    <option value="">Todos</option>
                                    <option value="C">Crédito</option>
                                    <option value="D">Débito</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-1">
                                <button class="btn btn-custom btn-line" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12 col-md-12 mt-3">
                    <a class="btn btn-info" target="_blank"
                       href="https://api.whatsapp.com/send?phone=55{{contatoSolicitacaoSaque}}">
                        Solicitar Recarga ou Saque
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content content-movimentacoes">
            <app-spinner *ngIf="showLoading"></app-spinner>
            <div *ngIf="!showLoading" class="margin-top-15">
                <div>
                    <p>
                        <b>Qtd. Movimentações no Período de {{dataInicial}} - {{dataFinal}}:</b> {{totalMovimentacoes}}
                    </p>
                </div>
                <div *ngIf="!movimentacoesFinanceiras.length" class="alert alert-warning text-center" role="alert">
                    Nenhuma movimentação realizada no período.
                </div>
                <div *ngIf="movimentacoesFinanceiras.length > 0">
                    <ng-container>
                        <table class="table" style="text-align: left">
                            <thead>
                            <tr>
                                <th style="width: 70%">Natureza</th>
                                <th class="custom-td" style="padding-right: 10px;">Valor</th>
                                <th class="custom-td">Saldo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let movimentacao of movimentacoesFinanceiras">
                                <tr class="tr-1">
                                    <td>
                                        <i style="color:green; margin-right: 5px;" class="fa fa-sort-up"
                                           *ngIf="movimentacao.tipo === 'C'; else iconeDebito"></i>
                                        <ng-template #iconeDebito>
                                            <i style="color:red; margin-right: 5px;" class="fa fa-sort-down"></i>
                                        </ng-template>
                                        {{movimentacao.natureza | formatarNatureza}}
                                    </td>
                                    <td class="custom-td" style="padding-right: 10px;">{{movimentacao.valor | currency}}</td>
                                    <td class="custom-td">{{movimentacao.saldo | currency}}</td>
                                </tr>
                                <tr class="tr-2">
                                    <td colspan="3">
                                        Realizado em {{movimentacao.data}}
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
