.filtros {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.btnClose {
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}


.filtros input, .filtros select {
    margin-right: 20px;
}

.filtros > input, .filtros .datepicker-group {
    max-width: 300px;
}

.filtros select {
    max-width: 150px;
}

.info-resultado {
    margin: 20px 0 32px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}


.table {
   color: #fff;
}

.table thead th {
    background-color: #0A0A0A;
    border-top: 0;
    border-bottom: 1px solid #0A0A0A;
    padding: 15px 10px;
}

.table thead th:first-child {
    border-left: 10px solid #0A0A0A;
}

.table .right {
    text-align: right;
}

.table tbody td {
    border-top: 0;
    border-bottom: 1px solid #0A0A0A;
}

.table td.no-border{
    border-left: 0 !important;
}

.table tbody td:first-child {
    border-left: 10px solid #808080;
}

.table tbody tr.green td:first-child {
    border-left: 10px solid #309E3A;
}

.table tbody tr.red td:first-child {
    border-left: 10px solid #ED4C5C;
}

.datepicker-group i {
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 32px;
    font-size: 14px;
}

.datepicker-group input {
    padding-right: 35px;
    border-radius: 5px;
}

.dp-hidden {
    width: 0 !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
    background-color: #24966c;
    color: white;
}
.custom-day.faded {
    background-color: #3dc593;
}

.tabs {
    border-bottom: 2px solid #0A0A0A;
    margin-bottom: 30px;
}

.tabs a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;

    cursor: pointer;
    margin-bottom: -2px;
}

.tabs a:hover {
    color: #35CC95;
}

.tabs a.active {
    border-bottom: 2px solid #35CC95;
}

@media only screen and (max-width: 1024px) {
    #default-content {
        padding: 55px 10px 10px;
        background: #0a0a0a;
        height: 100%;
    }

    .uncollapsed {
        padding: 0;
    }

    .buttons-container {
        background-color: #181818;
        border: 2px solid #181818;
        border-radius: 4px;
    }

    .buttons-container a {
        margin: 0;
        justify-content: center;
        border: 0;
        background-color: #181818;
    }

    .buttons-container a.active {
        background-color: #35cc95;
        color: #181818;
        fill: #181818;
    }

    .buttons-container a i.radio{
        display: none;
    }

    .table thead th {
        background-color: #181818;
    }
 }
