
.btn-to-cancel {
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    top: 21px;
    right: 24px;
    color: var(--highlight);
    cursor: pointer;
    background-color: var(--header);
    border: none;
    outline: none;
}