<div id="default-content">
    <div class="internal-container-out">
        <div class="content-header">
            <h2>Tabela</h2>
        </div>

        <div class="content-body">
            <div class="pesquisa">
                <div class="search-input">
                    <i class="fa fa-search"></i>
                    <input type="text" [(ngModel)]="term" placeholder="Pesquisar" class="form-control inverted-out">
                </div>
            </div>

            <div class="campeonatos">
                <ul>
                    <li>
                        <label for=""><input type="checkbox"> Selecionar todos de {{ dataCampeonatos }}</label>
                        <ul>
                            <i></i>
                            <li *ngFor="let campeonato of campeonatosImpressao | filter:term"><label><input type="checkbox" value="{{ campeonato._id }}"> {{campeonato.nome  }}</label></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="actions">
                <button class="btn btn-custom" (click)="imprimirTabela()">Imprimir</button>
            </div>
        </div>
    </div>
</div>
