<div id="default-content">
    <a class="btnClose hide-desktop" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </a>

    <div class="internal-container-out">
        <div class="content-header">
            <h2>Tabela</h2>
        </div>

        <div class="content-body">
            <div class="pesquisa">
                <div class="search-input">
                    <i class="fa fa-search"></i>
                    <input type="text" [(ngModel)]="term" placeholder="Pesquisar" class="form-control inverted-out input-search">
                </div>
            </div>

            <div class="campeonatos">
                <ul>
                    <li>
                        <label><input type="checkbox" (change)="selecionarTodos($event)"> Selecionar todos de {{ dataCampeonatos }}</label>
                        <ul>
                            <i></i>
                            <li *ngFor="let campeonato of campeonatosImpressao | filter:term">
                                <label>
                                    <input type="checkbox" [(ngModel)]="campeonato.isSelected"> {{campeonato.nome  }}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="actions">
                <button class="btn btn-custom w-150" (click)="imprimirTabela()">Imprimir</button>
            </div>
        </div>
    </div>
</div>
