<div id="default-content">
    <div class="mobile-modal-header" *ngIf="mobileScreen">
        <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
            <i class="fa fa-arrow-left"></i>
        </a>
        <div class="titulo">{{'geral.tabela' | translate}}</div>
        <div class="botao-direito"></div>
    </div>

    <div class="internal-container-out">
        <div class="content-header hide-mobile">
            <h2>{{'geral.tabela' | translate}}</h2>
        </div>

        <div class="content-body">
            <div class="pesquisa">
                <div class="search-input">
                    <i class="fa fa-search"></i>
                    <input type="text" [(ngModel)]="term" placeholder="{{'geral.pesquisar' | translate}}"
                           class="form-control inverted-out input-search">
                </div>
            </div>

            <div class="campeonatos">
                <ul>
                    <li>
                        <label><input type="checkbox" (change)="selecionarTodos($event)">
                            {{'geral.selecionarTodosDe' | translate}} {{ dataCampeonatos }}
                        </label>
                        <ul>
                            <i></i>
                            <li *ngFor="let campeonato of campeonatosImpressao">
                                <label>
                                    <input type="checkbox" [(ngModel)]="campeonato.isSelected"> {{campeonato.nome  }}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="actions">
                <button class="btn btn-custom w-150" (click)="imprimirTabela()">{{'geral.imprimir' | translate}}</button>
            </div>
        </div>
    </div>
</div>
