<div id="footer-bar">
    <div class="foot-button" routerLinkActive="active">
        <a (click)="toggleSidebar()">
            <i class="fa fa-bars"></i> Menu
        </a>
    </div>
    <div *ngIf="aoVivoHabilitado" class="foot-button" routerLinkActive="active">
        <a class="" [routerLink]="['/esportes/futebol/live']">
            <i class="fa fa-play"></i> Ao Vivo
        </a>
    </div>
    <div *ngIf="!aoVivoHabilitado" class="foot-button" routerLinkActive="active">
        <a class="" [routerLink]="['/esportes/futebol/jogos']">
            <svg-icon src="assets/images/soccer.svg" [svgStyle]="svgCss()"></svg-icon>
            <span>Futebol</span>
        </a>
    </div>
    <div class="foot-button cupom">
        <a class="" [routerLink]="['/meu-perfil']">
            <span class="cupom-badge">10</span>
            <i class="fa fa-ticket"></i> Cupom
        </a>
    </div>
    <div class="foot-button">
        <a class="" [routerLink]="['/validar-aposta']" routerLinkActive="active">
            <i class="fa fa-check"></i> Validação
        </a>
    </div>
</div>
