<div id="definir" [ngClass]="{'hide': !isOpen}">
    <div class="logo-container">
        <a [routerLink]="['/esportes/futebol/jogos']">
            <img [src]="LOGO" class="logo">
        </a>

        <a type="button" class="btn-close" aria-label="Close" (click)="closeMenu()">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <app-sidebar-nav *ngIf="campeonatosIsOpen" [height]="sidebarNavHeight"></app-sidebar-nav>
</div>
<div id="bottom-bar" [hidden]="hidden">
    <div class="bottom-bar-button" *ngIf="!['acumuladao', 'quininha', 'seninha'].includes(contexto)">
        <a (click)="toggleCampeonatos()">
            <i class="fa-solid fa-bars-staggered"></i> {{nomeBotaoExtras}}
        </a>
    </div>
    <div *ngIf="aoVivoHabilitado" class="bottom-bar-button" routerLinkActive="active" [ngClass]="{'menu-open': menuIsOpen}">
        <a [routerLink]="['/live/all']">
            <i class="fa fa-circle blink_me"></i> {{'geral.aoVivo' | translate}}
        </a>
    </div>
    <div *ngIf="!aoVivoHabilitado" class="bottom-bar-button" routerLinkActive="active">
        <a [routerLink]="['/esportes/futebol']">
            <i class="wbicon icon-futebol"></i> {{'submenu.futebol' | translate}}
        </a>
    </div>
    <div class="bottom-bar-button">
        <a (click)="toggleBilhete()">
            <div class="badge-container" *ngIf="quantidadeItens > 0">
                <span class="cupom-badge">{{quantidadeItens}}</span>
            </div>
            <i class="uil uil-ticket"></i> {{'geral.bilhete' | translate}}
        </a>
    </div>
    <div class="bottom-bar-button" *ngIf="isLoggedIn && !isCliente">
        <a (click)="abrirValidarAposta()">
            <i class="fa-solid fa-check"></i> {{'geral.validacao' | translate}}
        </a>
    </div>
    <div class="bottom-bar-button">
        <a (click)="toggleApostas()">
            <i class="ri ri-file-list-3-line"></i> {{'geral.apostas' | translate}}
        </a>
    </div>
</div>
