#bottom-bar {
    background: var(--bottom-bar);
    color: var(--foreground-bottom-bar);
    width: 100%;
    height: 62px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    border-radius:  1em 1em 0 0;
}

#bottom-bar-casino{
    z-index: 999;
}

.wbicon {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.fa, .fa-solid, .uil, .ri {
    font-size: 1.8rem;
    margin-bottom: 4px;
}

.ri {
    line-height: 1;
}

.navbar-toggler {
    color: var(--foreground-sidebars);
}

.bottom-bar-button {
    min-height: 50px;
}

.bottom-bar-button a {
    height: 50px;
    width: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: var(--foreground-bottom-bar);
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
}

.bottom-bar-button .badge-container {
    position: relative;
    width: 100%;
}

.bottom-bar-button .cupom-badge {
    font-size: 11px; /* ajuste fonte */
    padding: 4px;
    clip-path: circle();
    background-color: var(--foreground-bottom-bar);
    color: var(--bottom-bar);
    position: absolute;
    top: -8px;
    right: 6px;
}

#definir {
    position: fixed;
    width: 100%;
    height: calc(100% - 62px);
    top: 0;
    left: 0;
    background: var(--sidebars);
    z-index: 900;
}

.logo {
    max-height: 30px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 60px;
}

.blink_me {
    animation: blinkerMe 1.5s linear infinite;
    font-size: 20px;
}

@media (min-width: 1025px) {
    #bottom-bar {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #bottom-bar {
        z-index: 2147483647;
    }

    #definir {
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 1000;
    }

    #definir.opcoes {
        height: calc(100% - 61px);
    }

    #definir app-sidebar-nav {
        flex: 1;
        overflow: auto;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .active:not(.menu-open) a {
        color: var(--highlight)
    }
}
