<div class="modal-header">
    <img src="/assets/images/logo-weebet.svg" alt="">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <img src="/assets/images/close.svg" alt="fechar" width="15">
    </a>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <input type="hidden" formControlName="casino" value="true">
        <div class="form-group mb-4">
            <input type="text" class="form-control" formControlName="username"
                   [ngClass]="applyCssInputError('username')" placeholder="Usuário">
            <app-error-msg [control]="form.get('username')" label="Usuário" class="text-left"></app-error-msg>
        </div>
        <div class="form-group" [ngClass]="applyCssDivError('password')">
            <input type="password" class="form-control" [ngClass]="applyCssInputError('password')"
                   formControlName="password" placeholder="Senha">
            <app-error-msg [control]="form.get('password')" label="Senha" class="text-left"></app-error-msg>
        </div>
        <button type="submit" class="btn btn-custom btn-block">Entrar</button>
    </form>

    <a (click)="abrirRecuperarSenha()" style="cursor: pointer" class="esqueceu-senha">
        Esqueceu a senha?
    </a>

    <div class="registrar">
        Não possui uma conta?
        <a (click)="abrirCadastro()" style="cursor: pointer" class="">Registre-se</a>
    </div>
</div>

