:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-dialog {
    max-width: 600px;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
    background-color: var(--background);
    gap:14px
}

.content-body {
    display: flex;
    flex-direction: column;
    gap: 69px;
    align-items: center;
}

.container-modal-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-login {
    color: var(--foreground);
    height: 35px;
    display: flex;
    justify-items: flex-end;
    justify-content: end;
    margin-top: 16px;
}


.modal-body {
    padding: 0px 33px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
}

.logo {
    max-width: 175px;
    max-height: 140px;
}

.logo-mobile {
    display: none;
}

button {
    margin-top: 30px;
}

.space-buttons {
    display: block;
    text-align: center;
    margin: 15px 0;
}

.text-line {
    height: 1px;
    margin: 30px 0;
    background-color: var(--foreground);
    text-align: center;
}

.text-line span {
    background-color: var(--background);
    position: relative;
    top: -0.65em;
    padding: 0 10px;
}

asl-google-signin-button {
    display: flex;
    justify-content: center;
}

.esqueceu-senha {
    color: var(--highlight);
    font-size: 12px;
    text-align: end;
    text-decoration: none;
}

.registrar {
    font-size: 12px;
    margin-bottom: 25px;
}

.registrar a {
    color: var(--highlight);
}

.showPassword {
    position: absolute;
    top: calc(50% - 16px);
    right: 0;
    color: rgb(var(--foreground-inputs-odds-rgb),0.3);
    cursor: pointer;
    padding: 10px;
}

.login-mode {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
    color: 1px solid rgba(var(--foreground-inputs-odds-rgb),30%);
}

.login-mode label {
    display: flex;
    flex: 1;
    padding: 14px 10px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid rgba(var(--foreground-inputs-odds-rgb), 30%);
    color: 1px solid rgba(var(--foreground-inputs-odds-rgb), 30%);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label-doLogin span {
    padding-bottom: 28px;
    display: flex;
    color: (var(--foreground-inputs-odds-rgb)) !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important;
    text-align: start !important;
    align-self: stretch;

}

.login-mode label:has(input[type="radio"]:checked) {
    border: 1px solid var(--highlight);
    color: var(--foreground-inputs-odds-rgb);
}


.login-mode input[type="radio"] {
    display: none;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radio-custom {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--highlight);
    background: var(--background);
    margin-right: 10px;
    position: relative;
}

.radio-custom {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 50%);
    background: var(--background);
    margin-right: 10px;
    position: relative;
}

.radio-custom::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--highlight);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.login-mode input[type="radio"]:checked+.radio-custom {
    border-color: var(--highlight);
}

.login-mode input[type="radio"]:checked+.input-md label {
    color: var(--foreground-inputs-odds-rgb) !important;
}

.login-mode input[type="radio"]:checked+.radio-custom::after {
    opacity: 1;
}

.input-prefix {
    position: absolute;
    left: 10px;
    top: 62%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-md input {
    color: rgba(var(--foreground-inputs-odds-rgb),30%);
    border: 1px solid rgba(var(--foreground-inputs-odds-rgb),30%);
}
.input-md label {
    color: rgba(var(--foreground-inputs-odds-rgb),30%);
}

.label-login {
    color: rgba(var(--foreground-inputs-odds-rgb),30%);
}

.form-group input {
    color: rgba(var(--foreground-inputs-odds-rgb),30%);
}


.modal-body .modal-body-content {
    flex: 1;
} 

h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    color: #ffff;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.modal-content {
    background-color: var(--background);
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.modal-dialog {
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.modal-body-custom {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.modal-footer-he {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}

button {
    margin: 0 auto;
    width: 100%;
}

.btn-custom {
    width: 100%;
}

.btn-cancel {
    background-color: transparent;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    margin-top: 20px;
    width: 80%;
}

.btn-terminate {
    width: 80%;
}

.close-modal {
    border-radius: 100%;
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    cursor: pointer;
    padding-top: 3px;
    padding-right: 5px;
}

.close-modal i {
    margin: 10px;
    color: var(--highlight);
    font-size: 22px;
}

.modal-body {
    min-height: fit-content;
    transition: height 1s ease-out;
}

.container-loader {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, var(--foreground) 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, var(--foreground));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}

@media only screen and (min-width: 375px) {
    .login-mode label {
        font-size: 13px;
    }
}

@media only screen and (min-width:768px) {
    .container-modal-login {
        gap: 69px;
        background-color: var(--background) !important;
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        min-height: 572px;
        padding: 0 24px;
    }
}

@media only screen and (min-width:1440px) {
    .container-modal-login {
        background-color: var(--background) !important;
    }
}
