.modal-dialog {
    max-width: 600px;
  }

.modal-header {
    border-bottom-color: #3b3b3b;
    padding: 20px 35px;
    background: #0A0A0A;
}

.modal-body {
    text-align: center;
    padding: 40px 130px 15px;
    background: #0A0A0A;
}


input {
    border: 1px solid #3b3b3b;
    color: #fff;
    padding: 15px 25px;
    font-size: 14px;
    height: auto !important;
}

button {
    margin-top: 30px;
}

.esqueceu-senha {
    color: #35CC95;
    font-size: 12px;
    display: block;
    margin: 20px 0 30px;
    text-decoration: none;
}

.registrar {
    font-size: 12px;
    margin-bottom: 30px;
}

.registrar a {
    color: #35CC95;
}
