<div id="reset-password">
    <div class="row justify-content-center">
        <div id="reset-box" class="col-lg-4 col-xs-12 shadow bg-white">
            <div class="row">
                <div id="reset-form" class="col-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal" id="reset-password-form" novalidate>
                        <h3 class="box-title">Trocar Senha</h3>
                        <div>
                            <div class="form-group" [ngClass]="applyCssErrorDiv('new_password')">
                                <div class="col-xs-12">
                                    <input type="password" class="form-control" placeholder="Nova Senha" formControlName="new_password">
                                    <span *ngIf="hasError('new_password', 'required')" class="help-block">Campo obrigatório</span>
                                    <span *ngIf="hasError('new_password', 'minlength')" class="help-block">Por favor, digite no minimo 4 caracteres</span>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="applyCssErrorDiv('confirmation_password')">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" placeholder="Confirmar Nova Senha" formControlName="confirmation_password">
                                    <span *ngIf="hasError('confirmation_password', 'required')" class="help-block">Campo obrigatório</span>
                                    <span *ngIf="hasError('confirmation_password', 'minlength')" class="help-block">Por favor, digite no minimo 4 caracteres</span>
                                    <span *ngIf="form.controls.confirmation_password.errors?.MatchPassword" class="help-block">A senhas não conferem</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-12">
                                <a routerLink="/auth/login" class="pull-right">
                                    Lembro da minha senha
                                </a>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase" type="submit" [disabled]="disabledButton">Trocar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-12 text-center align-self-end" id="reset-footer">
            Powered by:
            <a href="http://www.sisgr.com" target="_blank">
                <img src="assets/images/logo_sisgr.png" alt="SISGR" />
            </a>
        </div>
    </div>
</div>
