<div class="wall-container">
    <app-banners pagina="cassino" [showLoadingIndicator]="showLoadingIndicator"></app-banners>

    <div *ngIf="showLoadingIndicator" class="ssc-square" style="height: 300px"></div>

    <div *ngIf="showLoadingIndicator" class="wall-inner">
        <div class="bloco">
            <div class="ssc-square mb-2" style="height: 47px; width: 200px; margin-top: 20px"></div>
        </div>
        <div class="bloco" style="display: flex; flex-wrap: wrap;">
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px; margin-right: 15px; border-radius: 5px;"></div>
            <div class="ssc-square" style="width: 318px; height: 229px; margin-bottom: 10px"></div>
        </div>
    </div>

    <div class="wall-inner" *ngIf="!showLoadingIndicator">
        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">{{'cassino.aoVivo' | translate}}</div>
            </div>

            <div class="game-list">
                <div class="game-rooms" *ngFor="let room of rooms">
                    <div class="game-tile" *ngIf="room.tableOpen == true">
                        <div class="game-tile-header">
                            <span class="info-valor" title="Limites">
                            R$ {{room.tableLimits.minBet}} - R$ {{room.tableLimits.maxBet}}
                            </span>
                            <span class="info-users" title="Usuário Online: {{room.totalSeatedPlayers}}">
                            <i class="fa fa-user"></i>
                            <span>
                                {{room.totalSeatedPlayers}}
                            </span>
                        </span>
                        </div>
                        <ng-container *ngIf="isLoggedIn && isCliente">
                            <div class="game-tile-buttons">
                                <a [routerLink]="['/casino/' + blink + '/play/REAL',room.tableId,'pragmatic']" class="btn btn-xs game-button-play">Jogar</a>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isLoggedIn">
                            <div class="game-tile-buttons">
                                <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                            </div>
                        </ng-container>

                        <div class="game-tile-img">
                            <img title="{{room.tableName}}" src="{{room.tableImage}}">
                        </div>
                        <div class="game-tile-footer">
                            <span class="info-table-name">
                                    {{room.tableName}}
                                </span>
                                <span class="info-dealer-name">
                                    Dealer: {{room.dealer.name}}
                                </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


