#default-content {
    padding: 25px 38px;
    height: calc(100dvh - 98px);
}

.content-body, .content-body .content {
    height: 100%;
}

.content-body .content {
    display: flex;
    flex-direction: column;
}

.content-body .content form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--foreground-header);
    margin-bottom: 50px;
}

.required > .label::after {
    content: "*";
    color: #ff0000;
    font-size: 15px;
}

form .inputs {
    flex: 1;
}

.form-group {
    margin-bottom: 5px;
    position: relative;
}

form .inputs .row {
    margin-bottom: 30px;
}

form .buttons {
    text-align: right;
}

.ajusta-botao-alterar-senha{
    height: calc(100dvh - 135px) !important;
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    h5 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .btn-custom {
        width: 100%;
    }

    #default-content {
        padding: 10px;
        height: calc(100dvh - 110px);
    }

    .form-group.text-right {
        text-align: center !important;
    }

    .row {
        margin-bottom: 0;
    }

    .ajusta-botao-alterar-senha{
        height: calc(100dvh - 155px) !important;
    }

}
#legitimuz-container {
    background-color: var(--sidebars);
    padding: 30px 20px;
}

#legitimuz {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#legitimuz-action-verify {
    flex: 1;
    width: 25%;
}

