<router-outlet></router-outlet>

<ng-template #demoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-warning"></i> ATENÇÃO!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4 style="text-align: center;">
            Bem-vindo! Você está acessando uma <b>DEMONSTRAÇÃO</b> do WEE.BET, plataforma líder no Brasil em apostas
            online.
        </h4>
        <h4 style="text-align: center;">
            Portanto, todas as apostas aqui realizadas <b>NÃO SÃO VÁLIDAS!</b>
        </h4>
        <br>
        <h4 style="text-align: center;">
            Entre em contato conosco agora mesmo e descubra que ter sua própria banca é muito fácil.
        </h4>
        <br>
        <h4 style="text-align: center;">
            Para mais informações acesse: <a href="http://wee.bet" target="_blank">wee.bet</a>
        </h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK!</button>
    </div>
</ng-template>
