.modal-inicial{
    background-color: inherit !important;
    border: none !important;
}
a{
    text-decoration: none;
}
.close-imagem-inicial,.close-imagem-inicial-demo{
    border-radius: 100%;
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    cursor: pointer;
}
.close-imagem-inicial i{
    color: white;
    font-size: 20px;
}
.close-imagem-inicial-demo i{
    margin: 10px;
    color: var(--highlight);
    font-size: 20px;
}

img{
    width:100%;
}

.content-modal-ativacao{
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

.content-modal-ativacao img{
    width: 100px;
    height: auto;
    align-self: center;
    margin: 20px
}

.botao-contato-flutuante {
    position: absolute;
    right: 20px;
    bottom: 55px;
    z-index: 1000;
    width: 60px;
    height: 60px;
}

.botao-contato-flutuante .contato {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}

.contato .fa {
    align-self: center;
    font-size: 30px;
}
