.modal-inicial{
    background-color: inherit !important;
    border: none !important;
}
a{
    text-decoration: none;
}
.close-imagem-inicial,.close-imagem-inicial-demo{
    border-radius: 100%;
    position: absolute;
    display: flex;
    top: 4px;
    right: 5px;
    cursor: pointer;
}
.close-imagem-inicial i{
    color: white;
    font-size: 20px;
}
.close-imagem-inicial-demo i{
    color: var(--header);
    font-size: 20px;
}

img{
    width:100%;
}

.content-modal-ativacao{
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}

.content-modal-ativacao img{
    width: 100px;
    height: auto;
    align-self: center;
    margin: 20px
}
