<div id="cupom" #cupom>
    <div class="conteudo">
        <!-- <div class="informacoes">
        </div> -->
        <ng-container *ngFor="let item of aposta.itens">
            <div id="jogo-table">
                <div class="jogo-horario">
                    <p style="margin: 0">{{aposta.horario | moment: 'DD/MM'}}</p>
                    <p style="margin: 0">{{aposta.horario | moment: 'HH:mm'}}</p>
                </div>
                <div class="item">
                    <p style="margin: 0" class="campeonato">
                        {{item.odd.desafio.categoria.nome}}
                    </p>
                    <p class="nome" [ngClass]="resultadoClass(item)">
                        {{item.odd.desafio.nome}}
                    </p>
                    <p class="cotacao" [ngClass]="resultadoClass(item)">
                        Resposta:
                        {{item.odd_nome}}
                        ({{item.cotacao}})
                    </p>
                    <p class="jogo-resultado">
                        <span *ngIf="item.removido; else resultado">cancelado</span>
                        <ng-template #resultado>{{item.resultado}}</ng-template>
                    </p>
                </div>    
            </div>
        </ng-container>
        <div class="valores">
            <p id="resultado-final">
                <b>RESULTADO: </b>
                <span style="float:right" *ngIf="aposta.resultado" class="{{aposta.resultado}}">{{aposta.resultado}}</span>
                <span style="float:right" *ngIf="!aposta.resultado">Aguardando</span>
            </p>
            <p class="aposta">
                COTAÇÃO: <span style="float:right">{{aposta.possibilidade_ganho / aposta.valor | number:'1.0-3' }}</span>
            </p>
            <p class="aposta">
                VALOR APOSTADO: <span style="float:right">{{aposta.valor | currency}}</span>
            </p>
            <p class="ganho" *ngIf="aposta.resultado; else possibilidadeGanho">
                {{'geral.premio' | translate | uppercase}}: <span style="float:right">{{aposta.premio | currency}}</span>
            </p>
            <ng-template #possibilidadeGanho>
                <p class="ganho">
                    POSSÍVEL RETORNO: <span style="float:right">{{aposta.possibilidade_ganho | currency}}</span>
                </p>
            </ng-template>
            <p *ngIf="aposta.passador.percentualPremio > 0" class="cambista-paga">
                CAMBISTA PAGA: <span style="float:right">{{cambistaPaga | currency}}</span>
            </p>
        </div>
        <p class="rodape">
            {{opcoes.informativo_rodape}}
        </p>
    </div>
</div>
