#cupom {
    /* width: 19.27em; */
    background: var(--background);
    color: var(--foreground);
    /* margin: 2em auto; */
    font-size: 12px;
    border-radius: 10px;
    padding: 20px;
}

#cupom img{
    max-height: 90px;
    max-width: 150px;
}

#cupom .ganhou{
    color:green
}

#cupom .perdeu{
    color:red
}

#cupom .cancelado{
    text-decoration: line-through
}

#cupom .jogo-resultado{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed black;
}

.numero{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:15px;
}

.informacoes p{
    margin: 1px;
    font-size: 12px;
}

.item .campeonato{
    text-align: center;
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}

.item .horario{
    margin: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

.item .jogo{
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
}

.item .nome{
    margin: 1px;
}

.item .cotacao{
    margin: 1px;
    font-size: 12px;
}

.valores .total-desafios, .valores .aposta, .valores .ganho, .valores .cambista-paga{
    text-align: left;
    margin: 3px 1px 1px 1px;
    font-weight: bold;
    font-size: 12px;
}

.rodape{
    margin: 5px 1px 1px 1px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

#resultado-final .ganhou{
    color: green;
}

#resultado-final .perdeu{
    color: red;
}
