<div class="col-12" *ngIf="whatsapp">
    <div class="content-header">
        <h2>{{'deposito.titulo' | translate}}</h2>
    </div>
    <div class="row">
        <span class="alerta-min">
            Solicite deposito entrando em contato através do Whatsapp: {{whatsapp}}
        </span>
    </div>
    <div class="row mt-4">
        <a class="btn btn-custom" target="_blank"
           href="https://api.whatsapp.com/send?phone=55{{whatsappLink}}">
            {{'geral.depositar' | translate}}
        </a>
    </div>
</div>
