#acumuladao-wrapper {
    overflow: auto;
    padding: 5px;
    height: calc(100vh - 92px);
    background-color: #181818;
}

@media only screen and (max-width: 1024px) {
    #acumuladao-wrapper{
        padding: 0;
        height: calc(100vh - 98px);
    }
}
