#acumuladao-wrapper {
    overflow: auto;
    padding: 0 0 0 255px;
    height: calc(100vh - 69px);
    background-color: #e1e2e4;
}

@media only screen and (max-width: 1024px) {
    #acumuladao-wrapper{
        padding: 0;
        height: calc(100vh - 113px);
    }
}
