<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
            <div class="col col-md-6">
                <label class="label">CEP</label>
                <input type="text" formControlName="cep" mask="00000-000" class="form-control">
                <app-error-msg [control]="form.get('cep')"></app-error-msg>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <label class="label">Logradouro</label>
                <input type="text" formControlName="logradouro" class="form-control" >
                <app-error-msg [control]="form.get('logradouro')"></app-error-msg>
            </div>
            <div class="col col-md-2">
                <label class="label">Nº</label>
                <input type="text" formControlName="numero"  class="form-control">
                <app-error-msg [control]="form.get('numero')"></app-error-msg>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <label class="label">Bairro</label>
                <input type="text" formControlName="bairro" class="form-control">
                <app-error-msg [control]="form.get('bairro')"></app-error-msg>
            </div>
            <div class="col col-md-6">
                <label class="label">Estado</label>
                <select formControlName="estado" [(ngModel)]="estadoSelecionado"
                        (change)="getCidades(estadoSelecionado)" type="text" class="form-control">
                    <option value="0">Selecione</option>
                    <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</option>
                </select>
                <app-error-msg [control]="form.get('estado')"></app-error-msg>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <label class="label">Cidade</label>
                <select formControlName="cidade" [(ngModel)]="cidadeSelecionada" class="form-control">
                    <option value="0">Selecione o Estado</option>
                    <option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</option>
                </select>
                <app-error-msg [control]="form.get('cidade')"></app-error-msg>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <label class="label">Senha</label>
                <input type="password" formControlName="senha_atual" class="form-control">
                <app-error-msg [control]="form.get('senha_atual')"></app-error-msg>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col col-md-12">
                <button class="btn btn-custom" type="submit">
                    <i class="fa fa-save"></i>
                    Atualizar
                </button>
            </div>
        </div>
    </form>
</div>
