<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="loteria">
        <div formArrayName="preApostaItens" class="palpites">
            <div *ngFor="let item of preApostaItens.controls; let i = index" [formGroupName]="i" class="item-selecionado">
                <div>
                    <div class="form-group col-xs-12 col-lg-4">
                        <select class="form-control inverted-out" formControlName="sorteio_id">
                            <option *ngFor="let sorteio of sorteios" [value]="sorteio.id">{{sorteio.nome}}</option>
                        </select>
                    </div>
                    <div>
                        <label>Valor:</label>
                        <input class="form-control inverted-out" type="number" formControlName="valor" (change)="updateEstimativaGanho(item, i)" />
                    </div>
                    <div class="circle-group">
                        <div class="circle" *ngFor="let numero of item.get('numeros').value">
                            <div class="content">
                                {{numero | number:'2.0'}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Retorno 6: </label>
                        <span>{{calcularEstimativaGanho(item.get('cotacao6').value, item.get('valor').value) | currency}}</span>
                    </div>
                    <div>
                        <label>Retorno 5: </label>
                        <span>{{calcularEstimativaGanho(item.get('cotacao5').value, item.get('valor').value) | currency}}</span>
                    </div>
                    <div>
                        <label>Retorno 4: </label>
                        <span>{{calcularEstimativaGanho(item.get('cotacao4').value, item.get('valor').value) | currency}}</span>
                    </div>
                    <div>
                        <label>Retorno 3: </label>
                        <span>{{calcularEstimativaGanho(item.get('cotacao3').value, item.get('valor').value) | currency}}</span>
                    </div>
                </div>
                <div class="remover-item" (click)="removerItem(i)">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
        <div class="informacoes">
            <p>{{'geral.horario' | translate}}: {{preAposta.horario | moment: 'DD/MM/YYYY HH:mm'}}</p>
            <p>Total de palpites: {{preApostaItens.length}}</p>
            <div class="form-group">
                <label>{{'geral.apostador' | translate}}</label>
                <input type="text" class="form-control inverted-out" formControlName="apostador" [ngClass]="applyCssInputError('apostador')">
                <app-error-msg [control]="form.get('apostador')" label="{{'geral.apostador' | translate}}"></app-error-msg>
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="disabled" class="btn btn-custom">{{'bilhete.apostar' | translate}}</button>
</form>
