<div class="jogo-container">
    <div class="top-bar">
        <div class="top-bar-back" (click)="back()">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="v-divider"></div>
        <div class="top-bar-info">
            <span class="top-times">{{jogo?.time_a_nome}} x {{jogo?.time_b_nome}}</span>
            <span class="top-camp">{{jogo?.campeonato?.nome}}</span>
        </div>
    </div>
    <section class="jogo" *ngIf="!showLoadingIndicator">
        <div *ngIf="!isMobile" class="indentificacao-jogo" style="flex: 1; min-width: 60%;">

            <div class="info-jogo">
                <small class="campeonato-nome">{{jogo?.campeonato?.nome}}</small>
                <div class="nome">
                    <div class="time-a">
                        <div class="time-a-nome">
                            <span *ngIf="jogo?.time_a_img; else defaulImageA">
                                <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_a_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageA class="escudo">
                                <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                            <br>
                            <div class="time-nome">
                                {{jogo?.time_a_nome}}
                            </div>
                        </div>
                    </div>
                    <div class="placares">
                        <div>
                            <div class="placar time-a-placar">{{jogo?.info?.time_a_resultado}}</div>
                            -
                            <div class="placar time-b-placar">{{jogo?.info?.time_b_resultado}}</div>
                        </div>
                    </div>
                    <div class="time-b">
                        <div class="time-b-nome">
                            <span *ngIf="jogo?.time_b_img; else defaulImageB">
                                <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_b_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageB class="escudo">
                                <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                            <br>
                            <div class="time-nome">
                                {{jogo?.time_b_nome}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aovivo-tempo">
                    <div class="aovivo-label"><i class="fa fa-circle blink_me"></i> AO VIVO</div>
                    <div class="tempo" *ngIf="jogo?.info?.tempo != 0">{{jogo.info?.tempo}}º {{jogo.info?.minutos}}'</div>
                    <div class="tempo" *ngIf="jogo?.info?.tempo == 0">Intervalo</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-sports inside-event">
        <div *ngIf="loadedFrame && (isMobile && !theSportUrl)" class="indentificacao-jogo" style="flex: 1; min-width: 60%;">
            <div class="info-jogo">
                <small class="campeonato-nome">{{jogo?.campeonato?.nome}}</small>
                <div class="nome">
                    <div class="time-a">
                        <div class="time-a-nome">
                            <span *ngIf="jogo?.time_a_img; else defaulImageA">
                                <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_a_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageA class="escudo">
                                <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                            <br>
                            <div class="time-nome">
                                {{jogo?.time_a_nome}}
                            </div>
                        </div>
                    </div>
                    <div class="placares">
                        <span>X</span>
                        <div>
                            <div class="placar time-a-placar">{{jogo?.info?.time_a_resultado}}</div>
                            -
                            <div class="placar time-b-placar">{{jogo?.info?.time_b_resultado}}</div>
                        </div>
                    </div>
                    <div class="time-b">
                        <div class="time-b-nome">
                            <span *ngIf="jogo?.time_b_img; else defaulImageB">
                                <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_b_img}}.png" size="m">
                            </span>
                            <ng-template #defaulImageB class="escudo">
                                <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                            </ng-template>
                            <br>
                            <div class="time-nome">
                                {{jogo?.time_b_nome}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aovivo-tempo">
                    <div class="aovivo-label"><i class="fa fa-circle blink_me"></i> AO VIVO</div>
                    <div class="tempo">{{jogo?.info?.tempo}}º {{jogo?.info?.minutos}}'</div>
                </div>
            </div>
        </div>
        <div *ngIf="loadedFrame && (isMobile && theSportUrl)" class="iframe-responsive hide-desktop">
            <iframe [src]="theSportUrl" scrolling="no" frameborder="0" width="320" height="200"></iframe>
        </div>
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
        <div class="jogo" *ngIf="!showLoadingIndicator">
            <div class="tipo-apostas mt-2">
                <div class="tipo-aposta" *ngFor="let chave of objectKeys(mercados); trackBy">
                    <div class="header-tipo-aposta" (click)="toggleOdd(mercados[chave])" [ngClass]="{'collapsed' : oddAberto(mercados[chave])}">
                        <h4>{{mercados[chave].nome}}</h4>
                        <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="odds"  *ngIf="oddAberto(mercados[chave])">
                        <div *ngFor="let odds of mercados[chave].odds">
                            <div class="odd" *ngFor="let odd of odds">
                                <ng-container *ngIf="cotacaoPermitida(odd.valorFinal);else cotacaoBloqueada">
                                    <div class="inner-odd odd-enabled"
                                        [ngClass]="{'selecionado': oddSelecionada(jogo._id, odd.chave)}"
                                        (click)="addCotacao(jogo, odd)">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            {{odd.valorFinal}}
                                        </span>
                                    </div>
                                </ng-container>
                                <ng-template #cotacaoBloqueada>
                                    <div class="inner-odd odd-disabled">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
