<div class="jogo-container">
    <section class="jogo" *ngIf="!showLoadingIndicator">
        <div class="indentificacao">
            <div class="div-back" (click)="back()">
                <i class="fa fa-times"></i>
            </div>
            <div class="nome">
                <div class="time-a">
                    <div class="time-a-nome">
                        <span *ngIf="jogo.time_a_img; else defaulImageA">
                            <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_a_img}}.png" size="m">
                        </span>
                        <ng-template #defaulImageA class="escudo">
                            <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                        </ng-template>
                        <br>
                        <div class="time-nome">
                            {{jogo.time_a_nome}}
                        </div>
                    </div>
                </div>
                <div class="placar time-a-placar">{{jogo.info?.time_a_resultado}}</div>
                <div class="placar time-b-placar">{{jogo.info?.time_b_resultado}}</div>
                <div class="time-b">
                    <div class="time-b-nome">
                        <span *ngIf="jogo.time_b_img; else defaulImageB">
                            <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_b_img}}.png" size="m">
                        </span>
                        <ng-template #defaulImageB class="escudo">
                            <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                        </ng-template>
                        <br>
                        <div class="time-nome">
                            {{jogo.time_b_nome}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="aovivo-tempo">
                <div class="aovivo-label">Ao Vivo</div>
                <div class="tempo">{{jogo.info?.minutos}}'</div>
            </div>
        </div>
        <div class="indentificacao-mobile">
            <div class="first-line">
                <div class="aovivo-tempo">
                    <div class="aovivo-label">Ao Vivo</div>
                    <div class="tempo">{{jogo.info?.minutos}}'</div>
                </div>
                <div class="div-back" (click)="back()">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="nome">
                <div class="time-a">
                    <div class="time-a-nome">
                        <span *ngIf="jogo.time_a_img; else defaulImageA">
                            <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_a_img}}.png" size="m">
                        </span>
                        <ng-template #defaulImageA class="escudo">
                            <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                        </ng-template>
                        <br>
                        <div class="time-nome">
                            {{jogo.time_a_nome}}
                        </div>
                    </div>
                </div>

                <div class="placar time-a-placar">{{jogo.info?.time_a_resultado}}</div>
                <div class="placar time-b-placar">{{jogo.info?.time_b_resultado}}</div>

                <div class="time-b">
                    <div class="time-b-nome">
                        <span *ngIf="jogo.time_b_img; else defaulImageB">
                            <img src="https://cdn.wee.bet/img/times/m/{{jogo.time_b_img}}.png" size="m">
                        </span>
                        <ng-template #defaulImageB class="escudo">
                            <img src="https://cdn.wee.bet/img/times/m/default.png" size="m" class="escudo-img">
                        </ng-template>
                        <br>
                        <div class="time-nome">
                            {{jogo.time_b_nome}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="campeonato-nome">
            <small>{{jogo.campeonato?.nome}}</small>
        </div>
    </section>
    <section class="content-sports inside-event">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
        <div class="jogo" *ngIf="!showLoadingIndicator">
            <div class="tipo-apostas">
                <div class="tipo-aposta" *ngFor="let chave of objectKeys(mercados); trackBy">
                    <h4>{{mercados[chave].nome}}</h4>
                    <div class="odds">
                        <div class="odds-coluna" [ngClass]="cssTamanhoColuna(mercados[chave])"
                            *ngFor="let odds of mercados[chave].odds">
                            <div class="odd" *ngFor="let odd of odds">
                                <ng-container *ngIf="cotacaoPermitida(odd.valorFinal);else cotacaoBloqueada">
                                    <div class="inner-odd odd-enabled"
                                        [ngClass]="{'selecionado': oddSelecionada(jogo._id, odd.chave)}"
                                        (click)="addCotacao(jogo, odd)">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            {{odd.valorFinal}}
                                        </span>
                                    </div>
                                </ng-container>
                                <ng-template #cotacaoBloqueada>
                                    <div class="inner-odd odd-disabled">
                                        <span class="nome">
                                            {{odd.label}}
                                        </span>
                                        <span class="valor">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
