.jogo-container {
    height: calc(100vh - 132px);
    display: flex;
    flex-direction: column;
}

.indentificacao, .indentificacao-mobile{
    padding: 10px 10px 0 10px;
}

.indentificacao-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 20vh;
    max-height: 300px;
    background-color: #181818;
    background-image: url("https://cdn.wee.bet/img/stadium-background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.indentificacao-jogo .info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indentificacao-jogo .info-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indentificacao-jogo .campeonato-nome {
    position: absolute;
    top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    max-width: 400px;

    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;

    font-size: 15px;
}

.indentificacao-jogo .nome {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.indentificacao-jogo .nome {
    margin-top: 5px;
}

.indentificacao .nome, .indentificacao-mobile .nome{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.indentificacao{
    position: relative;
    display: flex;
}

.div-back{
    color: #35CC95;
    font-size: 1.6rem;
    cursor: pointer;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #181818;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 15px;
    right: 25px;
}

.indentificacao .div-back{
    position: absolute;
    right: 20px;
    top: 26px;
}

.indentificacao .nome, h4{
    font-size: 1.2rem;
}

.indentificacao-mobile .first-line{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: center;
    border-bottom: 1px dashed #455a64;
}

.time-a{
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
    justify-content: flex-end
}

.time-b{
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
    justify-content: flex-start;
}

.placar{
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
}

.time-a-placar{
    margin-right: 5px;
    margin-left: 15px;
}

.time-b-placar{
    margin-left: 5px;
    margin-right: 15px;
}

.indentificacao-jogo .aovivo-tempo {
    position: absolute;
    left: 25px;
    top: 20px;
}

.aovivo-tempo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aovivo-label {
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 3px 6px;
    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.aovivo-label i {
    font-size: 8px;
    margin-right: 5px;
}

.tempo{
    font-size: 1.2rem;
    color: #000;
}

.time-nome {
    margin-top: 5px;
}

.tipo-apostas {
    display: flex;
    flex-wrap: wrap;
}

.tipo-apostas .tipo-aposta{
    min-width: 50%;
    max-width: 50%;
    padding: 0 5px 10px;
    text-transform: uppercase;
}

.header-tipo-aposta {
    background-color: #0a0a0a;
    padding: 7px 15px;
    margin-bottom: 2px;
}

.odds > div {
    margin: 0 5px;
}

.odds .odd {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-bottom: 5px;
}

.odds-coluna {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.odds-jogador-coluna{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.odd-jogador{
    width: 50%!important;
}

.width-25{
    width: 25%;
}

.width-33{
    width: 33.33%;
}

.width-50{
    width: 50%;
}

.width-100{
    width: 100%;
}

.time-a-nome {
    width: 100%;
}

.time-b-nome {
    width: 100%;
}

.odds {
    height: auto;
}

.odds > div {
    flex: 1;
}

/* Large devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    .jogo, .indentificacao, .nome {
        max-width: calc(100vw - 525px);
    }

    .indentificacao{
        display: flex;
    }

    .indentificacao-mobile{
        display: none;
    }

    .nome img {
        width: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .jogo-container {
        max-width: 100vw;
    }

    .content-sports {
        padding-bottom: 57px;
    }

    .indentificacao{
        display: none;
    }

    .indentificacao-mobile{
        display: block;
    }

    .indentificacao .campeonato-nome {
        max-width: 240px;
    }

    .nome img {
        width: 30px;
    }
}
