<span style="display: flex; flex-direction: column; justify-content: space-between; height: 100%; overflow: auto;">
<div class="modal-header">
    <div>
        <h5 id="modal-basic-title">Aposta</h5>
    </div>
    <div class="action-buttons">
        <a *ngIf="isCustomer && bet.tipo === 'esportes'" href="{{liveTicketUrl}}" target="_blank" title="ACOMPANHAR BILHETE AO-VIVO" >
            <i class="fa fa-external-link"></i>
        </a>
        <button type="button" (click)="shareBetLink(bet)" class="shared-ticket" title="COMPARTILHAR">
            <i class="fa fa-share-alt"></i>
        </button>
        <button type="button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="cupom-header">
    <div style="display: flex; flex-direction: column; justify-items: center; text-align: center;">
        <p>{{bet.tipo | titlecase}}</p>
        <p style="font-size: 1.5rem; font-weight: 800;">{{bet.codigo}}
            <i style="cursor: pointer; margin-left: 0.25rem; margin-bottom: 15px;" (click)="copyToClipboard(bet.codigo)"
                class="far fa-copy"></i>
        </p>
        <ng-container *ngIf="!bet.is_cliente">
            <div *ngIf="bet.is_cliente; else exibicaoPadrao">
                <p>
                    <b>Apostador: </b><span>{{bet.apostador}}</span>
                </p>
            </div>
            <ng-template #exibicaoPadrao>
                <p>
                    <b>Cambista:</b> {{bet.passador.nome}}
                </p>
                <p>
                    <b>Apostador: </b><span>{{bet.apostador}}</span>
                </p>
            </ng-template>
        </ng-container>
        <ng-container *ngIf="bet?.data_liquidacao">
            <p *ngIf="bet?.data_liquidacao">
                <b>{{'geral.liquidadoEm' | translate}}</b>
                <span> {{bet.data_liquidacao | moment: 'DD/MM/YYYY [às] HH:mm'}}</span>
            </p>
        </ng-container>
        <p>Em {{bet.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</p>
    </div>
</div>
<div class="modal-body cupom-ativo">
    <div class="table-container">
        <table class="table">
            <tbody>
                <ng-container *ngFor="let item of bet.itens">
                    <tr class="cupom">
                        <td class="item border-left" style="min-width: 3rem; width: 7rem; position: relative">
                            <div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <p class="info-cupom" style="margin-bottom: 0">
                                    {{item.jogo_horario | moment: 'DD/MM'}}
                                </p>
                                <p class="info-cupom" style="margin-bottom: 0">
                                    {{item.jogo_horario | moment: 'HH:mm'}}
                                </p>
                            </div>
                        </td>
                        <td class="item">
                            <div style="max-width: 97%;">
                                <p class="campeonato info-cupom">
                                    <i [ngClass]="getIconBySport(item.sport)"></i> {{item.campeonato_nome | uppercase}}
                                </p>
                                <p style="margin-left: 18px" class="nome">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                                <p style="margin-left: 18px" class="cotacao">
                                    <span class="info-cupom">
                                        {{item.categoria_nome}}:
                                    </span>
                                    <span style="color: var(--foreground-game);">
                                        {{item.odd_nome}}
                                        ({{item.cotacao}})
                                    </span>
                                    <span *ngIf="item.ao_vivo" style="color: var(--foreground-game);"> | AO VIVO</span>
                                </p>
                            </div>
                        </td>
                        <td class="item border-right" id="td-result">
                            <div style="display: flex; justify-content: center;">
                                <p class="jogo-resultado" style="float:right; color: var(--foreground-game);" *ngIf="item.encerrado && !item.removido; else resultado">
                                    ENCERRADO <br />
                                    <span [ngClass]="getBetResultClasses(item)">
                                        <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                            ( {{item.resultado}} )
                                        </ng-container>
                                    </span>
                                </p>
                                <ng-template #resultado>
                                    <p class="jogo-resultado" style="float:right">
                                        <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                        <span *ngIf="!item.removido && !item.encerrado" [ngClass]="getBetResultClasses(item)">
                                            {{item.resultado}}
                                        </span>
                                    </p>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <ng-container *ngFor="let item of bet.itens">
        <div class="cupom-container">
            <div id="cupom">
                <div class="conteudo">
                    <div class="item">
                        <p ngbTooltip="{{item.campeonato_nome | uppercase}}"
                        triggers="manual"
                        #tooltipChampionship="ngbTooltip"
                        (click)="tooltipChampionship.open()"
                        class="campeonato info-cupom">
                            <i [ngClass]="getIconBySport(item.sport)"></i> {{item.campeonato_nome | uppercase}}
                        </p>
                        <div ngbTooltip="{{item.time_a_nome}} {{item.time_a_resultado}} x {{item.time_b_resultado}} {{item.time_b_nome}}"
                        triggers="manual" 
                        #tooltipTeams="ngbTooltip"
                        (click)="tooltipTeams.open()"
                        class="teams-container">
                            <div id="teams-names">
                                <p class="nome"
                                    style="font-weight: bolder;">
                                    {{item.time_a_nome}}
                                    {{item.time_a_resultado}} x {{item.time_b_resultado}}
                                    {{item.time_b_nome}}
                                </p>
                            </div>
                            <div id="game-status">
                                <p class="jogo-resultado" *ngIf="item.encerrado && !item.removido; else resultado">
                                    ENCERRADO
                                    <span [ngClass]="getBetResultClasses(item)">
                                        <ng-container *ngIf="item.resultado !== null && item.resultado !== undefined">
                                            ( {{item.resultado}} )
                                        </ng-container>
                                    </span>
                                </p>
                                <ng-template #resultado>
                                    <p class="jogo-resultado">
                                        <span *ngIf="item.removido" style="text-transform: uppercase;">Cancelado</span>
                                        <span *ngIf="!item.removido && !item.encerrado" [ngClass]="getBetResultClasses(item)">
                                            {{item.resultado}}
                                        </span>
                                    </p>
                                </ng-template>
                            </div>
                        </div>
                        <p style="margin-left: 18px" class="horario info-cupom">
                            {{item.jogo_horario | moment: 'DD/MM/YYYY HH:mm'}}
                        </p>
                        <p style="margin-left: 18px" class="cotacao">
                            <span class="info-cupom odd-container">
                                <div>{{item.categoria_nome}}:</div>
                                <div>
                                    {{item.odd_nome}}
                                    <span style="float:right">{{item.cotacao}}<span *ngIf="item.ao_vivo"> | AO VIVO</span></span>
                                </div>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            </div>
    </ng-container>
</div>
<div class="modal-footer">
    <button class="btn secondary-btn btn-block" (click)="repeatBet(bet)" *ngIf="canRepeatBet(bet); else cantRepeat"
        [disabled]="repeating">
        {{ (repeating ? 'compartilhar_aposta.reutilizandoAposta' : 'compartilhar_aposta.reutilizarAposta') | translate }}
    </button>
    <ng-template #cantRepeat>
        <p style="text-align: center;">{{ 'compartilhar_aposta.apostaNaoPodeSerRepetida' | translate }}</p>
    </ng-template>
</div>
</span>
