.modal-body {
    padding-top: 55px;
}

h2 {
    font-size: 18px;
    margin-bottom: 25px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 30px;
}

.form-group {
    margin-bottom: 25px;
}

.btnClose {
    font-size: 32px;
    line-height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    color:  var(--highlight);
    cursor: pointer;
}


#legitimuz-container{
    padding-bottom: 56px;
}

#verify-identity-text{
    padding-bottom: 12px;
    opacity: 0.8;
}
#faceMatch {
    margin-bottom: 16px;
}

@media only screen and (max-width: 480px) {
    input {
        min-height: 50px;
    }

    .input-md.placeholder-active label {
        top: 12px;
    }

    .input-md select {
        padding-top: 17px;
    }

    .input-md .showPassword {
        position: absolute;
        top: 10px;
    }

    .input-md label {
        transform: translateY(-45%);
        transition: all 0.2s ease-out;
        pointer-events: none;
    }

    .input-md input:focus + label,
    .input-md input:not(:placeholder-shown) + label {
        top: 12px;
        font-size: 12px;
    }
    .buttons button {
        flex: 1;
        margin: 0 !important;
    }
    
    .buttons {
        gap: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 481px) {
    .buttons {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding: 20px;
    }
    
    .buttons {
        gap: 20px;
    }
}



