.table tr td{
    cursor: pointer;
}

thead .resultado{
    padding: 0;
}

.tr-1 .resultado{
    padding: 4px;
    width: 8px;
}

.tr-2 td{
    border-top: none!important;
    padding-top: 0;
}

.td-ganhou{
    background: green;
}

.td-perdeu{
    background: red;
}

.td-pendente{
    background: gray;
}
