#desafios-wrapper {
    background-color: #e1e2e4;
    display: flex;
    flex-direction: row;
}

.desafios-content{
    flex-grow: 1;
    padding: 0 0 0 255px;
    overflow: auto;
    height: calc(100vh - 69px);
}

@media only screen and (max-width: 1024px) {
    .desafios-content{
        padding: 0;
        height: calc(100vh - 113px);
    }
}
