<div id="default-content">
    <app-spinner *ngIf="showLoading"></app-spinner>

    <ng-container *ngIf="!showLoading">
        <div class="content-header">
            <h2>{{'geral.perfil' | translate}}</h2>
        </div>
        <div class="content-body">
            <div class="content">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.nome' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="nome" class="form-control inverted-out" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="sobrenome" class="form-control inverted-out" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.cpf' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="cpf" mask="000.000.000-00" class="form-control inverted-out" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.dataDeNascimento' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control inverted-out" formControlName="nascimento" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h5>{{'geral.informacoesDeContato' | translate}}</h5>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.telefone' | translate}}</label>
                            </div>
                            <div class="col col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="telefone" placeholder="(00)00000-0000"
                                    mask="(00) 00000-0000" class="form-control inverted-out" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.email' | translate}}</label>
                            </div>
                            <div class="col col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="email" class="form-control inverted-out"
                                        placeholder="exemplo@email.com" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h5>{{'geral.endereco' | translate}}</h5>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.cep' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        formControlName="cep"
                                        placeholder=""
                                        mask="00000-000"
                                        class="form-control inverted-out"
                                        [validation]="false"
                                    >
                                    <app-error-msg [control]="form.get('cep')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.logradouro' | translate}}</label>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" formControlName="logradouro" class="form-control inverted-out" placeholder="{{'geral.exLogradouro' | translate}}">
                                    <app-error-msg [control]="form.get('logradouro')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Nº</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="numero" class="form-control inverted-out">
                                    <app-error-msg [control]="form.get('numero')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.bairro' | translate}}</label>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" formControlName="bairro" class="form-control inverted-out">
                                    <app-error-msg [control]="form.get('bairro')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.estado' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select formControlName="estado" type="text" class="form-control inverted-out"
                                        (change)="getCidades($event)">
                                        <option value="">{{'geral.selecione' | translate}}</option>
                                        <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}
                                        </option>
                                    </select>
                                    <app-error-msg [control]="form.get('estado')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'geral.cidade' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select formControlName="cidade" class="form-control inverted-out">
                                        <option value="">{{'geral.selecioneACidade' | translate}}</option>
                                        <option *ngFor="let cidade of cidades" [value]="cidade.id"
                                            [selected]="cidade.id === cidadeSelecionada">{{cidade.nome}}</option>
                                    </select>
                                    <app-error-msg [control]="form.get('cidade')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset *ngIf="!googleLogin">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">{{'senhas.senhaAtual' | translate}}</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input [type]="mostrarSenha ? 'text' : 'password'" formControlName="senha_atual" class="form-control inverted-out">
                                    <i class="fa showPassword" [ngClass]="mostrarSenha ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarSenha = !mostrarSenha"></i>
                                </div>
                                <app-error-msg [control]="form.get('senha_atual')"></app-error-msg>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div *ngIf="faceMatchEnabled">
                            <h5 id="faceMatch">Reconhecimento Facial</h5>
                            <div #legitimuz id="legitimuz-container" *ngIf="faceMatchEnabled && !faceMatchProfileEdit && !verifiedIdentity">
                                <div id="legitimuz">
                                    <div id="verify-identity-text">
                                        {{disapprovedIdentity ? ('saques.disapprovedIdentity' | translate) : ('saques.identityVerifyNeeded' | translate)}}
                                    </div>
                                    <input id="legitimuz-hydrate-cpf" type="hidden" class="form-control inverted-out" [value]="cliente.cpf"/>
                                    <button id="legitimuz-action-verify" class="btn btn-custom" *ngIf="!disapprovedIdentity" [disabled]="faceMatchfaceMatchProfileEdit">
                                        <i class="fa-solid fa-id-card"></i>
                                        {{'saques.identityVerify' | translate}}
                                    </button>
                                </div>
                                <div id="legitimuz-root"></div>
                            </div>
                            <div #legitimuzLiveness id="legitimuz-container" *ngIf="faceMatchEnabled && !faceMatchProfileEdit && verifiedIdentity">
                                <div id="legitimuz">
                                    <div id="verify-identity-text">
                                        {{disapprovedIdentity ? ('saques.disapprovedIdentity' | translate) : ('saques.identityVerifyNeeded' | translate)}}
                                    </div>
                                    <input id="legitimuz-hydrate-cpf" type="hidden" class="form-control inverted-out" [value]="cliente.cpf"/>
                                    <button id="legitimuz-action-faceindex" class="btn btn-custom" *ngIf="!disapprovedIdentity" [disabled]="faceMatchfaceMatchProfileEdit">
                                        <i class="fa-solid fa-id-card"></i>
                                        {{'saques.identityVerify' | translate}}
                                    </button>
                                </div>
                                <div id="legitimuz-root"></div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-custom2 w-150 mr-4" type="button" (click)="resetarForm()">
                                {{'geral.cancelar' | translate}}
                            </button>
                            <button
                                class="btn btn-custom w-150"
                                type="submit"
                                [disabled]="form.invalid && !faceMatchfaceMatchProfileEdit"
                            >
                                {{'geral.atualizar' | translate}}
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </ng-container>
</div>
