.nav-tabs {
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid var(--highlight);
}


#default-content {
    padding: 25px 38px;
}


h2 {
    margin-bottom: 35px;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 40px;
}

label {
    font-size: 12px;
    line-height: 38px;
}

.row {
    margin-bottom: 30px;
}

.form-group {
    position: relative;
}

#legitimuz-container{
    padding-bottom: 56px;
}

#verify-identity-text{
    padding-bottom: 12px;
    opacity: 0.8;
}
#faceMatch {
    margin-bottom: 16px;
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    h5 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    label {
        display: none;
    }

    #default-content {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group.text-right {
        text-align: center !important;
    }

    .row {
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 481px ) {
    .buttons {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

@media only screen and (max-width: 480px ) {
    .buttons button {
        flex: 1;
        margin: 0 !important;
    }
    
    .buttons {
        gap: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
