<div id="default-content">
    <app-spinner *ngIf="showLoading"></app-spinner>

    <ng-container *ngIf="!showLoading">
        <div class="content-header">
            <h2>Perfil</h2>
        </div>
        <div class="content-body">
            <div class="content">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Nome</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="nome" class="form-control inverted-out">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="sobrenome" class="form-control inverted-out">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">CPF</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="cpf" mask="000.000.000-00" class="form-control inverted-out">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Data de Nascimento</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control inverted-out" formControlName="nascimento">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Sexo</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control inverted-out" formControlName="sexo">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h5>Informações de Contato</h5>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Telefone</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="telefone" placeholder="(00) 00000-0000"
                                        mask="(00) 00000-0000" class="form-control inverted-out" [dropSpecialCharacters]="false">
                                    <app-error-msg [control]="form.get('telefone')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Email</label>
                            </div>
                            <div class="col col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="email" class="form-control inverted-out"
                                        placeholder="exemplo@email.com">
                                    <app-error-msg [control]="form.get('email')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h5>Endereço</h5>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">CEP</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="cep" placeholder="00000-000" mask="00000-000"
                                        class="form-control inverted-out" (change)="buscarPorCep($event)">
                                    <app-error-msg [control]="form.get('cep')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Logradouro</label>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" formControlName="logradouro" class="form-control inverted-out">
                                    <app-error-msg [control]="form.get('logradouro')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Nº</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="numero" class="form-control inverted-out">
                                    <app-error-msg [control]="form.get('numero')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Bairro</label>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="text" formControlName="bairro" class="form-control inverted-out">
                                    <app-error-msg [control]="form.get('bairro')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Estado</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select formControlName="estado" type="text" class="form-control inverted-out"
                                        (change)="getCidades($event)">
                                        <option value="0">Selecione</option>
                                        <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}
                                        </option>
                                    </select>
                                    <app-error-msg [control]="form.get('estado')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Cidade</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select formControlName="cidade" class="form-control inverted-out">
                                        <option value="0">Selecione a cidade</option>
                                        <option *ngFor="let cidade of cidades" [value]="cidade.id"
                                            [selected]="cidade.id === cidadeSelecionada">{{cidade.nome}}</option>
                                    </select>
                                    <app-error-msg [control]="form.get('cidade')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">Senha Atual</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <input type="password" formControlName="senha_atual" class="form-control inverted-out">
                                    <app-error-msg [control]="form.get('senha_atual')"></app-error-msg>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="form-group text-right">
                                    <button class="btn btn-custom2 w-150 mr-4" type="button" (click)="resetarForm()">
                                        Cancelar
                                    </button>
                                    <button class="btn btn-custom w-150" type="submit">
                                        Atualizar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </ng-container>
</div>
