<div style="position: absolute; top: -9999px; left: -9999px;">
    <div id="bilhete" #bilhete>
        <div class="conteudo">
            <div style="text-align: center;">
                <img [src]="LOGO">
            </div>
            <h1 class="numero">
                {{aposta.codigo}}
            </h1>
            <hr>
            <hr>
            <div class="informacoes">
                <div class="item-odd">
                    <p>
                        <b>CAMBISTA:</b> {{aposta.passador.nome}}
                    </p>
                    <p>
                        <b>APOSTADOR:</b> {{aposta.apostador}}
                    </p>
                    <p>
                        <b>HORÁRIO:</b> {{aposta.horario | moment: 'DD/MM/YYYY HH:mm'}}
                    </p>
                </div>
                <div class="item-even">
                    <p>
                        <b>{{'geral.status' | translate | uppercase}}: </b>
                        <span>{{aposta.ativo ? 'ATIVO' : 'CANCELADO'}}</span>
                    </p>
                    <p>
                        <b>RESULTADO: </b>
                        <span *ngIf="aposta.resultado">{{aposta.resultado}}</span>
                        <span *ngIf="!aposta.resultado">aguardando</span>
                    </p>
                </div>
            </div>
            <hr>
            <hr>
            <div class="itens">
                <ng-container *ngFor="let item of aposta.itens;let i = index">
                    <div class="item" [ngClass]="getItemClass(i)">
                        <p class="campeonato">
                            {{item.campeonato_nome}}
                        </p>
                        <p class="horario">
                            {{item.jogo_horario | moment: 'DD/MM/YYYY HH:mm'}}
                        </p>
                        <p class="nome" [ngClass]="resultadoClass(item)">
                            {{item.time_a_nome}}
                            {{item.time_a_resultado}} x {{item.time_b_resultado}}
                            {{item.time_b_nome}}
                        </p>
                        <p class="cotacao" [ngClass]="resultadoClass(item)">
                            {{item.categoria_nome}}:
                            {{item.odd_nome}}
                            ( {{item.cotacao}} )
                            <span *ngIf="item.ao_vivo"> | AO VIVO</span>
                        </p>
                        <p class="jogo-resultado" style="float:right">
                            <span *ngIf="item.removido; else resultado">Cancelado</span>
                            <ng-template #resultado>{{item.resultado}}</ng-template>
                        </p>
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="valores">
                <p class="total-jogos">
                    QUANTIDADE DE JOGOS: <span style="float:right">{{aposta.itens.length}}</span>
                </p>
                <p class="aposta">
                    COTAÇÃO: <span
                        style="float:right">{{aposta.possibilidade_ganho / aposta.valor | number:'1.0-3' }}</span>
                </p>
                <p class="aposta">
                    VALOR APOSTADO: <span style="float:right">{{aposta.valor | currency}}</span>
                </p>
                <p class="ganho">
                    POSSÍVEL RETORNO: <span
                        style="float:right">{{aposta.possibilidade_ganho | currency}}</span>
                </p>
                <p class="ganho" *ngIf="aposta.resultado || aposta.resultado == 'a confirmar'">
                    {{'geral.premio' | translate | uppercase}}: <span style="float:right">{{aposta.premio | currency}}</span>
                </p>
                <p *ngIf="enabledBookie" class="cambista-paga">
                    CAMBISTA PAGA: <span style="float:right">{{cambistaPaga ?? 0 | currency}}</span>
                </p>
                <hr>
                <hr>
            </div>
            <p class="rodape">
                {{opcoes.informativo_rodape}}
            </p>
        </div>
    </div>
