<div class="information-steps">
    <div class="information-steps__header">
        <app-button-close (close)="handleClose()"></app-button-close>
    </div>
    <div class="information-steps__body">
        <span class="information-steps__title">
            {{ title }}
        </span>
        <div class="information-steps__item" *ngFor="let information of informations">
            <div class="information-steps__item-icon">
                <ng-container *ngComponentOutlet="information.icon; inputs: information.iconProps"></ng-container>
            </div>
            <span> {{ information.description }}</span>
        </div>
    </div>
    <div class="information-steps__footer">
        <button
            class="information-steps__action-buton"
            aria-label="Close"
            (click)="handleClick()"
            *ngIf="hasButton"
        >
           {{ textButton }}
        </button>
    </div>
</div>
