.information-steps {
    min-height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--header);
    gap: 67px;

    &__title {
        display: flex;
        color: var(--foreground);
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-align: start;
    }

    &__body {
        display: flex;
        width: 353px;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        color: rgba(var(--foreground-rgb), 0.70);
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-items: center;
    }

    &__item-icon {
        min-width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        outline: 4px solid rgba(var(--highlight-rgb), 0.05);
        background: rgba(var(--highlight-rgb), 0.10);
        justify-content: center;
    }

    &__footer {
        padding-bottom: 24px;
    }

    &__btn-to-cancel {
        font-size: 32px;
        line-height: 32px;
        position: absolute;
        top: 21px;
        right: 24px;
        color: var(--highlight);
        cursor: pointer;
        background-color: var(--header);
        border: none;
    }

    &__btn-to-cancel:focus {
        outline: none;
    }

    &__action-buton {
        background-color: var(--header);
        border: 1px solid var(--highlight);
        color: var(--highlight);
        border-radius: 4px;
        display: flex;
        width: 353px;
        height: 40px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
    }
}