<section class="content-sports" appPerfectScroll>
    <div class="wrap-sticky">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

        <div *ngIf="!showLoadingIndicator">
            <div class="sem-jogos" *ngIf="!campeonatos.size || !temJogoAoVivo">
                <div class="alert alert-primary" role="alert">
                    Nenhum evento ao vivo disponível no momento!
                </div>
            </div>

            <div class="campeonato" *ngFor="let campeonato of campeonatos | keyvalue:reOrder">
                <ng-container *ngIf="campeonatoPermitido(campeonato.value._id)">
                    <div class="campeonato-header">
                        {{campeonato.value.nome}}
                    </div>
                    <div class="jogos">
                        <div class="jogo" *ngFor="let jogo of campeonato.value.jogos | keyvalue">
                            <div class="indentificacao">
                                <div class="aovivo-label">
                                    Vivo
                                </div>
                                <div class="tempo">
                                    {{jogo.value.info.minutos}}'
                                </div>
                                <div class="nome">
                                    <div class="time-a">
                                        <div class="time-a-nome">{{jogo.value.time_a_nome}}</div>
                                        <div class="placar time-a-placar">{{jogo.value.info.time_a_resultado}}</div>
                                    </div>
                                    <div class="time-b">
                                        <div class="placar time-b-placar">{{jogo.value.info.time_b_resultado}}</div>
                                        <div class="time-b-nome">{{jogo.value.time_b_nome}}</div>
                                    </div>
                                </div>
                                <div class="mais-opcoes">
                                    <a routerLink="/esportes/futebol/live/jogos/{{jogo.value._id}}">
                                        <i class="fas fa-plus"></i>{{jogo.value.total_cotacoes}}
                                        <span>Cotações</span>
                                    </a>
                                </div>
                            </div>

                            <div class="indentificacao-mobile">
                                <div class="header">
                                    <div class="left-side">
                                        <div class="aovivo-label">
                                            Vivo
                                        </div>
                                        <div class="tempo">
                                            {{jogo.value.info.minutos}}'
                                        </div>
                                    </div>
                                    <div class="right-side">
                                        <div class="mais-opcoes">
                                            <a routerLink="/esportes/futebol/live/jogos/{{jogo.value._id}}">
                                                <i class="fas fa-plus"></i>{{jogo.value.total_cotacoes}}
                                                <span>Cotações</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nome">
                                    <div class="time-a">
                                        <div class="time-a-nome">{{jogo.value.time_a_nome}}</div>
                                        <div class="placar time-a-placar">{{jogo.value.info.time_a_resultado}}</div>
                                    </div>
                                    <div class="time-b">
                                        <div class="time-b-nome">{{jogo.value.time_b_nome}}</div>
                                        <div class="placar time-b-placar">{{jogo.value.info.time_b_resultado}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>
