<div class="content-sports content-sports-list">
    <div class="wrap-sticky">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

        <div class="sem-evento" *ngIf="campeonatos && !campeonatos.length">
            Nenhum evento disponível!
        </div>

        <div *ngIf="!showLoadingIndicator">
            <div class="campeonato" *ngFor="let campeonato of campeonatos; trackBy: trackById">
                <div class="campeonato-header">
                    <span class="column-left">
                        <span class="campeonato-nome">{{campeonato.nome}}</span>
                    </span>
                </div>
                <div class="eventos">
                    <ng-container *ngFor="let evento of campeonato.jogos">
                        <div class="evento" *ngIf="evento.cotacoes.length && !eventoBloqueado(evento.event_id)">
                            <div class="indentificacao">
                                <div class="horario">
                                    {{evento.horario | moment: 'DD/MM HH:mm'}}
                                </div>
                                <div class="nome">
                                    <div>{{evento.time_a_nome}}</div>
                                    <div>{{evento.time_b_nome}}</div>
                                </div>
                            </div>
                            <div class="odds">
                                <div class="odd odd-combate" *ngFor="let cotacao of evento.cotacoes">
                                    <ng-container *ngIf="cotacaoPermitida(cotacao.valorFinal);else cotacaoBloqueada">
                                        <div class="inner-odd odd-enabled {{itensSelecionados[evento._id + '_'+ cotacao.chave] ? 'selecionado' : ''}}"
                                            (click)="addCotacao(evento, cotacao)">
                                            <span class="nome">
                                                {{cotacao.label}}
                                            </span>
                                            <span class="valor">
                                                {{cotacao.valorFinal}}
                                            </span>
                                        </div>
                                    </ng-container>
                                    <ng-template #cotacaoBloqueada>
                                        <div class="inner-odd odd-disabled">
                                            <span class="nome">
                                                {{cotacao.label}}
                                            </span>
                                            <span class="valor">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
