<div id="cupom">
    <div class="conteudo">
        <div class="text-center">
            <img src="{{LOGO}}" alt="ZEBRINHA.BET">
        </div>
        <h1>#{{aposta.id}}</h1>
        <p class="informacoes-gerais">CAMBISTA: {{aposta.passador.nome}}</p>
        <p class="informacoes-gerais">APOSTADOR: {{aposta.apostador}}</p>
        <p class="informacoes-gerais">HORÁRIO: {{aposta.horario | moment: 'DD/MM/YYYY [às] HH:mm'}}</p>
        ----------------------------<br>
        <ng-container *ngFor="let item of aposta.itens">
            <p class="informacoes-item">
                {{sorteioNome(item.sorteio_id)}}
            </p>
            <p class="informacoes-item">
                VALOR: {{item.valor | currency: 'BRL':'symbol':'1.2'}}
            </p>
            <p class="informacoes-item" [ngClass]="verificarStatus(item, 6)">
                Retorno 6: {{item.cotacao6 * item.valor | currency: 'BRL':'symbol':'1.2'}}
            </p>
            <p class="informacoes-item" [ngClass]="verificarStatus(item, 5)">
                Retorno 5: {{item.cotacao5 * item.valor | currency: 'BRL':'symbol':'1.2'}}
            </p>
            <p class="informacoes-item" [ngClass]="verificarStatus(item, 4)">
                Retorno 4: {{item.cotacao4 * item.valor | currency: 'BRL':'symbol':'1.2'}}
            </p>
            <p class="informacoes-item" [ngClass]="verificarStatus(item, 3)">
                Retorno 3: {{item.cotacao3 * item.valor | currency: 'BRL':'symbol':'1.2'}}
            </p>
            <p class="informacoes-item">
                DEZENAS: {{item.numeros}}
            </p>
            <p class="informacoes-item">
                <strong *ngIf="item.status != 'ganhou'; else ganhou">{{item.status}}</strong>
                <ng-template #ganhou>
                    <strong>{{item.status}} {{item.tipo_premio}}</strong>
                </ng-template>
            </p>
            ----------------------------<br>
        </ng-container>
        <p class="valor-aposta">
            VALOR TOTAL: {{aposta.valor | currency: 'BRL':'symbol':'1.2'}}
        </p>
        <p class="mensagem-rodape">
            {{informativoRodape}}
        </p>
    </div>
</div>
