<div id="cupom-center">
    <div id="cupom" #cupom>
        <div class="conteudo">
            <ng-container *ngFor="let item of aposta.itens">
                <p class="informacoes-item" id="modalidade">
                    MODALIDADE: {{sorteioNome(item.tipo)}}
                </p>
                <p *ngIf="item.tipo == 'seninha'" class="informacoes-item">
                    Retorno 6: {{calcularPremioLoteria(item.valor, item.cotacao6) | currency}}
                    <br>
                    <span *ngIf="!aposta.is_cliente && aposta.passador.percentualPremio > 0">
                        Retorno líquido 6: {{calcularPremioLiquidoLoteria(item.valor, item.cotacao6, aposta.passador.percentualPremio) | currency}}
                    </span>
                </p>
                <p class="informacoes-item" *ngIf="item.cotacao5 > 0">
                    Retorno 5: {{calcularPremioLoteria(item.valor, item.cotacao5) | currency}}
                    <br>
                    <span *ngIf="!aposta.is_cliente && aposta.passador.percentualPremio > 0">
                        Retorno líquido 5: {{calcularPremioLiquidoLoteria(item.valor, item.cotacao5, aposta.passador.percentualPremio) | currency}}
                    </span>
                </p>
                <p class="informacoes-item" *ngIf="item.cotacao4 > 0">
                    Retorno 4: {{calcularPremioLoteria(item.valor, item.cotacao4) | currency}}
                    <br>
                    <span *ngIf="!aposta.is_cliente && aposta.passador.percentualPremio > 0">
                        Retorno líquido 4: {{calcularPremioLiquidoLoteria(item.valor, item.cotacao4, aposta.passador.percentualPremio) | currency}}
                    </span>
                </p>
                <p class="informacoes-item" *ngIf="item.cotacao3 > 0">
                    Retorno 3: {{calcularPremioLoteria(item.valor, item.cotacao3) | currency}}
                    <br>
                    <span *ngIf="!aposta.is_cliente && aposta.passador.percentualPremio > 0">
                        Retorno líquido 3: {{calcularPremioLiquidoLoteria(item.valor, item.cotacao3, aposta.passador.percentualPremio) | currency}}
                    </span>
                </p>
                <div class="dezenas-info">
                    <div class="dezenas-title">
                        <p class="informacoes-item">
                            Dezenas:
                        </p>
                    </div>
                    <div class="dezenas-apostadas">
                        <ng-container *ngFor="let numeros of item.numeros">
                            <div>{{numeros}}</div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="footer-cupom">
            <p>
                Resultado: <span style="float: right;">{{aposta.resultado ?? "Aguardando"}}</span>
            </p>
            <p class="valor-aposta">
                Valor total: <span style="float: right;">{{aposta.valor | currency}}</span>
            </p>
        </div>
        <p class="mensagem-rodape">
            {{informativoRodape}}
        </p>
    </div>
</div>
