#cupom {
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
}

#cupom h1{
    text-align: center;
    font-weight: bold;
}
#cupom .informacoes-gerais{
    margin: 1px;
}
#cupom .informacoes-item{
    margin: 1px;
}
#cupom .valor-aposta{
    margin: 1px;
}
#cupom .mensagem-rodape{
    margin: 15px 1px 1px 1px;
    text-align: center
}

.dezenas-apostadas, .dezenas-info {
    display: flex;
    flex-wrap: wrap;
}

.dezenas-apostadas {
    flex-direction: row;
    width: 80%;
}

.dezenas-info {
    flex-direction: row;
    font-weight: bold;
}

.dezenas-title {
    margin: 10px 10px 0 0;
}

.footer-cupom, .conteudo {
    background: var(--game);
    border-bottom: 2px dotted var(--bottom-bar);
    border-radius: 10px;
    padding: 10px;
}

.footer-cupom {
    border-bottom: 2px dotted var(--bottom-bar);
    padding: 15px 10px;
}

#modalidade {
    font-size: 12px;
    font-weight: bolder;
}

.dezenas-apostadas > div {
    background: var(--bottom-bar);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#cupom .ganhou{
    background-color: #32CD32;
}
