<div class="modal-header">
    <img [src]="LOGO" class="logo-modal" alt="">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <h2>{{'senhas.redefinirSenha' | translate}}</h2>
    <p>{{'senhas.informeSeuEmail' | translate}}</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group mb-4">
            <input type="text" class="form-control inverted-out" formControlName="email"
                   [ngClass]="applyCssInputError('email')" placeholder="{{'geral.email' | translate}}">
            <app-error-msg [control]="form.get('email')" label="{{'geral.email' | translate}}" class="text-left"></app-error-msg>
        </div>
        <button type="submit" class="btn btn-custom btn-block" [disabled]="submitting">{{'senhas.solicitarCodigoRedefinicao' | translate}}</button>
    </form>
</div>

