:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-dialog {
    max-width: 600px;
  }

.modal-header {
    padding: 20px 25px;
    border-bottom: transparent;
}

.modal-body {
    padding: 0 33px;
}

h2 {
    color: var(--foreground-inputs-odds-rgb);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

p {
    color: rgb(var(--foreground-inputs-odds-rgb),0.5);
    margin-bottom: 25px;
}

input {
    border: 1px solid rgba(var(--foreground-inputs-odds-rgb),30%);
    color: rgba(var(--foreground-inputs-odds-rgb),30%);
    font-size: 14px;
}

.input-md label {
    color: rgba(var(--foreground-inputs-odds-rgb),30%);
}

.btn-close {
    margin-right: 10px;
    background: none;
}

.btn-close i {
    fill: rgb(var(--foreground-inputs-odds-rgb),0.5);
    color: rgb(var(--foreground-inputs-odds-rgb),0.5);
}

.esqueceu-senha {
    color: var(--highlight);
    font-size: 12px;
    display: block;
    margin: 20px 0 30px;
    text-decoration: none;
}

.registrar {
    font-size: 12px;
    text-align: center;
    padding-bottom: 25px;
}

.registrar a {
    color: var(--highlight);
}

.form-forgot-password {
    display: flex;
    flex-direction: column;
    gap: 203px;
}

.form-forgot {
    display: flex;
    flex-direction: column;
    gap: 16px
}

@media only screen and (max-width: 768px) {
    .registrar{
        bottom: 0;
    }
    }

