<div class="modal-header">
    <img src="/assets/images/logo-weebet.svg" alt="">
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <img src="/assets/images/close.svg" alt="fechar" width="15">
    </a>
</div>
<div class="modal-body">
    <h2>Redefinir senha</h2>
    <p>Informe seu e-mail para receber o link de redefinição de senha.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group mb-4">
            <input type="text" class="form-control" formControlName="email"
                   [ngClass]="applyCssInputError('email')" placeholder="Email">
            <app-error-msg [control]="form.get('email')" label="Email" class="text-left"></app-error-msg>
        </div>
        <button type="submit" class="btn btn-custom btn-block">Solicitar código de redefinição</button>
    </form>
</div>

