#casino-wrapper{
    display: flex;
    flex-direction: row;
}

.casino-content{
    flex-grow: 1;
    padding: 0 0 0 255px;
    overflow: auto;
    height: calc(100vh - 45px);
}

@media only screen and (max-width: 1024px) {
    .casino-content{
        padding: 0;
        height: calc(100vh - 98px);
    }
}

@media (min-width: 1025px) {
    #casino-wrapper {
        padding-right: 270px;
    }
}
