.casino-content {
    flex-grow: 1;
    overflow: hidden;

    height: -webkit-fill-available;
    -webkit-overflow-scrolling: touch;
}

.in-gameview {
    background-color: #000;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .casino-content {
        height: calc(100vh - 161px);
        padding: 0;
    }

    .casino-content.virtual {
        height: calc(100vh - 121px);
        padding: 0;
    }
}

@media (min-width: 1025px) {
    .casino-content {
        height: calc(100vh - 132px);
        /*padding: 10px 10px 10px 10px;*/
    }

    .casino-content.virtual {
        height: calc(100vh - 92px);
    }
}
