<div class="black-screen" *ngIf="isOpen" (click)="closeMenu()" (pan)="onSwipeLeft($event)"></div>

<aside>
    <div id="sidebar-wrapper" [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
        <div id="side-fixed-menu">
            <div class="sidebar-brand">
                <a class="" [routerLink]="['/esportes/futebol/jogos']" routerLinkActive="router-link-active">
                    <img class="logo-banca" [src]="LOGO" />
                </a>
            </div>
            <ul class="sidebar-menu">
                <li>
                    <a (click)="abrirModalPesquisa()">
                        <i class="fa fa-search"></i> Pesquisa
                    </a>
                </li>
                <li>
                    <a (click)="abrirModalAposta()">
                        <i class="fa fa-ticket"></i> Bilhete
                    </a>
                </li>
                <ng-container *ngIf="isLoggedIn">
                    <li *ngIf="!isCliente">
                        <a (click)="abrirModalTabela()">
                            <i class="fa fa-print"></i> Tabela
                        </a>
                    </li>
                    <li *ngIf="!isCliente">
                        <a [routerLink]="['/validar-aposta']">
                            <i class="fa fa-check"></i> Validação
                        </a>
                    </li>
                    <li *ngIf="!isCliente">
                        <a [routerLink]="['/apuracao']">
                            <i class="fa fa-asterisk"></i> Apuração
                        </a>
                    </li>
                    <li *ngIf="isCliente">
                        <a [routerLink]="['/clientes/apostas']">
                            <i class="fa fa-asterisk"></i> Apostas
                        </a>
                    </li>
                    <li *ngIf="isCliente">
                        <a [routerLink]="['/clientes/financeiro']">
                            <i class="fa fa-dollar"></i> Financeiro
                        </a>
                    </li>
                    <li *ngIf="isCliente">
                        <a [routerLink]="['/clientes']">
                            <i class="fa fa-user"></i> Minha Conta
                        </a>
                    </li>
                    <li>
                        <ng-container *ngIf="loteriasHabilitada; else resultadosEsporte">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa fa-list"></i> Resultados
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/resultados/esportes']">Esportes</a>
                                <a *ngIf="loteriasHabilitada" class="dropdown-item"
                                    [routerLink]="['/resultados/loterias']">
                                    Loteria
                                </a>
                            </div>
                        </ng-container>
                        <ng-template #resultadosEsporte>
                            <a [routerLink]="['/resultados/esportes']">
                                <i class="fa fa-list"></i> Resultados
                            </a>
                        </ng-template>
                    </li>
                </ng-container>
                <li *ngIf="isAppMobile" (click)="listPrinters()">
                    <a>
                        <i class="fa fa-cogs"></i> Config
                    </a>
                </li>
                <li *ngIf="!isAppMobile">
                    <a target="_blank" download="app.apk" [href]="appUrl" *ngIf="!trevoOne">
                        <i class="fa fa-download"></i> App
                    </a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=trevo.one.la" *ngIf="trevoOne">
                        <i class="fa fa-download"></i> App
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/informacoes/regras']">
                        <i class="fa fa-book"></i> Regras
                    </a>
                </li>
                <li *ngIf="isAppMobile">
                    <a (click)="refresh()">
                        <i class="fa fa-refresh"></i> Atualizar
                    </a>
                </li>
                <li class="dropdown" *ngIf="cartaoApostaHabilitado && (!isCliente)">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-credit-card"></i> Cartões
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="abrirModalCartao()">Consultar</a>
                        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                            <a class="dropdown-item" (click)="abrirModalCadastroCartao()">Criar</a>
                            <a class="dropdown-item" [routerLink]="['/cartoes']">Listagem</a>
                            <a class="dropdown-item" [routerLink]="['/cartoes/solicitacoes-saque']">
                                Solicitações Saque
                            </a>
                            <a class="dropdown-item" *ngIf="permitirAtivacaoCartao()"
                                (click)="abrirModalAtivarCartao()">Ativar</a>
                            <a class="dropdown-item" (click)="abrirModalRecargaCartao()">Recarga</a>
                        </ng-container>
                        <ng-template #notLoggedIn>
                            <a class="dropdown-item" (click)="abrirModalSolicitarSaque()">Solicitar Saque</a>
                        </ng-template>
                    </div>
                </li>
                <li *ngIf="exibirPaginaDeposito">
                    <a [routerLink]="['/informacoes/deposito']">
                        <i class="fa fa-bank"></i> Depósito
                    </a>
                </li>
            </ul>
        </div>
        <ul id="menu-side-left" class="sidebar-nav">
            <ng-container *ngIf="contexto == 'esportes'">
                <ng-container *ngIf="regioesDestaque && !mobileScreen">
                    <span class="group">Destaques</span>
                    <li *ngFor="let regiao of regioesDestaque"
                        (click)="goTo('/esportes/futebol', { regiao_nome: regiao.nome })">
                        <a>
                            <span class="flag-icon flag-icon-{{regiao.sigla}} flag-icon-squared"></span> {{regiao.nome}}
                        </a>
                    </li>
                </ng-container>
                <span class="group">Datas</span>
                <li (click)="goTo('/esportes/' + esporte, {})">
                    <a>
                        Jogos de Hoje
                    </a>
                </li>
                <li *ngIf="exibirJogosAmanha()"
                    (click)="goTo('/esportes/' + esporte, { data: amanha.format('YYYY-MM-DD') })">
                    <a>
                        Jogos de Amanhã
                    </a>
                </li>
                <li *ngFor="let dia of dias" (click)="goTo('/esportes/' + esporte, { data: dia.format })">
                    <a>
                        Jogos de {{dia.descricao}}
                    </a>
                </li>
                <ng-container *ngIf="esporte == 'futebol'; else esporteGenerico">
                    <span class="group">Campeonatos</span>
                    <li class="regiao" *ngFor="let regiao of itens">
                        <a class="{{regiao._id == regiaoOpen ? 'selected' : ''}}" (click)="abrirRegiao(regiao._id)">
                            <span class="flag-icon flag-icon-{{regiao.sigla}} flag-icon-squared"></span> {{regiao._id}}
                        </a>
                        <ul *ngIf="regiao._id == regiaoOpen">
                            <li *ngFor="let campeonato of regiao.campeonatos"
                                (click)="goTo('/esportes/futebol', { campeonato: campeonato._id })">
                                <a>
                                    {{campeonato.nome.replace(regiao._id+': ', '')}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>
                <ng-template #esporteGenerico>
                    <span class="group">Campeonatos</span>
                    <li class="campeonato" *ngFor="let campeonato of itens"
                        (click)="goTo('/esportes/' + esporte, { campeonato: campeonato._id })">
                        <a>
                            <i class="fa fa-certificate"></i> {{campeonato.nome}}
                        </a>
                    </li>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="contexto == 'desafio'">
                <span class="group">Desafios</span>
                <li class="categoria" (click)="goTo('/desafios', {})">
                    <a>
                        <i class="fa fa-trophy"></i> TODOS
                    </a>
                </li>
                <li class="categoria" *ngFor="let categoria of itens"
                    (click)="goTo('/desafios', { categoria: categoria.id })">
                    <a>
                        <i class="fa fa-trophy"></i> {{categoria.nome}}
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="contexto == 'seninha' || contexto == 'quininha'">
                <span class="group">Surpresinha</span>
                <li class="supresinha" *ngFor="let tipoAposta of itens"
                    (click)="gerarSupresinha(tipoAposta.qtdNumeros, contexto)">
                    <a *ngIf="contexto == 'seninha'">
                        <i class="fa fa-certificate"></i> {{tipoAposta.qtdNumeros}} Números
                        ( {{tipoAposta.cotacao6 | currency}} )
                    </a>
                    <a *ngIf="contexto == 'quininha'">
                        <i class="fa fa-certificate"></i> {{tipoAposta.qtdNumeros}} Números
                        ( {{tipoAposta.cotacao5 | currency}} )
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="contexto =='casino'">
                <span class="group">Modalidades</span>
                <li>
                    <a [routerLink]="['/casino/wall']">
                        Todos
                    </a>
                </li>
                <li>
                <a [routerLink]="['/casino/wall']">
                    Encaixe
                </a>
                </li>
                <li>
                <a [routerLink]="['/casino/wall']">
                    Roleta
                </a>
                </li>
                <li>
                <a [routerLink]="['/casino/live']">
                    Casino Ao Vivo
                </a>
                </li>
            </ng-container>
        </ul>
    </div>
</aside>
