<aside id="sidebar-container">
    <div class="sidebar-wrapper" [ngClass]="{'collapsed': collapsed, 'blockedHover': blockedHover}" id="sidebar-wrapper">
        <div id="side-fixed-menu">
            <div class="collapse-container">
                <a class="btn-collapse" (click)="collapseSidebar()">
                    <span *ngIf="!collapsed"><i class="fa-solid fa-angles-left"></i></span>
                    <span *ngIf="collapsed"><i class="fa-solid fa-angles-right"></i></span>
                </a>
            </div>
        </div>
        <app-sidebar-nav [height]="heightSidebarNav" [collapsed]="collapsed"></app-sidebar-nav>
    </div>
</aside>
