<div class="black-screen" *ngIf="isOpen" (click)="closeMenu()" (pan)="onSwipeLeft($event)"></div>

<aside>
    <div id="sidebar-wrapper" [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
        <div id="side-fixed-menu">
            <div class="sidebar-brand">
                <a class="" [routerLink]="['/esportes/futebol/jogos']" routerLinkActive="router-link-active">
                    <img class="logo-banca" src="{{LOGO}}" />
                </a>
            </div>
            <ul class="sidebar-menu">
                <li>
                    <a (click)="abrirModalPesquisa()">
                        <i class="fa fa-search"></i> Pesquisa
                    </a>
                </li>
                <li>
                    <a (click)="abrirModalAposta()">
                        <i class="fa fa-ticket"></i> Bilhete
                    </a>
                </li>
                <li>
                    <a (click)="abrirModalTabela()">
                        <i class="fa fa-print"></i> Tabela
                    </a>
                </li>
                <ng-container *ngIf="isLoggedIn">
                    <li>
                        <a [routerLink]="['/validar-aposta']">
                            <i class="fa fa-check"></i> Validação
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-asterisk"></i> Apuração
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['/apuracao/esportes']">Esportes</a>
                            <a class="dropdown-item" [routerLink]="['/apuracao/loteria']">Loteria</a>
                        </div>
                    </li>
                    <li>
                        <a [routerLink]="['/resultados/esportes']">
                            <i class="fa fa-list"></i> Resultados
                        </a>
                    </li>
                </ng-container>
                <li *ngIf="isAppMobile" (click)="listPrinters()">
                    <a>
                        <i class="fa fa-cogs"></i> Config
                    </a>
                </li>
                <li *ngIf="!isAppMobile">
                    <a target="_blank" download="app.apk" href="app.apk">
                        <i class="fa fa-download"></i> App
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/regras']">
                        <i class="fa fa-book"></i> Regras
                    </a>
                </li>
                <li>
                    <a (click)="refresh()">
                        <i class="fa fa-refresh"></i> Atualizar
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-credit-card"></i> Cartões
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="abrirModalCartao()">Consultar</a>
                        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                            <a class="dropdown-item" (click)="abrirModalCadastroCartao()">Criar</a>
                            <a class="dropdown-item" [routerLink]="['/cartoes']">Listagem</a>
                            <a class="dropdown-item" [routerLink]="['/cartoes/solicitacoes-saque']">
                                Solicitações Saque
                            </a>
                        </ng-container>
                        <ng-template #notLoggedIn>
                            <a class="dropdown-item" (click)="abrirModalSolicitarSaque()">Solicitar Saque</a>
                        </ng-template>
                    </div>
                </li>
            </ul>
        </div>
        <ul id="menu-side-left" class="sidebar-nav" appPerfectScroll>
            <ng-container *ngIf="contexto == 'futebol'">
                <span class="group">Destaques</span>
                <ng-container *ngIf="primeiraPagina == 'hoje'; else principais">
                    <li (click)="goTo('/esportes/futebol/jogos')">
                        <a>
                            Jogos de Hoje
                        </a>
                    </li>
                </ng-container>
                <ng-template #principais>
                    <li (click)="goTo('/esportes/futebol/jogos')">
                        <a>
                            Campeonatos Principais
                        </a>
                    </li>
                    <li (click)="goTo('/esportes/futebol/jogos', { data: hoje.format('YYYY-MM-DD') })">
                        <a>
                            Jogos de Hoje
                        </a>
                    </li>
                </ng-template>
                <li *ngIf="exibirJogosAmanha()"
                    (click)="goTo('/esportes/futebol/jogos', { data: amanha.format('YYYY-MM-DD') })">
                    <a>
                        Jogos de Amanhã
                    </a>
                </li>
                <li *ngFor="let dia of dias" (click)="goTo('/esportes/futebol/jogos', { data: dia.format })">
                    <a>
                        Jogos de {{dia.descricao}}
                    </a>
                </li>
                <span class="group">Campeonatos</span>
                <li class="regioes" *ngFor="let regiao of itens">
                    <a class="{{regiao._id == regiaoOpen ? 'selected' : ''}}" (click)="abrirRegiao(regiao._id)">
                        <span class="flag-icon flag-icon-{{regiao.sigla}} flag-icon-squared"></span> {{regiao._id}}
                    </a>
                    <ul *ngIf="regiao._id == regiaoOpen">
                        <li *ngFor="let campeonato of regiao.campeonatos"
                            (click)="goTo('/esportes/futebol/jogos', { campeonato: campeonato._id })">
                            <a>
                                {{campeonato.nome.replace(regiao._id+': ', '')}}
                            </a>
                        </li>

                    </ul>
                </li>
            </ng-container>
            <ng-container *ngIf="contexto == 'basquete'">
                <span class="group">Destaques</span>
                <li (click)="goTo('/esportes/basquete/eventos', { data: hoje.format('YYYY-MM-DD') })">
                    <a>
                        Jogos de Hoje
                    </a>
                </li>
                <li *ngIf="exibirJogosAmanha()"
                    (click)="goTo('/esportes/basquete/eventos', { data: amanha.format('YYYY-MM-DD') })">
                    <a>
                        Jogos de Amanhã
                    </a>
                </li>
                <span class="group">Campeonatos</span>
                <li *ngFor="let campeonato of itens"
                    (click)="goTo('/esportes/basquete/eventos', { campeonato: campeonato._id })">
                    <a>
                        <i class="fa fa-certificate"></i> {{campeonato.nome}}
                    </a>
                </li>
            </ng-container>
            <ng-container *ngIf="contexto == 'seninha' || contexto == 'quininha'">
                <span class="group">Surpresinha</span>
                <li *ngFor="let tipoAposta of itens" class="supresinha"
                    (click)="gerarSupresinha(tipoAposta.qtdNumeros, contexto)">
                    <a *ngIf="contexto == 'seninha'">
                        <i class="fa fa-certificate"></i> {{tipoAposta.qtdNumeros}} Números
                        ( {{tipoAposta.cotacao6 | currency: 'BRL':'symbol':'1.2'}} )
                    </a>
                    <a *ngIf="contexto == 'quininha'">
                        <i class="fa fa-certificate"></i> {{tipoAposta.qtdNumeros}} Números
                        ( {{tipoAposta.cotacao5 | currency: 'BRL':'symbol':'1.2'}} )
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</aside>
