#sidebar-wrapper {
    width: 270px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    background: var(--sidebar-left);
    /*z-index: 1000;*/
}

#sidebar-wrapper a {
    color: var(--foreground-sidebar-left);
    text-decoration: none;
    cursor: pointer;
}

#sidebar-wrapper .dropdown-item {
    color: inherit;
}

#sidebar-wrapper .dropdown-item:hover {
    color: inherit;
}

.sidebar-menu {
    position: relative;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    margin: 0;
}

.sidebar-menu li {
    width: 75px;
    margin-bottom: 10px;
}

.sidebar-menu .fa {
    font-size: 1.5rem;
}

.sidebar-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.sidebar-brand {*/
/*    text-align: center;*/
/*    margin-top: 15px;*/
/*}*/

/*.sidebar-brand img {*/
/*    max-height: 120px;*/
/*    max-width: 200px;*/
/*}*/

.sidebar-nav {
    background-color: var(--sidebar-left);
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.sidebar-nav .regiao:last-of-type,
.sidebar-nav .campeonato:last-of-type,
.sidebar-nav .supresinha:last-of-type {
    margin-bottom: 15px;
}

.sidebar-nav a {
    text-transform: uppercase;
}

.sidebar-nav .group {
    display: inline-block;
    padding-left: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--foreground-highlight);
    text-transform: uppercase;
}

.group::before {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: var(--highlight);
    top: 23px;
    position: relative;
}

.sidebar-nav li {
    padding: 0;
    cursor: pointer;
}

.sidebar-nav li a {
    padding: 10px 15px;
    display: block;
}

.sidebar-nav li a:hover {
    color: var(--highlight)!important;
}

.sidebar-nav li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#sidebar-wrapper ul li {
    list-style: none;
}

.btn-danger {
    position: absolute;
    top: 110px;
    left: 260px;
    z-index: 2000;
}

.supresinha {
    cursor: pointer;
}

.regiao .flag-icon {
    float: left;
    margin-top: 0px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
}

.regiao>a {
    position: relative;
}

.regiao>a:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--foreground-sidebar-left);
    position: absolute;
    right: 10px;
    top: 13px
}

.regiao>a.selected:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--highlight);
}

.regiao ul {
    padding-left: 19px;
}

@media only screen and (max-width: 1024px) {
    .black-screen {
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        top: 0;
    }

    #sidebar-container {
        display: none;
    }
}
