<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <div class="action-buttons">
        <button *ngIf="isLoggedIn" type="button" class="" (click)="printTicket()">
            <i class="fa fa-print"></i>
        </button>
        <button *ngIf="appMobile" type="button" class="" (click)="shareTicket()">
            <i class="fa fa-share-alt"></i>
        </button>
        <button type="button" class="" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body" [ngClass]="{'cupom-ativo': isLoggedIn}">
    <div *ngIf="isLoggedIn; else preApostaMsg">
        <app-exibir-bilhete-esportivo [aposta]="aposta"></app-exibir-bilhete-esportivo>
    </div>
    <ng-template #preApostaMsg>
        <div class="preApostaMsg">
            Para validar sua aposta, procure um cambista de sua
            preferência e informe o código: <span class="codigo">{{codigo}}</span>
        </div>
    </ng-template>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
        Fechar
    </button>
</div>
