<div class="container">
    <form [formGroup]="form">
        <div class="row mt-3">
            <div class="col-md-6">
                <label class="label">Nome Completo</label>
                <input type="text" formControlName="nome" class="form-control">
            </div>
            <div class="col col-md-6">
                <label class="label">CPF</label>
                <input type="text" formControlName="cpf" mask="000.000.000-00" class="form-control">
            </div>
            <div ></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="label">Data de Nascimento</label>
                <input type="text"  class="form-control" formControlName="nascimento">
            </div>
            <div class="col-md-6">
                <label class="label">Sexo</label>
                <input type="text"  class="form-control" formControlName="sexo">
            </div>
        </div>
    </form>
</div>
