<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
    <div class="action-buttons">
        <button *ngIf="permitirCompartilhamento" type="button" class="" (click)="compartilhar()">
            <i class="fa fa-share-alt"></i>
        </button>
        <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>
<div class="modal-body">
    <div class="preApostaMsg">
        Para validar sua aposta, procure um cambista de sua
        preferência e informe o código: <span class="codigo">{{codigo}}</span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-custom" (click)="activeModal.close('Close click')">
        Fechar
    </button>
</div>
