<div class="header-menu">
    <label>Mais Opções</label>
    <div class="options">
        <a (click)="pesquisarTicket()">
            <i class="fa fa-ticket"></i>
            Bilhete
        </a>

        <a (click)="pesquisarCartao()" *ngIf="!isLoggedIn || !isCliente">
            <i class="fa fa-credit-card"></i>
            Cartões
        </a>

        <a (click)="abrirResultados()" *ngIf="isLoggedIn">
            <i class="fa-solid fa-square-poll-vertical"></i>
            Resultados
        </a>

        <a (click)="abrirModalTabela()" *ngIf="isLoggedIn && !isCliente">
            <i class="fa fa-print"></i>
            Tabela
        </a>

        <a target="_blank" download="app.apk" [href]="appUrl" *ngIf="!isAppMobile && !trevoOne">
            <i class="fa fa-download"></i>
            Download app
        </a>

        <a target="_blank" href="https://play.google.com/store/apps/details?id=trevo.one.la"
           *ngIf="!isAppMobile && trevoOne">
            <i class="fa fa-download"></i>
            Download app
        </a>
    </div>
</div>

<div class="login-area" *ngIf="!isLoggedIn">
    <label>Já possui uma conta?</label>
    <a class="btn btn-custom2 btn-block" (click)="abrirLogin()">Entrar</a>
    <label class="mt-3">Ainda não possui?</label>
    <a class="btn btn-custom btn-block" (click)="abrirCadastro()">Resgistre-se</a>
</div>
