<div class="header-menu">
    <label for="">Mais Opções</label>
    <div class="options">
        <a (click)="pesquisarTicket()">
            <i class="fa fa-ticket"></i>
            Bilhete
        </a>

        <a (click)="pesquisarCartao()">
            <i class="fa fa-credit-card"></i>
            Cartões
        </a>
    </div>
</div>

<div class="login-area" *ngIf="!isLoggedIn">
    <label>Já possui uma conta?</label>
    <a class="btn btn-custom2 btn-block" (click)="abrirLogin()">Entrar</a>
    <label class="mt-5">Ainda não possui?</label>
    <a class="btn btn-custom btn-block" (click)="abrirCadastro()">Resgistre-se</a>
</div>
