#personal-data-documents {
    padding: 20px;
    border-top: 1px solid #222;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 20px;
}

.field {
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-foreground);
    background: var(--input);
    color: var(--input-foreground);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.4;
    min-height: 48px;

    display: flex;
    flex-direction: column;
}

.field label {
    margin: 0px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
}
