<div id="jogo-default-wrapper">
    <div id="jogo-default-content">
        <div class="lista" [hidden]="exibirMaisCotacoes">
            <app-generico-listagem [showLoadingIndicator]="showLoadingIndicator"
                                   (jogoSelecionadoId)="receptorJogoSelecionadoId($event)"
                                   (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)" [camps]="campeonatos"
                                   [data]="data"
                                   [sportId]="sportId" [esporte]="esporte"
                                   [campeonatoSelecionado]="campeonatoSelecionado">
            </app-generico-listagem>
        </div>
        <div class="jogo" [hidden]="!exibirMaisCotacoes">
            <app-basquete-jogo *ngIf="sportId == '48242' || sportId == '18'" [jogoId]="jogoId" [sportId]="sportId"
                               (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)"
                               [exibindoMaisCotacoes]="exibirMaisCotacoes">
            </app-basquete-jogo>
        </div>
    </div>
</div>
