<div id="default-content">
    <div class="internal-container-out">
        <div class="content-header">
            <h2>Dashboard</h2>
        </div>
        <div class="content-body">
            <div class="row margin-top-15 margin-bottom-30">
                <div class="col-12">
                    <div class="counts">
                        <div class="count">
                            <div class="count-value">
                                <div class="value">{{ saldo | currency }}</div>
                                <label for="">Saldo atual</label>
                            </div>

                            <i>
                                <img src="/assets/images/cifrao.svg" alt="image">
                            </i>
                        </div>
                        <div class="count">
                            <div class="count-value">
                                <div class="value">{{ credito | currency }}</div>
                                <label for="">Crédito atual</label>
                            </div>

                            <i>
                                <img src="/assets/images/cifrao.svg" alt="image">
                            </i>
                        </div>

                        <div class="count">
                            <div class="count-value">
                                <div class="value">R$ 0,00</div>
                                <label>Comissão</label>
                            </div>

                            <i>
                                <img src="/assets/images/cifrao.svg" alt="image">
                            </i>
                        </div>

                        <div class="count">
                            <div class="count-value">
                                <div class="value">R$ 0,00</div>
                                <label>Saída</label>
                            </div>

                            <i>
                                <img src="/assets/images/cifrao.svg" alt="image">
                            </i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card-dashboard" style="padding-bottom: 85px;">
                        <h3 class="right-options">
                            Fluxo de Caixa
                            <select class="form-control inverted-out" (change)="handleFiltroFluxoCaixa($event)">
                                <option value="semana-atual">Semana atual</option>
                                <option value="semana-anterior">Semana passada</option>
                            </select>
                        </h3>
                        <canvas baseChart
                            [data]="barChartData"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [type]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card-dashboard apostas-realizadas">
                        <h3>Quantidade de apostas realizadas</h3>

                        <select class="form-control inverted-out" (change)="handleFiltroApostasRealizadas($event)">
                            <option value="semana-atual">Semana atual</option>
                            <option value="semana-anterior">Semana passada</option>
                        </select>

                        <ul class="apostas">
                            <li>
                                 <div class="info">
                                    <i>
                                        <img src="/assets/images/bola.svg" alt="image">
                                    </i>
                                    <div class="info-texto">
                                        <label>Esportes</label>
                                        <span class="bets">{{ apostasRealizadasEsporte.quantidade }} apostas</span>
                                    </div>
                                 </div>
                                 <span class="valor-apostas">
                                    {{ apostasRealizadasEsporte.valor_apostas | currency }}
                                 </span>
                            </li>
                            <li>
                                 <div class="info">
                                    <i>
                                        <img src="/assets/images/dinheiro.svg" alt="image">
                                    </i>
                                    <div class="info-texto">
                                        <label>Acumuladão</label>
                                        <span class="bets">{{ apostasRealizadasAcumuladao.quantidade }} apostas</span>
                                    </div>
                                 </div>
                                 <span class="valor-apostas">
                                    {{ apostasRealizadasAcumuladao.valor_apostas | currency }}
                                 </span>
                            </li>
                            <li>
                                 <div class="info">
                                    <i>
                                        <img src="/assets/images/trofeu.svg" alt="image">
                                    </i>
                                    <div class="info-texto">
                                        <label>Desafio</label>
                                        <span class="bets">{{ apostasRealizadasDesafio.quantidade }} apostas</span>
                                    </div>
                                 </div>
                                 <span class="valor-apostas">
                                    {{ apostasRealizadasDesafio.valor_apostas | currency }}
                                 </span>
                            </li>
                            <li>
                                 <div class="info">
                                    <i>
                                        <img src="/assets/images/diamante.svg" alt="image">
                                    </i>
                                    <div class="info-texto">
                                        <label>Cassino</label>
                                        <span class="bets">{{ apostasRealizadasCassino.quantidade }} apostas</span>
                                    </div>
                                 </div>
                                 <span class="valor-apostas">
                                    {{ apostasRealizadasCassino.valor_apostas | currency }}
                                 </span>
                            </li>
                        </ul>


                        <a [routerLink]="['/cambistas/apostas']">Mais Informacões</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
