.table-apuracao {
    /*width: 100%;*/
    color: #FFFFFF;
    border-radius: 4px;
    border-collapse: collapse;
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.2);
}

.border-bottom-apuracao {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

.border-left-apuracao {
    border-left: 0.5px solid rgba(255, 255, 255, 0.2);
}

.mouse-pointer {
    cursor: pointer;
}

.table-apuracao tr {
    height: 35px;
}

.table-apuracao td,
.table-apuracao th {
    padding: 10px;
}

.symbol-container {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    width: 16px;
    height: 16px;
    font-size: 12px;
    margin-right: 5px;
}

.fa-plus {
    color: var(--highlight);
    opacity: 20%;
}

.fa-minus {
    color: #ED4C5C;
    opacity: 20%;
}

.bg-green {
    background-color: rgba(53, 205, 150, 0.22);
}

.bg-red {
    background-color: rgba(237, 76, 92, 0.22);
}

.w-80 {
    width: 80%;
}

.p-sub {
    padding-left: 50px !important;
}

.p-sub-2 {
    padding-left: 80px !important;
}


.counts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counts .count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--game);
    color: var(--foreground-game);
    padding: 20px 35px;
    border-radius: 12px;
    flex: 1;
    margin-right: 20px;
}

.counts .count:last-child {
    margin-right: 0;
}

.counts .count i {
    display: flex;
    width: 42px;
    height: 42px;
    background: var(--highlight);
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.counts .count i svg{
    fill: var(--foreground-highlight);
}

.counts .count .count-value .value {
    font-size: 20px;
    font-weight: 600;
}

.counts .count .count-value label {
    font-size: 12px;
}

.card-dashboard {
    background: var(--game);
    color: var(--foreground-game);
    padding: 15px 20px;
    height: 440px;

    border-radius: 12px;
}

.apostas-realizadas {
    display: flex;
    flex-direction: column;
}

.card-dashboard h3 {
    margin: 10px 0 25px;
    font-size: 16px;
    font-weight: 600;
}

.apostas-realizadas a {
    align-self: flex-end;

    color: var(--highlight);
    font-size: 12px;
    margin-top: 20px;
}

.apostas-realizadas .apostas {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    flex: 1;
}

.apostas-realizadas .apostas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.apostas-realizadas .apostas li:last-child {
    border-bottom: 0;
}

.apostas-realizadas .apostas li .info {
    display: flex;
    align-items: center;
}

.right-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-options select {
    flex: 0 1 25%;
    min-width: 250px;
}

.apostas-realizadas .apostas li .valor-apostas {
    font-size: 15px;
}

.apostas-realizadas .apostas li .info i {
    margin-right: 28px;
    font-size: 12px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--highlight);
    border-radius: 4px;

    height: 38px;
    width: 38px;
}

.apostas-realizadas .apostas li .info i {
    fill: var(--foreground-highlight);
    stroke: var(--foreground-highlight);
}

.apostas-realizadas .apostas li .info .info-texto {
    display: flex;
    flex-direction: column;
}

.apostas-realizadas .apostas li .info .info-texto label{
    margin-bottom: 0;
}

.btnClose {
    font-size: 32px;
    line-height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--highlight);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    #default-content {
        padding: 10px;
        height: 100vh;
        overflow: auto;
        position: relative;
    }

    .counts {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        gap: 10px;
        align-items: stretch;
    }

    .counts .count {
        margin: 0;
        padding: 10px 15px;
        max-width: calc(50% - 5px);
    }

    .counts .count .count-value .value {
        font-size: 18px;
    }

    .counts .count .count-value label {
        font-size: 11px; /* ajuste fonte */
    }

    .counts .count i {
        width: 28px;
        height: 28px;
    }

    .counts .count i img{
        width: 85%;
        height: 85%;
    }

    .col-graph {
        margin-bottom: 30px;
    }

    .apostas-realizadas {
        height: auto;
    }

    .card-dashboard h3 {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}
