/*.campeonato-header .fa{
    font-size: 1.5rem;
    float: right;
    line-height: 41px;
    margin-right: 10px;
}

.jogos{
    background-color: #0A0A09;
    padding-bottom: 4px;
}

.jogo{
    padding: 0 10px 4px 10px;
}

.jogo-selecionado{
    background: var(--selected-event);
    color: var(--foreground-selected-event)!important;
    cursor: auto;
}

.indentificacao{
    display: flex;
    align-items: center;
}

.indentificacao .nome{
    flex-grow: 1;
}*/

.mais-opcoes{
    color: var(--odds);
    padding: 6px 4px 6px 6px;
    min-width: 50px;
    text-align: right;
    cursor: pointer;
}

/* Large devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    .odds .odd.generico{
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .content-sports {
        /*padding-bottom: 106px;*/
    }

    .odds .odd{
        width: 100%;
    }
}

.escudo-container {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.nome-time {
    max-width: 55vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.escudo {
    margin-right: 5px;
}

.escudo-img {
    max-width: 16px;
    max-height: 16px;
}

.flag-icon {
    font-size: 16px;
    margin-top: 5px;
    clip-path: circle();
    z-index: 1;
    border: 1px solid var(--foreground-header);
    border-radius: 100%;
}

.horario-listagem {
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 15px;
    border: 1px solid;
    border-color: var(--event-time);
    color: var(--event-time);
}
