.campeonato-header .fa{
    font-size: 1.5rem;
    float: right;
    line-height: 41px;
    margin-right: 10px;
}

.jogos{
    background-color: #fff;
    padding-bottom: 4px;
}

.jogo{
    padding: 0 10px 4px 10px;
}

.jogo-selecionado{
    background: var(--selected-event);
    color: var(--foreground-selected-event)!important;
    cursor: auto;
}

.indentificacao{
    display: flex;
    align-items: center;
}

.indentificacao .nome{
    flex-grow: 1;
}

/* Large devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    .odds .odd.generico{
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .content-sports {
        padding-bottom: 106px;
    }

    .odds .odd{
        width: 100%;
    }
}

.escudo-container {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.escudo {
    margin-right: 5px;
}

.escudo-img {
    max-width: 20px;
    max-height: 20px;
}
