<div id="default-content">

    <ng-container>
        <div class="mobile-modal-header" *ngIf="mobileScreen">
            <a (click)="toClose()" class="botao-esquerdo">
                <i class="fa fa-arrow-left"></i>
            </a>
            <div class="titulo">{{'geral.jogoResponsavel' | translate}}</div>
            <div class="botao-direito"></div>
        </div>

        <div class="internal-container-out">
            <div class="content-header hide-mobile">
                <h2>{{'geral.jogoResponsavel' | translate}}</h2>
            </div>

            <div class="content-body">
                <section class="limite-apostas">
                    <div class="section-header" (click)="toggleSections('limiteApostas')">
                        <h3>{{ 'jogo_responsavel.limite_apostas.titulo' | translate }}</h3>
                        <i class="fa {{sectionLimiteApostas ? 'fa-chevron-up' : 'fa-chevron-down'}}" ></i>
                    </div>
                    <div class="section-body" *ngIf="sectionLimiteApostas">
                        <p class="descricao">{{ 'jogo_responsavel.limite_apostas.descricao' | translate }}</p>
                        <form [formGroup]="formLimiteApostas" (ngSubmit)="handleSubmit('onSubmitLimiteApostas')">
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_apostas.definir_limite_diario' | translate }}</label>
                                <input currencyMask
                                    [ngClass]="'form-control inverted-out'"
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', nullable: true, allowZero: true }"
                                    formControlName="limiteDiario"
                                    placeholder="R$ 0,00"
                                >
                            </div>
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_apostas.definir_limite_semanal' | translate }}</label>
                                <input currencyMask
                                    [ngClass]="'form-control inverted-out'"
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                    formControlName="limiteSemanal"
                                >
                            </div>
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_apostas.definir_limite_mensal' | translate }}</label>
                                <input currencyMask
                                    [ngClass]="'form-control inverted-out'"
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                    formControlName="limiteMensal"
                                >
                            </div>
                            <ng-container *ngTemplateOutlet="senhaAtualTemplate"></ng-container>
                            <button type="submit" class="btn btn-custom">{{ 'botoes.salvar_alteracoes' | translate }}</button>
                        </form>
                    </div>
                </section>
                <section class="limite-depositos">
                    <div class="section-header" (click)="toggleSections('limiteDeposito')">
                        <h3>{{ 'jogo_responsavel.limite_depositos.titulo' | translate }}</h3>
                        <i class="fa {{sectionLimiteDeposito ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
                    </div>
                    <div class="section-body" *ngIf="sectionLimiteDeposito">
                        <p class="descricao">{{ 'jogo_responsavel.limite_depositos.descricao' | translate }}</p>
                        <form [formGroup]="formLimiteDeposito" (ngSubmit)="handleSubmit('onSubmitLimiteDeposito')">
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_depositos.definir_limite_diario' | translate }}</label>
                                <input currencyMask
                                    [ngClass]="'form-control inverted-out'"
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                    formControlName="limiteDiario"
                                >
                            </div>
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_depositos.definir_limite_semanal' | translate }}</label>
                                <input currencyMask
                                    [ngClass]="'form-control inverted-out'"
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                    formControlName="limiteSemanal"
                                >
                            </div>
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_depositos.definir_limite_mensal' | translate }}</label>
                                <input currencyMask
                                    [ngClass]="'form-control inverted-out'"
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                    formControlName="limiteMensal"
                                >
                            </div>
                            <ng-container *ngTemplateOutlet="senhaAtualTemplate"></ng-container>
                            <button type="submit" class="btn btn-custom">{{ 'botoes.salvar_alteracoes' | translate }}</button>
                        </form>
                    </div>
                </section>
                <section class="limite-tempo-atividade">
                    <div class="section-header" (click)="toggleSections('limiteTempoAtividade')">
                        <h3>{{ 'jogo_responsavel.limite_tempo_atividade.titulo' | translate }}</h3>
                        <i class="fa {{sectionLimiteTempoAtividade ? 'fa-chevron-up' : 'fa-chevron-down'}}" ></i>
                    </div>
                    <div class="section-body" *ngIf="sectionLimiteTempoAtividade">
                        <p class="descricao">{{ 'jogo_responsavel.limite_tempo_atividade.descricao' | translate }}</p>
                        <form [formGroup]="formLimiteTempoAtividade" (ngSubmit)="handleSubmit('onSubmitLimiteTempoAtividade')">
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.limite_tempo_atividade.definir_limite_diario' | translate }}</label>
                                    <select class="form-control inverted-out" formControlName="limiteTempoAtividade">
                                        <option value="">{{ 'placeholders.opcao_desabilitado' | translate }}</option>
                                        <option value="30minutos">{{ 'jogo_responsavel.limite_tempo_atividade.30minutos' | translate }}</option>
                                        <option value="45minutos">{{ 'jogo_responsavel.limite_tempo_atividade.45minutos' | translate }}</option>
                                        <option value="1hora">{{ 'jogo_responsavel.limite_tempo_atividade.1hora' | translate }}</option>
                                        <option value="2horas">{{ 'jogo_responsavel.limite_tempo_atividade.2horas' | translate }}</option>
                                        <option value="3horas">{{ 'jogo_responsavel.limite_tempo_atividade.3horas' | translate }}</option>
                                        <option value="4horas">{{ 'jogo_responsavel.limite_tempo_atividade.4horas' | translate }}</option>
                                    </select>
                                <ng-container *ngTemplateOutlet="senhaAtualTemplate"></ng-container>
                            </div>
                            <button type="submit" class="btn btn-custom">{{ 'botoes.salvar_alteracoes' | translate }}</button>
                        </form>
                    </div>
                </section>
                <section class="limite-apostas" *ngIf="blocked">
                    <div class="section-header" (click)="toggleSections('temporizadorSessao')">
                        <h3>{{ 'jogo_responsavel.temporizador_sessao.titulo' | translate }}</h3>
                        <i class="fa {{sectionTemporizadorSessao ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
                    </div>
                    <div class="section-body" *ngIf="sectionTemporizadorSessao">
                        <p class="descricao">{{ 'jogo_responsavel.temporizador_sessao.descricao' | translate }}</p>
                        <form>
                            <div class="field">
                                <label for="">{{ 'jogo_responsavel.temporizador_sessao.definir_tempo' | translate }}</label>
                                <select class="form-control inverted-out">
                                    <option value="">{{ 'jogo_responsavel.temporizador_sessao.desativado' | translate }}</option>
                                </select>
                            </div>
                            <ng-container *ngTemplateOutlet="senhaAtualTemplate"></ng-container>
                            <button type="submit" class="btn btn-custom">{{ 'botoes.salvar_alteracoes' | translate }}</button>
                        </form>
                    </div>
                </section>
                <section class="limite-apostas">
                    <div class="section-header" (click)="toggleSections('periodoPausa')">
                        <h3>{{ 'jogo_responsavel.periodo_pausa.titulo' | translate }}</h3>
                        <i class="fa {{sectionPeriodoPausa ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
                    </div>
                    <div class="section-body" *ngIf="sectionPeriodoPausa">
                        <p class="descricao">{{ 'jogo_responsavel.periodo_pausa.descricao' | translate }}</p>
                        <form [formGroup]="formPeriodoPausa" (ngSubmit)="handleSubmit('onSubmitPeriodoPausa')">
                            <div class="fields-row" *ngIf="!infoPeriodoPausa">
                                <div class="field">
                                    <label for="">{{ 'jogo_responsavel.periodo_pausa.definir_periodo_pausa' | translate }}</label>
                                    <select class="form-control inverted-out" formControlName="opcaoPausa" (change)="changeOpcaoPausa()">
                                        <option value="">{{ 'placeholders.selecione_uma_opcao' | translate }}</option>
                                        <option value="6horas">{{ 'jogo_responsavel.periodo_pausa.6horas' | translate }}</option>
                                        <option value="12horas">{{ 'jogo_responsavel.periodo_pausa.12horas' | translate }}</option>
                                        <option value="24horas">{{ 'jogo_responsavel.periodo_pausa.24horas' | translate }}</option>
                                        <option value="36horas">{{ 'jogo_responsavel.periodo_pausa.36horas' | translate }}</option>
                                        <option value="48horas">{{ 'jogo_responsavel.periodo_pausa.48horas' | translate }}</option>
                                        <option value="72horas">{{ 'jogo_responsavel.periodo_pausa.72horas' | translate }}</option>
                                        <option value="custom">{{ 'jogo_responsavel.periodo_pausa.custom' | translate }}</option>
                                    </select>
                                </div>
                                <div class="field" style="position: relative" *ngIf="showDataFinalPausa">
                                    <i class="fa fa-calendar" (click)="d.toggle()"></i>
                                    <input
                                        class="inverted-out"
                                        readonly
                                        placeholder="dd/mm/aaaa"
                                        formControlName="dataFinalPausa"
                                        ngbDatepicker
                                        #d="ngbDatepicker"
                                        [autoClose]="'outside'"
                                        (click)="d.toggle()"
                                    />
                                </div>
                            </div>
                            <ng-container *ngIf="!infoPeriodoPausa">
                                <ng-container *ngTemplateOutlet="senhaAtualTemplate"></ng-container>
                            </ng-container>
                            <div class="info-pausa" *ngIf="infoPeriodoPausa">
                                <i class="fa fa-info-circle"></i>
                                {{ 'jogo_responsavel.periodo_pausa.periodo_pausa_ativado' | translate: {info: infoPeriodoPausa} }}
                            </div>
                            <button
                                type="submit"
                                class="btn btn-custom"
                                *ngIf="!infoPeriodoPausa"
                            >
                                {{ 'botoes.salvar_alteracoes' | translate }}
                            </button>
                        </form>
                    </div>
                </section>
                <section class="exclusao-conta">
                    <div class="section-header" (click)="toggleSections('exclusaoConta')">
                        <h3>{{ 'jogo_responsavel.exclusao_conta.titulo' | translate }}</h3>
                        <i class="fa {{sectionExclusaoConta ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
                    </div>
                    <div class="section-body" *ngIf="sectionExclusaoConta">
                        <p class="descricao">
                            {{ 'jogo_responsavel.exclusao_conta.descricao' | translate }}
                            <br>
                            <b>{{ 'jogo_responsavel.exclusao_conta.descricao_2' | translate }}</b>
                        </p>
                        <form [formGroup]="formExclusaoConta" (ngSubmit)="handleSubmit('onSubmitExclusaoConta')">
                            <div class="field w-500">
                                <label for="">{{ 'jogo_responsavel.exclusao_conta.informe_motivo' | translate }}</label>
                                <select class="form-control inverted-out" (change)="changeOpcaoExclusao()" formControlName="opcao">
                                    <option value="">{{ 'placeholders.selecione_uma_opcao' | translate }}</option>
                                    <option value="1">{{ 'jogo_responsavel.exclusao_conta.motivo_1' | translate }}</option>
                                    <option value="2">{{ 'jogo_responsavel.exclusao_conta.motivo_2' | translate }}</option>
                                    <option value="3">{{ 'jogo_responsavel.exclusao_conta.motivo_3' | translate }}</option>
                                    <option value="4">{{ 'jogo_responsavel.exclusao_conta.motivo_4' | translate }}</option>
                                    <option value="5">{{ 'jogo_responsavel.exclusao_conta.motivo_5' | translate }}</option>
                                    <option value="6">{{ 'jogo_responsavel.exclusao_conta.motivo_6' | translate }}</option>
                                </select>
                            </div>
                            <div class="field w-500" *ngIf="showConfirmarExclusao">
                                <div>
                                    <label class="label" [innerHTML]="'jogo_responsavel.exclusao_conta.digite_para_continuar' | translate"></label>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <input type="text" class="form-control inverted-out" formControlName="confirmarExclusao">
                                    </div>
                                </div>
                            </div>

                            <ng-container *ngTemplateOutlet="senhaAtualTemplate"></ng-container>

                            <div class="field w-full" *ngIf="showMotivoExclusaoConta">
                                <textarea rows="3" class="inverted-out" placeholder="{{ 'jogo_responsavel.exclusao_conta.explique_motivo' | translate }}" formControlName="motivoExclusao"></textarea>
                            </div>
                            <button type="submit" class="btn btn-custom">{{ 'jogo_responsavel.exclusao_conta.excluir_conta' | translate }}</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </ng-container>

    <ng-template #senhaAtualTemplate>
        <div class="field w-500" *ngIf="twoFactorInProfileChangeEnabled">
            <div>
                <label class="label">{{'senhas.senhaAtual' | translate}}</label>
            </div>
            <div class="position-relative mb-5">
                <div class="form-group position-absolute">
                    <input [type]="mostrarSenha ? 'text' : 'password'" class="form-control inverted-out" [formControl]="senhaAtual">
                    <i class="fa showPassword" [ngClass]="mostrarSenha ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarSenha = !mostrarSenha"></i>
                </div>
            </div>
        </div>
    </ng-template>
</div>
