<div id="deposito-pix">
    <div class="alert alert-success alert-dismissible" *ngIf="exibirMensagemPagamento">
        {{'deposito.seuPixFoiCreditado' | translate:{'novoSaldo': novoSaldo} }}
        <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">
            <span class="close-x" aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="solicitarDeposito()" *ngIf="!pix">
        <app-spinner *ngIf="submitting"></app-spinner>
        <div id="deposit-container">
            <section id="payment-method-column" class="hide-mobile">
                <h3>{{'financeiro.paymentGateway' | translate}}</h3>
                <div class="options-container payment-method-options">
                    <a class="payment-method-option" [ngClass]="{'active': paymentMethodSelected === paymentMethod}" (click)="changePaymentMethodOption(paymentMethod)">
                        <div class="payment-method">
                            <i class="radio"></i>
                        </div>
                        <div class="payment-method-icon"
                            [ngStyle]="{'background-image': 'url(https://cdn.wee.bet/img/cassino/logos/' + paymentMethod + '.png)'}"
                        ></div>
                        <div>
                            <span class="payment-method-name">{{paymentMethod | formatPaymentMethod}}</span>
                        </div>
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                </div>
            </section>
            <section id="deposit-details">
                <h3 class="hide-mobile">{{'deposito.depositDetails' | translate}}</h3>
                <div id="details-wrapper">
                    <div class="details-container">
                        <div class="details-text">
                            {{
                            permitirBonusPrimeiroDeposito ?
                            ('deposito.depositText' | translate:{'paymentMethod': (paymentMethod | formatPaymentMethod)}) :
                            ('deposito.depositTextWithoutBonus' | translate:{'paymentMethod': (paymentMethod | formatPaymentMethod)})
                            }}
                        </div>
                        <div class="hide-desktop details-payment-method">
                            <h3>{{'financeiro.paymentGateway' | translate}}</h3>
                            <div class="form-group">
                                <select formControlName="paymentMethod" type="text" class="form-control inverted-out"
                                    (change)="changePaymentMethodOption($event.target.value)">
                                    <option [value]="paymentMethod">{{paymentMethod | formatPaymentMethod}}</option>
                                </select>
                                <app-error-msg [control]="form.get('paymentMethod')"></app-error-msg>
                            </div>
                        </div>
                        <div class="details-amount">
                            <label class="label">{{'deposito.enterAmount' | translate}}</label>
                            <input currencyMask
                                class="form-control inverted-out"
                                (keyup)="calculateBonusAmount()"
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                formControlName="valor">
                            <app-error-msg [control]="form.get('valor')"></app-error-msg>
                            <div class="min-amount">
                                {{'deposito.valorMinimo' | translate}} {{ valorMinDeposito | currency }}
                            </div>
                            <div class="shortcut-amounts">
                                <button type="button" class="btn" (click)="changeAmount(10)">
                                    {{10 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(20)">
                                    {{20 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(50)">
                                    {{50 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(75)">
                                    {{75 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(100)">
                                    {{100 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(200)">
                                    {{200 | currency}}
                                </button>
                            </div>
                        </div>
                        <div class="details-bonus" *ngIf="permitirBonusPrimeiroDeposito">
                            <h3 (click)="toggleBonusSection()">
                                <span>{{'geral.rollover' | translate}}</span>
                                <i class="fa m-0"
                                    [ngClass]="{'fa-angle-down': !droppedBonus, 'fa-angle-up': droppedBonus}"
                                ></i>
                            </h3>
                            <div id="bonus-wrapper">
                                <div class="bonus-text">
                                    {{'financeiro.desejaReceberBonusPrimeiroDeposito' | translate}}
                                    &nbsp;<a class="btn-regras-bonus" (click)="abrirRegrasBonus()">{{'rollover.bonusRules' | translate}}</a>
                                </div>
                                <div class="options-container bonus-options" [ngStyle]="{'width': onlyOneModality ? '67%' : '100%'}">
                                    <a class="bonus-option"
                                        [ngClass]="{'active':bonusOption === 'esportivo'}"
                                        [ngStyle]="{'width': onlyOneModality ? '48%' : '31%'}"
                                        (click)="changeBonusOption('esportivo')"
                                        *ngIf="bonusEsportivo"
                                    >
                                        <div class="bonus">
                                            <i class="radio"></i>
                                        </div>
                                        <div class="bonus-option-wrapper">
                                            <div class="bonus-info bonus-type">{{'bet.sportsBetting' | translate}}</div>
                                            <div class="bonus-info bonus-amount">
                                                <span class="with-bonus">
                                                    {{amountSportsBonus | currency}} {{'geral.rollover' | translate}}
                                                </span>
                                            </div>
                                            <div class="bonus-info bonus-percent" [ngStyle]="{'font-size': '10px'}">100% {{'rollover.upTo' | translate}} R${{maxAmountSportsBonus}}</div>
                                        </div>
                                    </a>
                                    <a class="bonus-option"
                                        [ngClass]="{'active':bonusOption === 'cassino'}"
                                        [ngStyle]="{'width': onlyOneModality ? '48%' : '31%'}"
                                        (click)="changeBonusOption('cassino')"
                                        *ngIf="bonusCassino"
                                    >
                                        <div class="bonus">
                                            <i class="radio"></i>
                                        </div>
                                        <div class="bonus-option-wrapper">
                                            <div class="bonus-info bonus-type">{{'bet.casinoBetting' | translate}}</div>
                                            <div class="bonus-info bonus-amount">
                                                <span class="with-bonus">
                                                    {{amountCasinoBonus | currency}} {{'geral.rollover' | translate}}
                                                </span>
                                            </div>
                                            <div class="bonus-info bonus-percent" [ngStyle]="{'font-size': '10px'}">100% {{'rollover.upTo' | translate}} R${{maxAmountCasinoBonus}}</div>
                                        </div>
                                    </a>
                                    <a class="bonus-option"
                                        [ngClass]="{'active':bonusOption === 'nenhum'}"
                                        [ngStyle]="{'width': onlyOneModality ? '48%' : '31%'}"
                                        (click)="changeBonusOption('nenhum')"
                                    >
                                        <div class="bonus">
                                            <i class="radio"></i>
                                        </div>
                                        <div class="bonus-option-wrapper">
                                            <div class="bonus-info bonus-type">{{'rollover.bonusForfeited' | translate}}</div>
                                            <div class="bonus-info bonus-amount">
                                                <span class="without-bonus">
                                                    {{'rollover.noBonus' | translate}}
                                                </span>
                                            </div>
                                            <div class="bonus-info bonus-percent" [ngStyle]="{'font-size': '10px'}">{{'rollover.bonusWillBeForfeited' | translate}}</div>
                                        </div>
                                    </a>
                                </div>
                                <app-error-msg [control]="form.get('bonus')"></app-error-msg>
                            </div>
                        </div>
                        <div class="details-promo-code">
                            <h3 (click)="togglePromoCodeSection()">
                                <span>{{'geral.promoCode' | translate}}</span>
                                <i class="fa m-0"
                                    [ngClass]="{'fa-angle-down': !droppedPromoCode, 'fa-angle-up': droppedPromoCode}"
                                ></i>
                            </h3>
                            <div id="promo-code-wrapper">
                                <input class="form-control inverted-out" formControlName="promoCode" [attr.placeholder]="'geral.promoCodePlaceholder' | translate">
                            </div>
                        </div>
                        <div class="details-submit">
                            <div class="form-group">
                                <button type="submit" class="btn btn-custom btn-block" [disabled]="submitting">
                                    {{'geral.depositar' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>
<ng-template #verificarPromocaoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Atenção!</h4>
        <div class="action-buttons">
            <button type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body cupom-ativo">
        <div class="mt-3">
            <div class="conteudo">
                <p>Atualmente você possui a seguinte promoção ativa:</p>
                <div class="promocao-tipo">
                    <h3>{{rolloverAtivo[0].tipo | formatarPromocao}}</h3>
                </div>
                <p>Se você optar pelo recebimento de bônus, essa será sua nova promoção: </p>
                <div class="promocao-tipo">
                    <h3>Bônus Primeiro Depósito</h3>
                </div>
                <p>
                    Após confirmação, todo seu saldo de bônus sera zerado automaticamente, e um novo rollover de "Bônus de Primeiro Depósito" será iniciado.<br>
                    Toda aposta realizada com o bônus da sua promoção atual que ainda estiver pendente será considerada inválida.
                </p>
                <div class="form-group group-buttons">
                    <button type="submit" class="btn btn-custom btn-cancelar btn-block" (click)="modal.dismiss('Cross click')">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-custom btn-block" (click)="confirmarPromocao()">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
