#deposito-pix {
    background-color: var(--sidebars);
    padding: 30px;
}

#deposit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#deposit-container h3 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 6px;
    color: var(--foreground-sidebars);
    border-bottom: 1px solid var(--foreground-sidebars);
}

#deposit-container #payment-gateway {
    flex-grow: 2;
}

#deposit-container #payment-gateway h3 {
    width: 75%;
}

#deposit-container #deposit-details {
    flex-grow: 3;
}

.btn-close {
    position: absolute;
    top: -6px;
    right: 0px;
}

.close-x{
    font-size: 20px;
}

.promocao-tipo{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--highlight);
    padding: 15px;
}

.group-buttons {
   display: flex;
}

.btn-cancelar{
    background-color: var(--foreground-highlight);
    color: var(--highlight);
    border-color: var(--highlight);
}

.info {
    margin: 15px 25px 30px;
    font-weight: 600;
    color: var(--foreground);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    width: 230px;
}

.buttons button i {
    margin-right: 10px;
}

label.label-tempo {
    display: block;
    text-align: center;
    margin: 0;
}

.tempo {
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
}

.valor {
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 10px 0 70px;
}

.qr-code {
    display: inline-block;
    padding: 15px;
    margin: 20px 0 10px;
    border: 1px solid var(--highlight);
    border-radius: 5px;
}

.modal-header, .modal-body {
    border-radius: 5px;
    text-align: center;
}

.modal-dialog .modal-content {
    border-radius: 10px;
}
.buttons-container {
    width: 100%;
    display: flex;
    color: var(--foreground-header);
    margin-bottom: 15px;
}

.buttons-container a * {
    margin-right: 8px;
}

.buttons-container a.active .radio:after {
    display: block;
}

.bonus{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icone-bonus{
    display: flex;
}

.permitirBonusPrimeiroDeposito{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons-container a .radio {
    height: 15px;
    width: 15px;
    border: 1px solid var(--highlight);
    background-color: transparent;
    border-radius: 50%;
    position: relative;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;

    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--highlight);
}

.buttons-container a.active .radio {
    border: 1px solid var(--highlight);
}

.opcao-bonus {
    display: flex;
    align-items: center;

    width: 230px;
    padding: 10px;

    border: 1px solid var(--game);
    color: var(--foreground);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.active {
    background-color: transparent;
    border-color: var(--highlight);
}

.btn-regras-bonus{
    color: var(--highlight);
    text-decoration: none;
    cursor: pointer;
}
.links-bonus{
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .modal-body {
        padding-top: 50px;
    }

    .group-input-valor {
        text-align: center;
    }

    .row-input-valor {
        justify-content: center;
        margin-top: 40px;
    }

    .label-input-valor {
        font-size: 16px;
        text-align: center;
        display: block;
    }

    .input-valor {
        border: 0;
        border-bottom: 2px solid var(--game);
        color: var(--foreground);
        border-radius: 0;
        width: 100%;

        text-align: center !important;
        font-size: 22px;
        background-color: transparent;

        padding: 5px;
    }

    .input-valor:focus {
        border: 0;
        border-bottom: 2px solid var(--highlight);
        color: var(--foreground);
        background-color: transparent;
    }

    .alerta-min {
        border-radius: 4px;
        margin-top: 40px !important;
        padding: 10px 15px;
        font-size: 11px; /* ajuste fonte */
        background: var(--game);
        color: var(--foreground-game);
        text-align: left;
    }



    .group-buttons {
        width: 100%;
        margin-top: 50px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .buttons-container {
        border-radius: 4px;
        flex-wrap: wrap;
    }

    .buttons-container a {
        flex: 1;
        margin: 0;
        justify-content: center;
        border: 0;
        background-color: var(--game);
        color: var(--foreground-game);
    }

    .buttons-container a.active {
        background-color: var(--highlight);
        color: var(--foreground-highlight);
        fill: var(--foreground-highlight);
    }

    .buttons-container a i.radio{
        display: none;
    }

    .btn-converterBonus{
        text-decoration: none;
        cursor: pointer;
    }

    .deposito-pix{
        justify-content: center;
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .links-bonus{
        flex-grow: 1;
        margin: 0 1% 1% 0;
    }
}
