.pre-bilhete {
    width: 270px;
    text-align: center;
    padding: 20px 15px 0 15px;
    height: 100%;
    background-color: var(--sidebar-right)
}

.pre-bilhete h4 {
    color: var(--foreground-highlight);
}

.pre-bilhete h4::before {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: var(--highlight);
    top: 23px;
    left: 108px;
    position: relative;
}

.pre-bilhete-esportes h4::before {
    left: 50%;
    margin-left: -37px;
}

.pre-bilhete-esportes h3::before {
    left: 50%;
    margin-left: -81px;
}

.div-inputs {
    background-color: var(--odds);
    padding: 20px 15px 8px 15px;
    border-radius: 0.25rem;
    margin-bottom: 15px;
}

.live-odd {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px;
}

.pre-bilhete .valor,
.pre-bilhete .possivel-ganho {
    color: var(--foreground-highlight);
    font-weight: bolder;
}

.div-jogos-selecionados h3 {
    color: var(--foreground-highlight);
}

.div-jogos-selecionados h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

.div-jogos-selecionados h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: var(--highlight);
    top: 23px;
    left: 108px;
    position: relative;
}

.jogo-selecionado {
    padding: 15px 0;
    border-top: 1px dashed #aec3d8;
    text-align: left;
    position: relative;
}

.jogo-selecionado:first-of-type {
    border-top: none;
    padding-top: 0;
}

.jogo-selecionado>div:not(.remover-item) {
    color: var(--foreground-sidebar-right);
}

.jogo-selecionado .horario,
.jogo-selecionado .cotacao .valor {
    color: var(--foreground-highlight);
    font-weight: bold;
}

.div-jogos-selecionados .remover-item {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.success-msg {
    font-size: 1.3rem;
}

.success-msg .codigo {
    font-size: 2rem;
    font-weight: bold;
}

#aposta-deslogado .active {
    background: var(--odds);
    color: var(--foreground-odds);
}

#aposta-deslogado .aposta-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    border: 1px dashed black;
    padding: 5px;
}

#aposta-deslogado .btn {
    width: 50%;
    border: 0px;
    border-radius: 3px 3px 0 0;
}

#aposta-deslogado .remover {
    color: red;
    font-size: 25px;
    cursor: pointer;
}

#aposta-deslogado .valor,
#aposta-deslogado .horario {
    font-weight: bolder;
}

.cartao-form .form-row select,
.cartao-form .form-row input {
    font-size: 1rem;
}

.jogo-selecionado-inner{
    padding-right: 20px;
}

.mensagem-mudanca{
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #fff;
    margin-bottom: 15px;
    padding:15px;
}

#aceitar-mudancas{
    background-color: var(--highlight);
    color: var(--foreground-selected-odds);
}

.mudou{
    border: 1px solid var(--highlight);
}

@media only screen and (max-width: 1024px) {
    section.pre-bilhete.pre-bilhete-mobile {
        height: 100% !important;
        position: fixed !important;
    }
}

@media (min-width: 1025px) {
    section.pre-bilhete {
        position: absolute;
        top: 58px;
        right: 0;
    }
}
