<section class="pre-bilhete" [ngClass]="{'pre-bilhete-mobile': displayPreTicker}">
    <div class="pre-bilhete-esportes">
        <h4>BILHETE</h4>
        <a (click)="closeCupom()" class="fechar-pre-bilhete">
            <i class="fa fa-times fa-lg"></i>
        </a>
        <div class="value-informations">
            <p>
                Valor da aposta:
                <span class="valor">{{form.value.valor | currency: 'BRL':'symbol':'1.2'}}</span>
            </p>
            <p>
                Possível Ganho:
                <span class="possivel-ganho">{{possibilidadeGanho | currency: 'BRL':'symbol':'1.2'}}</span>
            </p>
            <p class="valores">
                <button type="button" (click)="definirValor(5)" class="btn btn-sm">R$ 5,00</button>
                <button type="button" (click)="definirValor(10)" class="btn btn-sm">R$ 10,00</button>
                <button type="button" (click)="definirValor(20)" class="btn btn-sm">R$ 20,00</button>
                <button type="button" (click)="definirValor(50)" class="btn btn-sm">R$ 50,00</button>
            </p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="div-inputs">
                <div class="form-group">
                    <input type="text" formControlName="apostador" [ngClass]="applyCssInputError('apostador')"
                        class="form-control" placeholder="Nome do apostador...">
                    <app-error-msg [control]="form.get('apostador')" label="Apostador"></app-error-msg>
                </div>
                <div class="form-group">
                    <input type="number" formControlName="valor" [min]="apostaMinima"
                        [ngClass]="applyCssInputError('valor')" class="form-control" placeholder="Valor">
                    <app-error-msg [control]="form.get('valor')" label="Valor"></app-error-msg>
                </div>
            </div>
            <div class="form-group">
                <ng-container *ngIf="mudancas;else btnApostar">
                    <div class="mensagem-mudanca">
                        Algumas cotações mudaram, verifique com atenção antes de confirmar a aposta
                    </div>
                    <button type="button" (click)="aceitarMudancas()" id="aceitar-mudancas"
                        class="btn btn-custom btn-block">
                        Aceitar Alterações
                    </button>
                </ng-container>
                <ng-template #btnApostar>
                    <button *ngIf="!disabled; else btnProcessando" class="btn btn-custom btn-block">
                        Apostar <b>({{itens.length}})</b>
                    </button>
                    <ng-template #btnProcessando>
                        <button disabled class="btn btn-custom btn-block">
                            Processando... <span *ngIf="apostaAoVivo">({{delay}}) </span>
                            <i class="fa fa-spinner fa-spin"></i>
                        </button>
                    </ng-template>
                </ng-template>
            </div>
        </form>

        <div *ngIf="itens.length > 0" class="div-jogos-selecionados">
            <h3>
                Jogos Selecionados
            </h3>
            <div *ngFor="let item of itens.value; let i=index" class="jogo-selecionado">
                <div class="jogo-selecionado-inner">
                    <div class="horario">
                        {{item.jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                    </div>
                    <div class="jogo-nome">
                        {{item.jogo.nome}}
                    </div>
                    <div class="campeonato-nome">
                        {{item.jogo.campeonato.nome}}
                    </div>
                    <div class="cotacao" [ngClass]="{'mudou': item.mudanca}">
                        {{item.cotacao.chave | oddCategoria}}:
                        <span *ngIf="item.cotacao.nome; else chave">
                            {{item.cotacao.nome}}
                        </span>
                        <ng-template #chave>
                            <span *ngIf="item.jogo.sport_id == 1 || item.jogo.sport_id == 18">
                                {{item.cotacao.chave | tipoAposta}}
                            </span>
                            <span *ngIf="item.jogo.sport_id == 9;">
                                {{item.cotacao.chave | tipoApostaCombate: item.jogo.time_a_nome : item.jogo.time_b_nome}}
                            </span>
                            <span *ngIf="item.jogo.sport_id == 151">
                                {{item.cotacao.chave | tipoApostaEsports: item.jogo.time_a_nome : item.jogo.time_b_nome}}
                            </span>
                        </ng-template>
                        <span class="valor">
                            ({{item.cotacao.valor | calcularCotacao: item.cotacao.chave:
                                item.jogo._id: item.jogo.favorito : item.jogo.ao_vivo }})
                            <del *ngIf="item.cotacao_antiga_valor" class="cotaca-antiga-valor">
                                ({{item.cotacao_antiga_valor | calcularCotacao: item.cotacao.chave:
                                    item.jogo._id: item.jogo.favorito : item.jogo.ao_vivo}})
                            </del>
                        </span>
                    </div>
                </div>
                <div class="remover-item" (click)="removerItem(i)">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="fixed-bar-bilhete" (click)="openCupom()" [ngStyle]="{'display': displayPreTicker? 'none' : ''}">
    <div>
        <label>Valor</label>
        <span>{{form.value.valor | currency: 'BRL':'symbol':'1.2'}}</span>
    </div>
    <div>
        <label>Jogo(s)</label>
        <span>{{form.value.itens.length}}</span>
    </div>
    <div>
        <label>P. de Prêmio</label>
        <span>{{possibilidadeGanho | currency: 'BRL':'symbol':'1.2'}}</span>
    </div>
    <div class="open-bilhete">
        <a>
            <i class="fa fa-lg fa-chevron-circle-up"></i>
        </a>
    </div>
</div>

<ng-template #apostaDeslogadoModal let-modal>
    <div class="modal-body" id="aposta-deslogado">
        <div *ngIf="opcoes.cartao_aposta" style="background: #e2e2e2; border-bottom: 1px solid;" class="tabs">
            <button class="btn" (click)="trocarTipoApostaDeslogado('preaposta')"
                [ngClass]="{'active':tipoApostaDeslogado == 'preaposta'}">
                Pré-Aposta
            </button>
            <button class="btn" (click)="trocarTipoApostaDeslogado('cartao')"
                [ngClass]="{'active':tipoApostaDeslogado == 'cartao'}">
                Cartão de Aposta
            </button>
        </div>
        <div *ngIf="itens.length > 0">
            <div *ngFor="let item of itens.value; let i=index" class="aposta-item">
                <div class="">
                    <div class="horario">
                        {{item.jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                    </div>
                    <div class="jogo-nome">
                        {{item.jogo.nome}}
                    </div>
                    <div class="campeonato-nome">
                        {{item.jogo.campeonato.nome}}
                    </div>
                    <div class="cotacao">
                        {{item.cotacao.chave | oddCategoria}}:
                        <span *ngIf="item.cotacao.nome; else chave">
                            {{item.cotacao.nome}}
                        </span>
                        <ng-template #chave>
                            <span *ngIf="item.jogo.sport_id != 9; else nomeOddCombate">
                                {{item.cotacao.chave | tipoAposta}}
                            </span>
                            <ng-template #nomeOddCombate>
                                {{item.cotacao.chave | tipoApostaCombate: item.jogo.time_a_nome : item.jogo.time_b_nome}}
                            </ng-template>
                        </ng-template>
                        <span class="valor">
                            {{item.cotacao.valor | calcularCotacao: item.cotacao.chave:
                            item.jogo._id: item.jogo.favorito : item.jogo.ao_vivo }}
                        </span>
                    </div>
                </div>
                <div class="remover" (click)="removerItem(i)">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
        <div class="cartao-form" *ngIf="tipoApostaDeslogado == 'cartao'">
            <form style="font-size: 1rem;" [formGroup]="cartaoApostaForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Chave</label>
                        <input type="text" class="form-control" formControlName="chave" autocomplete="off"
                            style="text-transform:uppercase;" mask="AAA-AAA-AAA" [dropSpecialCharacters]="false">
                    </div>
                    <div class="form-group col-md-6">
                        <label>PIN</label>
                        <input type="password" class="form-control" formControlName="pin" autocomplete="off">
                    </div>
                </div>
                <div class="form-check col-md-6">
                    <input type="checkbox" class="form-check-input" id="manter-cartao" formControlName="manter_cartao">
                    <label class="form-check-label" for="manter-cartao">Manter Cartão</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" style="background: #e2e2e2;" class="btn" (click)="modalRef.dismiss()">Fechar</button>
        <button type="button" class="btn btn-custom" *ngIf="!disabled; else processandoPreAposta"
            (click)="finalizarApostaDeslogado()">
            Finalizar {{btnText}}
        </button>
        <ng-template #processandoPreAposta>
            <button disabled class="btn btn-custom">
                Processando... <i class="fa fa-spinner fa-spin"></i>
            </button>
        </ng-template>
    </div>
</ng-template>
