<div class="modal-header" *ngIf="!mobileScreen">
    <h4 class="modal-title" id="modal-basic-title">{{'cartoes.recargasDeCartao' | translate}}</h4>
    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="mobile-modal-header margin-10" *ngIf="mobileScreen">
    <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div class="titulo">{{'cartoes.recargasDeCartao' | translate}}</div>
    <div class="botao-direito"></div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="form-group group-valor">
            <label>{{'saques.informeOValor' | translate}}</label>
            <input type="text" [currencyMask]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" class="input-valor" formControlName="valor"
                placeholder="RS 0,00" [ngClass]="applyCssInputError('valor')">
            <app-error-msg [control]="form.get('valor')"></app-error-msg>
        </div>

        <div class="form-group">
            <input style="text-transform:uppercase;" type="text" mask="AAA-AAA-AAA" [dropSpecialCharacters]="false"
                class="form-control inverted-out" formControlName="chave" placeholder="Chave do cartão"
                [ngClass]="applyCssInputError('chave')">
            <app-error-msg [control]="form.get('chave')"></app-error-msg>
        </div>

        <div class="actions">
            <button type="button" class="btn btn-custom2" (click)="activeModal.close('Close click')">
                {{'geral.cancelar' | translate}}
            </button>
            <button type="submit" class="btn btn-custom" *ngIf="!disabled; else btnProcessando">{{'geral.recarregar' | translate}}</button>
            <ng-template #btnProcessando>
                <button disabled class="btn btn-custom">
                    {{'geral.processando' | translate}}...
                    <i class="fa fa-spinner fa-spin"></i>
                </button>
            </ng-template>
        </div>

    </div>
</form>
