.escudo-container {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.wrap-sticky {
    padding: 0 5px;
    flex: 1;
}

.nome {
    min-width: 200px;
}

.nome-time {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.escudo {
    margin-right: 5px;
}

.escudo-img {
    max-width: 16px;
    max-height: 16px;
}

.flag-icon {
    font-size: 16px;
    margin-top: 5px;
    clip-path: circle();
    border-radius: 100%;
}

.horario-listagem {
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 15px;
    border: 1px solid;
    border-color: var(--event-time);
    color: var(--event-time);
}

.scroll-button {
    min-width: 25px;
    height: 60px;
    cursor: pointer;
    background-color: var(--game);
    color: var(--foreground-game);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.scroll-button i {
    padding: 0;
    margin: 0;
}

.jogo {
    padding-top: 5px;
}

.enabled-scroll-button {
    color: var(--foreground-game);
    cursor: pointer;
    transition: 500ms;
}

.disabled-scroll-button {
    color: var(--game);
    cursor: auto;
    transition: 500ms;
}

.filter {
    display: flex;
    margin: 10px 0;

    align-items: center;
}

.filter .tabs {
    background: var(--game);
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;

    display: flex;
    align-items: center;
}

.filter .tabs .tab {
    color: var(--foreground-game);
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    border-bottom: 3px solid transparent;
}

.filter .tabs .tab.active {
    border-color: var(--highlight);
    font-weight: 600;
}

.search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    padding-left: 30px;
}

.search-box i.fa-search {
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 10px;
    color: var(--foreground-inputs-odds);
}

.personalized-search-label {
    opacity: 1;
}

.search-box i.fa-close {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 10px;
}

.mais-cotacao-mobile {
    display: none;
}

.ocultar-tab {
    display: none !important;
}

app-destaques {
    margin: 0 5px;
}

.loading-listagem {
    padding: 5px;
}

.loading-listagem .banner {
    border-radius: 4px;
    height: 240px;
    margin-bottom: 10px;
}

.loading-listagem .ld-search {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.loading-listagem .ld-campeonato .header {
    background: var(--league);
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 5px;
}

.loading-listagem .ld-campeonato .ld-jogo {
    display: flex;
    margin-bottom: 5px;
    overflow: hidden;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-data {
    background: var(--game);
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-times {
    background: var(--game);
    margin-right: 5px;
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-odds {
    background: var(--game);
    display: flex;
    padding: 5px;
    gap: 5px;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-odds .ssc-square {
    border-radius: 4px;
}

.loading-listagem .slider {
    overflow: hidden;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.loading-listagem .slider .item {
    padding: 10px;
    width: 280px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--game);
    border: 1px solid var(--highlight);
    border-radius: 4px;
}

.loading-listagem .slider .item .header {
    display: flex;
    justify-content: space-between;
}

.loading-listagem .slider .item .times {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.loading-listagem .slider .item .slider-odds {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 1024px) {
    .wrap-sticky {
        padding: 0;
    }

    .mais-opcoes {
        margin-right: 10px;
    }

    .mais-opcoes span {
        display: none;
    }

    .mais-opcoes {
        margin: 0;
    }

    .indentificacao .nome {
        position: relative;
    }

    .mais-cotacao-mobile {
        display: block;
        position: absolute;
        right: 10px;
        color: var(--highlight);
        padding: 20px 0 20px 20px;
    }

    .escudo-container {
        max-width: 85%;
    }

    .filter {
        margin: 5px 0;
    }

    app-destaques {
        margin: 0;
    }
}
