.campeonato-header{
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: 4px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--league);
    color: var(--foreground-league);
}

.campeonato-header > span{
    line-height: 29px;
}

.campeonato-header .column-left{
    flex-grow: 1;
    position: relative;
}

.campeonato-header .flag-icon{
    width: 20px;
    height: 20px;
    position: absolute;
}

.campeonato-header .campeonato-nome{
    margin-left: 28px;
}

.campeonato-header .fa{
    /* font-size: 1.5rem; */
    float: right;
    line-height: 30px;
    margin-right: 10px;
}

.jogos{
    background-color: #fff;
    padding-bottom: 4px;
}

.jogo{
    padding: 0px 10px;
    /* cursor: pointer; */
}

.jogo-selecionado{
    background: var(--selected-event);
    color: var(--foreground-selected-event)!important;
    cursor: auto;
}

.indentificacao{
    display: flex;
    align-items: center;
}

.indentificacao .nome, .indentificacao .nome-mobile{
    flex-grow: 1;
    font-weight: bold;
}

.mais-opcoes{
    color: var(--odds);
    padding: 8px 4px 8px 8px;
    min-width: 50px;
    text-align: right;
    cursor: pointer;
}

.mais-opcoes i{
    font-weight: bold;
}

.exibir-mais{
    text-align: center;
    margin-top: 15px;
}

.sem-evento{
    padding: 10px;
    font-size: 1.5rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .indentificacao .nome{
        display: block;
    }

    .indentificacao .nome-mobile{
         display: none;
    }
}

@media only screen and (max-width: 668px) {
    .content-sports {
        padding-bottom: 90px;
    }

    .mais-opcoes{
        margin-right: 10px;
    }

    .indentificacao .nome-mobile{
        display: block;
    }

    .indentificacao .nome, .mais-opcoes span{
        display: none;
    }
}
