<div class="lds-ring" *ngIf="showLoadingIndicator">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<section class="content-sports">
    <div class="campeonato" *ngIf="!campeonatos.length">
        <div class="campeonato-header">
            Nenhum jogo encontrado!
        </div>
    </div>
    <div class="campeonato" *ngFor="let campeonato of campeonatos">
        <div class="campeonato-header">
            {{campeonato.nome}}
        </div>
        <div class="jogos">
            <div class="jogo" *ngFor="let jogo of campeonato.jogos">
                <div class="indentificacao">
                    <div class="horario">
                        {{jogo.horario | moment: 'DD/MM/YYYY HH:mm'}}
                    </div>
                    <div class="nome">
                        {{jogo.nome}}
                    </div>
                    <div class="mais-opcoes">
                        <a routerLink="/esportes/futebol/jogos/{{jogo._id}}">
                            <i class="fa fa-plus"></i> Cotações
                        </a>
                    </div>
                </div>
                <div class="odds-principais">
                    <div class="odd" *ngFor="let cotacao of jogo.cotacoes" (click)="addCotacao(jogo, cotacao)">
                        <span class="nome">
                            {{cotacao.chave | tipoAposta}}
                        </span>
                        <span class="valor">
                            {{cotacao.valor | calcularCotacao: cotacao.chave: jogo._id: jogo.cotacoes}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
