.campeonato-header{
    text-transform: uppercase;
    padding: 15px 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.jogos{
    background-color: #fff;
}

.jogo{
    border-top: 1px solid #ddd;
    padding: 12px;
}

.indentificacao{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.indentificacao .horario{
    background-color: #011e46;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 15px;
}

.indentificacao .nome{
    flex-grow: 1;
    font-weight: bold;
}

.odds-principais{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.odds-principais .inner-odd{
    background-color: var(--odds);
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 4px;
}

.odds-principais .selecionado{
    background-color: var(--highlight);
}

.odds-principais .selecionado span{
    color: var(--foreground-highlight);
}

.odd .nome, .odd .valor{
    color: var(--foreground-odds);
}

.mais-opcoes a{
    color: var(--odds);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .odds-principais .odd{
        min-width: 33.33%;
        padding: 3px;
    }

    .mais-opcoes i{
        margin-right: 5px;
    }

    .odds-principais .inner-odd:hover{
        background-color: var(--highlight);
    }

    .odds-principais .inner-odd:hover span{
        color: #000;
    }
}

@media only screen and (max-width: 668px) {
    .content-sports-scroll {
        padding-bottom: 90px;
    }

    .odds-principais .odd{
        margin-bottom: 5px;
        width: 100%;
    }

    .mais-opcoes i{
        min-width: 31px;
    }

    .mais-opcoes span{
        display: none;
    }
}
