<div class="content-sports-scroll" appPerfectScroll>
    <section class="content-sports">
        <div class="wrap-sticky">
            <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

            <div class="campeonato" *ngIf="campeonatos && !campeonatos.length">
                <div class="campeonato-header">
                    Nenhum jogo encontrado!
                </div>
            </div>
            <div *ngIf="!showLoadingIndicator">
                <div class="campeonato" *ngFor="let campeonato of campeonatos">
                    <div class="campeonato-header" (click)="setPrincipal(campeonato._id)">
                        <span class="flag-icon flag-icon-{{campeonato.regiao_sigla}} flag-icon-squared"></span> <span>{{campeonato.nome}}</span>
                        <i class="fa fa-angle-up" *ngIf="campeonatoPrincipal(campeonato._id); else downIcon"></i>
                        <ng-template #downIcon>
                            <i class="fa fa-angle-down"></i>
                        </ng-template>
                    </div>
                    <div class="jogos" *ngIf="campeonatoPrincipal(campeonato._id)">
                        <ng-container *ngFor="let jogo of campeonato.jogos">
                            <div class="jogo" *ngIf="jogo.cotacoes.length && !jogoBloqueado(jogo._id)">
                                <div class="indentificacao">
                                    <div class="horario">
                                        {{jogo.horario | moment: 'DD/MM/YYYY HH:mm'}}
                                    </div>
                                    <div class="nome">
                                        {{jogo.nome}}
                                    </div>
                                    <div class="nome-mobile">
                                        <div>{{jogo.time_a_nome}}</div>
                                        <div>{{jogo.time_b_nome}}</div>
                                    </div>
                                    <div class="mais-opcoes">
                                        <a routerLink="/esportes/futebol/jogos/{{jogo._id}}">
                                            <i class="fa fa-plus">
                                                {{jogo.total_cotacoes}}
                                            </i>
                                            <span>Cotações</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="odds">
                                    <div class="odd" *ngFor="let cotacao of jogo.cotacoes" (click)="addCotacao(jogo, cotacao)">
                                        <div class="inner-odd" [ngClass]="{selecionado: oddSelecionada(jogo._id, cotacao.chave)}">
                                            <span class="nome">
                                                {{cotacao.chave | tipoAposta}}
                                            </span>
                                            <span class="valor">
                                                {{cotacao.valor | calcularCotacao: cotacao.chave:
                                                jogo._id:jogo.favorito}}
                                            </span>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="cotacaoManualFaltando(jogo._id, jogo.cotacoes)">
                                        <div class="odd" *ngFor="let cotacao of cotacoesFaltando[jogo._id]" (click)="addCotacao(jogo, cotacao)">
                                            <div class="inner-odd" [ngClass]="{selecionado: oddSelecionada(jogo._id, cotacao.chave)}">
                                                <span class="nome">
                                                    {{cotacao.chave | tipoAposta}}
                                                </span>
                                                <span class="valor">
                                                    {{cotacao.valor | calcularCotacao: cotacao.chave: jogo._id:
                                                    jogo.favorito}}
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</div>
