<div id="indique-ganhe-content">
    <div class="internal-container-out">
        <div class="content-header hide-mobile">
            <h2>{{'geral.indiqueGanhe' | translate}}</h2>
        </div>
        <br>
        <div class="content-body">
            <h4>
                Indique amigos e ganhe R${{valorGanhoPorIndicacao}} por cada indicado
            </h4>
            <p>
                Indique um amigo através do seu link de indicação e receba R${{valorGanhoPorIndicacao}} por cada indicação no saldo da sua conta. Confira nossas Regras e condições.
            </p>
            <div class="link-indicacao-container">
                <p>Seu link de indicação:</p>
                <div class="link-indicacao">
                    <i class="fa fa-link"></i>
                    <span>{{linkIndicacao}}</span>
                    <a>Copiar Link</a>
                </div>
                <br>
                <p>Compartilhe seu link pelas redes sociais:</p>
                <p>Facebook Whatsapp E-mail Instagram</p>
            </div>
        </div>
    </div>
</div>