.filtros {
    display: flex;
    align-items: center;
}

.filtros input, .filtros select {
    margin-right: 20px;
}

.filtros > input, .filtros .datepicker-group {
    max-width: 300px;
}

.filtros select {
    max-width: 150px;
}

.info-resultado {
    margin: 20px 0 32px;
    font-size: 14px;
    color: var(--foreground);
    font-weight: 400;
}

.table {
    color: var(--foreground);
}

.table thead th {
    background-color: var(--game);
    color: var(--foreground-game);
    border-top: 0;
    border-bottom: 1px solid var(--game);
    padding: 15px 10px;
}

.table .right {
    text-align: right;
}

.table tbody td {
    border-top: 0;
    border-bottom: 1px solid var(--game);
    vertical-align: middle;
}

.table tbody tr td:first-child span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table tbody div.progress-container {
    width: 100%;
    height: 100%;
}

.table tbody div.progress-container span {
    width: calc(calc(70%/3) - 4px);
    display: inline-block;
    height: 15px;
    background-color: #2F2F2F;
    border-radius: 4px;
}

.table tbody div.progress-container.fill-one span:first-of-type {
    background-color: #1773EA;
}

.table tbody div.progress-container.fill-two span:not(span:last-of-type) {
    background-color: #1773EA;
}

.table tbody div.progress-container.fill-three span {
    background-color: #0C9F19;
}

.table tbody div.progress-container span:not(span:first-of-type) {
    margin-left: 4px;
}

.datepicker-group i {
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 32px;
    font-size: 14px;
}

.datepicker-group input {
    padding-right: 35px;
    border-radius: 5px;
}

.dp-hidden {
    width: 0 !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: var(--highlight);
}

.custom-day.range, .custom-day:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}
.custom-day.faded {
    background-color: var(--highlight);
}

.tabs {
    border-bottom: 2px solid var(--foreground);
    margin-bottom: 30px;
}

.tabs a {
    font-size: 12px;
    color: var(--foreground);
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;

    cursor: pointer;
    margin-bottom: -2px;
}

.tabs a:hover {
    color: var(--highlight);
}

.tabs a.active {
    color: var(--highlight);
    border-bottom: 2px solid var(--highlight);
}

.indique-ganhe-info {
    margin: 30px 0;
}

.indique-ganhe-info > p {
    margin-top: 10px;
}

.indique-ganhe-info a {
    color: var(--highlight);
}

.link-indicacao-container {
    background-color: var(--header);
    padding: 22px 28px;
}

.link-indicacao-container > p {
    margin-bottom: 8px;
}

.link-indicacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 12px;
    border: 1px solid;
}

.link-indicacao .link {
    flex-grow: 9;
    display: flex;
    align-items: center;
}

.link i {
    margin-right: 6px;
    text-align: center;
}

.link-indicacao a {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    color: var(--highlight);
}

.social-share > p {
    margin-top: 30px;
}

.social-share span {
    font-size: 11px;
}

.social-buttons-container {
    display: flex;
    align-items: center;
}

.social-buttons {
    padding: 8px;
    font-size: 19px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social-buttons:hover {
    opacity: 0.7;
}

.social-buttons-container span {
    margin-left: 10px;
    margin-right: 20px;
}

.fa-facebook {
    color: #ffffff;
    background-color: #3b5998;
}

.fa-whatsapp {
    color: #ffffff;
    background-color: #25d366;
}

.fa-telegram {
    color: #ffffff;
    background-color: #229ED9;
}

.fa-envelope {
    color: #ffffff;
    background-color: #ff3c2e;
}

.modal-header, .modal-body {
    padding: 15px 25px;
}

.modal-body li {
    margin-bottom: 12px;
}

.lista-indicados-container > div {
    border-bottom: 1px solid;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.lista-indicados {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-indicados-icon {
    flex-grow: 2;
    align-self: normal;
    text-align: center;
}

.lista-indicados-info {
    flex-grow: 7;
}

.lista-indicados-info p {
    margin: unset;
}

.lista-indicados-arrow {
    flex-grow: 1;
    text-align: right;
}

.vertical-progress-container {
    position: relative;
    width: 300px;
    overflow: hidden;
}

.vertical-progress {
    position: relative;
    padding: 0 1rem 0 3.5rem;
    margin: 2rem 0 0;
    list-style: none;
}

.vertical-progress-item {
    position: relative;
    min-height: 75px;
    counter-increment: list;
    padding-left: 0.5rem;
}

.vertical-progress-item::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 26px;
    height: 81%;
    width: 1px;
    border-left: 1px solid #6A6868;
}

.vertical-progress-item-current-pending::before {
    border-color: #0C9F19;
}

.vertical-progress-item::after {
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    top: 0;
    left: -2.5rem;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: transparent;
    color: #6A6868;
    font-weight: 400;
    font-size: 13px;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #6A6868;
}

.vertical-progress-item-completed::after {
    color: #0C9F19;
    border-color: #0C9F19;
}

.vertical-progress-item:last-child::before {
    border: none;
}

.vertical-progress-info span {
    display: block;
}

.vertical-progress-info span:first-of-type {
    font-weight: 600;
}

.only-mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
    .only-mobile {
        display: block;
    }

    .only-desktop {
        display: none;
    }

    .link-indicacao {
        flex-direction: column;
    }

    .link-indicacao .link {
        width: 100%;
    }

    .link span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 1024px) {
    .tabs a {
        width: 50%;
        text-align: center;
    }

    #indique-ganhe-content {
        padding: 10px;
        height: 100vh;
        overflow: auto;
        position: relative;
    }

    .indique-ganhe-info {
        margin-top: 15px;
    }

    .link-indicacao {
        width: 100%;
    }

    .filtros {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    .filtros .datepicker-group,
    .filtros input,
    .filtros select {
        max-width: none;
        margin: 0;
    }

    .dp-hidden {
        height: 0 !important;
        position: absolute;
    }

    .filtros-container {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .filtros-container .input-group {
        max-width: none;
    }

    .buttons {
        padding: 0;
    }

    .buttons button {
        width: 100%;
    }
}

@media only screen and (min-width: 1260px) {
    .link-indicacao {
        width: 41vw;
    }
}

@media only screen and (min-width: 1830px) {
    .link-indicacao {
        width: 28vw;
    }
}