#cupom{
    margin: 0 auto;
    max-width: 600px;
}

.conteudo{
    text-align: center;
}

.conteudo img{
    height: 80px;
}

.header{
    background: var(--header);
    color:var(--foreground-header);
    padding: 5px 0;
}

.aposta-item{
    color: black;
    padding:15px 0;
    margin: 15px 0;
    background-color:#ebeaea
}

.informacoes-aposta, .numero{
    color: black;
}

.div-1{
    display: flex;
    margin:5px 0
}

.div-1 .column-1, .div-1 .column-3{
    width: 40%;
    font-size: 1.2rem;
    font-weight: bold;
}

.div-1 .column-2{
    width: 20%;
    font-size: 1.2rem;
    font-weight: bold;
}

.div-2 .line{
    display:flex;
    margin-bottom:5px;
}

.width-40{
    width: 40%;
}

.width-20{
    width: 20%;
}

.div-3, .div-4 span{
    padding: 0 5px;
}

.ganhou{
    color: green;
}

.aovivo .label,.aovivo .icon,.perdeu{
    color: red;
}

.dashed{
    text-decoration: line-through;
}

.encerrado{
    text-decoration-line: line-through;
}
