<div id="cupom" #cupom>
    <div class="conteudo">
        <div>
            <img [src]="LOGO">
            <h1 class="numero">
                {{aposta.codigo}}
            </h1>
        </div>
        <div class="header">
            <h2>Seus Palpites</h2>
            <span>Confira abaixo o resultado dos seus palpites</span>
        </div>

        <div *ngFor="let item of aposta.itens" class="aposta-item">
            <div>
                <strong>
                    {{item.campeonato_nome}}
                </strong>
            </div>
            <div>
                {{item.jogo_horario | moment:'DD/MM/YYYY HH:mm'}}
            </div>
            <div class="aovivo" *ngIf="stats[getIndex(item)].minutos >= 0 && !stats[getIndex(item)].finalizado">
                <div>
                    <span class="label">Ao Vivo</span>
                </div>
                <div>
                    {{stats[getIndex(item)].minutos}} <span *ngIf="stats[getIndex(item)].acrescimos">+
                        {{stats[getIndex(item)].acrescimos}}</span> <span class="icon">'</span>
                </div>
            </div>
            <div class="div-1">
                <div class="column-1">{{item.time_a_nome}}</div>
                <div class="column-2">
                    <span>{{stats[getIndex(item)].time_a_resultado}}</span> -
                    <span>{{stats[getIndex(item)].time_b_resultado}}</span>
                </div>
                <div class="column-3">{{item.time_b_nome}}</div>
            </div>
            <div class="div-2" *ngIf="(item.sport == 1) && stats[getIndex(item)]">
                <div class="line line-1">
                    <div class="width-40">{{stats[getIndex(item)].time_a_resultado_1t}}</div>
                    <div class="width-20">Gols 1º Tempo</div>
                    <div class="width-40">{{stats[getIndex(item)].time_b_resultado_1t}}</div>
                </div>
                <div class="line line-2">
                    <div class="width-40">{{stats[getIndex(item)].time_a_resultado_2t}}</div>
                    <div class="width-20">Gols 2º Tempo</div>
                    <div class="width-40">{{stats[getIndex(item)].time_b_resultado_2t}}</div>
                </div>
                <div class="line line-3">
                    <div class="width-40">{{stats[getIndex(item)].time_a_escanteios}}</div>
                    <div class="width-20">Escanteios</div>
                    <div class="width-40">{{stats[getIndex(item)].time_b_escanteios}}</div>
                </div>
            </div>
            <div class="div-3" [ngClass]="{'dashed': stats[getIndex(item)].resultado == 'cancelado' || item.encerrado}">
                <span>{{item.categoria_nome}}: </span>
                <span>{{item.odd_nome}}</span>
                <b> ({{item.cotacao}})</b>
            </div>
            <span *ngIf="item.encerrado">encerrado</span>
            <div class="div-4" *ngIf="stats[getIndex(item)].resultado">
                <span [ngClass]="resultadoClass(stats[getIndex(item)].resultado)">
                    {{stats[getIndex(item)].resultado}}
                </span>
            </div>
        </div>
        <div class="informacoes-aposta">
            <h4 *ngIf="aposta.resultado">
                {{'geral.resultado' | translate}}: <span [ngClass]="resultadoClass(aposta.resultado)">{{aposta.resultado}}</span>
            </h4>
            <div>
                <b>{{'geral.apostador' | translate}} :</b> {{aposta.apostador}}
            </div>
            <div>
                <b>{{'geral.cambista' | translate}}:</b> {{aposta.passador.nome}}
            </div>
            <div>
                <b>Data:</b> {{aposta.horario | moment:'DD/MM/YYYY HH:mm'}}
            </div>
            <div>
                <b>Nº Jogos:</b> {{aposta.itens.length}}
            </div>
            <div>
                <b>Cotação:</b> {{aposta.possibilidade_ganho / aposta.valor | number:'1.0-3' }}
            </div>
            <div>
                <b>Valor Apostado:</b> {{aposta.valor | currency}}
            </div>
            <div>
                <b>{{'geral.possivelRetorno' | translate}}:</b> {{aposta.possibilidade_ganho | currency}}
            </div>
            <div *ngIf="aposta.resultado && aposta.resultado != 'a confirmar'">
                <b>{{'geral.premio' | translate}} :</b> {{aposta.premio | currency}}
            </div>
            <div *ngIf="enabledBookie">
                <b>Cambista Paga:</b> {{cambistaPaga ?? 0 | currency}}
            </div>
            <div>
                <b>Status do Bilhete:</b> {{aposta.ativo ? 'ATIVO' : 'CANCELADO'}}
            </div>
        </div>
    </div>
</div>
