ul li {
    list-style: none;
}

.sidebar-nav {
    background-color: var(--sidebar-left);
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebar-nav .regiao:last-of-type,
.sidebar-nav .campeonato:last-of-type,
.sidebar-nav .supresinha:last-of-type {
    margin-bottom: 15px;
}

.sidebar-nav a {
    color: var(--foreground-sidebar-left);
}

.sidebar-nav .group {
    display: inline-block;
    padding-left: 15px;
    color: var(--highlight);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
}

.sidebar-nav li {
    padding: 0;
    cursor: pointer;
}

.sidebar-nav li a {
    padding: 10px 15px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.regiao-nome {
    align-self: center;
    margin-left: 5px;
}

.sidebar-nav li a:hover {
    color: var(--highlight) !important;
}

.regiao .flag-icon {
    float: left;
    margin-top: 0;
    margin-right: 4px;
    min-width: 22px;
    min-height: 22px;
    clip-path: circle();
    z-index: 1;
    border: 1px solid var(--foreground-header);
    border-radius: 100%;
}

.regiao ul li a {
    padding-left: 30px;
}

.icone-generico {
    align-self: center;
    font-size: 13px;
}

.regiao > a {
    position: relative;
    display: flex;
    vertical-align: center;
}

/*.regiao > a:after {*/
/*    content: "";*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 5px solid transparent;*/
/*    border-right: 5px solid transparent;*/
/*    border-top: 5px solid var(--foreground-sidebar-left);*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 13px;*/
/*}*/

/*.regiao > a.selected:after {*/
/*    content: "";*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 5px solid transparent;*/
/*    border-right: 5px solid transparent;*/
/*    border-top: 5px solid transparent;*/
/*    border-bottom: 5px solid var(--foreground-sidebar-left);*/
/*}*/

.regiao ul {
    padding-left: 19px;
}

/*.collapsed .regiao-nome {*/
/*    opacity: 0;*/
/*}*/

.hide-item {
    animation-name: hideAnim;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.show-item {
    animation-name: showAnim;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@keyframes showAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes hideAnim {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
