<div id="default-content">
    <div class="mobile-modal-header" *ngIf="isMobile">
        <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
            <i class="fa fa-arrow-left"></i>
        </a>
        <div class="titulo">{{'cartoes.cartoesDeAposta' | translate}}</div>
        <div class="botao-direito"></div>
    </div>

    <div class="internal-container-out">
        <div class="content-header" *ngIf="!isMobile">
            <h2>{{'cartoes.cartoesDeAposta' | translate}}</h2>
        </div>

        <div class="content-body">
            <form (submit)="handleFiltrar()">
                <div class="filtros">
                    <input class="inverted-out form-control" [(ngModel)]="apostador" type="text" placeholder="{{'geral.apostador' | translate}} " [ngModelOptions]="{standalone: true}">
                    <input
                        name="datepicker"
                        class="dp-hidden"
                        ngbDatepicker
                        #datepicker="ngbDatepicker"
                        [autoClose]="'outside'"
                        (dateSelect)="onDateSelection($event, datepicker)"
                        [displayMonths]="2"
                        [dayTemplate]="t"
                        outsideDays="hidden"
                        [startDate]="fromDate!"
                        tabindex="-1"
                        value=""
                    >
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                    <div class="input-group datepicker-group">
                        <i class="fa fa-calendar"></i>
                        <input
                            type="text"
                            class="form-control inverted-out"
                            [(ngModel)]="selectedDate"
                            (click)="datepicker.toggle()"
                            [ngModelOptions]="{standalone: true}"
                        >
                    </div>

                    <button class="btn btn-custom" type="submit">{{'geral.filtrar' | translate}}</button>
                </div>
            </form>

            <ul *ngIf="isMobile" class="listagem-cartao">
                <li *ngFor="let cartao of cartoes">
                    <span class="chave">{{ cartao.chave }}</span>
                    <span><label>{{'geral.apostador' | translate}} : </label> {{ cartao.apostador }}</span>
                    <span><label>{{'geral.data' | translate}}: </label> {{ cartao.data_registro }}</span>
                    <span><label>{{'geral.creditos' | translate}} : </label> {{ cartao.total_creditos | currency }}</span>
                    <span><label>{{'geral.premio' | translate}} : </label> {{ cartao.premios | currency }}</span>
                    <span><label>{{'geral.saques' | translate}} : </label> {{ cartao.total_saques | currency }}</span>
                    <span><label>{{'geral.saldo' | translate}} : </label> {{ cartao.saldo | currency }}</span>
                </li>
            </ul>

            <div class="table-responsive" *ngIf="!isMobile">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'bilhete.chave' | translate}}</th>
                            <th>{{'geral.data' | translate}}</th>
                            <th>{{'geral.apostador' | translate}} </th>
                            <th>{{'geral.recarga' | translate}}</th>
                            <th>{{'geral.premio' | translate}} </th>
                            <th>{{'geral.saques' | translate}} </th>
                            <th>{{'geral.saldo' | translate}}</th>
                        </tr>
                    </thead>
                    <tr *ngIf="loading">
                        <td colspan="8" class="no-border" align="center"><i class="fa fa-spinner fa-spin"></i> {{'geral.carregando' | translate}}</td>
                    </tr>
                    <tbody *ngIf="!loading">
                        <tr *ngFor="let cartao of cartoes">
                            <td>{{ cartao.chave }}</td>
                            <td>{{ cartao.data_registro }}</td>
                            <td>{{ cartao.apostador }}</td>
                            <td>{{ cartao.total_creditos | currency }}</td>
                            <td>{{ cartao.premios | currency }}</td>
                            <td>{{ cartao.total_saques | currency }}</td>
                            <td>{{ cartao.saldo | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
