#futebol-live-wrapper{
    max-height: calc(100vh - 140px);
}

.live-menu-container {
    margin: 0;
    background-color: var(--background);
    padding: 3px;
}

.live-menu {
    min-height: 42px;
    background-color: var(--header);
    display: flex;
}

.live-menu a {
    text-decoration: none;
    color: var(--foreground-header);
}

.live-menu a i {
    margin-right: 5px;
}

.category {
    margin: 0 2px;
    display: flex;
    height: 42px;
    align-items: center;
    justify-items: center;
}

.category a {
    display: flex;
    width: 100%;
    height: 95%;
    padding: 0 30px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    transition: 300ms;
    white-space: nowrap;
}

.category a.active, .category a:hover {
    border-bottom: 2px solid var(--highlight);
    color: var(--highlight);
}

.category a span {
    white-space: nowrap;
}

@media only screen and (max-width: 1024px) {
    .live-menu-container {
        padding: 0;
    }
}
