<div id="futebol-live-wrapper">
    <div id="futebol-live-content">
        <div class="lista" [hidden]="exibirMaisCotacoes">
            <app-live-listagem (jogoSelecionadoId)="receptorJogoSelecionadoId($event)"
                (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)" [sportId]="sportId">
            </app-live-listagem>
        </div>
        <div class="jogo" *ngIf="exibirMaisCotacoes">
            <app-live-jogo [jogoId]="jogoId" (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)">
            </app-live-jogo>
        </div>
    </div>
</div>
