<app-spinner *ngIf="!aposta"></app-spinner>
<div id="bilhete-reativo">
    <div class="alert alert-warning" role="alert" *ngIf="isExpired">
        Bilhete expirado.
    </div>

    <app-cupom-esportes *ngIf="show && aposta.tipo == 'esportes'" [aposta]="aposta" [resultados]="resultados">
    </app-cupom-esportes>
    <app-cupom-acumuladao *ngIf="show && aposta.tipo == 'acumuladao'" [aposta]="aposta"></app-cupom-acumuladao>
    <app-cupom-desafio *ngIf="show && aposta.tipo == 'desafio'" [aposta]="aposta"></app-cupom-desafio>
</div>
