
<div class="game-view">
    <div class="buttons-game-view">
<!--        <a class="screen" (click)="openFullscreen()">Tela Cheia</a>-->
<!--        <a class="screen" (click)="closeFullscreen()">Fechar Tela Cheia</a>-->
        <a (click)="back()" class="btn game-close"><i class="fa fa-times"></i></a>
    </div>
    <div class="game-frame">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
        <ng-container *ngIf="mobileScreen">
            <iframe *ngIf="gameUrl!=''"  [src]="gameUrl"></iframe>
        </ng-container>
        <ng-container *ngIf="!mobileScreen">
            <iframe *ngIf="gameUrl!=''"  [src]="gameUrl" allowfullscreen></iframe>
        </ng-container>

    </div>
</div>



