.game-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;

}

@media (max-width: 1024px) {

    .header-game-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #000; /* Ajuste a cor de fundo conforme necessário */
        color: #fff; /* Ajuste a cor do texto conforme necessário */
    }

    .game-view {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .game-name {
        flex-grow: 1;
        font-size: 18px;
        color: #fff; /* Ajuste a cor do texto conforme necessário */
    }

    .buttons-game-view {
        display: flex;
        gap: 10px; /* Espaçamento entre os botões */
    }

    .btn-cassino {
        cursor: pointer;
        padding: 5px 10px;
        background-color: transparent;
        border: none;
        color: #fff; /* Ajuste a cor do texto conforme necessário */
        font-size: 16px;
    }


    .game-frame {
        flex: 1; /* Faz com que o .game-frame ocupe o espaço disponível */
        justify-content: center;
        align-items: center;
        position: relative; /* Permite que o iframe se ajuste corretamente */
        width: 100%;
        height: 100%;
    }


    .game-frame iframe {
        width: 100%;
        height: 100%;
        border: none; /* Remove a borda do iframe */
    }

    .card-small {
        width: 350px;
        height: auto;
        margin: auto;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px #00000033;
        background: #0A0A0A;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        margin-top: 2em;
    }

    .card-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .overlay-background {
        width: 114px;
        height: 114px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 25px;
        flex-shrink: 0;
        border-radius: 3.83px;
    }

    .card-info {
        flex-grow: 1;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .game-title {
        font-size: 18px;
        margin-bottom: 5px;
        color: white;
    }

    .game-provider {
        font-size: 14px;
        margin-bottom: 5px;
        color: #888888;
    }

    .card-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
    }

    .register-btn {
        border: 1px solid #0BF197;
        background: #35CC95;
        color: rgb(0, 0, 0);
    }

    .login-btn {
        border: 1px solid #0BF197;
        background: none;
        color: #35CC95;
    }
    .main-footer {
        margin-top: 20px;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 137px;
        height: 40px;
    }

    .register-btn {
        border: 1px solid #0BF197;
        background: var(--10, #35CC95);
        color: rgb(0, 0, 0);
    }

    .login-btn {
        border: 1px solid #0BF197;
        background: none;
        color: #35CC96;
        gap: 20px;
    }
    .inline-button {
        display: inline-block;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
    }
}
