.game-view {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.aviso h4{
    margin: 40px !important;
}

.game-frame {
    width: 100%;
    margin: 0 auto;
}


.aviso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.opacity50 {
    color: var(--foreground);
    text-align: center;
    opacity: 0.55;
}

a.opacity50:hover {
    opacity: 1;
}

.bonus {
    line-height: 52px;
}

.aviso h4{
    margin: 20px;
}

.acoes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ver-bonus {
    margin: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: var(--header);
    background-color: var(--highlight);
    width: 150px;
    height: 42px;
}

.ver-jogos {
    margin: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: var(--highlight);
    color: var(--highlight);
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 42px;
}

iframe{
    width: 100%;
    border:none;
}

.header-game-view {
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 51px; */
    /* margin-bottom: 12px; */
    border: 1px solid #1B1B1B;
}

.header-game-view > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-game-view .game-name {
    justify-content: left;
}

.header-game-view .buttons-game-view {
    justify-content: right;
}

.game-name span {
    font-size: 16px;
    margin-left: 16px;
}

.buttons-game-view a {
    margin-right: 2px;
}

.btn-cassino {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    color: var(--foreground-inputs-odds);
    background: var(--inputs-odds);
    transition: 500ms;
}

.btn-cassino:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
    transition: 500ms;
}

.game-close {
    font-size: 26px;
}

.screen-adjust {
    font-size: 20px;
}

.desktop-fullscreen {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto !important;
    background-color: black;
}

.desktop-fullscreen .game-frame {
    width:100%;
    height: calc(100vh - 46px) !important;
    margin: 0;
}

.close-modal-continuar-jogando i{
    color: var(--highlight);
    font-size: 24px;
    padding-right: 8px;
}

.btn-custom, .btn-custom2 {
    margin: 10px 0;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    min-width: 260px;
}

@media only screen and (max-width: 1024px) {
    .game-view {
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 100%;
        z-index: 10000;
        top: 0;
    }
 
    .game-view .header-game-view {
        /* margin: 2% 0 0 0 ; */
    }

    .game-frame {
        width: 100%;
        height: calc(100% - 50px);
    }

    .game-frame iframe {
        position: relative !important;
        height: 100%;
    }

    .btn-cassino {
        padding: 5px;
    }

    .overlay {
        height: calc(100% - 45px);
        margin-top: 45px;
    }

    .modal-body {
        padding: 0 30px 50px 30px !important;
    }
}

@media (min-width: 1025px) {
    .game-frame {
        height: calc(100vh - 175px);
    }

    iframe {
        height: 100%;
    }

    .overlay {
        height: calc(100% - 11em);
        margin-top: 11em;
    }
}


.overlay {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay .overlay-background {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: calc(100% - 80px);
    position: absolute;
    top: 40px;
    width: 100%
}

.overlay .overlay-content {

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0,0,0,.7) radial-gradient(38.32% 50% at 50% 50%,transparent 0,#000 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1
}

.overlay .overlay-content__title {
    -webkit-text-fill-color: #35cd96;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background: -webkit-gradient(linear,left top,left bottom,from(#35cd96),to(#35cd96));
    background: linear-gradient(180deg,#35cd96,#35cd96);
    -webkit-background-clip: text;
    background-clip: text;
    color: #35cd96;

    font-size: 40px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase
}

.overlay .overlay-content__text {
    -webkit-text-fill-color: #fff;
    color: #fff;
    font-family: roboto-regular-webfont,sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0 0;
    padding-left: 10px;
    padding-right: 10px
}

.inline-button {
    display: inline-block;
    margin: 5px; /* Espaço entre os botões */
    padding: 10px 20px;
    font-size: 16px;
}

.modal-header{
    display: flex;
    justify-content: end;
    border: none;
    z-index: 9001 !important;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 50px 50px;
}

.modal-body h4 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
}

