<div class="game-view">
    <div class="buttons-game-view">
        <span>{{ gameName }}</span>
        <a (click)="back()" class="btn-cassino game-close float-end"><i class="fa fa-times"></i></a>
        <ng-container *ngIf="mobileScreen && !isAppMobile()">
            <a *ngIf="!fullscreen" class="btn-cassino screen-adjust float-end" (click)="openFullscreen()"><i class="fa fa-expand"></i></a>
            <a *ngIf="fullscreen" class="btn-cassino screen-adjust float-end" (click)="closeFullscreen()"><i class="fa fa-compress"></i></a>
        </ng-container>
    </div>
    <div class="game-frame">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
        <ng-container *ngIf="mobileScreen">
            <iframe *ngIf="gameUrl!=''"  [src]="gameUrl"></iframe>
        </ng-container>
        <ng-container *ngIf="!mobileScreen">
            <iframe *ngIf="gameUrl!=''"  [src]="gameUrl" allowfullscreen></iframe>
        </ng-container>

    </div>
</div>



