li{
    cursor: pointer;
}

.leagues-regional-nav ul{
    padding-left: 0px;
}

.leagues-regional-nav ul li{
    list-style: none;
    background-color: var(--background-menu);
}

.leagues-regional-nav ul li.group{
    padding: 5px;
    color: #000;
}

.leagues-regional-nav ul li a{
    display: block;
    padding: 5px;
    color: var(--text-menu);
}

.leagues-regional-nav ul li a img{
    width: 20px;
}

.sports-menu{
    position: absolute;
    left: -100vw;
}

.sports-menu.aberto{
    left: 0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sports-menu{
        position: inherit;
        width: 200px;
    }
}
