<div id="futebol-default-wrapper">
    <div id="futebol-default-content">
        <div class="lista" [hidden]="mobileScreen && exibirMaisCotacoes">
            <app-futebol-listagem (jogoSelecionadoId)="receptorJogoSelecionadoId($event)"
                (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)"
                [showLoadingIndicator]="showLoadingIndicator"
                [deixarCampeonatosAbertos]="deixarCampeonatosAbertos"
                [camps]="campeonatos"></app-futebol-listagem>
        </div>
        <div class="jogo" [hidden]="mobileScreen && !exibirMaisCotacoes">
            <app-futebol-jogo [jogoId]="jogoId" (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)">
            </app-futebol-jogo>
        </div>
    </div>
</div>
