<div id="futebol-default-wrapper">
    <div id="futebol-default-content">
        <div class="lista" [hidden]="exibirMaisCotacoes">
            <app-futebol-listagem (jogoSelecionadoId)="receptorJogoSelecionadoId($event)"
                                  (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)"
                                  [showLoadingIndicator]="showLoadingIndicator"
                                  [camps]="campeonatos"
                                  [data]="data"
                                  [campeonatoSelecionado]="campeonatoSelecionado"
                                  [regiaoDestaqueSelecionada]="regiaoDestaqueSelecionada"
            >
            </app-futebol-listagem>
        </div>
        <div class="jogo" [hidden]="!exibirMaisCotacoes">
            <app-futebol-jogo [jogoId]="jogoId" (exibirMaisCotacoes)="changeExibirMaisCotacoes($event)">
            </app-futebol-jogo>
        </div>
    </div>
</div>
