<div class="loading-listagem">
    <div class="slider">
        <div class="title">
            <div class="ssc-square left"></div>
            <div class="ssc-square right"></div>
        </div>
        <div class="itens">
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
        </div>
    </div>
</div>