<div class="loading-listagem">
    <div class="slider">
        <div class="title">
            <div class="ssc-square left"></div>
            <div class="ssc-square right"></div>
        </div>
        <div class="itens">
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
            <div class="square-container">
                <div class="ssc-square content"></div>
                <div class="title">
                    <div class="ssc-square title-square"></div>
                    <div class="ssc-square sub-title-square"></div>
                </div>
            </div>
        </div>
    </div>
</div>