.submenu-container {
    display: flex;
    width: 100%;
    min-height: 40px;
    background-color: var(--sub-nav);
    box-shadow: 0 -2px 0 var(--highlight) inset;
    justify-content: center;
    position: relative;
    transition: min-height 150ms linear;
}

.submenu {
    display: flex;
    /*max-width: calc(100% - 480px);*/
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: height 150ms linear;
}

.submenu::-webkit-scrollbar {
    display: none;
}

.scroll {
    overflow: auto;
    scroll-behavior: smooth;
    width: 80%;
}

.submenu a {
    text-decoration: none;
    color: var(--foreground-sub-nav);
    white-space: nowrap;
}

.submenu svg-icon {
    margin-right: 5px;
}

.subcategory {
    margin: 0;
    display: flex;
    height: 38px;
    align-items: center;
    justify-items: center;
}

.subcategory a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    transition: 0.3s;
}

.subcategory a i {
    margin-right: 5px;
}

.subcategory a.active, .subcategory a:hover {
    color: var(--foreground-highlight);
    background-color: var(--highlight);
}

.pull-container {
    width: 20px;
    padding: 0;
}

.pull {
    color: var(--foreground-sub-nav);
    /*color: var(--header);*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 36px;
    cursor: pointer;
    position: absolute;
}

.pull .fa {
    /*font-weight: 600;*/
    font-size: 18px;
    margin: 0;
}

.pull-right {
    right: 110px;
}

.pull-left {
    left: 110px;
}

.fa-right {
    padding-left: 4px;
}

.fa-left {
    padding-right: 4px;
}

.visibility {
    display: none !important;

}

.centered {
    justify-content: center;
}

.blink_me {
    animation: blinkerMe 1.5s linear infinite;
    font-size: 12px;
}

@media only screen and (min-width: 1025px) {
    .submenu {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 1024px) {
    .subcategory a {
        font-size: 12px;
    }

    .fixed-submenu {
        white-space: nowrap;
    }
}
