<div id="submenu-container" class="submenu-container">
    <nav id="nav-submenu" class="submenu scroll" scrollX="true" *ngIf="active" [ngStyle]="{'width.px': menuWidth}"
         [ngClass]="{'centered': centered}"
         (scroll)="onScroll($event)" #scrollMenu>
        <div class="pull pull-left" (click)="scrollLeft()" [ngClass]="leftDisabled ? 'visibility':''" *ngIf="!isMobile">
            <i class="fa fa-angle-left fa-left"></i>
        </div>
        <div class="subcategory" *ngFor="let item of submenuItems; let i = index">
            <a routerLink="{{item.link}}" routerLinkActive="active" id="{{item.id}}" *ngIf="!item.svgIcon" [queryParams]="item.queryParams">
                <i class="{{item.icon_class}}"></i>
                <span>{{item.name}}</span>
            </a>
            <a routerLink="{{item.link}}" routerLinkActive="active" id="{{item.id}}" *ngIf="item.svgIcon" [queryParams]="item.queryParams" (mouseover)="changeSvgHover(i)" (mouseout)="changeSvgHover(i)">
                <svg-icon [src]="item.svgSrc" [svgStyle]="item.svgStroke ? svgByRouteCssStroke(item.link, item.svgHover) : svgByRouteCss(item.link, item.svgHover)"></svg-icon>
                <span>{{item.name}}</span>
            </a>
        </div>
        <div class="pull pull-right" (click)="scrollRight()" [ngClass]="rightDisabled ? 'visibility':''" *ngIf="!isMobile">
            <i class="fa fa-angle-right fa-right"></i>
        </div>
    </nav>
</div>
