.banner-container{
    background-color: rgb(15, 15, 15);
}

.resolution16x2{
    width: 100%;
    aspect-ratio: 16/2;
}

.resolution16x4{
    width: 100%;
    aspect-ratio: 16/4;
}

.banners img{
    width: 100%;
}

.banners.cassino,
.banners.home {
    padding: 0;
}

.banners.cassino img {
    max-height: 540px;
}

.carousel {
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .banners img{
        width: 100%;
    }

    .banners.cassino {
        margin: 0;
    }
    
    .resolution16x2{
        aspect-ratio: 16/6;
    }
    
    .resolution16x4{
        aspect-ratio: 16/8;
    }
}

@media only screen and (min-width: 1920px) {
    .banners.cassino {
        margin: 0 auto;
    }
}
