<div class="banners banner-container" [ngClass]="{'resolution16x2':pagina === 'deposito','resolution16x4':pagina != 'deposito' && pagina != 'cadastro', 'resolutionCadastro':pagina === 'cadastro', 'resolutionCadastroMobile':pagina === 'cadastro'}" [hidden]="hideBanner">
    <ngb-carousel [showNavigationArrows]="showNavigationArrows">
        <ng-template *ngFor="let banner of banners" ngbSlide>
            <div class="picsum-img-wrapper">
                <a *ngIf="banner.link" [href]="banner.link" [target]="banner.link_blank? '_blank' : ''">
                    <img *ngIf="!mobileScreen" [src]="banner.src" [alt]="banner.titulo">
                    <img *ngIf="mobileScreen" [src]="banner.src_mobile" [alt]="banner.titulo">
                </a>
                <div *ngIf="!banner.link">
                    <img *ngIf="!mobileScreen" [src]="banner.src" [alt]="banner.titulo">
                    <img *ngIf="mobileScreen" [src]="banner.src_mobile" [alt]="banner.titulo">
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
