.banners{
    padding: 5px 5px 0 5px;
}

.banners img{
    width: 100%;
}

.banners.cassino,
.banners.home {
    padding: 0;
}

.banners.cassino img {
    max-height: 540px;
}

.carousel {
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .banners{
        padding: 5px 0 0 0;
    }

    .banners img{
        width: 100%;
    }

    .banners.cassino {
        margin: 0;
    }
}

@media only screen and (min-width: 1920px) {
    .banners.cassino {
        margin: 0 auto;
    }
}
