.banners{
    padding: 5px 5px 0 5px;
}

.banners img{
    width: 100%;
}

.banners.cassino img {
    max-height: 380px;
}

.carousel {
    border-radius: 12px;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .banners{
        padding: 5px 0 0 0;
    }

    .banners img{
        width: 100%;
    }
}
