<app-skeleton *ngIf="showSkeleton && showLoadingIndicator" type="small-banner"/>

<div  *ngIf="banners.length > 0" class="banners" [ngClass]="{'p-0':pagina === 'deposito'}" [hidden]="showLoadingIndicator">
    <ngb-carousel [showNavigationArrows]="showNavigationArrows">
        <ng-template *ngFor="let banner of banners" ngbSlide>
            <div class="picsum-img-wrapper">
                <a *ngIf="banner.link" [href]="banner.link" [target]="banner.link_blank? '_blank' : ''">
                    <img *ngIf="!isMobileView" [src]="banner.src" [alt]="banner.titulo">
                    <img *ngIf="isMobileView" [src]="banner.src_mobile" [alt]="banner.titulo">
                </a>
                <div *ngIf="!banner.link">
                    <img *ngIf="!isMobileView" [src]="banner.src" [alt]="banner.titulo">
                    <img *ngIf="isMobileView" [src]="banner.src_mobile" [alt]="banner.titulo">
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
