
/* semantic color variables for this project */
:root {
  --color-background: #0a0a0a;
  --color-primary: #0be58e;
  --color-text: #ffffff;
  --color-text-input: #ffffff80;
  --color-background-input: #181818;
  --color-sucess: rgba(109, 165, 68, 1);
  --color-danger: rgba(246, 26, 26, 1);
}