/* semantic color variables for this project */
:root {

  --background: #0a0a0a;
  --background-rgb: 10,10,10;

  --foreground: #ffffff;
  --foreground-rgb: 255,255,255;

  --highlight: #35cd96;
  --highlight-rgb: 53,205,150;

  --highlight-foreground: #0a0a0a;
  --highlight-foreground-rgb: 10,10,10;

  --league: #0a0a0a;
  --league-rgb: 10,10,10;

  --league-foreground: #ffffff;
  --league-foreground-rgb: 255,255,255;

  --game: #181818;
  --game-rgb: 24, 24, 24;

  --game-foreground: #ffffff;
  --game-foreground-rgb: 255,255,255;

  --button: #0a0a0a;
  --button-rgb: 10,10,10;

  --button-foreground: #ffffff;
  --button-foreground-rgb: 255,255,255;

  --input: #181818;
  --input-rgb: 10,10,10;

  --input-foreground: #ffffff;
  --input-foreground-rgb: 255,255,255;

  --warning: #f61a1a;
  --alert: #c09516;
  --success: #6da544;
}