.casino-content .game-tile {border: 1px solid #d2d454; margin-bottom: 20px;}
.casino-content .game-tile img{width: 100%;min-width: 217px; }
.casino-content .game-tile .game-button{position: relative; background-color: #a0a13d; color: white; width: 50%; font-style: bolder;}
.casino-content .game-tile .game-button:hover{background-color: #d2d454;}
.casino-content .game-tile .game-button.demo{ left: 0px; bottom: 0px;}
