<div
    #listagem
    infiniteScroll
    (scrolled)="exibirMais()"
    class="wall-container"
    [ngClass]="{
        'internal': !isHomeCassino,
        'virtual-container': isVirtualPage
    }"
>
    <ng-container *ngIf="showLoadingIndicator; else elseCasinoPage;">
        <ng-container *ngIf="!isVirtualPage; else elseSkeletonVirtual">
            <app-skeleton type="banner"/>
            <div class="bloco">
                <app-skeleton type="casino-filter-bar"/>
                <div class="skeleton-group">
                    <app-skeleton type="casino"/>
                    <app-skeleton type="casino"/>
                    <app-skeleton type="casino"/>
                    <app-skeleton type="casino"/>
                    <app-skeleton type="casino"/>
                    <app-skeleton type="casino"/>
                    <app-skeleton type="casino"/>
                    <app-skeleton type="provider"/>
                </div>
            </div>
        </ng-container>

        <ng-template #elseSkeletonVirtual>
            <app-skeleton type="banner"/>
            <div class="bloco">
                <div class="skeleton-group">
                    <app-skeleton type="virtuals" />
                </div>
            </div>
        </ng-template>
    </ng-container>

    <ng-template #elseCasinoPage>
        <!---->
        <ng-container *ngFor="let widget of widgets">
            <ng-container [ngSwitch]="widget.type">
                <app-banners pagina="cassino" *ngSwitchCase="'banner'"></app-banners>

                <ng-container *ngSwitchCase="'search'">
                    <div class="bloco filters" *ngIf="showFilterBox">
                        <app-wall-games-search
                            [games]="gamesCassino"
                            [featuredGames]="gamesDestaque"
                            [providers]="cassinoFornecedores"
                            [isCliente]="isCliente"
                            [isLoggedIn]="isLoggedIn"

                            (onFilterGames)="filterGames($event, categorySelected, true)"
                        />
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'tags'">
                    <div class="bloco filters" *ngIf="showFilterBox">
                        <app-submenu
                            [category]="subMenuCategory"
                            version="v2"
                            [menuItemSelected]="categorySelected"
                            (onClick)="filterGames(gameFornecedor, $event, false)"
                        />
                    </div>
                </ng-container>

                <ng-container *ngIf="isHomeCassino; else cassinoGameList">
                    <div class="wall-inner" *ngSwitchCase="'casino'">
                        <div class="bloco blocoGameList">
                            <app-wall-section
                                [container]="listagem"
                                [sectionId]="widget.id"
                                [title]="widget.name"
                                [icon]="widget.icon"
                                [itemsQty]="widget.items.length"
                                (onSeeAll)="filterGames($event, widget.id, true)"
                                (onLeft)="scrollLeft(widget.id)"
                                (onRight)="scrollRight(widget.id)"
                            />

                            <div class="games-container">
                                <ng-container *ngIf="widget.items.length; else elseWithoutGames">
                                    <div class="game-list game-list-inline" #scrollGames id="{{ widget.id }}-scroll" (scroll)="onScroll(widget.id)">
                                        <app-wall-game-card
                                            *ngFor="let game of widget.items"
                                            [game]="game"
                                            [blink]="blink"
                                            [isLoggedIn]="isLoggedIn"
                                            [isDemo]="isDemo"
                                            [isCliente]="isCliente"
                                            [icon]="widget.icon"
                                            cardType="inline"

                                        />
                                    </div>
                                </ng-container>
                                <ng-template #elseWithoutGames>
                                    <span class="empty-game-list">{{ 'geral.nenhumJogoDisponivel' | translate }}</span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #cassinoGameList>
                    <ng-container *ngSwitchCase="'result_filter'">
                        <div class="bloco">
                            <div class="titulo" *ngIf="gameList && gameList.length">
                                <app-back-page
                                    [text]="gameTitle | titlecase"
                                    [category]="categorySelected"
                                    [provider]="gameFornecedor"
                                ></app-back-page>
                            </div>
                            <div class="sem-evento empty-game-list" *ngIf="gameList && !gameList.length">
                                {{'geral.nenhumJogoEncontrado' | translate}}!
                            </div>
                            <div class="game-grid">
                                <app-wall-game-card
                                    *ngFor="let game of gameList | paginate: { itemsPerPage: qtdItens, currentPage: 1 }"
                                    [game]="game"
                                    [blink]="blink"
                                    [isLoggedIn]="isLoggedIn"
                                    [isDemo]="isDemo"
                                    [isCliente]="isCliente"
                                />
                            </div>
                        </div>
                    </ng-container>
                </ng-template>

                <ng-container *ngSwitchCase="'providers'">
                    <div class="bloco" *ngIf="!this.hideProviders">
                        <app-wall-section
                            sectionId="providers"
                            [title]="'geral.provedores' | translate"
                            [itemsQty]="cassinoFornecedores.length"
                            (onSeeAll)="openFiltroFornecedores()"
                            (onLeft)="scrollLeft('providers')"
                            (onRight)="scrollRight('providers')"
                        />

                        <div class="provider-container">
                            <div class="provider-list provider-list-inline" #scrollGames id="providers-scroll" (scroll)="onScroll('providers')">
                                <app-wall-provider-card
                                    [container]="listagem"
                                    *ngFor="let fornecedor of cassinoFornecedores"
                                    [data]="fornecedor"
                                    [selected]="gameFornecedor == fornecedor.gameFornecedor"
                                    (onClick)="filterGames($event, categorySelected, true)"
                                />
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

        <app-footer [container]="listagem"></app-footer>
    </ng-template>
</div>
