<div
    #listagem
    infiniteScroll
    (scrolled)="exibirMais()"
    class="wall-container"
    [ngClass]="{
        'internal': !isHomeCassino,
        'virtual-container': isVirtual
    }"
>
    <app-banners pagina="cassino"></app-banners>

    <div *ngIf="showLoadingIndicator" class="ssc-square" style="height: 300px"></div>

    <div *ngIf="showLoadingIndicator" class="wall-inner">
        <div class="bloco">
            <div class="ssc-square" style="height: 47px; width: 200px; margin-top: 20px"></div>
        </div>
        <div class="bloco" style="display: flex; flex-wrap: wrap;">
            <div class="ssc-square box-jogo" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
        </div>
    </div>

    <div class="bloco filters" *ngIf="showFilterBox">
        <app-wall-games-search
            [games]="gamesCassino"
            [featuredGames]="gamesDestaque"
            [providers]="cassinoFornecedores"
            [isCliente]="isCliente"
            [isLoggedIn]="isLoggedIn"
            (openModalLogin)="abrirModalLogin()"
            (onFilterGames)="filterGames($event, categorySelected, true)"
        />

        <app-submenu
            category="cassino"
            version="v2"
            [menuItemSelected]="categorySelected"
            (onClick)="filterGames(gameFornecedor, $event, false)"
        />
    </div>

    <div class="bloco" *ngIf="!this.isVirtual">
        <app-wall-section
            sectionId="providers"
            [title]="'geral.provedores' | translate"
            [itemsQty]="cassinoFornecedores.length"
            (onSeeAll)="openFiltroFornecedores()"
            (onLeft)="scrollLeft('providers')"
            (onRight)="scrollRight('providers')"
        />

        <div class="provider-container">
            <div class="provider-list provider-list-inline" #scrollGames id="providers-scroll" (scroll)="onScroll('providers')">
                <app-wall-provider-card
                    *ngFor="let fornecedor of cassinoFornecedores"
                    [data]="fornecedor"
                    [selected]="gameFornecedor == fornecedor.gameFornecedor"
                    (onClick)="filterGames($event, categorySelected, true)"
                />
            </div>
        </div>
    </div>

    <div class="wall-inner" *ngIf="!showLoadingIndicator && isHomeCassino; else cassinoGameList">
        <div class="bloco">
            <app-wall-section
                sectionId="destaques"
                [title]="'cassino.maisPopulares' | translate"
                [itemsQty]="gamesDestaque.length"
                (onSeeAll)="filterGames($event, 'destaques', true)"
                (onLeft)="scrollLeft('destaques')"
                (onRight)="scrollRight('destaques')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="destaques-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="destaques-scroll" (scroll)="onScroll('destaques')">
                    <app-wall-game-card
                        *ngFor="let game of gamesDestaque"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="destaques-fade-right" *ngIf="gamesDestaque.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <app-wall-section
                sectionId="crash"
                [title]="'cassino.crash' | translate"
                [itemsQty]="gamesCrash.length"
                (onSeeAll)="filterGames($event, 'crash', true)"
                (onLeft)="scrollLeft('crash')"
                (onRight)="scrollRight('crash')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="crash-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="crash-scroll" (scroll)="onScroll('crash')">
                    <app-wall-game-card
                        *ngFor="let game of gamesCrash"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="crash-fade-right" *ngIf="gamesCrash.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <app-wall-section
                sectionId="slot"
                [title]="'cassino.slot' | translate"
                [itemsQty]="gamesSlot.length"
                (onSeeAll)="filterGames($event, 'slot', true)"
                (onLeft)="scrollLeft('slot')"
                (onRight)="scrollRight('slot')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="slot-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="slot-scroll" (scroll)="onScroll('slot')">
                    <app-wall-game-card
                        *ngFor="let game of gamesSlot"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="slot-fade-right" *ngIf="gamesSlot.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <app-wall-section
                sectionId="roleta"
                [title]="'cassino.roleta' | translate"
                [itemsQty]="gamesRoleta.length"
                (onSeeAll)="filterGames($event, 'roleta', true)"
                (onLeft)="scrollLeft('roleta')"
                (onRight)="scrollRight('roleta')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="roleta-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="roleta-scroll" (scroll)="onScroll('roleta')">
                    <app-wall-game-card
                        *ngFor="let game of gamesRoleta"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="roleta-fade-right" *ngIf="gamesRoleta.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <app-wall-section
                sectionId="mesa"
                [title]="'cassino.mesa' | translate"
                [itemsQty]="gamesMesa.length"
                (onSeeAll)="filterGames($event, 'mesa', true)"
                (onLeft)="scrollLeft('mesa')"
                (onRight)="scrollRight('mesa')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="mesa-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="mesa-scroll" (scroll)="onScroll('mesa')">
                    <app-wall-game-card
                        *ngFor="let game of gamesMesa"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="mesa-fade-right" *ngIf="gamesMesa.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <app-wall-section
                sectionId="raspadinha"
                [title]="'cassino.raspadinha' | translate"
                [itemsQty]="gamesRaspadinha.length"
                (onSeeAll)="filterGames($event, 'raspadinha', true)"
                (onLeft)="scrollLeft('raspadinha')"
                (onRight)="scrollRight('raspadinha')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="raspadinha-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="raspadinha-scroll" (scroll)="onScroll('raspadinha')">
                    <app-wall-game-card
                        *ngFor="let game of gamesRaspadinha"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="raspadinha-fade-right" *ngIf="gamesRaspadinha.length > 2"></div>
            </div>
        </div>

        <div *ngIf="isSalsaCassino" class="bloco">
            <app-wall-section
                sectionId="bingo"
                title="Bingo"
                [itemsQty]="gamesBingo.length"
                (onSeeAll)="filterGames($event, 'bingo', true)"
                (onLeft)="scrollLeft('bingo')"
                (onRight)="scrollRight('bingo')"
            />

            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="bingo-fade-left"></div>
                <div class="game-list game-list-inline" #scrollGames id="bingo-scroll" (scroll)="onScroll('bingo')">
                    <app-wall-game-card
                        *ngFor="let game of gamesBingo"
                        [game]="game"
                        [blink]="blink"
                        [isLoggedIn]="isLoggedIn"
                        [isDemo]="isDemo"
                        [isCliente]="isCliente"
                        (openModalLogin)="abrirModalLogin()"
                    />
                </div>
                <div class="more-games-fade more-games-fade-right" id="bingo-fade-right" *ngIf="gamesBingo.length > 2"></div>
            </div>
        </div>
    </div>

    <app-footer [container]="listagem"></app-footer>

    <ng-template #cassinoGameList>
        <div class="bloco">
            <div class="titulo" *ngIf="gameList && gameList.length">
                {{gameTitle | titlecase}}
            </div>
            <div class="sem-evento" *ngIf="gameList && !gameList.length">
                {{'geral.nenhumJogoEncontrado' | translate}}!
            </div>
            <div class="game-grid">
                <app-wall-game-card
                    *ngFor="let game of gameList | paginate: { itemsPerPage: qtdItens, currentPage: 1 }"
                    [game]="game"
                    [blink]="blink"
                    [isLoggedIn]="isLoggedIn"
                    [isDemo]="isDemo"
                    [isCliente]="isCliente"
                    [isCardInline]="false"
                    (openModalLogin)="abrirModalLogin()"
                />
            </div>
        </div>
    </ng-template>
</div>
