<div [hidden]="campeonatoSelecionado">
    <div class="destaque-header">
        <span class="column-left">Destaques</span>
    </div>
    <div class="destaques">
        <div class="campeonato" *ngFor="let campeonato of campeonatosDestaques">
            <a (click)="goTo('/esportes/futebol/jogos', { campeonato: campeonato._id })">
                <i class="flag-icon flag-icon-{{campeonato.regiao_sigla}} flag-icon-squared"></i>
                <span class="campeonato-nome">{{campeonato.nome}}</span>
            </a>
        </div>
    </div>
</div>


<div class="back-button" [hidden]="!campeonatoSelecionado">
    <a (click)="back()">
        <i class="fa fa-step-backward"></i>
        Voltar
    </a>
</div>
