.destaques-container {
    width: 100%;
    /*position: fixed;*/
    overflow-x: auto !important;
}

.back {
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.destaques {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    height: 100px;
    background-color: #FFFFFF;
    align-items: center;
    overflow-x: auto !important;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
}

.campeonato {
    width: 70px;
    height: 95px;
    margin: 0 5px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 8px;
    cursor: pointer;
}

.campeonato-nome {

}

.campeonato i {
    margin-bottom: 2px;
    clip-path: circle(65%);
}

.destaques .flag-icon {
    font-size: 65px;
}
