.game-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    min-height: 125px;

    &--inline {
        width: 144px;
        min-height: 144px;
    }

    &--default {
        width: 100%;
        min-height: 144px;
    }

    &--filter .game-card__info {
        max-width: 140px;
    }
    
    &__image {
        position: relative;
        width: 100%;
        max-height: calc((100vw / 2) - 16px);
        max-width: 200px;
        height: auto !important;
        background-color: #00000050;
        height: min-content;
        border-radius: 10px;
        object-fit: cover;
    }

    &__info {
        font-size: 14px;
        font-weight: 600;

        width: 100%;
        color: var(--foreground-header);
        transition: .300s;
        padding: 0 4px;
        margin-top: 5px;

        display: flex;
        flex-direction: column;

        &--title {
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }

        &--provider {
            font-size: 13px;
            font-weight: 500;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
            opacity: 0.6;
        }
    }

    &:hover {
        .game-button {
            display: flex;
            border-radius: 5px;
        }

        .game-card__image {
            filter: brightness(20%);
            transition: 300ms;
        }

        .game-button--play,
        .game-button--demo {
            display: flex;
        }
    }
}

.game-button {
    display: none;
    width: 100%;
    height: calc(100% - 41px);
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    top: 0;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--demo {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: var(--header);
        border-color: var(--foreground-header);
        color: var(--foreground-header);
        width: 70%;
        height: 33px !important;
        margin-bottom: 10px;
        pointer-events: none;
    }

    &--play {
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: var(--header);
        background-color: var(--highlight);
        width: 70%;
        height: 33px !important;
        pointer-events: none;
    }

    &--lock {
        width: 60%;
        height: 35%;
        font-size: 50px;
        pointer-events: none;
    }

    &--lock i {
        color: var(--highlight);
    }
}

.game-button:hover .game-button--play,
.game-button:hover .game-button--demo {
    pointer-events: unset;
}

.internal .game-card {
    width: calc(50% - 5px) !important;
    margin-right: 0;
    margin-top: 0;
}

.game-card--inline{
    width: 90px;
    min-height: 90px;
}

.game-card--inline > .game-card__image{
    min-height: 90px;
}

@media only screen and (min-width: 336px){
    .game-card--inline{
        width: 100px;
        min-height: 100px;
    }

    .game-card--inline > .game-card__image{
        min-height: 100px;
    }
}

@media only screen and (min-width: 336px) and (max-width: 345px){
    .game-card--inline{
        width: 95px;
        min-height: 95px;
    }

    .game-card--inline > .game-card__image{
        min-height: 95px;
    }
}

@media only screen and (min-width: 412px){
    .game-card--inline{
        width: 120px;
        min-height: 120px;
    }

    .game-card--inline > .game-card__image{
        min-height: 120px;
    }
}

@media only screen and (min-width: 768px){
    .game-card--inline{
        width: 140px;
        min-height: 140px;
    }

    .game-card--inline > .game-card__image{
        min-height: 140px;
    }
}

@media only screen and (min-width: 912px){
    .game-card--inline{
        width: 165px;
        min-height: 165px;
    }

    .game-card--inline > .game-card__image{
        min-height: 165px;
    }
}

@media only screen and (min-width: 1920px){
    .game-card--inline{
        width: 170px;
        min-height: 170px;
    }

    .game-card--inline > .game-card__image{
        min-height: 170px;
    }
}