.game-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    min-height: 125px;

    &--inline {
        width: 144px;
        min-height: 144px;
    }

    &--default {
        width: calc((100vw / 2) - 16px);
        min-height: 144px;
    }

    &--filter .game-card__info {
        max-width: 140px;
    }
    
    &__image {
        position: relative;
        width: 100%;
        min-height: 144px;
        max-height: calc((100vw / 2) - 16px);
        max-width: 200px;
        height: auto !important;
        background-color: #00000050;
        height: min-content;
        border-radius: 5px;
        object-fit: cover;
    }

    &__info {
        font-size: 14px;
        font-weight: 600;

        width: 100%;
        color: var(--foreground-header);
        transition: .300s;
        padding: 0 4px;
        margin-top: 5px;

        display: flex;
        flex-direction: column;

        &--title {
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }

        &--provider {
            font-size: 13px;
            font-weight: 500;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
            opacity: 0.6;
        }
    }

    &:hover {
        .game-button {
            display: flex;
            border-radius: 5px;
        }

        .game-card__image {
            filter: brightness(20%);
            transition: 300ms;
        }

        .game-button--play,
        .game-button--demo {
            display: flex;
        }
    }
}

.game-button {
    display: none;
    width: 100%;
    height: calc(100% - 41px);
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    top: 0;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--demo {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: var(--header);
        border-color: var(--foreground-header);
        color: var(--foreground-header);
        width: 70%;
        height: 33px !important;
        margin-bottom: 10px;
        pointer-events: none;
    }

    &--play {
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: var(--header);
        background-color: var(--highlight);
        width: 70%;
        height: 33px !important;
        pointer-events: none;
    }

    &--lock {
        width: 60%;
        height: 35%;
        font-size: 50px;
        pointer-events: none;
    }

    &--lock i {
        color: var(--highlight);
    }
}

.game-button:hover .game-button--play,
.game-button:hover .game-button--demo {
    pointer-events: unset;
}

.internal .game-card {
    width: calc(50% - 5px) !important;
    margin-right: 0;
    margin-top: 0;
}

@media only screen and (min-width: 360px)  and (max-width: 390px) {
    .game-card {
        width: 100%;

        &--inline {
            min-width: 145px;
            max-width: 145px;
        }

        &__image {
            min-height: 145px;
            height: auto;
        }
    }

    .game-card--default > .game-card__image{
        max-width: 170px;
        min-height: 170px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 420px){
    .game-card--inline{
        width: 175px;
    }

    .game-card--inline > .game-card__image{
        min-height: 175px;
    }

    .game-card{
        &--default {
            width: 185px;
        }

        &__image{
            min-height: 185px;
        }
    }
}

@media only screen and (min-width: 425px){
    .game-card--inline{
        width: 180px;
    }

    .game-card--inline > .game-card__image{
        min-height: 180px;
    }

    .game-card{
        &--default {
            width: 195px;
        }

        &__image{
            min-height: 195px;
        }
    }
}

@media only screen and (min-width: 490px) and (max-width: 680px){
    .game-card--default {
        width: 152px;
    }

    .game-card--default > .game-card__image{
        min-height: 152px;
    }
}

@media only screen and (min-width: 687px) and (max-width: 850px){
    .game-card{
        &--default {
            width: 180px;
            min-height: 144px;
        }
    }

    .game-card--default > .game-card__image{
        min-height: 180px;
    }
    

    .game-card--filter .game-card__info {
        max-width: 200px;
    }
}

@media only screen and (min-width: 884px){
    .game-card {
        width: 100%;

        &--default {
            width: 190px;
        }

        &--inline {
            min-width: 200px;
            max-width: 200px;
        }
    }

    .game-card--default > .game-card__image {
        min-height: 190px;
        height: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .game-card {
        width: 100%;

        &--default {
            width: 100%;
            max-width: 190px;
        }

        &--filter {
            width: 100%;
        }

    }

    .game-card--inline{
        min-width: 180px;
        max-width: 180px;
    }

    .game-card--default > .game-card__image {
        min-height: 190px;
        height: auto;
    }

    .game-card--filter .game-card__info {
        max-width: 140px;
    }

    .game-button--demo,
    .game-button--play {
        height: 42px !important;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1190px) {
    .game-card--default{
        width: 100%;
        max-width: 200px;
    }

    .game-card--default > .game-card__image {
        min-height: 200px;
    }
}

@media only screen and (min-width: 1336px) {
    .game-card--default{
        width: 100%;
        max-width: 175px;
    }

    .game-card--default > .game-card__image {
        min-height: 175px;
        height: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .game-card--default{
        width: 100%;
        max-width: 188px;
    }

    .game-card--default > .game-card__image {
        min-height: 188px;
        height: auto;
    }
}

@media only screen and (min-width: 1600px) {
    .game-card--default{
        width: 100%;
        max-width: 200px;
    }

    .game-card--default > .game-card__image {
        min-height: 200px;
    }
}


@media only screen and (min-width: 2300px) {
    .game-card{
        &--default{
            width: 100%;
            max-width: 200px;
        }

        &--inline{
            min-width: 200px;
            max-width: 200px;
        }
    }

    .game-card--inline > .game-card__image{
        min-height: 200px;
    }

    .game-card--default > .game-card__image{
        min-height: 200px;
    }
}