#futebol-wrapper{
    display: flex;
    flex-direction: row;
    min-height: 800px;
}

.futebol-content{
    flex-grow: 1;
    padding: 0 0 0 255px;
}

@media only screen and (max-width: 668px) {
    .futebol-content{
        padding: 0;
    }
}
