#futebol-wrapper{
    display: flex;
    flex-direction: row;
}

.futebol-content{
    flex-grow: 1;
    padding: 20px 20px 20px 270px;
}

@media only screen and (max-width: 668px) {
    .futebol-content{
        padding: 20px 10px;
    }
}
