@import "skeleton-screen-css";

a {
     text-decoration: none;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

owl-carousel-o:hover .owl-theme .owl-nav [class*="owl-"] {
    opacity: 1;
}

.owl-theme .owl-nav [class*="owl-"] {
    opacity: 0;
    background: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    transition: all 200ms;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: var(--highlight);
    color: var(--foreground-highlight);
}

.owl-next {
    position: absolute;
    z-index: 999;
    top: 43px;
    right: 10px;
}

.owl-prev {
    position: absolute;
    z-index: 999;
    top: 43px;
    left: 10px;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(153, 153, 153, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(153, 153, 153, 153.5);
}

html {
    font-size: 12px;
    width: 100vw;
    height: 100vh;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    width: 100%
}

.base-container {
    display: flex;
}

.base-container main {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    /*max-height: calc(100vh - 132px);*/
}

/*.base-container main .sport {*/
/*    width: 100%;*/
/*    max-height: calc(100vh - 132px);*/
/*}*/

game {
    background-color: var(--header);
}

.overlay-container{
    display: contents;
}

#wbot-chat-container{
    display: contents;
}

#auth-layout #login {
    align-items: center;
    display: flex;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-modal {
    max-width: 150px;
    max-height: 60px;
}

#auth-layout #login .login-box {
    display: flex;
    justify-content: center
}

#auth-footer {
    position: fixed;
    bottom: 0;
    color: #fff;
}

#page-wrapper {
    margin-top: 46px;
}

#default-content {
    /*padding: 20px 15px 20px 15px;*/
    padding: 5px;
    height: calc(100vh - 92px);
    background-color: var(--background);
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.internal-container {
    padding: 20px 15px 20px 15px;
    min-height: 100%;
    background-color: var(--header);
}

.internal-container-out {
    padding: 25px 40px;
    min-height: 100%;
    background-color: var(--background);
}

.content-sports {
    width: 100%;
    color: var(--foreground-header);
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
}

.footer {
    line-height: 60px;
    text-align: center;
    height: 60px;
    background-color: #e1e2e4;
    width: 100%;
}

.btn-custom {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.btn-custom:hover {
    color: var(--foreground-highlight);
    border: 1px solid var(--foreground-highlight);
    background-color: var(--highlight);
}

.btn-custom:focus {
    box-shadow: 0 0 0 1px var(--highlight);
}

.btn:focus {
    box-shadow: none;
}


.btn-custom2 {
    border: 1px solid var(--highlight);
    color: var(--highlight);
}

.btn-custom2:hover {
    background: var(--highlight);
    color: var(--foreground-highlight);
}

.btn-custom2:focus {
    box-shadow: 0 0 0 1px var(--highlight);
}

.card {
    border: 1px solid #d7dfe3;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: #181818;
    border-radius: 4px;
    padding: 20px;
}

.content-header {
    margin-bottom: 15px;
}

.content-header h2 {
    color: var(--foreground-header);
    margin-bottom: 15px;
}

.btn-line {
    margin-top: 15px;
}

.circle-group {
    display: flex;
    flex-wrap: wrap;
}

.square-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.square {
    width: 50px;
    height: 50px;
    padding: 17px 0;
    text-align: center;
    background-color: whitesmoke;
    margin: 3px;
    cursor: pointer;
}

.square-group .active {
    background-color: var(--inputs-odds);
    color: #fff;
}

.square .content,
.circle .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bet-types {
    display: flex;
    flex-wrap: wrap;
}

.bet-types .active .circle,
.bet-types .active .price {
    background-color: var(--inputs-odds);
    font-weight: bolder;
    color: #fff;
}

.bet-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7px 7px 7px 0;
    flex-grow: 1;
}

.bet-type .price {
    background-color: whitesmoke;
    padding: 10px 15px;
}

.bet-type .circle {
    margin: 0 0 3px 0;
}

/* Início Bilhete Redesign */
.pre-bilhete {
    width: 270px;
    text-align: center;
    padding: 0;
    height: 100%;
    background-color: var(--sidebars);
    color: var(--foreground-sidebars);
}

.bilhete-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titulo {
    padding-bottom: 10px;
    color: var(--foreground-sidebars);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.acoes-bilhete {
    padding: 0 15px;
    font-weight: 400;
    font-size: 11px; /* ajuste fonte */
    line-height: 14px;
    text-align: left;
    margin: 10px 0;
}

.acoes-bilhete a {
    color: var(--foreground-sidebars);
    height: 15px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.acoes-bilhete a.disabled {
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    cursor: not-allowed;
}

#nenhum-jogo {
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    font-weight: 400;
    font-size: 11px; /* ajuste fonte */
    line-height: 12px;
}

#nenhum-jogo span {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.pre-bilhete-loteria {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
}

.div-jogos-selecionados {
    padding: 0 15px;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.div-jogos-selecionados h3 {
    color: var(--foreground-sidebars);
}

.div-jogos-selecionados h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

.div-jogos-selecionados h3::before {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: var(--highlight);
    top: 23px;
    left: 108px;
    position: relative;
}

.jogo-selecionado {
    padding: 15px 0;
    border-top: 1px dashed var(--highlight);
    text-align: left;
    position: relative;
}

.jogo-selecionado:first-of-type {
    border-top: none;
    padding-top: 0;
}

.horario {
    font-size: 0.9rem;
}

.jogo-selecionado > div:not(.remover-item) {
    color: var(--foreground-sidebars);
}

.jogo-selecionado .horario,
.jogo-selecionado .odd-bilhete .valor {
    color: var(--foreground-highlight);
}

.jogo-selecionado .odd-bilhete {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2px 0;
}

.div-jogos-selecionados .remover-item {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--highlight);
    font-size: 18px;
    cursor: pointer;
}

.jogo-selecionado-inner {
    padding-right: 20px;
}

.submit-buttons {
    padding: 0 15px 0 15px;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    margin-left: 5px;
    color: var(--foreground-inputs-odds);
}

.input-icon > input {
    padding-left: 30px;
}
/* Fim Bilhete Redesign */

/*.pre-bilhete {*/
/*    width: 270px;*/
/*    text-align: center;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*    background-color: var(--sidebars);*/
/*}*/

/*.pre-bilhete {*/
/*    overflow: auto;*/
/*    display: none;*/
/*    background-color: var(--sidebars);*/
/*    !* position: relative; *!*/
/*    width: 270px;*/
/*}*/

/*.pre-bilhete .form-row {*/
/*    margin-top: 12px;*/
/*}*/

.form-row select,
.form-row input {
    font-size: 1.5rem;
    height: 38px;
}

button {
    line-height: 27px;
}

/*.pre-bilhete .aposta-item {*/
/*    border: 1px solid #d7dfe3;*/
/*    background: #eef5f9;*/
/*    border-radius: 4px;*/
/*    padding: 10px 5px 10px 10px;*/
/*    margin-top: 15px;*/
/*}*/

/*.pre-bilhete .aposta-item .circle {*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    margin-bottom: 5px;*/
/*    margin-right: 5px;*/
/*}*/

/*.pre-bilhete .item-header {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    position: relative;*/
/*    padding-right: 22px;*/
/*}*/

/*.pre-bilhete .remover-palpite {*/
/*    font-size: 18px;*/
/*    color: red;*/
/*    position: absolute;*/
/*    right: 5px;*/
/*    top: -5px;*/
/*}*/

/*.pre-bilhete .item-header>div {*/
/*    flex-grow: 1;*/
/*    text-transform: capitalize;*/
/*}*/

/*.pre-bilhete .item-header>div label {*/
/*    margin-right: 3px;*/
/*}*/

/*.pre-bilhete .item-header>div span {*/
/*    font-weight: bold;*/
/*}*/

#fixed-bar-bilhete {
    padding: 5px;
    background: var(--sidebars);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    color: var(--foreground-sidebars);
    align-items: center;
}

#fixed-bar-bilhete.opened {
    top: 113px;
}

#fixed-bar-bilhete>div {
    flex-grow: 1;
}

#fixed-bar-bilhete>div>* {
    display: block;
    text-align: center;
}

#fixed-bar-bilhete>div label {
    font-size: 0.9rem;
    margin-bottom: 0;
}

#fixed-bar-bilhete>div span {
    font-weight: bold;
}

.pre-bilhete-mobile {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 15px;
    background: var(--sidebars);
    display: block;
    overflow-y: auto;
}

.fechar-pre-bilhete {
    right: 10px;
    top: 9px;
    padding: 10px;
    position: absolute;
    color: red !important;
}

.fechar-pre-bilhete i {
    font-size: 2rem;
}

.loteria-content {
    padding: 0;
}

.loteria-content .card {
    min-height: calc(100vh - 210px);
    border-radius: 0;
    border: none;
    padding-top: 0;
}

.loteria-content .content-body .content {
    display: flex;
}

/* Override JS Toast*/

.jq-toast-wrap {
    z-index: 100000 !important;
}

.form-control {
    font-size: 1.5rem;
    height: 38px !important;
}

.form-control::placeholder {
    color: var(--foreground-inputs-odds)
}

.btn {
    line-height: 27px;
    padding-left: 20px;
    padding-right: 20px;
}

.invalid-feedback {
    display: block;
}

.modal {
    z-index: 90002;
}

.modal-header, .modal-body, .modal-footer{
    background-color: var(--background);
    color: var(--foreground);
}

.modal-header {
    border-bottom: 1px solid var(--foreground);
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.modal-header i, .modal-header span {
    color: var(--foreground);
}

.modal-footer {
    border-top: 1px solid #3b3b3b;
}

.campeonato-header {
    /*text-transform: uppercase;*/
    padding: 0 10px;
    font-size: 0.9rem;
    /*border-bottom: 4px solid #0A0A09;*/
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--league);
    color: var(--foreground-league);
    padding: 5px 15px;
}

.campeonato-header>span {
    line-height: 29px;
}

.campeonato-header .flag-icon {
    width: 19px;
    height: 19px;
    position: absolute;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flag-icon {
    background-color: var(--highlight);
}

.cupom-ativo {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    margin: 0;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.action-buttons button, .action-buttons a {
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    padding-left: 14px;
}

.action-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-right: 7px;
}

.action-buttons button span {
    color: var(--highlight);
    font-size: 28px;
}

.tipo-apostas .nav {
    padding: 10px !important;
    justify-content: center !important;
}

.tipo-apostas .nav-pills .nav-item {
    max-width: 25%;
}

.tipo-apostas .nav-pills .nav-link.active,
.tipo-apostas .nav-pills .show>.nav-link {
    color: var(--foreground-inputs-odds);
    background-color: var(--inputs-odds);
}

.content-loteria {
    padding: 5px;
    overflow: auto;

    height: -webkit-fill-available;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-30 {
    margin: 30px;
}

.time-nome{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.datepicker-group i {
    color: var(--foreground-inputs-odds);
}


/* Large devices (desktops, 1025px and up) */

@media (min-width: 1025px) {
    #fixed-bar-bilhete {
        display: none
    }

    .fechar-pre-bilhete {
        display: none;
    }

    /*.pre-bilhete {*/
    /*    display: block;*/
    /*}*/

    /*.odds .odd {*/
    /*    width: 33.33%;*/
    /*}*/

    /*.odds .odd-enabled:hover {*/
    /*    background-color: var(--highlight);*/
    /*}*/

    /*.odds .odd-enabled:hover span {*/
    /*    color: var(--foreground-selected-odds) !important;*/
    /*}*/

    .loteria-content .add-palpite {
        margin-top: 24px;
    }

    .odds .odd-enabled:hover {
        background-color: var(--highlight);
        color: var(--foreground-highlight);
        border-radius: 2px;
    }

    .odds .odd-enabled:hover span {
        color: var(--foreground-highlight);
    }

    .hide-desktop {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #page-wrapper {
        margin-top: 97px;
    }

    #default-content {
        padding: 0;
        /*padding: 10px 15px 54px;*/
        height: calc(100vh - 105px);
    }

    .base-container main {
        max-width: 100%;
    }

    .loteria-content .kpre-bilhete {
        padding: 40px 15px 0;
        position: absolute !important;
        top: 0;
        height: 100% !important;
        width: 100% !important;
    }

    .odds .odd {
        margin-bottom: 5px;
        width: 50%;
    }

    .odds .odd:nth-of-type(1),
    .odds .odd:nth-of-type(2),
    .odds .odd:nth-of-type(3) {
        width: 33.33%;
    }

    .square-group {
        justify-content: center;
    }

    .add-palpite {
        display: block;
        width: 100%
    }

    .content-sports {
        padding: 0;
    }
}


/* Spinner */

.lds-ring {
    display: inline-block;
    position: fixed;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: -32px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--highlight);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--highlight) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {

    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.sem-evento {
    padding: 10px;
    font-size: 1.5rem;
}

.value-informations {
    text-transform: uppercase;
    color: var(--foreground-sidebars);
    margin: 20px 0;
}

.value-informations p {
    margin-bottom: 0.5rem;
}

.value-informations .valores {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.value-informations .valores button {
    padding: 0;
    width: 55px;
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
}

.value-informations .valores button:hover {
    color: var(--highlight);
    border: 1px solid var(--highlight);
}

.value-informations .valores button:focus {
    box-shadow: 0 0 0 1px var(--highlight);
}

.odd-disabled {
    cursor: not-allowed !important;
    opacity: .7;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('https://cdn.wee.bet/fonts/icomoon.eot?aeroyc');
    src: url('https://cdn.wee.bet/fonts/icomoon.eot?aeroyc#iefix') format('embedded-opentype'),
        url('https://cdn.wee.bet/fonts/icomoon.ttf?aeroyc') format('truetype'),
        url('https://cdn.wee.bet/fonts/icomoon.woff?aeroyc') format('woff'),
        url('https://cdn.wee.bet/fonts/icomoon.svg?aeroyc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ao-vivo:before {
    content: "\e901";
}

.icon-basquete:before {
    content: "\e902";
}

.icon-e-sports:before {
    content: "\e903";
}

.icon-futebol:before {
    content: "\e904";
}

.icon-futebol-americano:before {
    content: "\e905";
}

.icon-futsal:before {
    content: "\e906";
}

.icon-hoquei-no-gelo:before {
    content: "\e907";
}

.icon-luta:before {
    content: "\e908";
}

.icon-tenis:before {
    content: "\e909";
}

.icon-tenis-de-mesa:before {
    content: "\e90a";
}

.icon-volei:before {
    content: "\e90b";
}

/* Custom Checkbox */
.form-check-custom {
    font-size: 1.1rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    color: #1e282c;

}

.form-check-custom+.form-check-custom {
    margin-top: 1em;
}

.form-check-custom--disabled {
    color: #cacaca;
    cursor: not-allowed;
}

.form-check-input-custom {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    /* background-color: #1e282c; */
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: #1e282c;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #1e282c;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.form-check-input-custom::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--inputs-odds);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.form-check-input-custom:checked::before {
    transform: scale(1);
}

.form-check-input-custom:focus {
    outline: max(2px, 0.15em) solid #1e282c;
    outline-offset: max(2px, 0.15em);
}

.form-check-input-custom:disabled {
    --form-control-color: #cacaca;
    color: #cacaca;
    cursor: not-allowed;
}

input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    color: black;
    border: 1px solid var(--highlight);
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type="checkbox"]:before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background: var(--highlight);
    border-radius: 4px;
    opacity: 0;
}

input[type="checkbox"]:checked {
    color: white;
}

input[type="checkbox"]:checked:before {
    opacity: 1;
}

.wb-checkbox {
    text-align: left;
    color: var(--foreground-sidebars);
}

/* .form-check-style-1 {
    color: var(--foreground-inputs-odds);
}
.form-check-input-style-1{
    color: var(--foreground-inputs-odds);
    border-color: var(--foreground-inputs-odds);
    background-color: var(--foreground-inputs-odds);
}
.form-check-input-style-1::before{
    box-shadow: inset 1em 1em var(--inputs-odds);
}
.form-check-input-style-1:focus{
    outline: max(2px, 0.15em) solid var(--foreground-inputs-odds);
} */

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:focus-visible {
    -webkit-box-shadow: inset 0 0 0 30px var(--inputs-odds) !important;
    -webkit-text-fill-color: var(--foreground-inputs-odds);
}

input[type=text],
input[type=number],
input[type=password],
input[type=date],
input[currencymask],
select.form-control{
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    border: 1px solid var(--foreground-inputs-odds);
    border-radius: 5px;
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[currencymask]:focus,
select.form-control:focus {
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    border: 2px solid var(--highlight);
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

input.inverted {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background-color: var(--inputs-odds);
    border-radius: 5px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

 input.inverted:focus {
    color: var(--foreground-header);
    border: 1px solid var(--highlight);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

select.inverted-out,
textarea.inverted-out,
input.inverted-out {
    border: 0.5px solid var(--foreground-inputs-odds);
    color: var(--foreground-inputs-odds);
    background-color: var(--inputs-odds);
    border-radius: 5px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    padding: 10px 15px;
    font-size: 12px
}

select.inverted-out {
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%);
    background-position:
      calc(100% - 20px) calc(1em + 4px),
      calc(100% - 15px) calc(1em + 4px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    appearance: none;
}

input.inverted-out:focus {
    color: var(--foreground-inputs-odds);
    background-color: var(--inputs-odds);
    border: 1px solid var(--highlight);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

input.inverted-out:disabled, input.inverted-out:read-only {
    border-color: var(--foreground-inputs-odds);
    background: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    opacity: .5;
}

input.inverted-out::placeholder,
input.inverted-out::-moz-placeholder,
input.inverted-out::-webkit-input-placeholder {
    color: var(--foreground-inputs-odds) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--foreground-inputs-odds) !important;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

::placeholder {
    color: var(--foreground-inputs-odds)
}

::-webkit-input-placeholder { /* Chrome, Safari */
    text-transform: none;
    color: var(--foreground-inputs-odds)
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: none;
    color: var(--foreground-inputs-odds)
}

::-moz-placeholder {  /* Firefox 19+ */
    text-transform: none;
    color: var(--foreground-inputs-odds)
}

:-ms-input-placeholder {  /* IE */
    text-transform: none;
    color: var(--foreground-inputs-odds)
}

.campeonato-header .column-left, .column-left {
    flex-grow: 1;
    position: relative;
}

.campeonato-header .campeonato-nome {
    margin-left: 28px;
}

.campeonato-header .fa {
    float: right;
    line-height: 30px;
}

.campeonato {
    margin-bottom: 5px;
}

.jogo-selecionado {
    background: var(--selected-event);
    color: var(--foreground-selected-event) !important;
    cursor: auto;
}

.indentificacao {
    display: flex;
    height: 60px;
}

.data-hora {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    margin-right: 5px;
    background-color: var(--game);
    color: var(--foreground-game);
}

.indentificacao .nome {
    display: flex;
    flex-direction: column;
    background-color: var(--game);
    color: var(--foreground-game);
    flex-grow: 1;
    height: 60px;
    justify-content: center;
    padding: 0 10px;
    font-size: 11px; /* ajuste fonte */
    margin-right: 5px;
    overflow: hidden;
    width: 30%;
}

.odds {
    display: flex;
    align-items: stretch;
    height: 60px;
    padding: 7.5px;
    background-color: var(--game);
    color: var(--foreground-game);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.odds::-webkit-scrollbar {
    display: none;
}

.odd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 80px;
    margin-left: 5px;
    border-radius: 2px;
}

.odd:first-of-type {
    margin-left: 0;
}

.odds .inner-odd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    font-weight: 400;
    font-size: 11px; /* ajuste fonte */
    line-height: 14px;
    border-radius: 2px;
}

.odds .selecionado {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.odds .selecionado span {
    color: var(--foreground-highlight) !important;
}

.odd .nome-odd,
.odd .valor-odd {
    color: var(--foreground-inputs-odds);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.odds-coluna {
    padding: 5px;
}

.mais-opcoes {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 50px;
    height: 60px;
    padding: 7.5px;
    text-align: right;
    background-color: var(--game);
    color: var(--foreground-game);
}

.mais-opcoes a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds) !important;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px; /* ajuste fonte */
    flex: 1;
    width: 35px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pointer {
    cursor: pointer;
}

.fs-8px {
    font-size: 8px;
}

.fs-10px {
    font-size: 11px; /* ajuste fonte */
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.fs-16px {
    font-size: 16px;
}

.fs-18px {
    font-size: 18px;
}

.fs-20px {
    font-size: 20px;
}

.fs-22px {
    font-size: 22px;
}

.fs-24px {
    font-size: 24px;
}

.fs-28px {
    font-size: 28px;
}

.fs-32px {
    font-size: 32px;
}

.fs-36px {
    font-size: 36px;
}

.fs-38px {
    font-size: 38px;
}

.fw-150 {
    font-weight: 150;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.w-130 {
    width: 130px;
}

.w-150 {
    width: 150px;
}

.modal-h-350 .modal-body {
    height: 350px;
}

.modal-500 .modal-dialog {
    max-width: 500px;
}

.modal-550 .modal-dialog {
    max-width: 550px;
}

.modal-600 .modal-dialog {
    max-width: 600px;
}

.modal-700 .modal-dialog {
    max-width: 700px;
}

.modal-537 .modal-dialog {
    max-width: 537px;
}

.modal-750 .modal-dialog {
    max-width: 750px;
}

.btn.disabled, .btn:disabled {
    opacity: 0.3;
}

.show-mobile {
    display: none !important;
}

.blink_me {
    animation: blinkerMe 1s linear infinite;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.input-md {
    position: relative;
}

.input-md input {
    padding: 25px 15px 15px;
}

.input-md label {
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
    padding: 0 5px;
    color: var(--foreground-inputs-odds);

    transition: top .3s;
    cursor: text;
}

.input-md input:not(:placeholder-shown) ~ label,
.input-md select ~ label,
.input-md input:focus ~ label {
    top: 2px;
}

.input-md label.disabled {
    background: transparent !important;
}

.btn-close{
    background: #00000000;
}

.btn-close i {
    font-size: 22px;
    color: var(--highlight);
}

.showPassword {
    position: absolute;
    top: calc(50% - 16px);;
    right: 0;
    color: var(--foreground-inputs-odds);
    cursor: pointer;
    padding: 10px;
}

.nome-time{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

ngb-datepicker-month {
    background-color: var(--header);
    color: var(--foreground-header);
}

@keyframes blinkerMe {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1024px) {

    .modal-login{
        z-index: 90002 !important;
    }

    .modal-cadastro-cliente {
        z-index: 90002 !important;
    }

    *::-webkit-scrollbar{
        display: none;
    }
    .odds {
        padding: 5px 15px;
    }

    .data-hora {
        margin-right: 0;
        padding-right: 5px;
    }

    .indentificacao .nome {
        padding-left: 0px;
    }

    .content-header h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .content-header {
        margin-bottom: 0;
    }

    .no-mobile, .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    .modal-dialog {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .modal-700 .modal-dialog {
        max-width: 100%;
    }

    .modal-dialog .modal-content {
        border: 0;
        height: inherit;
        background: var(--background);
        color: var(--foreground);
    }

    .modal-cadastro-cliente .modal-dialog,
    .modal-login .modal-dialog {
        margin: 0 auto;
        height: auto;
    }

    .modal-pop-up .modal-content {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .w-130 {
        width: auto;
    }

    .pre-bilhete {
        height: 0;
        position: absolute;
        overflow: hidden;
    }

    .indentificacao {
        height: auto;
        flex-wrap: wrap;
        background: var(--game);
    }

    .indentificacao a.scroll-button {
        display: none;
    }

    .titulo-bilhete {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .titulo-bilhete .titulo {
        padding: 10px;
        color: var(--foreground);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }

    .fechar-pre-bilhete {
        color: var(--highlight) !important;
        position: relative;
        cursor: pointer;
        left: 0;
        top: 0;
    }

    .botao-direito {
        color: var(--highlight) !important;
        position: relative;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 45px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-esquerdo {
        color: var(--highlight) !important;
        position: relative;
        cursor: pointer;
        right: 0;
        top: 0;
        width: 45px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-w-100 {
        width: 100%;
    }

    .fechar-pre-bilhete i {
        font-size: 22px;
    }

    .cupom-ativo {
        font-family: inherit;
    }

    .form-control, .btn {
        height: 44px !important;
        line-height: 44px;
        padding-top: 0;
        padding-bottom: 0;
    }

    select.form-control {
        line-height: normal;
    }

    .internal-container-out {
        padding: 10px;
    }

    .odd {
        min-width: 100px;
    }

    .mobile-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        margin-top: 1em;
    }

    .titulo{
        padding: 0;
    }
}

.custom-modal-force-password .modal-dialog > .modal-content {
    height: auto; 
}

.d-none-alterar-senha .botao-esquerdo{
    display: none;
}

.d-block-header-alterar-senha .mobile-modal-header{
    display: block;
}

.tooltip-custom .tooltip-inner {
    font-size: 14px;
}

/* Compatibilidade bootstrap */
.text-right {
    text-align: right !important;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}

.ml-3, .mx-3 {
    margin-left: 1rem !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .modal-cadastro-cliente .modal-dialog,
    .modal-login .modal-dialog {
        max-width: 100%;
        height: 100%;
        margin: 0;
    }
}

.webpush-swal2-popup .webpush-swal2-modal .webpush-swal2-show {
    background: none !important;
}

#ex-doccheck-dialog {
    z-index: 90003 !important;
}
