/* You can add global styles to this file, and also import other style files */
:root{
    --header: #002458;
    --foreground-header: #b1c5e0;
    --sidebar-right:#011e46;
    --foreground-sidebar-right: #fff;
    --sidebar-left: #011e46;
    --foreground-sidebar-left: #fff;
    --highlight: yellow;
    --foreground-highlight: #aec3d8;
    --odds: #046eef;
    --foreground-odds: #fff;
}

html{
    position: relative;
    font-size: 12px;
}

html, body{
    height: 100%;
    color: #455a64;
    overflow: hidden;
}

header{
    background-color: var(--header);
}

#auth-layout{
    height: 100%;
}

#auth-layout #login{
    align-items: center;
    display: flex;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#auth-layout #login .login-box{
    display: flex;
    justify-content: center
}

#auth-footer{
    position: fixed;
    bottom: 0;
    color: #fff;
}

#page-wrapper{
    margin-top: 69px;
}

#default-content {
    padding: 20px 15px 20px 270px;
    height: calc(100vh - 67px);
}

.footer {
    line-height: 60px;
    text-align: center;
    height: 60px;
    background-color: #e1e2e4;
    width: 100%;
}

.btn-custom{
    background-color: var(--odds);
    color: #fff;
}

.card{
    border: 1px solid #d7dfe3;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 4px;
    padding: 20px;
}

.content-header{
    margin-bottom: 30px;
}

.content-header h2{
    color: var(--sidebar-right);
    margin-bottom: 15px;
}

.btn-line{
    margin-top: 24px;
}

.circle-group{
    display: flex;
    flex-wrap: wrap;
}

.circle{
    border: 1px solid #455a64;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-right: 10px;
}

.circle .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Override JS Toast*/
.jq-toast-wrap{
    z-index: 9001!important;
}


.form-control{
    font-size: 1.5rem;
    height: 38px!important;
}

.btn{
    line-height: 27px;
    padding-left: 20px;
    padding-right: 20px;
}

.invalid-feedback{
    display: block;
}

.modal{
    z-index: 9002;
}

@media only screen and (max-width: 668px) {
    #page-wrapper{
        margin-top: 113px;
    }

    #default-content{
        padding: 10px 15px;
        height: calc(100vh - 111px);
    }
}

/* Spinner */
.lds-ring {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--sidebar-right);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--sidebar-right) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


