<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aposta</h4>
    <div class="action-buttons">
        <button type="button" (click)="printTicket()">
            <i class="fa fa-print"></i>
        </button>
        <button *ngIf="compartilhamentoPermitido()" type="button" (click)="shareTicket()">
            <i class="fa fa-share-alt"></i>
        </button>
        <button type="button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body cupom-ativo">
    <app-bilhete-acumuladao [aposta]="aposta" *ngIf="aposta"></app-bilhete-acumuladao>
</div>
