.jogos-aovivo {
    padding: 0 10px;
}

.widgets-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px 0;
    align-items: center;
    text-align: left;
    font-size: 18px;
    color: var(--foreground);
    flex-grow: 1;
}

.widgets-header a {
    font-weight: 400;
    font-size: 12px;
    color: var(--highlight);
}

.back {
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    color: initial;
}

.justify-center {
    justify-content: center;
}

.justify-normal {
    justify-content: normal;
}

.loading-listagem .slider {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.loading-listagem .slider .title {
    width: 300px;
    height: 27px;
    margin: 10px 0;
}

.loading-listagem .slider .itens {
    display: flex;
    overflow: hidden;
    gap: 10px;
}

.loading-listagem .slider .itens div {
    min-width: 340px;
    height: 170px;
    border-radius: 5px;
}

.campeonato {}

.campeonato .header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: var(--game);
    color: var(--foreground-game);
    margin-bottom: 5px;
}

.campeonato .header .flag-icon {
    width: 19px;
    height: 19px;
    clip-path: circle();
    border-radius: 100%;
}

.campeonato .jogos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campeonato .jogos .jogo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.campeonato .jogos .jogo .tempo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--game);
    color: var(--foreground-game);
    height: 64px;
    padding: 0 20px;
}

.campeonato .jogos .jogo .tempo-box .aovivo-label {
    background-color: red;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 10px;
}

.campeonato .jogos .jogo .times-placar {
    display: flex;
    flex-direction: column;
    height: 64px;
    flex: 1;
    background-color: var(--game);
    color: var(--foreground-game);
    justify-content: center;
    padding: 0 20px;
    gap: 5px;
}

.campeonato .jogos .jogo .times-placar .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campeonato .jogos .jogo .times-placar .time .escudo-img {
    margin-right: 10px;
}

.campeonato .jogos .jogo .cotacoes {
    display: flex;
    align-items: stretch;
    height: 64px;
    justify-content: center;
    background-color: var(--game);
    color: var(--foreground-game);
    padding: 5px 20px;
    gap: 5px;
}

.campeonato .jogos .jogo .cotacoes .cotacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    padding: 0 20px;
    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    cursor: pointer;
}

.campeonato .jogos .jogo .cotacoes .cotacao.selecionado {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.campeonato .jogos .jogo .cotacoes .cotacao.disabled {
    cursor: not-allowed;
}

.campeonato .jogos .jogo .cotacoes .cotacao.disabled * {
    opacity: 0.3;
}


@media only screen and (max-width: 1024px) {

    .campeonato .jogos .jogo {
        background-color: var(--game);
        flex-wrap: wrap;
    }

    .campeonato .jogos .jogo .cotacoes {
        width: 100%;
        padding: 5px 10px 10px;
    }

    .campeonato .jogos .jogo .tempo-box,
    .campeonato .jogos .jogo .times-placar {
        padding: 0 10px;
    }

    .campeonato .jogos .jogo .cotacoes .cotacao {
        width: auto;
        min-width: auto;
        flex: 1;
    }
}

@media (min-width: 1025px) {}

@media (max-width: 385px) {}
