<div #listagem infiniteScroll (scrolled)="exibirMais()" class="wall-container" [ngClass]="{'internal': !isHomeCassino || term || termFornecedor}">
    <app-banners pagina="cassino" [showLoadingIndicator]="showLoadingIndicator"></app-banners>

    <div *ngIf="showLoadingIndicator" class="ssc-square" style="height: 300px"></div>

    <div *ngIf="showLoadingIndicator" class="wall-inner">
        <div class="bloco">
            <div class="ssc-square" style="height: 47px; width: 200px; margin-top: 20px"></div>
        </div>
        <div class="bloco" style="display: flex; flex-wrap: wrap;">
            <div class="ssc-square box-jogo" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
            <div class="ssc-square box-jogo hide-mobile" ></div>
        </div>
    </div>

    <div class="filter" *ngIf="!showLoadingIndicator">
        <div class="search-box" >
            <i class="fa fa-search"></i>
            <input id="limparCampoSearch" type="text"
                   class="form-control inverted-out"
                   placeholder="Digite o nome de um jogo"
                   (keyup)="search($event)"
            >
            <i class="fa fa-close" (click)="limparPesquisa()" *ngIf="term"></i>
        </div>
        <ng-container *ngIf="!isMobile">
            <div class="search-box box-web">
                <select [(ngModel)]="termFornecedor" (change)="filtrarJogos()" class="inverted-out form-control">
                    <option value="" selected>Todos os Provedores</option>
                    <option value="{{fornecedor.gameFornecedor}}" *ngFor="let fornecedor of filtroCassinoFornecedores">
                        {{fornecedor.gameFornecedorExibicao}}
                    </option>
                </select>
            </div>
        </ng-container>
        <ng-container *ngIf="isMobile">
            <div class="search-box-mobile">
                <a (click)="openFiltroFornecedores()"><i class="fa fa-filter" aria-hidden="true"></i></a>
            </div>
        </ng-container>
    </div>
    <div class="wall-inner" *ngIf="!this.term && !this.termFornecedor && !showLoadingIndicator && isHomeCassino; else cassinoGameList">

        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">{{'cassino.maisPopulares' | translate}}</div>
            </div>
            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="destaques-fade-left"></div>
                <div class="scroll-button scroll-left disabled-scroll-button" id="destaques-left"
                     (click)="scrollLeft('destaques')" *ngIf="gamesDestaque.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="game-list game-list-inline-destaque" #scrollGames id="destaques-scroll" (scroll)="onScroll('destaques')">
                    <div class="game-tile game-tile-inline-destaque" *ngFor="let game of gamesDestaque">
                        <ng-container>
                            <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                        </ng-container>
                        <div class="logo-game-background"></div>
                        <div class="logo-game">
                            <img loading="lazy" class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                        </div>
                        <div class="game-tile-buttons">
                            <ng-container *ngIf="!isDemo">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                <ng-container *ngIf="isLoggedIn && isCliente">
                                    <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isDemo">
                                <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                    <a *ngIf="game.gameDemo"
                                       [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="game.fornecedor == 'spribe'">
                                    <ng-container *ngIf="isLoggedIn">
                                        <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                           class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoggedIn">
                                        <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                </ng-container>
                                <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                    <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="destaques-right"
                     (click)="scrollRight('destaques')" *ngIf="gamesDestaque.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="more-games-fade more-games-fade-right" id="destaques-fade-right" *ngIf="gamesDestaque.length > 2"></div>
            </div>
        </div>


        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">{{'cassino.roleta' | translate}}</div>
                <div class="ver-todos" *ngIf="gamesRoleta.length > 5">
                    <a [routerLink]="['/casino/cl/wall-live/roleta']">
                        {{'geral.verTodos' | translate}} <i class="fa fa-solid fa-angle-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="roleta-fade-left"></div>
                <div class="scroll-button scroll-left disabled-scroll-button" id="roleta-left"
                     (click)="scrollLeft('roleta')" *ngIf="gamesRoleta.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="game-list game-list-inline" #scrollGames id="roleta-scroll" (scroll)="onScroll('roleta')">
                    <div class="game-tile game-tile-inline" *ngFor="let game of gamesRoleta">
                        <ng-container>
                            <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                        </ng-container>
                        <div class="logo-game-background"></div>
                        <div class="logo-game">
                            <img loading="lazy" class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                        </div>
                        <div class="game-tile-buttons">
                            <ng-container *ngIf="!isDemo">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                <ng-container *ngIf="isLoggedIn && isCliente">
                                    <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isDemo">
                                <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                    <a *ngIf="game.gameDemo"
                                       [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="game.fornecedor == 'spribe'">
                                    <ng-container *ngIf="isLoggedIn">
                                        <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                           class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoggedIn">
                                        <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                </ng-container>
                                <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                    <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="roleta-right"
                     (click)="scrollRight('roleta')" *ngIf="gamesRoleta.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="more-games-fade more-games-fade-right" id="roleta-fade-right" *ngIf="gamesRoleta.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">Blackjack</div>
                <div class="ver-todos" *ngIf="gamesBlackjack.length > 5">
                    <a [routerLink]="['/casino/cl/wall-live/blackjack']">
                        {{'geral.verTodos' | translate}} <i class="fa fa-solid fa-angle-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="blackjack-fade-left"></div>
                <div class="scroll-button scroll-left disabled-scroll-button" id="blackjack-left"
                     (click)="scrollLeft('blackjack')" *ngIf="gamesBlackjack.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="game-list game-list-inline" #scrollGames id="blackjack-scroll" (scroll)="onScroll('blackjack')">
                    <div class="game-tile game-tile-inline" *ngFor="let game of gamesBlackjack">
                        <ng-container>
                            <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                        </ng-container>
                        <div class="logo-game-background"></div>
                        <div class="logo-game">
                            <img loading="lazy" class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                        </div>
                        <div class="game-tile-buttons">
                            <ng-container *ngIf="!isDemo">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                <ng-container *ngIf="isLoggedIn && isCliente">
                                    <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isDemo">
                                <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                    <a *ngIf="game.gameDemo"
                                       [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="game.fornecedor == 'spribe'">
                                    <ng-container *ngIf="isLoggedIn">
                                        <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                           class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoggedIn">
                                        <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                </ng-container>
                                <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                    <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="blackjack-right"
                     (click)="scrollRight('blackjack')" *ngIf="gamesBlackjack.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="more-games-fade more-games-fade-right" id="blackjack-fade-right" *ngIf="gamesBlackjack.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">Game Show</div>
                <div class="ver-todos" *ngIf="gamesGameshow.length > 5">
                    <a [routerLink]="['/casino/cl/wall-live/gameshow']">
                        {{'geral.verTodos' | translate}} <i class="fa fa-solid fa-angle-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="gameshow-fade-left"></div>
                <div class="scroll-button scroll-left disabled-scroll-button" id="gameshow-left"
                     (click)="scrollLeft('gameshow')" *ngIf="gamesGameshow.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="game-list game-list-inline" #scrollGames id="gameshow-scroll" (scroll)="onScroll('gameshow')">
                    <div class="game-tile game-tile-inline" *ngFor="let game of gamesGameshow">
                        <ng-container>
                            <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                        </ng-container>
                        <div class="logo-game-background"></div>
                        <div class="logo-game">
                            <img loading="lazy" class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                        </div>
                        <div class="game-tile-buttons">
                            <ng-container *ngIf="!isDemo">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                <ng-container *ngIf="isLoggedIn && isCliente">
                                    <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isDemo">
                                <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                    <a *ngIf="game.gameDemo"
                                       [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="game.fornecedor == 'spribe'">
                                    <ng-container *ngIf="isLoggedIn">
                                        <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                           class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoggedIn">
                                        <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                </ng-container>
                                <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                    <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="gameshow-right"
                     (click)="scrollRight('gameshow')" *ngIf="gamesGameshow.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="more-games-fade more-games-fade-right" id="gameshow-fade-right" *ngIf="gamesGameshow.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">Baccarat</div>
                <div class="ver-todos" *ngIf="gamesBaccarat.length > 5">
                    <a [routerLink]="['/casino/cl/wall-live/baccarat']">
                        {{'geral.verTodos' | translate}} <i class="fa fa-solid fa-angle-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="baccarat-fade-left"></div>
                <div class="scroll-button scroll-left disabled-scroll-button" id="baccarat-left"
                     (click)="scrollLeft('baccarat')" *ngIf="gamesBaccarat.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="game-list game-list-inline" #scrollGames id="baccarat-scroll" (scroll)="onScroll('baccarat')">
                    <div class="game-tile game-tile-inline" *ngFor="let game of gamesBaccarat">
                        <ng-container>
                            <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                        </ng-container>
                        <div class="logo-game-background"></div>
                        <div class="logo-game">
                            <img loading="lazy" class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                        </div>
                        <div class="game-tile-buttons">
                            <ng-container *ngIf="!isDemo">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                <ng-container *ngIf="isLoggedIn && isCliente">
                                    <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isDemo">
                                <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                    <a *ngIf="game.gameDemo"
                                       [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="game.fornecedor == 'spribe'">
                                    <ng-container *ngIf="isLoggedIn">
                                        <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                           class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoggedIn">
                                        <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                </ng-container>
                                <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                    <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="baccarat-right"
                     (click)="scrollRight('baccarat')" *ngIf="gamesBaccarat.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="more-games-fade more-games-fade-right" id="baccarat-fade-right" *ngIf="gamesBaccarat.length > 2"></div>
            </div>
        </div>

        <div class="bloco">
            <div class="bloco-header">
                <div class="titulo">Poker</div>
                <div class="ver-todos" *ngIf="gamesPoker.length > 5">
                    <a [routerLink]="['/casino/cl/wall-live/poker']">
                        {{'geral.verTodos' | translate}} <i class="fa fa-solid fa-angle-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="games-container">
                <div class="more-games-fade more-games-fade-left" id="poker-fade-left"></div>
                <div class="scroll-button scroll-left disabled-scroll-button" id="poker-left"
                     (click)="scrollLeft('poker')" *ngIf="gamesPoker.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="game-list game-list-inline" #scrollGames id="poker-scroll" (scroll)="onScroll('poker')">
                    <div class="game-tile game-tile-inline" *ngFor="let game of gamesPoker">
                        <ng-container>
                            <img loading="lazy" title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                        </ng-container>
                        <div class="logo-game-background"></div>
                        <div class="logo-game">
                            <img loading="lazy" class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                        </div>
                        <div class="game-tile-buttons">
                            <ng-container *ngIf="!isDemo">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                <ng-container *ngIf="isLoggedIn && isCliente">
                                    <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isDemo">
                                <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                    <a *ngIf="game.gameDemo"
                                       [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="game.fornecedor == 'spribe'">
                                    <ng-container *ngIf="isLoggedIn">
                                        <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                           class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                    <ng-container *ngIf="!isLoggedIn">
                                        <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                    </ng-container>
                                </ng-container>
                                <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                    <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="scroll-button scroll-right enabled-scroll-button" id="poker-right"
                     (click)="scrollRight('poker')" *ngIf="gamesPoker.length > 5 && !isMobile">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="more-games-fade more-games-fade-right" id="poker-fade-right" *ngIf="gamesPoker.length > 2"></div>
            </div>
        </div>
    </div>
    <app-footer [container]="listagem"></app-footer>

    <ng-template #cassinoGameList>
        <div class="bloco">
            <div class="titulo" *ngIf="gameList && gameList.length">
                {{gameTitle | titlecase}}
            </div>
            <div class="sem-evento" *ngIf="gameList && !gameList.length">
                {{'geral.nenhumJogoEncontrado' | translate}}!
            </div>
            <div class="game-list">
                <div class="game-tile" *ngFor="let game of gameList | paginate: { itemsPerPage: qtdItens, currentPage: 1 }">
                    <ng-container>
                        <img title="{{game.gameName}}" src="https://cdn.wee.bet/img/cassino/{{game.fornecedor}}/{{game.gameID}}.png">
                    </ng-container>
                    <div class="logo-game-background"></div>
                    <div class="logo-game">
                        <img class="logo" src="https://cdn.wee.bet/img/cassino/logos/{{game.fornecedor}}.png">
                    </div>
                    <div class="game-tile-buttons">
                        <ng-container *ngIf="!isDemo">
                            <a *ngIf="game.gameDemo"
                               [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                               class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                            <ng-container *ngIf="isLoggedIn && isCliente">
                                <a *ngIf="isCliente" [routerLink]="['/casino/' + blink + '/play/REAL',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                            </ng-container>
                            <ng-container *ngIf="!isLoggedIn">
                                <a (click)="abrirModalLogin()" class="btn btn-xs game-button-play">{{'geral.jogar' | translate}}</a>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="isDemo">
                            <ng-container *ngIf="game.fornecedor == 'pragmatic' || game.fornecedor == 'salsa'">
                                <a *ngIf="game.gameDemo"
                                   [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                   class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                            </ng-container>
                            <ng-container *ngIf="game.fornecedor == 'spribe'">
                                <ng-container *ngIf="isLoggedIn">
                                    <a [routerLink]="['/casino/' + blink + '/play/DEMO',game.gameID,game.fornecedor]"
                                       class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="!isLoggedIn">
                                    <a (click)="abrirModalLogin()" class="btn btn-xs game-button-demo">{{'geral.demo' | translate}}</a>
                                </ng-container>
                            </ng-container>
                            <ng-container  *ngIf="game.fornecedor !== 'pragmatic' && game.fornecedor !== 'spribe' && game.fornecedor !== 'salsa'">
                                <a class="btn btn-xs game-button-lock"> <i class="fa fa-lock gameBloqueado"></i></a>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #fornecedorModal let-modal>
    <div class="modal-header">
        <h4>Fornecedores</h4>
        <a type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="modal-body-content">
            <div class="search-box search-fornecedores">
                <i class="fa fa-search"></i>
                <input type="text" [(ngModel)]="termFornecedorMobile"
                       class="form-control inverted-out"
                       placeholder="Pesquisar Fornecedor"
                       (keyup)="filtrarFornecedor()"
                >
                <i class="fa fa-close" (click)="limparPesquisa()" *ngIf="termFornecedorMobile"></i>
            </div>
            <div class="fornecedores-menu">
                <ul>
                    <li class="fornecedor">
                        <div class="fornecedor-nome" style="margin-left: 0">
                            <span><a (click)="filtrarJogos('todos')">Todos os Fornecedores</a></span>
                        </div>
                    </li>
                    <ng-container *ngFor="let fornecedor of cassinoFornecedores">
                        <li class="fornecedor">
                            <div class="fornecedor-imagem">
                                <img src="https://cdn.wee.bet/img/cassino/logos/{{fornecedor.gameFornecedor.toLowerCase()}}.png">
                            </div>
                            <div class="fornecedor-nome">
                            <span>
                                <a (click)="filtrarJogos(fornecedor.gameFornecedor)">
                                 {{fornecedor.gameFornecedorExibicao}}
                                </a>
                            </span>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</ng-template>
