.modal-header {
    border-bottom-color: var(--foreground);
    padding: 20px 35px;
}

.modal-body {
    text-align: center;
    padding: 40px 130px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 100%;
    margin-right: 10px;
}









