<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>

    <a type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('')">
        <img src="/assets/images/close.svg" alt="fechar" width="15">
    </a>
</div>
<div class="modal-body">
    <p>{{msg}}</p>

    <div class="actions">
        <button type="button" class="btn btn-custom2" (click)="activeModal.dismiss('')" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-custom" (click)="activeModal.close('')">Sim</button>
    </div>
</div>
