<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-he">
                <h3 class="modal-title">{{ message }}</h3>
            </div>
            <div class="modal-body-custom">
                <ng-container>
                    <p>Você atingiu o limite de perdas permitido. Por favor, aguarde o início do próximo ciclo para voltar a realizar suas apostas.</p>
                </ng-container>
            </div>
            <div class="modal-footer-he">
                <button type="button" class="btn btn-custom btn-block btn-cadastrar" (click)="back()">Fechar</button>
            </div>
        </div>
    </div>
</div>
