<div id="default-content">
    <div class="content-body">
        <div class="content">
            <ng-container *ngIf="submitting">
                <div style="height: 149px">
                    <app-spinner class="spinner"></app-spinner>
                </div>
            </ng-container>
            <ng-container *ngIf="!submitting">
                <div class="row">
                    <div class="col col-md-12">
                        <h2>{{'ativacaoEmail.ativacaoDeCadastro' | translate}}</h2>
                        <span>{{'ativacaoEmail.mensagemAtivacao' | translate}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12">
                        <div style="margin-top: 20px">
                            <span *ngIf="!botaoReenviar">{{'ativacaoEmail.reenvioDisponivelEm' | translate:{'cronometro': cronometro} }}</span>
                            <button *ngIf="botaoReenviar" class="btn btn-custom btn-xs" type="submit"
                                    (click)="reenviarLinkAtivacao()">
                                <i class="fa fa-share"></i>
                                {{'ativacaoEmail.reenviaMensagem' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </ng-container>
        </div>
    </div>
</div>
