<div #topHome class="home-container" [ngStyle]="{'max-height': 'calc(100vh - ' +headerHeight+'px)'}">
    <ng-container *ngFor="let widget of widgets">
        <ng-container [ngSwitch]="widget.type">
            <app-banners
                *ngSwitchCase="'banner'"
                class="banner"
                pagina="home"
            />
            <app-cassino
                *ngSwitchCase="'casino'"
                class="widgets"
                linkAll="/casino"
                [title]="widget.name"
                [games]="getGameIds(widget.items)"
                [showLoginModal]="false"
                [showLoadingIndicator]="false"
            />
            <ng-container *ngSwitchCase="'sports_live'">
                <app-jogos-aovivo
                    class="widgets"
                    *ngIf="!betby && liveFootballIsActive"
                />
            </ng-container>
            <ng-container *ngSwitchCase="'sports'">
                <app-jogos-destaque
                    *ngIf="!betby"
                    class="widgets"
                    [title]="widget.name"
                    [games]="getGameIds(widget.items)"
                    (hasFeaturedMatches)="changeDisplayFeaturedMatches($event)"
                    [isHome]="true"
                />
            </ng-container>
            <ng-container *ngSwitchCase="'betby'">
                <div
                    class="widgets"
                    id="betby"
                    *ngIf="betby"
                ></div>
            </ng-container>
        </ng-container>
    </ng-container>
    <app-footer [container]="topHome"/>
</div>

<app-bilhete/>
