<div class="loading-listagem">
    <div class="slider">
        <div class="ssc-square content search-bar"></div>
        <div class="itens">
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
            <div class="ssc-square content"></div>
        </div>
    </div>
</div>