.loading-listagem .slider {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding-right: 12px;
    margin-top: 18px;
}

.loading-listagem .slider .search-bar {
   width: 100%;
   height: 40px;
}

.loading-listagem .slider .itens {
    display: flex;
    overflow: hidden;
    gap: 20px;
}

.loading-listagem .slider .itens div {
    min-width: 134px;
    height: 46px;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .loading-listagem .slider .itens {
        gap: 10px;
    }
}