.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--background);
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    padding: 15px 40px;
}

.modal-title {
    color: #ffff;
    opacity: 85%;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.modal-body-custom {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.modal-footer-he {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    padding: 0 38px;
}

.btn-change{
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.btn-remember {
    color: #ffff;
    opacity: 50%;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
    .modal > .modal-dialog{
        position: relative;
        width: auto;
        height: auto;
        margin: var(--bs-modal-margin);
        pointer-events: none;
    }

    .modal-body-custom{
        padding: 10px 0;
    }

    .modal-content{
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 360px){
    .modal-content{
        padding: 10px 20px;
    }
}