<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-he">
                <ng-container *ngIf="passwordExpired; else elsePasswordExpired">
                    <h3 class="modal-title">Senha expirada!</h3>
                </ng-container>
                <ng-template #elsePasswordExpired>
                    <h3 class="modal-title">Aviso de expiração de senha</h3>
                    <h5>Sua senha irá expirar em {{daysRemaining}} dias.</h5>
                </ng-template>
            </div>
            <div class="modal-body-custom">
                <div>
                    <p style="text-align: center;">Para garantir a segurança da sua conta e proporcionar um acesso continuo aos nossos serviços, é essencial que você atualize sua senha o mais rápido possível. Essa medida ajuda a proteger suas informações e prevenir acessos não autorizados.</p>
                </div>
            </div>
            <div class="modal-footer-he">
                <button type="button" class="btn btn-block btn-change" (click)="changePassword()">Alterar senha</button>
                <button *ngIf="!passwordExpired" type="button" class="btn btn-block btn-remember" (click)="remembeMerLater()">Lembre-me mais tarde</button>
            </div>
        </div>
    </div>
</div>