#bilhete-reativo{
    background-color: #fff;
    /* height: 600px; */
    overflow: auto;
    padding: 15px;

}

#cupom{
    margin: 0 auto;
    max-width: 600px;
    /* border: 1px solid black; */
}

.ganhou{
    color: green;
}
.perdeu{
    color: red;
}

.dashed{
    text-decoration: line-through;
}
