#default-content {
    background-color: var(--header);
}

a {
    color: var(--header) !important;
    cursor: pointer;
}

.required > .label::after {
    content: "*";
    color: #ff0000;
    font-size: 15px;
}

@media only screen and (max-width: 667px) {
    #content {
        margin-left: 0;
    }
}

.container {
    overflow: auto;
}

#showPassword {
    background: #181818;
    color: var(--foreground-header);
    cursor: pointer;
    border: 0;
}

#pass {
    border-right: 0;
}

.btn {
    float: right;
}

.modal-body {
    max-height: 500px !important;
    overflow: auto;
    overflow-x: hidden;
}

.spinner {
    position: absolute;
    z-index: 400;
}
