<div class="account-verification-document-step" *ngIf="dataUserCPF">
    <div #legitimuz id="legitimuz" *ngIf="showFaceMatchLegitimuz">
        <input type="hidden" id="legitimuz-hydrate-cpf" [value]="dataUserCPF" />
        <button [hidden]="true" id="legitimuz-action-verify"></button>
        <div id="legitimuz-root"></div>
    </div>
    <div #docCheck id="docCheck" *ngIf="showFaceMatchDocCheck">
        <button [hidden]="true"
            id="exDocCheckAction"
            [attr.data-ex-doccheck-document]="dataUserCPF"
            [attr.data-ex-doccheck-document-hmac-hash]="secretHash"
            [attr.data-ex-doccheck-force-enrollment]="true"
            [attr.data-ex-doccheck-onboarding]="true">
        </button>
    </div>
</div>