<div id="default-content">
    <div class="content-header">
        <h2>Validar Aposta</h2>
    </div>
    <div class="content-body">
        <div class="content">
            <div class="">

                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="consulta-form form-inline">
                    <div class="form-group">
                        <input type="text" style="text-transform:uppercase;" placeholder="Código da aposta"
                               class="form-control"
                               formControlName="codigo"
                               autocomplete="off" mask="AAAA-AAAA" [ngClass]="applyCssInputError('codigo')" [(ngModel)]="codigo">
                    </div>
                    <button type="submit" class="btn btn-custom">Consultar</button>
                    <app-error-msg style="margin-left: 5px;" [control]="form.get('codigo')"></app-error-msg>
                </form>
            </div>

            <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

            <div *ngIf="exibirPreAposta">
                <div id="pre-aposta">
                    <h1>{{preAposta.codigo | splitCodigo}}</h1>
                    <ng-container [ngSwitch]="preAposta.tipo">
                        <app-validar-aposta-esportes *ngSwitchCase="'esportes'" [preAposta]="preAposta"
                                                     (success)="success($event)">
                        </app-validar-aposta-esportes>

                        <app-validar-aposta-loterias *ngSwitchCase="'loteria'" [preAposta]="preAposta"
                                                     (success)="success($event)">
                        </app-validar-aposta-loterias>

                        <app-validar-aposta-acumuladao *ngSwitchCase="'acumuladao'" [preAposta]="preAposta"
                                                       (success)="success($event)">
                        </app-validar-aposta-acumuladao>

                        <app-validar-aposta-desafios *ngSwitchCase="'desafio'" [preAposta]="preAposta"
                                                     (success)="success($event)">
                        </app-validar-aposta-desafios>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
