<div id="default-content">
    <div class="mobile-modal-header" *ngIf="mobileScreen">
        <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
            <i class="fa fa-arrow-left"></i>
        </a>
        <div class="titulo">{{'geral.validarAposta' | translate}}</div>
        <div class="botao-direito"></div>
    </div>

    <div class="internal-container-out">
        <div class="content-header hide-mobile">
            <h2>{{'geral.validarAposta' | translate}}</h2>
        </div>
        <div class="content-body">
            <div class="content">
                <div class="">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="consulta-form">
                        <div class="d-flex flex-row">
                            <div class="form-group filtro">
                                <input type="number" placeholder="{{'geral.codigoPreAposta' | translate}}"
                                       class="inverted-out form-control" formControlName="codigo" autocomplete="off"
                                       [ngClass]="applyCssInputError('codigo')" [(ngModel)]="codigo">
                                <app-error-msg [control]="form.get('codigo')"></app-error-msg>
                            </div>
                            <button type="submit" class="btn btn-custom">{{'geral.consultar' | translate}}</button>
                        </div>
                    </form>
                </div>

                <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

                <div *ngIf="exibirPreAposta">
                    <div id="pre-aposta">
                        <h2>{{'geral.codigoPreAposta' | translate}}: {{preAposta.codigo}}</h2>
                        <ng-container [ngSwitch]="preAposta.tipo">
                            <app-validar-aposta-esportes *ngSwitchCase="'esportes'" [preAposta]="preAposta"
                                                         (success)="success($event)">
                            </app-validar-aposta-esportes>

                            <app-validar-aposta-loterias *ngSwitchCase="'loteria'" [preAposta]="preAposta"
                                                         (success)="success($event)">
                            </app-validar-aposta-loterias>

                            <app-validar-aposta-acumuladao *ngSwitchCase="'acumuladao'" [preAposta]="preAposta"
                                                           (success)="success($event)">
                            </app-validar-aposta-acumuladao>

                            <app-validar-aposta-desafios *ngSwitchCase="'desafio'" [preAposta]="preAposta"
                                                         (success)="success($event)">
                            </app-validar-aposta-desafios>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
