.content-body{
    margin-bottom: 15px;
}
.consulta-form{
    margin-bottom: 30px;
}

.consulta-form input{
    margin-right: 1rem;
}

#pre-aposta{
    padding: 10px 14px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

#pre-aposta h2{
    margin-bottom: 15px;
}
