.internal-container {
    /*background-color: var(--header);*/
    min-height: 100%;
    /*padding: 20px 15px 20px 15px;*/
}

.content-body{
    margin-bottom: 15px;
}
.consulta-form{
    margin-bottom: 30px;
}

.consulta-form input{
    margin-right: 1rem;
}

#pre-aposta{
    padding: 10px 14px;
    border: 1px dashed #aec3d8;
}

#pre-aposta h1{
    margin-bottom: 15px;
}
