<div class="row mt-4">
    <div class="col-md-6 col-sm-12">
        <div class="alert alert-success alert-dismissible" *ngIf="exibirMensagemPagamento">
            Seu pix foi creditado com sucesso, seu novo saldo é: R$ {{novoSaldo}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!pix">
        <app-spinner *ngIf="submitting"></app-spinner>
        <div class="row">
            <div class="form-group required">
                <label class="label">Valor a ser Depositado:</label>
                <input currencyMask class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                       formControlName="valor">
                <app-error-msg [control]="form.get('valor')"></app-error-msg>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-custom" [disabled]="submitting">
                    Gerar Pix
                </button>
            </div>
        </div>
    </form>

    <div class="row mt-3 text-center justify-content-center" *ngIf="pix">
        <div class="col-xs-12 col-md-12">
            <label class="label"><b>Valor:</b> </label> {{pix.valor | currency}}
            <br>
            <label class="label"><b>Beneficiário:</b> </label> {{pix.titular}}
            <br>
            <div class="form-group form-inline text-center justify-content-center">
                <label class="label"><b>QRCode: </b></label>
                <div class="input-group">
                    <input class="form-control ml-2" type="text" value="{{pix.qr_code}}" #qrCodeInput>
                    <div class="input-group-append">
                        <button (click)="copyInputMessage(qrCodeInput)" class="input-group-text"><i
                            class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div  class="col-md-12">
            <span style="color: red">
                * Efetue o pagamento até {{pix.validade | date:'d \'de\' MMMM \'de\' y \'às\' H:mm' :'' :'pt-BR'}}
                ou gere um novo QRCode
            </span>
            </div>
            <img class="col-md-4" src="data:image/jpeg;base64,{{pix.qr_code_base64}}"/>
            <div class="align-content-center">
                <a class="btn btn-info" (click)="novoPix()">
                    Gerar novo QRCode para depósito
                </a>
            </div>
        </div>
    </div>
</div>
