<div id="deposito-pix">
    <div class="alert alert-success alert-dismissible" *ngIf="exibirMensagemPagamento">
        {{'deposito.seuPixFoiCreditado' | translate:{'novoSaldo': novoSaldo} }}
        <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">
            <span class="close-x" aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!pix">
        <app-spinner *ngIf="submitting"></app-spinner>
        <div id="deposit-container" *ngIf="!submitting">
            <section id="payment-method-column" class="hide-mobile" *ngIf="availablePaymentMethods.length > 1">
                <h3>{{'financeiro.paymentGateway' | translate}}</h3>
                <div class="options-container payment-method-options">
                    <a *ngFor="let paymentMethod of availablePaymentMethods"
                        class="payment-method-option"
                        [ngClass]="{'active': paymentMethodSelected === paymentMethod}" (click)="changePaymentMethodOption(paymentMethod)">
                        <div class="payment-method">
                            <i class="radio"></i>
                        </div>
                        <div class="payment-method-icon"
                            [ngStyle]="{'background-image': 'url(https://wb-assets.com/img/logos/' + paymentMethod + '.png)'}"
                        ></div>
                        <div>
                            <span class="payment-method-name">{{paymentMethod | formatPaymentMethod}}</span>
                        </div>
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                </div>
            </section>
            <section id="deposit-details">
                <h3 class="hide-mobile">{{'deposito.depositDetails' | translate}}</h3>
                <div id="details-wrapper">
                    <div class="details-container">
                        <div class="details-text">
                            {{('deposito.depositTextWithoutBonusAndPromocode' | translate)}}
                        </div>
                        <div class="hide-desktop details-payment-method" *ngIf="availablePaymentMethods.length > 1">
                            <h3>{{'financeiro.paymentGateway' | translate}}</h3>
                            <div class="form-group">
                                <select formControlName="paymentMethod" type="text" class="form-control inverted-out"
                                    (change)="changePaymentMethodOption($event.target.value)">
                                    <option *ngFor="let paymentMethod of availablePaymentMethods" [value]="paymentMethod">{{paymentMethod | formatPaymentMethod}}</option>
                                </select>
                                <app-error-msg [control]="form.get('paymentMethod')"></app-error-msg>
                            </div>
                        </div>
                        <div class="details-amount">
                            <label class="label">{{'deposito.enterAmount' | translate}}</label>
                            <input currencyMask
                                class="form-control inverted-out"
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                formControlName="valor">
                            <app-error-msg [control]="form.get('valor')"></app-error-msg>
                            <div class="min-amount">
                                {{'deposito.valorMinimo' | translate}} {{ valorMinDeposito | currency }}
                            </div>
                            <div class="shortcut-amounts">
                                <button type="button" class="btn" (click)="changeAmount(10)">
                                    {{10 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(20)">
                                    {{20 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(50)">
                                    {{50 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(100)">
                                    {{100 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(500)">
                                    {{500 | currency}}
                                </button>
                                <button type="button" class="btn" (click)="changeAmount(1000)">
                                    {{1000 | currency}}
                                </button>
                            </div>
                        </div>
                        <div class="details-submit">
                            <div class="form-group">
                                <button type="submit" class="btn btn-custom btn-block" [disabled]="submitting">
                                    {{'geral.depositar' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>
