<app-spinner *ngIf="showLoading"></app-spinner>

<div *ngIf="!showLoading" class="row margin-top-15 margin-bottom-80">
    <div class="col-12 col-md-4">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th class="">Total Apostado</th>
                    <td>
                        <div class="value">
                            <i class="fa fa-plus-circle"></i>
                            {{relatorio['total_apostado'] | currency}}
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="loteriasHabilitada || acumuladaoHabilitado || desafioHabilitado">
                    <tr>
                        <td class="">L Esportivas</td>
                        <td class="text-right">
                            {{relatorio['esporte']['apostado'] | currency}}
                        </td>
                    </tr>
                    <tr *ngIf="loteriasHabilitada">
                        <td class="">L Loterias</td>
                        <td class="text-right">
                            {{relatorio['loteria']['apostado'] | currency}}
                        </td>
                    </tr>
                    <tr *ngIf="acumuladaoHabilitado">
                        <td class="">L Acumuladão</td>
                        <td class="text-right">
                            {{relatorio['acumuladao']['apostado'] | currency}}
                        </td>
                    </tr>
                    <tr *ngIf="desafioHabilitado">
                        <td class="">L Desafio</td>
                        <td class="text-right">
                            {{relatorio['desafio']['apostado'] | currency}}
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <th>Recargas de Cartão</th>
                    <td>
                        <div class="value">
                            <i class="fa fa-plus-circle"></i>
                            {{relatorio['cartao'] | currency}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Comissões</th>
                    <td>
                        <div class="value">
                            <i class="fa fa-minus-circle"></i>
                            {{relatorio['total_comissao'] | currency}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Prêmios</th>
                    <td>
                        <div class="value">
                            <i class="fa fa-minus-circle"></i>
                            {{relatorio['total_premios'] | currency}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Saques</th>
                    <td>
                        <div class="value">
                            <i class="fa fa-minus-circle"></i>
                            {{relatorio['saque'] | currency}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Resultado no Período</th>
                    <td class="text-right resultado"
                        [ngClass]="{'saldo-positivo': resultado > 0, 'saldo-negativo': resultado < 0}">
                        <b>{{resultado | currency}}</b>
                    </td>
                </tr>
                <tr *ngIf="controlarCreditoCambista">
                    <th class="">Saldo Anterior</th>
                    <td>
                        <div class="value">
                            <i class="fa fa-plus-circle"></i>
                            {{relatorio['saldo_anterior'] | currency}}
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="controlarCreditoCambista">
                    <tr>
                        <th class="">Créditos</th>
                        <td>
                            <div class="value">
                                <i class="fa fa-plus-circle"></i>
                                {{relatorio['creditos'] | currency}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="">Débitos</th>
                        <td>
                            <div class="value">
                                <i class="fa fa-minus-circle"></i>
                                {{relatorio['debitos'] | currency}}
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <th>Saldo</th>
                    <td class="text-right resultado"
                        [ngClass]="{'saldo-positivo': relatorio['saldo'] > 0, 'saldo-negativo': relatorio['saldo'] < 0}">
                        <b>{{relatorio['saldo'] | currency}}</b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
