.fa-minus-circle{
    color: red;
}

.fa-plus-circle{
    color: green;
}

.value{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saldo-positivo{
    color:green;
}

.saldo-negativo{
    color:red;
}
