.nav-tabs {
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid var(--highlight);
}

#default-content {
    padding: 25px 38px;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.content-body {
    padding: 20px;
}

h2 {
    margin-bottom: 35px;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 40px;
}

label {
    font-size: 10px;
    line-height: 38px;
    top: -7px !important;
    height: 10px;
}

select {
    line-height: 30px;
    padding-bottom: 0;
}

.row {
    margin-bottom: 30px;
}

.form-group {
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.select-search,
.ngx-select-dropdown {
    height: 44px !important;
}

::ng-deep .ngx-dropdown-button:focus {
    border: 1px solid var(--highlight) !important;
}

::ng-deep .available-item,
::ng-deep .search-container,
::ng-deep .ngx-dropdown-list-container,
::ng-deep .ngx-dropdown-button,
::ng-deep .available-items,
::ng-deep .available-item {
    background-color: var(--inputs-odds) !important;
    background: var(--inputs-odds) !important;
    color: #ffff !important;
}

::ng-deep.display-text {
    padding-top: 12px !important;
}

::ng-deep input[name="search-text"] {
    color: #ffff !important;
}

::ng-deep input[name="search-text"]:focus {
    border-bottom: 1px solid var(--highlight) !important;
}

::ng-deep .ngx-dropdown-button {
    height: 44px !important;
}

::ng-deep .ngx-dropdown-button:has(.up) {
    border: 1px solid var(--highlight) !important;
}

::ng-deep .selected-item {
    background-color: var(--highlight) !important;
}

::ng-deep .nsdicon-angle-down {
    display: none !important;
}

::ng-deep .ngx-select__container {
    position: relative;
}

::ng-deep .ngx-dropdown-list-container{
    margin-top: 15px;
}

#accountType {
    cursor: pointer;
    height: 44px !important;
}


@media only screen and (max-width: 767px) {
    .form-group.text-right {
        text-align: center !important;
    }

    .btn-cancell{
        width: 46%;
    }

    .btn-save{
        width:46%;
    }
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    h5 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    #default-content {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 0;
    }

}
