header{
    width: 100%;
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
}

.logo-mobile img{
    height: 40px;
}

.navbar-mobile{
    background-color: #002458;
    border-bottom: 1px solid #fff;
}

.menu-categories{
    background-color: #002458;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 0 15px;
}

.menu-categories .category{
    margin: 0px 20px;
}

.menu-categories a{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.menu-categories a:hover{
    color: red;
}

.menu-categories .active{
    border-bottom: 2px solid red;
}

.menu-categories i{
    font-size: 2rem;
    margin-bottom: 5px;
}

@media (max-width: 600px)
{

}

@media only screen and (min-width: 768px) {
    .navbar-mobile{
        display: none;
    }
}
