header{
    width: 100%;
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    z-index: 999;
}

header a{
    text-decoration: none;
    color: var(--foreground-header);
}

.logo-mobile{
    max-width: calc(100% - 140px);
}

.logo-mobile img{
    height: auto;
    max-width: 100%;
    max-height: 40px;
}

.navbar-mobile{
    border-bottom:1px solid rgba(255,255,255,0.25);
    justify-content: center;
    min-height: 50px;
}

.navbar-mobile .navbar-toggler{
    position: absolute;
    left: 15px;
}

.navbar-mobile .menu-conta{
    position: absolute;
    right: 15px;
}


.menu-categories{
    display: flex;
    align-items: center;
    padding: 15px 0 0 0;
    overflow-x: auto!important;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
}

.menu-categories::-webkit-scrollbar {
    display: none;
}

.menu-categories .category{
    margin: 0px 10px;
    padding-bottom: 5px;
}

.menu-categories .category:first-child{
    padding-left: 25px;
    margin-left: auto!important;
}

.menu-categories .category:nth-last-child(2){
    padding-right: 25px;
    margin-right: auto!important;
}

.menu-categories .category a{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.menu-categories .active{
    border-bottom: 2px solid var(--highlight);
}

.menu-categories img{
    height:24px;
    margin-bottom: 5px;
}

.menu-categories .fa{
    font-size: 2rem;
    margin-bottom: 5px;
}

.category a{
    text-transform: uppercase;
}

.dropdown-menu{
    min-width: 200px;
}

.dropdown-menu .dropdown-item{
    color: #000;
}

.app-version-info {
    font-size: 9px;
    text-align: right;
    padding-right: 15px;
    width: 100%;

}

@media only screen and (min-width: 668px) {
    .navbar-mobile{
        display: none;
    }

    .menu-conta{
        right: 15px;
        top: 25%;
        position: absolute;
        display: flex;
        bottom: 20px;
    }
    .menu-conta a > i {
        top: 5px;
        position: relative;
    }
    #saldos > #creditos {
        color: #fff;
    }

    #saldos > #saldos {
        color: var(--foreground-header);
    }
}

@media only screen and (max-width: 667px) {
    .menu-categories{
        font-size: 0.5rem;
        justify-content: normal;
    }

    .menu-categories .menu-conta{
        display: none;
    }
}
