<header>
    <!-- Fixed navbar -->
    <nav class="navbar-1 navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
            <img class="logo-banca" alt="{{BANCA_NOME}}" src="{{LOGO}}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/futebol']">Futebol</a>
                </li> -->
               <!--  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/ao-vivo']">Ao Vivo</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/basquetebol']">Basquetebol</a>
                </li> -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/seninha']">Seninha</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/quininha']">Quininha</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-2 navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <ul>
            <li class="block-" style="flex-grow: 1;">
                <a style="padding-left: 4px;">
                    <i class="fa fa-clock-o"></i> {{now | moment:'HH:mm:ss'}}
                </a>
            </li>
            <li *ngIf="appMobile">
                <a>
                    <i class="fa fa-cogs"></i> Configs
                </a>
                <ul class="sub-menu">
                    <li><a href="javascript:void(0);" (click)="listPrinters()"><i class="fa fa-print"></i> Impressora</a></li>
                    <li><a href="javascript:void(0);" (click)="appVersion()"><i class="fa fa-info"></i> Versão App</a></li>
                </ul>
            </li>
            <li *ngIf="!appMobile">
                <a target="_blank" href="app.apk">
                    <i class="fa fa-android"></i> App
                </a>
            </li>
            <li>
                <a [routerLink]="['/apuracao']">
                    <i class="fa fa-check"></i> <span class="hidden-sm-down">Apuração</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/resultados']">
                    <i class="fa fa-list"></i> Result.
                </a>
            </li>
            <!-- <li><a href="#">Regras</a></li> -->
            <li (click)="logout()">
                <a style="padding-right: 4px;">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</header>
