.indique-ganhe-card {
    display: block;
    position: relative;
    width: 100%;
    height: 37px;
    padding: 6px 20px;
    background-color: var(--highlight);
    overflow: hidden;
    transition: height 0.3s, padding 0.3s;
}

.indique-ganhe-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indique-ganhe-card-content:not(button) {
    font-weight: 600;
    color: var(--header);
}

.btn-indique-ganhe-card {
    background-color: var(--header);
    color: var(--highlight);
    width: 60px;
    height: 25px !important;
    margin-left: 6px;
    padding: 4px 7px !important;
    transition: width 0.3s, height 0.3s, font-size 0.3s;
}

.btn-indique-ganhe-card:active {
    background-color: var(--header);
    color: var(--highlight);
    border: none;
}

.btn-indique-ganhe-card:focus {
    box-shadow: 0 0 0 1px var(--highlight);
}

.indique-ganhe-card .btn-close {
    position: absolute;
    right: 30px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indique-ganhe-card .btn-close i {
    color: var(--header);
}

.header {
    width: 100%;
    height: 92px;
    display: flex;
    background-color: var(--header);
    color: var(--foreground-header);
}

nav {
    width: calc(100% - 700px);
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--foreground-header);
}

.fa, .dropdown-toggle {
    color: var(--highlight);
}

.category {
    margin: 0 2px;
    display: flex;
    height: 92px;
    align-items: center;
    justify-items: center;
}

.category a {
    display: flex;
    width: 100%;
    height: 95%;
    padding: 2px 5px 0px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    transition: 300ms;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}

.category a.active, .category a:hover {
    border-bottom: 2px solid var(--highlight);
    color: var(--highlight);
}

.category a span {
    white-space: nowrap;
}

.side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-right {
    justify-content: right;
    padding-right: 16px;
}

.side-left {
    justify-content: left;
    padding-left: 16px;
}

.menu-conta {
    display: flex;
}

.logo {
    max-height: 80px;
    max-width: 250px;
}

nav::-webkit-scrollbar {
    display: none;
}

.centered {
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.btn-cadastro {
    background-color: var(--highlight);
    color: var(--foreground-header);
}

.btn-entrar {
    margin-left: 5px;
    color: var(--highlight);
    border: 1px solid var(--highlight);
}

.btn-sair {
    margin: 40px 20px 20px;
    border-radius: 8px;
}

.dropdown-menu {
    min-width: 320px;
    border-radius: 8px;
    background-color: var(--header);
    color: var(--foreground-header);
    box-shadow: -1px -2px 4px 2px rgba(51, 47, 47, 0.25);
    padding: 0;
}

.dropdown-menu-custom {
    inset: 0 0 auto auto !important;
}

.language-dropdown .flag-icon {
    font-size: 24px;
    clip-path: circle();
}

.language-dropdown-menu {
    min-width: 85px;
    padding: 5px;
}

.language-dropdown-menu .dropdown-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--foreground-header);
    cursor: pointer;
}

.language-dropdown-menu .dropdown-item span {
    margin-right: 5px;
}

.language-dropdown-menu .dropdown-item:hover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--header);
    color: var(--highlight);
}

.dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 40px;
    text-decoration: none;
    border: 1px solid var(--highlight);
    font-size: 12px;
    border-radius: 5px;
    color: var(--foreground-header);
    white-space: nowrap;
}

.dropdown-btn:hover, .dropdown-btn:hover .fa, .dropdown-btn:hover .dados {
    background-color: var(--highlight);
    color: var(--header);
    transition: 300ms;
}

.container-menu {
    padding: 20px 20px 0;
}

.dropdown-btn-filled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: calc((100% / 3) - 8px);
    height: 65px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    color: var(--foreground-inputs-odds);
    white-space: nowrap;
    background-color: var(--inputs-odds);
    margin-bottom: 10px;
    margin-left: 10px;
}

.dropdown-btn-filled:first-of-type, .dropdown-btn-filled:nth-child(3n + 1) {
    margin-left: 0;
}

.dropdown-btn-filled .fa {
    color: var(--foreground-inputs-odds);
}

.dropdown-btn-filled:hover {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
    transition: 300ms;
}

.dropdown-btn-filled:hover .fa {
    color: var(--foreground-highlight);
    transition: 300ms;
}

.menu-divider {
    width: 95%;
    margin: 0 auto;
    height: 0;
    border-top: 1px solid var(--foreground-header);
}

.saldos-container {
    display: flex;
    padding: 0 20px;

    align-items: center;
}

.saldos-container .separador {
    display: block;
    border-right: 2px solid var(--foreground-header);
    height: 35px;
    margin: 0 30px;
}

.saldos-container div {
    flex: 1;
}

.saldos-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 75px;
    color: var(--foreground-header);
    font-size: 14px;
    font-weight: 400;
}

.dados {
    font-weight: 600;
    color: var(--highlight);
}

body .change-theme {
    cursor: pointer;
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--header);
    color: var(--foreground-header);
}

.support-btn i {
    margin-right: 12px;
    font-size: 16px;
    color: var(--highlight);
}

.deposit-shortcut a {
    padding: 23px 11px;
}

.menu-perfil {
    display: flex;
    align-items: center;
    height: 38px;
    background-color: var(--background);
    border-radius: 4px;
    padding: 24px 12px;
}

.menu-perfil::after {
    display: none;
}


.menu-perfil img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 8px;
}

.menu-perfil div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-perfil div.user-card {
    line-height: 1.3;
    padding-right: 20px;
}

.menu-perfil div.user-icon i {
    font-size: 25px;
}

.menu-perfil .nome-usuario {
    font-size: 12px;
    color: var(--foreground-header);
    font-weight: 600;
}

.menu-perfil .saldo-usuario {
    font-size: 14px;
}

.menu-perfil .saldo-usuario {
    font-size: 14px;
}

.menu-conta .info-profile {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--foreground-header);
}


.menu-conta .info-profile img {
    margin-right: 10px;
    border-radius: 50%;
}

.modal-header {
    border-bottom-color: var(--foreground);
    padding: 20px 35px;
}

.btnClose {
    font-size: 32px;
    line-height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--highlight);
    cursor: pointer;
}

.olhinho{
    cursor: pointer;
    margin-right: 5px;
}

@media only screen and (min-width: 1025px) {
    .btn-indique-ganhe-card:hover {
        width: 80px;
        height: 33px !important;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .indique-ganhe-card {
        height: 50px;
    }

    .indique-ganhe-card .btn-close {
        right: 20px;
        top: 12px;
        align-items: normal;
    }

    .header {
        width: 100%;
        height: 64px;
        display: flex;
    }

    nav {
        background-color: var(--header);
    }

    .saldos-item {
        text-align: center;
    }

    .dropdown-menu {
        height: 100vh;
        max-height: 100%;
        transform: none !important;
        position: fixed !important;
        width: 100%;
        overflow: auto;
    }

    .dropdown-menu .nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 24px 0;
        color: var(--foreground-sidebars);
        background-color: var(--sidebars);
    }

    .dropdown-menu .nav hr {
        border-bottom: 1px solid var(--foreground-sidebars);
        margin: 0 12px;
    }

    .dropdown-menu .nav label {
        font-size: 14px;
        margin: 0 20px;
    }

    .dropdown-menu .nav a {
        margin: 0 25px;
        font-size: 16px;
        color: var(--foreground-sidebars);

        display: flex;
        gap: 15px;
        align-items: center;

        cursor: pointer;
    }

    .dropdown-menu .nav a span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background: rgba(53, 204, 149, 0.1);

        border-radius: 3px;
    }

    .dropdown-menu .nav a span.arrow-nav {
        flex: 1;
        background-color: var(--sidebars);
        justify-content: flex-end;
    }

    .logo {
        max-height: 30px;
        max-width: calc(40vw - 25px);
    }

    .btn {
        white-space: nowrap;
        padding: 5px 10px;

        height: 38px !important;
    }

    .btn.mr-4 {
        margin-right: 10px !important;
    }

    nav {
        width: 100%;
        max-width: 100vw;
        overflow-x: auto;
        height: 39px;
        justify-content: start;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    }

    .category {
        height: 100%;
    }

    .category a {
        font-size: 11px; /* ajuste fonte */
    }

    .side {
        justify-content: start;
    }

    .side-right {
        padding-right: 0;
        justify-content: flex-end;
    }

    .side-right .btn-custom2 {
        margin-right: 10px;
    }

    .side-left {
        padding-left: 10px;
    }

    .deposit-shortcut a {
        height: 30px !important;
        padding: 6px 11px;
        font-size: 10px;
    }

    .menu-conta {
        margin-right: 8px;
    }

    .menu-perfil {
        height: 30px;
        padding: 0 9px;
    }

    .menu-perfil div.user-card {
        padding-right: 8px;
    }

    .menu-perfil .nome-usuario {
        display: none;
    }

    .menu-perfil .saldo-usuario .olhinho {
        display: none;
    }

    .menu-perfil .saldo-usuario span {
        font-size: 10px;
    }

    .menu-perfil div.user-icon i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .indique-ganhe-card-content {
        width: 88%;
    }
}

@media only screen and (max-width: 360px) {
    .logo {
        max-width: calc(32vw - 25px);
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1280px){
    .w-130 {
        width: 103px;
    }
    .side-left {
        padding-left: 10px;
        width: 600px;
    }
    .side-right {
        padding-right: 0;
        width: 600px;
    }
    .logo {
        max-width: 215px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .side-left {
        padding-left: 7px;
        width: 325px;
    }
    .side-right {
        padding-right: 0;
        width: 420px;
    }
}

@media screen and (max-width: 1116px) and (min-width: 1025px) {
    .logo {
        max-width: 165px;
    }
    .side-left {
        width: 270px;
    }
}

.info-connection-card {
    display: block;
    position: relative;
    width: 100%;
    height: 32px;
    padding: 6px 20px;
    background-color: #FFA500;
    overflow: hidden;
    transition: height 0.7s, padding 0.7s;
    font-size: 14px;
}
.info-connection-card-content {
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-connection-card-content:not(button) {
    font-weight: 400;
}
.info-connection-card.online {
    color: white;
    background-color: #18662F;
}
.info-connection-card.offline {
    color: black;
    background-color: #E34E42;
}
.info-connection-card.show {
    opacity: 1;
    height: 30px;
    padding: 6px 20px;
    transition: all 1s ease-in-out;
}
.hide {
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.icon-hidden {
    display: none;
}
