.bg-dark{
    background-color: var(--background-primario)!important;
}

.navbar-expand-md .navbar-nav{
    margin-right: 0!important;
    margin-left: auto!important;
}

.logo-banca{
    height: 60px;
    margin-left: 15px;
}

.navbar{
    display: flex;
}

.navbar .navbar-collapse{
    justify-content: center;
}

.navbar .navbar-collapse .navbar-nav{
    margin: 0!important;
}

.navbar ul li a{
    font-size: 1.8em;
    padding: 5px 15px;
    color: white;
}

.navbar-1{
    z-index: 9001;
}

.navbar-1 ul li a{
    padding: 15px 2px;
    margin: 0 25px;
}

.navbar-1 ul li.active a{
    border-bottom: 3px solid white;
}

.navbar-2{
    top: 80px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.navbar-2 > ul{
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.navbar-2 > ul li{
    list-style: none;
}
.navbar-2 > ul li a{
    font-size: 1.1em;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

li .sub-menu{
    display: none;
    position: absolute;
    background: var(--background-primario);
    opacity: 0.8;
    top: 28px;
    padding: 5px 0;
}

li:hover .sub-menu{
    display: block;
}

li .sub-menu a{
    display: inline-block;
    padding: 5px 25px!important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-1{
        justify-content: space-between;
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-1{
        justify-content: center;
        height: 80px;
    }
    .navbar-1 ul li a {
        padding: 22px 2px;
    }
}


