<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Offcanvas title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p>One fine body&hellip;</p>
		<div class="text-end">
			<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">{{'geral.fechar' | translate}}</button>
		</div>
	</div>
</ng-template>

<div class="info-connection-card hide">
    <div class="info-connection-card-content">
        <span><i class="fa fa-exclamation-triangle" style="margin-right: 5px; color: black;"></i></span> {{ messageConnection }}
    </div>
</div>

<div class="indique-ganhe-card" #indiqueGanheCard *ngIf="indiqueGanheHabilitado && (!isLoggedIn || (isCliente)) && !activeGameCassinoMobile()">
    <div class="indique-ganhe-card-content">
        {{'indique_ganhe.indiqueGanheCard' | translate:{'valorGanhoPorIndicacao': valorGanhoPorIndicacao} }}
        <a (click)="isConnected && redirectIndiqueGanhe()" 
            (mouseover)="!isMobile && !removendoIndiqueGanheCard && btnCardOnMouseOver()" 
            (mouseout)="!isMobile && !removendoIndiqueGanheCard && btnCardOnMouseOut()" 
            class="btn btn-indique-ganhe-card"
        >{{'indique_ganhe.indicar' | translate}}</a>
    </div>
    <a (click)="removerIndiqueGanheCard()" type="button" class="btn-close" aria-label="Close">
        <i class="fa fa-times"></i>
    </a>
</div>

<div class="header">
    <div class="side side-left">
        <a class="" [routerLink]="['/esportes/futebol/jogos']">
            <img [src]="LOGO" class="logo">
        </a>
    </div>
    <nav class="desktop" *ngIf="!isMobile" #scrollMenu>
        <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
    </nav>
    <div class="side side-right">
        <ng-container *ngIf="isLoggedIn; else loggedOut">
            <div class="support-btn" *ngIf="isMobile && (whatsapp || isDemo) && (!isLoggedIn || isCliente)">
                <a *ngIf="isDemo" target="_blank" href="https://materiais.wee.bet/demo-weebet">
                    <i class="fa-solid fa-headset"></i>
                </a>
                <a *ngIf="!isDemo && whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=55{{whatsapp}}">
                    <i class="fa-solid fa-headset"></i>
                </a>
            </div>
            <div class="deposit-shortcut" *ngIf="modoClienteAtivo && isCliente">
                <div *ngIf="isMobile; then depositShortCutMobile else depositShortCutDesktop"></div>
                <ng-template #depositShortCutDesktop>
                    <a class="btn btn-custom mr-4" [routerLink]="['clientes/deposito']" [ngStyle]="{'height': '38px'}">
                        {{'geral.depositar' | translate | uppercase}}
                    </a>
                </ng-template>
                <ng-template #depositShortCutMobile>
                    <a class="btn btn-custom mr-4" (click)="abrirDepositos()" [ngStyle]="{'height': '38px'}">
                        {{'geral.depositar' | translate | uppercase}}
                    </a>
                </ng-template>
            </div>
            <div class="menu-conta" ngbDropdown #dropDownConta="ngbDropdown">
                <a (click)="getPosicaoFinanceira()" class="nav-link menu-perfil" id="navbarDropdown"
                   role="button" ngbDropdownToggle>
                    <div class="user-card">
                        <span class="nome-usuario">{{ usuario.nome | titlecase }}</span>
                        <span class="saldo-usuario">
                            <i class="fa olhinho" style="margin-right: 8px;" (click)="alternarExibirSaldo($event)" [ngClass]="{'fa-eye-slash': mostrarSaldo,'fa-eye': !mostrarSaldo}"></i>
                            <span id="olhinho" *ngIf="mostrarSaldo; else elseSaldoOculto">{{ posicaoFinanceira.saldo | currency }}</span>
                            <ng-template #elseSaldoOculto> R$ &bull; &bull; &bull; &bull; </ng-template>
                        </span>
                    </div>
                    <div class="user-icon">
                        <span><i class="fa-solid fa-user"></i></span>
                    </div>
                </a>
                <div class="dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                    <a class="btnClose hide-desktop" aria-label="Close" (click)="dropDownConta.close()">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div class="hide-desktop" *ngIf="!isCliente">
                        <div class="info-profile">
                            <img src="https://cdn.wee.bet/img/blank-profile-picture.png" width="40">
                            <h4 class="menu-conta-header">{{ usuario.nome | titlecase }}</h4>
                        </div>

                        <div class="saldos-container">
                            <div class="saldos-item">
                                <span class="">{{'geral.credito' | translate}}</span>
                                <span>
                                    <i class="fa olhinho" style="margin-right: 8px;" (click)="alternarExibirSaldo($event)" [ngClass]="{'fa-eye-slash': mostrarSaldo,'fa-eye': !mostrarSaldo}"></i>
                                    <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.credito | currency}}</span>
                                    <ng-template #elseSaldoOculto>
                                        <span class="dados"> R$ &bull; &bull; &bull; &bull; </span>
                                    </ng-template>
                                </span>
                            </div>
                            <div style="align-items: center; justify-content: center; display: flex;">
                                <i class="separador"></i>
                            </div>
                            <div class="saldos-item">
                                <span class="">{{'geral.saldo' | translate}}</span>
                                <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.saldo | currency}}</span>
                                <ng-template #elseSaldoOculto>
                                    <span class="dados"> R$ &bull; &bull; &bull; &bull; </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around" *ngIf="pixCambista">
                            <a class="dropdown-btn w-150" (click)="abrirDepositosCambista()">
                                {{'geral.liberarCredito' | translate}}
                            </a>
                        </div>

                        <div class="nav">
                            <hr />
                            <label>{{'geral.minhaConta' | translate}}</label>
                            <a (click)="abrirCambistaDashboard()">
                                <span>
                                    <i class="fa fa-dashboard"></i>
                                </span>
                                {{'geral.dashboard' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirAlterarSenha()">
                                <span>
                                    <i class="fa fa-key"></i>
                                </span>
                                {{'geral.alterarSenha' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                           <a (click)="abrirCambistaMovimentacao()">
                                <span>
                                    <i class="fa fa-solid fa-dollar"></i>
                                </span>
                                {{'geral.movimentacao' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <hr />
                            <ng-container *ngIf="cartaoApostaHabilitado && (!isLoggedIn || !isCliente)">
                                <label>{{'cartoes.cartao' | translate}}</label>
                                <a (click)="abrirCambistaCartaoConsultar()">
                                <span>
                                    <i class="fa fa-solid fa-credit-card"></i>
                                </span>
                                    {{'cartoes.consultarCartao' | translate}}
                                    <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                                </a>
                                <a (click)="abrirCambistaCartaoCriar()">
                                <span>
                                    <i class="fa fa-solid fa-credit-card"></i>
                                </span>
                                    {{'geral.criar' | translate}}
                                    <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                                </a>
                                <a (click)="abrirCambistaCartaoListagem()">
                                <span>
                                    <i class="fa fa-solid fa-credit-card"></i>
                                </span>
                                    {{'geral.listagem' | translate}}
                                    <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                                </a>
                                <a (click)="abrirCambistaCartaoSaque()">
                                <span>
                                    <i class="fa fa-solid fa-credit-card"></i>
                                </span>
                                    {{'geral.solicitacoesDeSaque' | translate}}
                                    <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                                </a>
                                <a (click)="abrirCambistaCartaoRecarga()">
                                <span>
                                    <i class="fa fa-solid fa-credit-card"></i>
                                </span>
                                    {{'geral.recarga' | translate}}
                                    <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                                </a>
                                <hr/>
                            </ng-container>
                            <label>{{'geral.maisOpcoes' | translate}}</label>
                            <a (click)="abrirCambistaValidacao()">
                                <span>
                                    <i class="fa fa-solid fa-check"></i>
                                </span>
                                {{'geral.validacao' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirCambistaApuracao()">
                                <span>
                                    <i class="fa fa-solid fa-table-columns"></i>
                                </span>
                                {{'geral.apuracao' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirCambistaApostas()">
                                <span>
                                    <i class="fa fa-solid fa-table-columns"></i>
                                </span>
                                {{'geral.apostas' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirCambistaTabela()">
                                <span>
                                    <i class="fa fa-solid fa-print"></i>
                                </span>
                                {{'geral.tabela' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="listPrinters()" *ngIf="appMobile">
                                <span>
                                    <i class="fa fa-solid fa-cogs"></i>
                                </span>
                                {{'geral.configuracoes' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <hr />
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=55{{whatsapp}}" *ngIf="whatsapp">
                                <span>
                                    <i class="fa fa-solid fa-circle-question"></i>
                                </span>
                                {{'geral.ajuda' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="logout()">
                                <span>
                                    <i class="fa fa-solid fa-arrow-right-from-bracket"></i>
                                </span>
                                {{'geral.sair' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="hide-desktop" *ngIf="isCliente">
                        <div class="info-profile" *ngIf="isCliente">
                            <img src="https://cdn.wee.bet/img/blank-profile-picture.png" width="40">
                            <h4 class="menu-conta-header">{{ usuario.nome | titlecase }}</h4>
                        </div>

                        <div class="saldos-container">
                            <div class="saldos-item">
                                <span class="">{{'geral.saldo' | translate}}</span>
                                <span>
                                    <i class="fa olhinho" style="margin-right: 8px;" (click)="alternarExibirSaldo($event)" [ngClass]="{'fa-eye-slash': mostrarSaldo,'fa-eye': !mostrarSaldo}"></i>
                                    <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.saldo | currency}}</span>
                                    <ng-template #elseSaldoOculto>
                                        <span class="dados"> R$ &bull; &bull; &bull; &bull; </span>
                                    </ng-template>
                                </span>
                            </div>
                            <div style="align-items: center; justify-content: center; display: flex;">
                                <i class="separador"></i>
                            </div>
                            <div class="saldos-item">
                                <span class="">{{'geral.bonus' | translate}}</span>
                                <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.bonus | currency}}</span>
                                <ng-template #elseSaldoOculto>
                                    <span class="dados"> R$ &bull; &bull; &bull; &bull; </span>
                                </ng-template>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <a class="dropdown-btn w-150" (click)="abrirDepositos()">
                                {{'geral.depositar' | translate}}
                            </a>
                            <a class="dropdown-btn w-150" (click)="abrirSaques()">
                                {{'geral.sacar' | translate}}
                            </a>
                        </div>

                        <div class="nav">
                            <hr />
                            <label>{{'geral.minhaConta' | translate}}</label>
                            <a (click)="abrirEditarPerfil()">
                                <span>
                                    <i class="fa fa-solid fa-user"></i>
                                </span>
                                {{'geral.editarPerfil' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirAlterarSenha()">
                                <span>
                                    <i class="fa fa-key"></i>
                                </span>
                                {{'geral.alterarSenha' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirPix()">
                                <span>
                                     <i class="fa fa-brands fa-pix"></i>
                                </span>
                                Pix
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirConfiguracoes()">
                                <span>
                                     <i class="fa fa-cogs"></i>
                                </span>
                                {{'geral.configuracoes' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <hr />
                            <label>{{'geral.maisOpcoes' | translate}}</label>
                            <a (click)="abrirFinanceiro()">
                                <span>
                                    <i class="fa fa-solid fa-dollar"></i>
                                </span>
                                {{'geral.financeiro' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirSaques()">
                                <span>
                                    <i class="fa fa-solid fa-money-bill-transfer"></i>
                                </span>
                                {{'geral.saques' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirDepositos()">
                                <span>
                                    <i class="fa fa-solid fa-money-bill-transfer"></i>
                                </span>
                                {{'geral.depositos' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirApostas()">
                                <span>
                                    <i class="fa fa-solid fa-table-columns"></i>
                                </span>
                                {{'geral.apostas' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirRollovers()">
                                <span>
                                    <i class="fa fa-solid fa-gift"></i>
                                </span>
                                {{'geral.rollover' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="abrirIndiqueGanhe()" *ngIf="isCliente && indiqueGanheHabilitado">
                                <span>
                                    <i class="fa fa-solid fa-gift"></i>
                                </span>
                                {{'indique_ganhe.indiqueGanhe' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="listPrinters()" *ngIf="appMobile">
                                <span>
                                    <i class="fa fa-solid fa-cogs"></i>
                                </span>
                                {{'geral.configuracoes' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <hr />
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=55{{whatsapp}}" *ngIf="whatsapp">
                                <span>
                                    <i class="fa fa-solid fa-circle-question"></i>
                                </span>
                                {{'geral.ajuda' | translate}}
                                <span class="arrow-nav">
                                    <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </a>
                            <a (click)="logout()">
                                <span>
                                    <i class="fa fa-solid fa-arrow-right-from-bracket"></i>
                                </span>
                                {{'geral.sair' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <div class="info-profile" *ngIf="isCliente">
                            <img src="https://cdn.wee.bet/img/blank-profile-picture.png" width="40">
                            <h4 class="menu-conta-header">{{ usuario.nome | titlecase }}</h4>
                        </div>
                        <div class="info-profile" *ngIf="!isCliente">
                            <img src="https://cdn.wee.bet/img/blank-profile-picture.png" width="40">
                            <h4 class="menu-conta-header">{{ usuario.nome | titlecase }}</h4>
                        </div>

                        <div class="saldos-container">
                            <div class="saldos-item" *ngIf="!isCliente">
                                <span class="">{{'geral.credito' | translate}}</span>
                                <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.credito | currency}}</span>
                                <ng-template #elseSaldoOculto> R$ &bull; &bull; &bull; &bull; </ng-template>
                            </div>
                            <div  *ngIf="!isCliente" style="align-items: center; justify-content: center; display: flex;">
                                <i class="separador"></i>
                            </div>
                            <div class="saldos-item">
                                <span class="">{{'geral.saldo' | translate}}</span>
                                <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.saldo | currency}}</span>
                                <ng-template #elseSaldoOculto> R$ &bull; &bull; &bull; &bull; </ng-template>
                            </div>
                            <div  *ngIf="isCliente" style="align-items: center; justify-content: center; display: flex;">
                                <i class="separador"></i>
                            </div>
                            <div class="saldos-item"
                                *ngIf="isCliente">
                                <span class="">{{'geral.bonus' | translate}}</span>
                                <span class="dados" *ngIf="mostrarSaldo; else elseSaldoOculto">{{posicaoFinanceira.bonus | currency}}</span>
                                <ng-template #elseSaldoOculto> R$ &bull; &bull; &bull; &bull; </ng-template>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <a class="dropdown-btn w-130" [routerLink]="['clientes/deposito']" *ngIf="isCliente">
                                {{'geral.depositar' | translate}}
                            </a>
                            <a class="dropdown-btn w-130" [routerLink]="['clientes/saque']" *ngIf="isCliente">
                                {{'geral.sacar' | translate}}
                            </a>
                            <a class="dropdown-btn w-130" [routerLink]="['cambistas/deposito']" *ngIf="!isCliente && pixCambista">
                                {{'geral.liberarCredito' | translate}}
                            </a>
                        </div>

                        <div class="menu-divider mt-4"></div>
                        <div class="d-flex flex-wrap container-menu">
                            <a class="dropdown-btn-filled" [routerLink]="['clientes/perfil']"
                            routerLinkActive="router-link-active"
                            *ngIf="isCliente">
                                <i class="fa fa-user mb-2"></i>
                                {{'geral.minhaConta' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['clientes/financeiro']"
                            routerLinkActive="router-link-active"
                            *ngIf="isCliente">
                                <i class="fa fa-solid fa-dollar mb-2"></i>
                                {{'geral.financeiro' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['clientes/apostas']"
                            routerLinkActive="router-link-active"
                            *ngIf="isCliente">
                                <i class="fa fa-solid fa-table-columns mb-2"></i>
                                {{'geral.apostas' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['clientes/rollover']"
                            routerLinkActive="router-link-active"
                            *ngIf="isCliente">
                                <i class="fa fa-solid fa-gift mb-2"></i>
                                {{'geral.bonus' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['clientes/configuracoes']"
                            routerLinkActive="router-link-active"
                            *ngIf="isCliente">
                                <i class="fa fa-solid fa-cogs mb-2"></i>
                                {{'geral.configuracoes' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['clientes/indique-ganhe']"
                            routerLinkActive="router-link-active"
                            *ngIf="isCliente && indiqueGanheHabilitado">
                                <i class="fa fa-solid fa-gift mb-2"></i>
                                <span style="text-align: center; white-space: break-spaces; line-height: 14px;">{{'indique_ganhe.indiqueGanhe' | translate}}</span>
                            </a>

                            <a class="dropdown-btn-filled" [routerLink]="['alterar-senha']" routerLinkActive="router-link-active" *ngIf="!isCliente">
                                <i class="fa fa-key mb-2"></i> {{'geral.alterarSenha' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['/cambistas/dashboard']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente">
                                <i class="fa fa-dashboard mb-2"></i>
                                {{'geral.dashboard' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['/validar-aposta']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente">
                                <i class="fa fa-solid fa-check mb-2"></i>
                                {{'geral.validacao' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['cambistas/apuracao']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente">
                                <i class="fa fa-solid fa-table-columns mb-2"></i>
                                {{'geral.apuracao' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['cambistas/apostas']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente">
                                <i class="fa fa-solid fa-table-columns mb-2"></i>
                                {{'geral.apostas' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['cambistas/tabela']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente">
                                <i class="fa fa-solid fa-print mb-2"></i>
                                {{'geral.tabela' | translate}}
                            </a>
                            <a class="dropdown-btn-filled" [routerLink]="['cambistas/cartoes']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente && cartaoApostaHabilitado">
                                <i class="fa fa-solid fa-credit-card mb-2"></i>
                                {{'cartoes.cartao' | translate}}
                            </a>
<!--                            <a class="dropdown-btn-filled" [routerLink]="['cambistas/financeiro']"
                            routerLinkActive="router-link-active"
                            *ngIf="!isCliente">
                                <i class="fa fa-solid fa-dollar mb-2"></i>
                                {{'geral.financeiro' | translate}}
                            </a>-->
                            <a class="dropdown-btn-filled" (click)="listPrinters()" *ngIf="appMobile">
                                <i class="fa fa-solid fa-cogs"></i>
                                {{'geral.configuracoes' | translate}}
                            </a>
                        </div>

                        <a (click)="logout()" href="#" class="dropdown-btn btn-sair">
                            <i class="fa fa-sign-out mr-2"></i>
                            <span class="dados">{{'geral.sair' | translate}}</span>
                        </a>
                        <div *ngIf="appMobile" class="app-version-info">
                            App {{'geral.versao' | translate}} 2.0.{{appVersion}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #loggedOut>
            <div class="menu-conta dropdown">
                <a class="btn btn-custom w-130 mr-4" (click)="abrirCadastro()" *ngIf="modoClienteAtivo">
                    {{'geral.registreSe' | translate | uppercase}}
                </a>
                <a (click)="abrirLogin()" class="botao-entrar nav-link btn btn-custom2 w-130" role="button">
                    {{'geral.entrar' | translate | uppercase}}
                </a>
            </div>
        </ng-template>
        <div class="btn-group language-dropdown hide-mobile" ngbDropdown>
            <button class="btn" type="button" id="dropdownLanguage" ngbDropdownToggle>
                <span class="flag-icon {{linguagemSelecionada === 'pt' ? 'flag-icon-br' : 'flag-icon-us'}} flag-icon-squared"></span>
            </button>
            <div class="language-dropdown-menu position-absolute" aria-labelledby="dropdownLanguage" ngbDropdownMenu>
                <a class="m-2 p-0 dropdown-item" (click)="useLanguage('pt')">
                    <span class="flag-icon flag-icon-br flag-icon-squared"></span>
                    {{'geral.portugues' | translate}}
                </a>
                <a class="m-2 p-0 dropdown-item" (click)="useLanguage('en')">
                    <span class="flag-icon flag-icon-us flag-icon-squared"></span>
                    {{'geral.ingles' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="mobile" *ngIf="isMobile" [ngClass]="{'centered': centered}" #scrollMenu>
    <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
</nav>

<ng-template #menuTemplate>
    <div #menu class="d-flex">
        <div class="category" *ngIf="esporteAtivo">
            <a [routerLink]="['/esportes']" routerLinkActive="active">
                <span>{{'menu.esportes' | translate}}</span>
            </a>
        </div>
        <div class="category" *ngIf="cassinoAtivo">
            <a [ngClass]="activeMenuCassino()" [routerLink]="['/casino/c']">
                <span>{{'menu.cassino' | translate}}</span>
            </a>
        </div>
        <div class="category" *ngIf="cassinoAtivo">
            <a [ngClass]="activeMenuCassinoLive()" [routerLink]="['/casino/cl']">
                <span>{{'menu.cassino-aovivo' | translate}}</span>
            </a>
        </div>
        <div class="category" *ngIf="virtuaisAtivo">
            <a [routerLink]="['/casino/v']" routerLinkActive="active">
                <span>{{'menu.virtuais' | translate}}</span>
            </a>
        </div>
        <div class="category" *ngIf="desafioHabilitado">
            <a [routerLink]="['/desafios']" routerLinkActive="active">
                <span>{{'menu.desafio' | translate}}</span>
            </a>
        </div>
        <div class="category" *ngIf="acumuladaoHabilitado">
            <a [routerLink]="['/acumuladao']" routerLinkActive="active">
                <span>{{'menu.acumuladao' | translate}}</span>
            </a>
        </div>
        <div class="category" *ngIf="(loteriasHabilitado && (seninhaAtiva || quininhaAtiva)) || loteriaPopularAtiva">
            <a [routerLink]="['/loterias']" routerLinkActive="active">
                <span>{{'menu.loteria' | translate}}</span>
            </a>
        </div>
    </div>
</ng-template>
