<div id="default-content">
    <app-spinner *ngIf="showLoading"></app-spinner>
    <ng-container *ngIf="!showLoading">
        <a class="btnClose hide-desktop" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </a>

        <div class="internal-container-out">
            <div class="content-header">
                <h2>{{'geral.apostas' | translate}} </h2>
            </div>

            <div class="tabs">
                <ng-container *ngFor="let tab of getTabs()">
                    <a
                        [ngClass]="{'active': tab.habilitado && tabSelected === tab.id}"
                        (click)="changeTab(tab.id)"
                    >
                        {{ tab.label }}
                    </a>
                </ng-container>
            </div>              

            <div class="content-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="filtros">
                        <input
                            name="datepicker"
                            class="dp-hidden"
                            ngbDatepicker
                            #datepicker="ngbDatepicker"
                            [autoClose]="'outside'"
                            (dateSelect)="onDateSelection($event, datepicker)"
                            [displayMonths]="2"
                            [dayTemplate]="t"
                            outsideDays="hidden"
                            [startDate]="fromDate!"
                            tabindex="-1"
                            value=""
                        >
                        <ng-template #t let-date let-focused="focused">
                                        <span class="custom-day"
                                            [class.focused]="focused"
                                            [class.range]="isRange(date)"
                                            [class.faded]="isHovered(date) || isInside(date)"
                                            (mouseenter)="hoveredDate = date"
                                            (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                        </span>
                        </ng-template>
                        <div class="input-group datepicker-group">
                            <i class="fa fa-calendar"></i>
                            <input
                                type="text"
                                class="form-control inverted-out"
                                [(ngModel)]="selectedDate"
                                (click)="datepicker.toggle()"
                                [ngModelOptions]="{standalone: true}"
                                style="border-radius: 5px"
                            >
                        </div>
                        <select class="form-control inverted-out" formControlName="status">
                            <option value="">{{'geral.todos' | translate}}</option>
                            <option value="ganhou">{{'geral.ganhou' | translate}}</option>
                            <option value="perdeu">{{'geral.perdeu' | translate}}</option>
                            <option value="pendente">{{'geral.pendente' | translate}}</option>
                            <option value="reembolso">{{'geral.reembolso' | translate}}</option>
                        </select>
                        <button class="btn btn-custom" type="submit">{{'geral.filtrar' | translate}}</button>
                    </div>
                </form>
                <ng-container *ngIf="!totais.valorBonus || totais.premioBonus else showInfoWithBonus;">
                    <div class="info-resultado">
                        <div class="item">
                            <label>{{'geral.qtdApostas' | translate}}:</label> {{ apostas.length }}
                        </div>
                        <div class="item">
                            <label>{{'geral.totalApostado' | translate}}:</label> {{ totais.valor | currency }}
                        </div>
                        <div class="item">
                            <label>{{'geral.totalPremios' | translate}}:</label> {{ totais.premio | currency }}
                        </div>
                    </div>
                </ng-container>
                <ng-template #showInfoWithBonus>
                    <div class="info-colunm">
                        <div class="info-resultado">
                            <div class="item">
                                <label>{{'geral.qtdApostas' | translate}}: </label> {{ apostas.length }}
                            </div>
                            <div class="item">
                                <label>{{'geral.totalApostado' | translate}} (Real):</label> {{ totais.valor | currency }}
                            </div>
                            <div class="item">
                                <label>{{'geral.totalPremios' | translate}} (Real):</label> {{ totais.premio | currency }}
                            </div>
                        </div>
                        <div class="info-resultado">
                            <div class="item spacing" style="color: transparent;">
                                <label>-</label> 
                            </div>
                            <div class="item">
                                <label>{{'geral.totalApostado' | translate}} ({{'geral.bonus' | translate}}):</label> {{ totais.valorBonus | currency }}
                            </div>
                            <div class="item">
                                <label>{{'geral.totalPremios' | translate}} ({{'geral.bonus' | translate}}):</label> {{ totais.premioBonus | currency }}
                            </div>
                        </div>
                    </div>
                    
                </ng-template>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="100">{{'geral.codigo' | translate}}</th>
                            <th *ngIf="tabSelected == 'cassino'">{{'geral.nomeJogoCassino' | translate}}</th>
                            <th>{{'geral.horario' | translate}}</th>
                            <th>{{'geral.valor' | translate}}</th>
                            <th>{{'geral.premio' | translate}} </th>
                            <th>{{'geral.estado' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr *ngIf="loading">
                            <td colspan="8" class="no-border" align="center"><i class="fa fa-spinner fa-spin"></i>
                                {{'geral.carregando' | translate}}
                            </td>
                        </tr>
                        <tbody *ngIf="!loading">
                        <tr *ngFor="let aposta of apostas" class="{{ classNameAposta(aposta) }}">
                            <td>{{ aposta.codigo }}</td>
                            <td *ngIf="tabSelected == 'cassino'">{{ aposta.game }}</td>
                            <td>{{ aposta.horario | moment: 'DD/MM/YYYY HH:mm' }}</td>
                            <td>{{ aposta.valor | currency}}</td>
                            <td>{{ aposta.premio | currency }}</td>
                            <td>
                                <div *ngIf="aposta.rollover_status == 'cancelado'"><th>{{'geral.bonusCancelado' | translate}}</th></div>
                                <div *ngIf="aposta.resultado == null && aposta.rollover_status != 'cancelado'"><th>{{'geral.aguardando' | translate}}</th></div>
                                <div *ngIf="aposta.rollover_status != 'cancelado' && aposta.resultado != null">{{aposta.resultado}}</div>
                            </td>
                            <td class="acoes-aposta" *ngIf="tabSelected !== 'cassino' && tabSelected !== 'loteria-popular'">
                                <a *ngIf="isCliente && aposta.tipo === 'esportes'" href="https://{{slug}}/bilhete/{{aposta.codigo}}{{origin}}" target="_blank" title="ACOMPANHAR BILHETE AO-VIVO" >
                                    <i class="fa fa-external-link"></i>
                                </a>
                                <a title="{{'geral.exibir' | translate}}" (click)="openModal(aposta)">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <div class="loading-scroll" *ngIf="loadingScroll">
                            <div class="alert alert-warning text-center" role="alert">
                                Carregando...
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</div>
