<div id="personal-data-terms">
    <ul>
        <li *ngIf="showTermsAndConditions">
            <span>
                <i class="fa fa-file"></i>
                {{ 'geral.termosDeUso' | translate }}
            </span>
            <a [routerLink]="termsAndConditionsLink" target="_blank">{{ 'botoes.view' | translate }} <i class="fa fa-external-link"></i></a>
        </li>
        <li *ngIf="showPrivacyPolicy">
            <span>
                <i class="fa fa-file"></i>
                {{ 'footer.politicaDePrivacidade' | translate}}
            </span>
            <a [routerLink]="privacyPolicyLink" target="_blank">{{ 'botoes.view' | translate }} <i class="fa fa-external-link"></i></a>
        </li>
        <li *ngIf="showTermsOfService">
            <span>
                <i class="fa fa-file"></i>
                {{ 'register.protectedByReCaptchaPart4' | translate }}
            </span>
            <a [routerLink]="termsOfServiceLink" target="_blank">{{ 'botoes.view' | translate }} <i class="fa fa-external-link"></i></a>
        </li>
    </ul>
</div>
