<div id="personal-data-terms">
    <ul>
        <li>
            <span>
                <i class="fa fa-file"></i>
                Termos de uso
            </span>
            <a [routerLink]="termsAndConditionsLink" target="_blank">Visualizar <i class="fa fa-external-link"></i></a>
        </li>
        <li>
            <span>
                <i class="fa fa-file"></i>
                Política de privacidade
            </span>
            <a [routerLink]="privacyPolicyLink" target="_blank">Visualizar <i class="fa fa-external-link"></i></a>
        </li>
        <li>
            <span>
                <i class="fa fa-file"></i>
                Termos de serviço
            </span>
            <a [routerLink]="termsOfServiceLink" target="_blank">Visualizar <i class="fa fa-external-link"></i></a>
        </li>
    </ul>
</div>
