<div class="account-verification-email-or-phone">
       <div class="account-verification-email-or-phone__body">

        <icon-circle-question
            class="account-verification-email-or-phone__help-button"
            [size]="28"
            (click)="handleOpenHelpModal()"
        />
        
        <span class="account-verification-email-or-phone__icon">
            <span class="account-verification-email-or-phone__badge">{{ verificationPosition }}</span>

            <ng-container *ngIf="verificationTypeIsEmail">
               <icon-envelope color="var(--highlight)" />
            </ng-container>

            <ng-container *ngIf="!verificationTypeIsEmail">
            </ng-container>
        </span>

        <div class="account-verification-email-or-phone__section">
            <span class="account-verification-email-or-phone__title">{{ title }}</span>
            <span class="account-verification-email-or-phone__description" [innerHTML]="description"></span>
        </div>
        
        <form
            [formGroup]="confirmCodeForm"
            class="account-verification-email-or-phone__group-code"
        >
            <label
                class="account-verification-email-or-phone__label-code"
                [ngClass]="{ 'account-verification-email-or-phone__label-code--no-empty': confirmCodeForm.get('code1')?.value }"
            >
                <input
                    #codeInputs
                    type="text"
                    inputmode="numeric"
                    placeholder=" "
                    class="account-verification-email-or-phone__code"
                    formControlName="code1"
                    maxlength="1"
                    (input)="onInput($event, 0)"
                    (keyup)="onKeyup($event, 0)"
                    (paste)="onPaste($event)"
                >
            </label>
            <label
                class="account-verification-email-or-phone__label-code"
                [ngClass]="{ 'account-verification-email-or-phone__label-code--no-empty': confirmCodeForm.get('code2')?.value }"
            >
                <input
                    #codeInputs
                    type="text"
                    inputmode="numeric"
                    placeholder=" "
                    class="account-verification-email-or-phone__code"
                    formControlName="code2"
                    maxlength="1"
                    (keyup)="onKeyup($event, 1)"
                    (input)="onInput($event, 1)"
                >
            </label>
            <label
                class="account-verification-email-or-phone__label-code"
                [ngClass]="{ 'account-verification-email-or-phone__label-code--no-empty': confirmCodeForm.get('code3')?.value }"
            >
                <input
                    #codeInputs
                    type="text"
                    inputmode="numeric"
                    placeholder=" "
                    class="account-verification-email-or-phone__code"
                    formControlName="code3"
                    maxlength="1"
                    (keyup)="onKeyup($event, 2)"
                    (input)="onInput($event, 2)"
                >
            </label>
            <label
                class="account-verification-email-or-phone__label-code"
                [ngClass]="{ 'account-verification-email-or-phone__label-code--no-empty': confirmCodeForm.get('code4')?.value }"
            >
                <input
                    #codeInputs
                    type="text"
                    inputmode="numeric"
                    placeholder=" "
                    class="account-verification-email-or-phone__code"
                    formControlName="code4"
                    maxlength="1"
                    (keyup)="onKeyup($event, 3)"
                    (input)="onInput($event, 3)"
                >
            </label>
            <label
                class="account-verification-email-or-phone__label-code"
                [ngClass]="{ 'account-verification-email-or-phone__label-code--no-empty': confirmCodeForm.get('code5')?.value }"
            >
                <input
                    #codeInputs
                    type="text"
                    inputmode="numeric"
                    placeholder=" "
                    class="account-verification-email-or-phone__code"
                    formControlName="code5"
                    maxlength="1"
                    (keyup)="onKeyup($event, 4)"
                    (input)="onInput($event, 4)"
                >
            </label>
            <label
                class="account-verification-email-or-phone__label-code"
                [ngClass]="{ 'account-verification-email-or-phone__label-code--no-empty': confirmCodeForm.get('code6')?.value }"
            >
                <input
                    #codeInputs
                    type="text"
                    inputmode="numeric"
                    placeholder=" "
                    class="account-verification-email-or-phone__code"
                    formControlName="code6"
                    maxlength="1"
                    (keyup)="onKeyup($event, 5)"
                    (input)="onInput($event, 5)"
                >
            </label>

            <button class="account-verification-email-or-phone__paste" (click)="onPaste($event)"> {{ 'geral.paste' | translate }} </button>

            <div class="loading-verification" *ngIf="showLoading">
                {{ 'accountVerification.validatingCode' | translate }}
                <icon-loader class="loading-verification__icon" [size]="24"/>
            </div>
        </form>

        <div class="account-verification-email-or-phone__section">
            <div class="resend-code">
                <span class="resend-code__label">
                    <icon-circle-info [size]="14"/>
                    {{ resendCodeText }}
                </span>
                <a
                    type="button"
                    class="resend-code__btn"
                    [ngClass]="{'resend-code__btn--disabled': disableResendCodeButton}"
                    (click)="handleResendCode()"
                >
                    {{ 'geral.resend' | translate }} <span *ngIf="disableResendCodeButton">{{ 'geral.codeIn' | translate: { time} }}</span> 
                </a>
            </div>
            <div class="resend-code">
                <a
                    type="button"
                    class="resend-code__label"
                    (click)="handleOpenRulesModal()"
                >
                    <icon-circle-info [size]="14"/>
                    {{ 'accountVerification.whyNeedValidate' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>


