.campeonato-header{
    border: none;
    cursor: initial;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
}

.campeonato-header .column-left{
    flex-grow: 1;
    position: relative;
}

.campeonato-header .campeonato-nome{
    margin-left: 28px;
}

.jogos{
    /*background-color: #fff;*/
    color: var(--foreground-header);
}

.jogo{
    padding: 0 0 5px;
}

.indentificacao{
    display: flex;
    align-items: stretch;
    height: auto;
}

.indentificacao .horario{
    background-color: #011e46;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 15px;
}

.indentificacao .nome{
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    height: auto;
}

.indentificacao .mais-opcoes {
    height: auto;
    align-items: stretch;
}

.indentificacao .time-a{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.indentificacao .time-b{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.indentificacao .nome-time {
    flex-grow: 1;
}

.indentificacao .tempo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    background-color: var(--game);
    color: var(--foreground-game);
    margin-right: 5px;
}

.indentificacao .tempo {
    color: var(--foreground-game);
}

.aovivo-label {
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 3px 6px;
    font-size: 10px;

    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.aovivo-label i {
    font-size: 6px;
    margin-right: 5px;
}

.indentificacao-mobile .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.indentificacao-mobile .header .left-side{
    display: flex;
    align-items: center;
}

.indentificacao-mobile .nome{
    font-weight: 700;
}

.indentificacao-mobile .time-a, .indentificacao-mobile .time-b{
    display: flex;
    align-items: center;
}
.indentificacao-mobile .time-a{
    margin-bottom: 5px;
}

.indentificacao-mobile .time-a-nome, .indentificacao-mobile .time-b-nome{
    flex-grow:1;
}

.placar{
    color: #fff;
}

.escudo-container {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.escudo {
    margin-right: 5px;
    margin-left: 5px;
}

.escudo-img {
    max-width: 20px;
    max-height: 20px;
}

.flag-icon {
    margin-top: 5px;
    border-radius: 50%;
}


.filter {
    display: flex;
    margin: 10px 0;

    align-items: center;
}

.filter .tabs {
    background: #0A0A0A;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    flex: 1;
}

.filter .tabs .tab {
    color: #fff;
    display: block;
    padding: 10px 10px;
    text-decoration: none;

    border-bottom: 3px solid transparent;
}

.filter .tabs .tab.active {
    border-color: #35cc95;
    font-weight: 600;
}

.cotacoes {
    display: flex;
    background-color: var(--game);
    padding: 7.5px;
}

.cotacoes .cotacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;

    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    padding: 8px 10px;
    min-width: 80px;

    margin: 0 2.5px;

    font-size: 10px;
}

.cotacoes .cotacao.selecionado {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.cotacoes .cotacao label {
    margin: 0;
}

.cotacoes .cotacao.disabled,
.cotacoes .cotacao.disabled label {
    cursor: not-allowed !important;
    opacity: .7;
  }

/* Large devices (desktops, 1025 and up) */
@media (min-width: 1025px) {
    .mais-opcoes .fa{
        margin-right: 3px;
    }
}

/* Small devices (1024 and down) */
@media only screen and (max-width: 1024px) {
    .content-sports {
        /*padding-bottom: 106px;*/
    }

    .mais-opcoes{
        margin-right: 5px;
    }

    .indentificacao .time-a,
    .indentificacao .time-b {
        width: 100%;
    }

    .indentificacao .nome {
        padding-left: 0;
    }

    .cotacoes, .cotacoes .cotacao {
        flex: 1;
    }

    .cotacoes {
        margin-left: 6px;
    }

    .cotacoes .cotacao {
        margin: 10px 4px;
    }

    .indentificacao .mais-opcoes {
        align-items: center;
    }

    .indentificacao .mais-opcoes a {
        height: 46px;
    }

    .aovivo-label {
        font-size: 9px;
        padding: 3px;
    }

    .tempo-box {
        margin-right: 0;
    }
}
