<section #listagem class="content-sports">
    <app-banners></app-banners>
    <div class="wrap-sticky">
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>

        <div *ngIf="!showLoadingIndicator">
            <div class="sem-evento" *ngIf="!campeonatos.size || !temJogoAoVivo">
                {{'geral.nenhumEventoAoVivoDisponivel' | translate}}
            </div>

            <div class="campeonato" *ngFor="let campeonato of campeonatos | keyvalue:reOrder; trackBy: trackById">
                <ng-container *ngIf="campeonatoPermitido(campeonato.value._id)">
                    <div class="campeonato-header" (click)="toggleCampeonato(campeonato.value._id)">
                        <span class="column-left">
                            <span class="flag-icon flag-icon-{{campeonato.value.regiao_sigla}} flag-icon-squared"></span>
                            <span class="campeonato-nome">{{campeonato.value.nome}}</span>
                        </span>

                        <span *ngIf="campeonatoAberto(campeonato.value._id); else downIcon">
                            <i class="fa fa-angle-up"></i>
                        </span>
                        <ng-template #downIcon>
                            <span>
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </ng-template>
                    </div>
                    <div class="jogos" [hidden]="!campeonatoAberto(campeonato.value._id)">
                        <div class="jogo" *ngFor="let jogo of campeonato.value.jogos | keyvalue; trackBy: trackById">
                            <div class="indentificacao">
                                <div class="tempo-box">
                                    <div class="aovivo-label">
                                        <i class="fa fa-circle blink_me"></i> {{'geral.aoVivo' | translate | uppercase}}
                                    </div>
                                    <div class="tempo">
                                        {{jogo.value.info.minutos}}'
                                    </div>
                                </div>
                                <div class="nome" style="cursor: pointer" (click)="maisCotacoes(jogo.value._id)">
                                    <div class="time-a">
                                        <div class="escudo-container">
                                            <span *ngIf="jogo.value.time_a_img; else defaulImageA" class="escudo">
                                                <img src="https://cdn.wee.bet/img/times/s/{{jogo.value.time_a_img}}.png"
                                                    class="escudo-img" size="s">
                                            </span>
                                            <ng-template #defaulImageA class="escudo">
                                                <span class="escudo">
                                                    <img src="https://cdn.wee.bet/img/times/s/default.png"
                                                        class="escudo-img">
                                                </span>
                                            </ng-template>
                                        </div>
                                        <div class="nome-time">{{jogo.value.time_a_nome}}</div>
                                        <div class="placar time-a-placar">{{jogo.value.info.time_a_resultado}}</div>
                                    </div>
                                    <div class="time-b">
                                        <div class="escudo-container">
                                            <span *ngIf="jogo.value.time_b_img; else defaulImageB" class="escudo">
                                                <img src="https://cdn.wee.bet/img/times/s/{{jogo.value.time_b_img}}.png"
                                                    class="escudo-img" size="s">
                                            </span>
                                            <ng-template #defaulImageB class="escudo">
                                                <span class="escudo">
                                                    <img src="https://cdn.wee.bet/img/times/s/default.png"
                                                        class="escudo-img">
                                                </span>
                                            </ng-template>
                                        </div>
                                        <div class="nome-time">{{jogo.value.time_b_nome}}</div>
                                        <div class="placar time-b-placar">{{jogo.value.info.time_b_resultado}}</div>
                                    </div>
                                </div>

                                <div class="cotacoes">
                                    <ng-container *ngFor="let cotacao of cotacoesPorTipo(jogo.value.cotacoes)">
                                        <div class="cotacao disabled" *ngIf="cotacao.lock || !cotacaoPermitida(cotacao.valorFinal); else noLock">
                                            <label>{{ cotacao.nome }}</label>
                                            <span><i class="fa fa-lock"></i></span>
                                        </div>

                                        <ng-template #noLock>
                                            <div class="cotacao"
                                            (click)="addCotacao(jogo.value, cotacao)" [ngClass]="{'selecionado': oddSelecionada(jogo.value._id, cotacao.chave)}">
                                                <label>{{ cotacao.nome }}</label>
                                                <span>{{ cotacao.valorFinal}}</span>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </div>

                                <div class="mais-opcoes">
                                    <a (click)="maisCotacoes(jogo.value._id)" href="javascript:void(0)">
                                        <i class="fa fa-plus"></i>{{jogo.value.total_cotacoes}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <app-footer [container]="listagem"></app-footer>
</section>
