.esporte:first-of-type {
    margin-bottom: 8px;
}

.esporte-header {
    display: flex;
    align-items: center;
    background-color: var(--league);
    color: var(--foreground-league);
    padding: 5px 15px;
    border-radius: 4px 4px 0 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
}

.collapsed-header {
    border-radius: 4px;
}

.esporte-header>span {
    line-height: 15px;
}

.esporte-header .column-left {
    display: flex;
    align-items: center;
    align-self: center;
}

.esporte-header .esporte-nome {
    margin-left: 5px;
}

.esporte-header .wbicon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    align-self: center;
}

.esporte .campeonatos {
    padding: 8px;
    /* background-color: var(--background-live); */
    background-color: rgba(var(--background-live), 50%);
}

.campeonato-header {
    border: none;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 2px;
}

.wrap-sticky {
    padding: 10px 5px 5px 5px;
    flex: 1;
}

.campeonato-header .column-left, .esporte-header .column-left  {
    flex-grow: 1;
    position: relative;
}

.campeonato-header .campeonato-nome {
    margin-left: 28px;
}

.jogos{
    color: var(--foreground-header);
}

.jogo{
    padding: 0 0 5px;
}

.indentificacao{
    display: flex;
    align-items: stretch;
    height: auto;
}

.indentificacao .horario{
    background-color: #011e46;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 15px;
}

.indentificacao .nome{
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    height: auto;
}

.indentificacao .mais-opcoes {
    height: auto;
    align-items: stretch;
}

.indentificacao .time-a{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.indentificacao .time-b{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.indentificacao .nome-time {
    flex-grow: 1;
}

.indentificacao .tempo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    background-color: var(--game);
    color: var(--foreground-game);
    margin-right: 5px;
}

.indentificacao .tempo {
    color: var(--foreground-game);
}

.aovivo-label {
    background-color: red;
    border-radius: 5px;
    color: #fff;
    padding: 3px 6px;
    font-size: 11px; /* ajuste fonte */

    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.aovivo-label i {
    font-size: 6px;
    margin-right: 5px;
}

.indentificacao-mobile .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.indentificacao-mobile .header .left-side{
    display: flex;
    align-items: center;
}

.indentificacao-mobile .nome{
    font-weight: 700;
}

.indentificacao-mobile .time-a, .indentificacao-mobile .time-b{
    display: flex;
    align-items: center;
}
.indentificacao-mobile .time-a{
    margin-bottom: 5px;
}

.indentificacao-mobile .time-a-nome, .indentificacao-mobile .time-b-nome{
    flex-grow:1;
}

.escudo-container {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.escudo {
    margin-right: 5px;
    margin-left: 5px;
}

.escudo-img {
    max-width: 16px;
    max-height: 16px;
}

.flag-icon {
    margin-top: 5px;
    border-radius: 50%;
}


.filter {
    display: flex;
    margin: 10px 0;

    align-items: center;
}

.filter .tabs {
    background: var(--foreground);
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    flex: 1;
}

.filter .tabs .tab {
    color: var(--foreground);
    display: block;
    padding: 10px 10px;
    text-decoration: none;

    border-bottom: 3px solid transparent;
}

.filter .tabs .tab.active {
    border-color: var(--highlight);
    font-weight: 600;
}

.cotacoes {
    display: flex;
    background-color: var(--game);
    padding: 7.5px;
    min-width: 250px;
    max-width: 280px;
}

.cotacoes .cotacao {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;

    background-color: var(--inputs-odds);
    color: var(--foreground-inputs-odds);
    padding: 8px 10px;
    min-width: 80px;

    margin: 0 2.5px;

    font-size: 11px; /* ajuste fonte */
}

.cotacoes .cotacao.selecionado {
    background-color: var(--highlight);
    color: var(--foreground-highlight);
}

.cotacoes .cotacao label {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.cotacoes .cotacao.disabled,
.cotacoes .cotacao.disabled label {
    cursor: not-allowed !important;
    opacity: .7;
  }

.loading-listagem {
    padding: 5px;
}

.loading-listagem .banner {
    border-radius: 4px;
    height: 240px;
    margin-bottom: 10px;
}

.loading-listagem .ld-campeonato .header {
    background: var(--league);
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 5px;
}

.loading-listagem .ld-campeonato .ld-jogo {
    display: flex;
    margin-bottom: 5px;
    overflow: hidden;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-data {
    background: var(--game);
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-times {
    background: var(--game);
    margin-right: 5px;
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-odds {
    background: var(--game);
    display: flex;
    padding: 5px;
    gap: 5px;
}

.loading-listagem .ld-campeonato .ld-jogo .ld-odds .ssc-square {
    border-radius: 4px;
}

/* Large devices (desktops, 1025 and up) */
@media (min-width: 1025px) {
    .mais-opcoes .fa{
        margin-right: 3px;
    }
}

/* Small devices (1024 and down) */
@media only screen and (max-width: 1024px) {
    .wrap-sticky {
        padding: 10px 0 0 0;
    }

    .mais-opcoes{
        margin-right: 5px;
    }

    .indentificacao .time-a,
    .indentificacao .time-b {
        width: 100%;
    }

    .indentificacao .nome {
        padding-left: 0;
        width: calc(100% - 85px);
    }

    .cotacoes {
        min-width: none;
        max-width: none;
    }

    .cotacoes, .cotacoes .cotacao {
        flex: 1;
    }

    .cotacoes {
        margin-left: 6px;
    }

    .cotacoes .cotacao {
        margin: 10px 4px;
    }

    .indentificacao .mais-opcoes {
        align-items: center;
    }

    .indentificacao .mais-opcoes a {
        height: 46px;
    }

    .aovivo-label {
        font-size: 9px;
        padding: 3px;
    }

    .tempo-box {
        margin-right: 0;
    }
}
