<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="acumuladao">
        <div class="jogos">
            <div *ngFor="let item of preAposta.itens; let i=index" class="item-selecionado">
                <div class="item-selecionado-inner">
                    <div class="horario">
                        {{item.jogo.horario | moment: 'DD.MM.YYYY HH:mm'}}
                    </div>
                    <div class="jogo-nome">
                        {{item.jogo.time_a_nome}} x {{item.jogo.time_b_nome}}
                    </div>
                    <div class="palpite">
                        Palpite: {{item.time_a_resultado}} x {{item.time_b_resultado}}
                    </div>
                </div>
            </div>
        </div>
        <div class="informacoes">
            <p>
                <b>{{acumuladao.nome}}</b>
            </p>
            <p *ngFor="let premio of acumuladao.premios">
                {{'geral.premio' | translate}} {{premio.quantidade_acertos}} {{'geral.jogos' | translate}}: {{premio.valor | currency}}
            </p>
            <p>
                {{'geral.dataDeEncerramento' | translate}}: {{acumuladao.data_encerramento | moment: 'DD/MM/YYYY HH:mm'}}
            </p>
            <p>
                {{'geral.totalDeJogos' | translate}}: {{preAposta.itens.length}}
            </p>
            <p>
                {{'bilhete.valorDaAposta' | translate}}: {{acumuladao.valor | currency}}
            </p>
            <p>
                {{'geral.horario' | translate}}: {{preAposta.horario | moment: 'DD/MM/YYYY HH:mm'}}
            </p>
            <div class="form-group">
                <label >{{'geral.apostador' | translate}} </label>
                <input type="text" class="form-control inverted-out" formControlName="apostador"
                    [ngClass]="applyCssInputError('apostador')">
                <app-error-msg [control]="form.get('apostador')" label="{{'geral.apostador' | translate}} ">
                </app-error-msg>
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="disabled" class="btn btn-custom">{{'geral.validar' | translate}}</button>
</form>
