<div class="mobile-modal-header margin-10" *ngIf="mobileScreen">
    <a (click)="activeModal.dismiss('Cross click')" class="botao-esquerdo">
        <i class="fa fa-arrow-left"></i>
    </a>
    <div class="titulo">{{'deposito.titulo' | translate}}</div>
    <div class="botao-direito"></div>
</div>
<div id="default-content">

    <app-spinner *ngIf="showLoading"></app-spinner>

    <ng-container *ngIf="!showLoading">
        <div class="content-header hide-mobile">
            <h2>{{'deposito.titulo' | translate}}</h2>
        </div>
        <div class="content-body">
            <div class="content">
                <div *ngIf="hasApiPagamentos || whatsapp">
                    <app-deposito-pix *ngIf="modalidade === 'pix'"></app-deposito-pix>
                    <app-deposito-whatsapp *ngIf="modalidade === 'whatsapp'"></app-deposito-whatsapp>
                </div>
                <div *ngIf="!hasApiPagamentos && !whatsapp">
                    <div class="row">
                        <div class="col-12">
                            {{'deposito.nenhumaModalidadeDeDeposito' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
