#default-content {
    padding: 25px 38px;
}

.buttons-container {
    width: 100%;
    display: flex;
    color: var(--foreground-header);
    margin-bottom: 15px;
}

.buttons-container a * {
    margin-right: 8px;
}


.buttons-container a.active .radio {
    border: 1px solid #35cc95;
}

.buttons-container a.active .radio:after {
    display: block;
}

.buttons-container a .radio {
    height: 15px;
    width: 15px;
    border: 1px solid #8b8b8b;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;

    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #35cc95;
}

.opcao-pagamento {
    display: flex;
    align-items: center;

    width: 190px;
    padding: 10px;

    border: 1px solid #1f1f1f;
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.opcao-pagamento svg {
    fill: #fff;
}

.active {
    background-color: transparent;
    border-color: #35cc95;
}

.table-responsive {
    margin-top: 50px;
}

.table {
    color: #fff;
 }

 .table thead th {
     background-color: #0A0A0A;
     border-top: 0;
     border-bottom: 1px solid #0A0A0A;
     padding: 10px 10px 16px;
 }

 .table thead th:first-child {
     border-left: 10px solid #0A0A0A;
 }

 .table .right {
     text-align: right;
 }

 .table tbody td {
     border-top: 0;
     border-bottom: 1px solid #0A0A0A;
 }

 .table td.no-border{
     border-left: 0 !important;
 }
